openapi: 3.0.3
info:
  title: Phaseo Gateway API
  description: Une API de passerelle pour accéder à divers modèles d’IA via des points de terminaison compatibles avec OpenAI.
  version: 1.0.0
  contact:
    name: Phaseo
    url: https://phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
    description: Routage mondial
security:
  - BearerAuth: []
paths:
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Routage mondial
        - url: https://eu.api.phaseo.app/v1
          description: Routage régional vers les fournisseurs de l’UE (texte uniquement)
        - url: https://us.api.phaseo.app/v1
          description: Routage régional vers les fournisseurs des États-Unis (texte uniquement)
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: Lister les modèles de la passerelle
      description: Renvoie les modèles partagés et visibles de la passerelle. Par défaut, seuls les modèles actuellement routables publiquement sont renvoyés ; utilisez `availability=all` pour inclure les états de disponibilité non routables.
      parameters:
        - name: search
          in: query
          description: Recherche insensible à la casse dans les identifiants, noms et descriptions des modèles et les organisations.
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: Recherche insensible à la casse de fournisseurs ou d’organisations de modèles.
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: Exiger une modalité d’entrée prise en charge.
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: Exiger au moins ce nombre de tokens de contexte d’entrée.
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: Prix maximal en USD par million de tokens d’entrée.
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: Renvoyer uniquement les modèles ayant au moins une offre routable du gateway.
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: Champ utilisé pour trier les résultats de découverte des modèles.
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: Sens de tri facultatif. Les prix sont triés par ordre croissant par défaut ; les autres valeurs numériques par ordre décroissant.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: Filtrer par points de terminaison
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrer par organisation
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrer par ID du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrer par état de déploiement du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrer par état de routage du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrer par état de routage du modèle
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrer par état des capacités du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrer par état de disponibilité du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrer par motif de disponibilité du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrer par état du modèle
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrer par types d’entrée
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: Alias public de `input_types`.
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrer par types de sortie
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: Alias public de `output_types`.
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrer par paramètres
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Alias public de `params`.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtre de disponibilité. `active` renvoie uniquement les modèles routables publiquement ; `all` inclut les états de disponibilité non routables.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limiter le nombre de résultats
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Décalage pour la pagination
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Format de réponse. `json` est utilisé par défaut.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Accepte `json`, `rss` ou `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Liste des modèles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Flux XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Flux XML Atom
        '400':
          description: Paramètres de requête invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: Lister les capacités des points de terminaison du modèle
      description: Renvoie les lignes de points de terminaison propres au fournisseur pour un modèle, avec les chemins publics, les modalités, les paramètres pris en charge, la disponibilité, l’état de routage, les slugs des modèles fournisseur et les récapitulatifs tarifaires des points de terminaison.
      parameters:
        - name: author
          in: path
          required: true
          description: Segment correspondant à l’auteur ou à l’organisation du modèle.
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: Segment slug du modèle.
          schema:
            type: string
        - name: provider
          in: query
          description: Filtrer par ID du fournisseur.
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrer par état de déploiement du fournisseur.
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrer par état de routage du fournisseur.
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrer par état de routage du modèle.
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrer par état des capacités du fournisseur.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrer par état de disponibilité du fournisseur.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrer par motif de disponibilité du fournisseur.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrer par état canonique du cycle de vie du modèle.
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Filtrer les lignes de points de terminaison par nom de paramètre pris en charge ou par alias.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` renvoie les lignes de points de terminaison routables publiquement ; `all` inclut aussi celles à venir et inactives.'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: Lignes de capacités des points de terminaison du modèle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: Paramètres de requête invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Aucun modèle ne correspond aux filtres de disponibilité et de fournisseur demandés
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: Lister les modèles de la passerelle propres à l’équipe
      description: Renvoie la liste des modèles de passerelle propres à l’équipe. Par défaut, seuls les modèles actuellement routables publiquement sont renvoyés ; utilisez `availability=all` pour inclure les états de disponibilité non routables.
      parameters:
        - name: endpoints
          in: query
          description: Filtrer par points de terminaison
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrer par organisation
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrer par ID du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrer par état de déploiement du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrer par état de routage du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrer par état de routage du modèle
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrer par état des capacités du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrer par état de disponibilité du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrer par motif de disponibilité du fournisseur
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrer par état du modèle
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrer par types d’entrée
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrer par types de sortie
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrer par paramètres
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtre de disponibilité. `active` renvoie uniquement les modèles routables publiquement ; `all` inclut les états de disponibilité non routables.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limiter le nombre de résultats
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Décalage pour la pagination
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Format de réponse. `json` est utilisé par défaut.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Accepte `json`, `rss` ou `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Liste des modèles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Flux XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Flux XML Atom
        '400':
          description: Paramètres de requête invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: Lister les fournisseurs
      description: Renvoie la liste des fournisseurs d’API disponibles.
      parameters:
        - name: limit
          in: query
          description: Limiter le nombre de résultats
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Décalage pour la pagination
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Liste des fournisseurs
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: Erreur
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: Récupérer une génération
      description: Récupère une génération précise à partir de son ID.
      parameters:
        - name: id
          in: query
          required: true
          description: ID de la génération
          schema:
            type: string
      responses:
        '200':
          description: Données de la génération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: Introuvable
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Routage mondial
        - url: https://eu.api.phaseo.app/v1
          description: Routage régional vers les fournisseurs de l’UE (texte uniquement)
        - url: https://us.api.phaseo.app/v1
          description: Routage régional vers les fournisseurs des États-Unis (texte uniquement)
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: Créer une complétion de chat
      description: Crée une complétion pour le message de chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: Réponse de complétion de chat
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Routage mondial
        - url: https://eu.api.phaseo.app/v1
          description: Routage régional vers les fournisseurs de l’UE (texte uniquement)
        - url: https://us.api.phaseo.app/v1
          description: Routage régional vers les fournisseurs des États-Unis (texte uniquement)
      tags:
        - Gateway
      operationId: createResponse
      summary: Créer une réponse
      description: Crée une réponse à l’aide de Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: Réponse
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /async/{kind}/{id}/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openAsyncJobWebSocket
      summary: Open async job websocket
      description: |
        Opens a persistent websocket session for owned async batch or video job updates.
        WebSocket handshake uses HTTP GET upgrade semantics and returns `101 Switching Protocols` on success (not `200`). The socket emits a `job.snapshot` immediately after upgrade and subsequent `job.updated` envelopes when the normalized async job payload changes.
        If `close_on_terminal` is enabled, the gateway closes the socket after a terminal `completed`, `failed`, `cancelled`, or `expired` update.
      parameters:
        - name: kind
          in: path
          required: true
          description: Async job kind.
          schema:
            type: string
            enum:
              - batch
              - video
        - name: id
          in: path
          required: true
          description: Gateway-owned async job id.
          schema:
            type: string
        - name: interval_ms
          in: query
          required: false
          description: Polling interval used by the websocket recovery loop.
          schema:
            type: integer
            minimum: 1000
            maximum: 10000
            default: 2500
        - name: close_on_terminal
          in: query
          required: false
          description: Close the socket after a terminal lifecycle update.
          schema:
            type: boolean
            default: true
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketClientEvent'
            serverEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketServerEvent'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Async job not found or not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobWebSocketUpgradeRequiredResponse'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Routage mondial
        - url: https://eu.api.phaseo.app/v1
          description: Routage régional vers les fournisseurs de l’UE (texte uniquement)
        - url: https://us.api.phaseo.app/v1
          description: Routage régional vers les fournisseurs des États-Unis (texte uniquement)
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: Créer un message
      description: Crée un message à l’aide de l’API Anthropic Messages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: Réponse du message
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: Créer des embeddings
      description: Crée un vecteur d’embedding qui représente le texte fourni.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Réponse des embeddings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: Effectuer une modération
      description: Détermine si le texte enfreint les règles d’utilisation d’OpenAI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: Résultat de modération
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: Reclasser les documents
      description: Reclasse une liste de documents en fonction de leur pertinence par rapport à une requête.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: Réponse de reclassement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: Prendre des décisions structurées
      description: 'Pour les nouveaux appels, utilisez le format compatible OpenAI : input contient du texte ou des messages utilisateur avec des éléments input_image intégrés, et questions est une liste ordonnée de questions predicate, choice ou score. Les réponses conservent cet ordre et les noms facultatifs. Les valeurs booléennes restent booléennes. Les URL d’images hébergées ne sont pas prises en charge ; Luna accepte jusqu’à 128 images intégrées, les autres fournisseurs ayant leurs propres limites. Le détail explicite des images et safety_identifier nécessitent une route OpenAI. Le format historique avec state, des questions nommées, noul et criteria reste disponible et renvoie un objet de réponses. Together Tev nécessite ce format car il renvoie des étiquettes sans probabilités. Les exemples historiques restent valides.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionCreateRequest'
      responses:
        '200':
          description: Réponse de décisions structurées
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionCreateResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: Générer de la parole
      description: Génère de l’audio à partir du texte fourni.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: Fichier audio
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: Créer une transcription
      description: Transcrit l’audio dans la langue d’entrée.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: Réponse de transcription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: Créer une traduction
      description: Traduit l’audio en anglais.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: Réponse de traduction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: Créer une session audio en temps réel
      description: Crée une session audio en temps réel avec comptabilisation de l’usage et renvoie les informations de connexion du relais.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Session en temps réel créée
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: Connecter le relais en temps réel
      description: Passe à un relais WebSocket en utilisant le secret du relais de session comme sous-protocole.
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: Connexion WebSocket établie
  /audio/realtime/sessions/{session_id}/connected:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: markRealtimeSessionConnected
      x-excluded: true
      summary: Mark realtime session connected
      description: Records that the upstream realtime relay connection has been established.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/extend:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: extendRealtimeSession
      x-excluded: true
      summary: Extend realtime session credit hold
      description: Extends the reserved credit for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_reserved_nanos:
                  type: integer
                  minimum: 1
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/usage:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: updateRealtimeSessionUsage
      x-excluded: true
      summary: Update realtime session usage
      description: Records the latest metered usage for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usage:
                  type: object
                  additionalProperties: true
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: Finaliser la session audio en temps réel
      description: Finalise le comptage et libère toute réservation de crédits restante pour une session en temps réel.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Session en temps réel et règlement finalisés
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: Créer une image
      description: Génère une image à partir d’une invite.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: Réponse de génération d’image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: Créer une retouche d’image
      description: Crée une image retouchée ou étendue à partir d’une image d’origine et d’une invite.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: Réponse de retouche d’image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /videos:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideos
      summary: Lister les vidéos
      description: Répertorie les tâches de génération vidéo asynchrone de l’équipe authentifiée.
      parameters:
        - name: limit
          in: query
          description: 'Nombre maximal de tâches vidéo à renvoyer. Valeur par défaut : 50 ; plafond : 200.'
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          description: Filtre d’état du cycle de vie vidéo. Répétez le paramètre ou fournissez des valeurs séparées par des virgules.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          description: Nombre de tâches vidéo à ignorer avant de renvoyer la page.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - name: after
          in: query
          description: Renvoie les tâches vidéo après cet ID vidéo dans l’ordre sélectionné.
          schema:
            type: string
        - name: order
          in: query
          description: Trie les tâches vidéo par date de création.
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Réponse de la liste des vidéos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: Créer une vidéo
      description: Crée une tâche de génération vidéo asynchrone. Interrogez la `polling_url` renvoyée toutes les 20 secondes jusqu’à ce que la tâche atteigne un état final.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: Réponse vidéo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModels
      summary: Lister les capacités des modèles vidéo
      description: Renvoie les métadonnées de capacités des modèles/fournisseurs vidéo issues de la base de données pour l’aire de test vidéo et la validation du SDK.
      parameters:
        - name: params
          in: query
          required: false
          description: Filtre facultatif des paramètres pris en charge. Répétez le paramètre ou passez une liste séparée par des virgules. Noms canoniques et alias acceptés, par exemple `resolution`, `size`, `duration` ou `duration_seconds`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Liste des capacités des modèles vidéo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoModelsResponse'
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: Obtenir l’état d’une vidéo
      description: Récupère l’état d’une demande de génération vidéo. Interrogez toutes les 20 secondes sauf si vous utilisez des webhooks.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID de la demande de génération vidéo.
          schema:
            type: string
      responses:
        '200':
          description: Réponse d’état vidéo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: Supprimer une vidéo
      description: Marque comme supprimé un enregistrement de génération vidéo dans un état final. Les tâches en cours ne peuvent pas être supprimées.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID de la demande de génération vidéo.
          schema:
            type: string
      responses:
        '200':
          description: Réponse de suppression vidéo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideo
      summary: Annuler une vidéo
      description: L’annulation vidéo est actuellement désactivée pour tous les fournisseurs.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID interne de la tâche vidéo Phaseo (`G-...`).
          schema:
            type: string
      responses:
        '501':
          description: L’annulation vidéo est désactivée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: Obtenir le contenu vidéo
      description: Télécharge le contenu vidéo généré.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID de la demande de génération vidéo.
          schema:
            type: string
      responses:
        '200':
          description: Contenu vidéo
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /videos/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrl
      summary: Créer une URL signée de téléchargement vidéo
      description: Renvoie une URL signée de première partie pour télécharger une vidéo générée.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID de la demande de génération vidéo.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: URL signée de téléchargement
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: Effectuer un OCR
      description: Extrait le texte d’une image à l’aide du modèle demandé.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: Réponse OCR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: Analyser une image de document
      description: Convertit une image de document en Markdown ou en blocs de contenu ordonnés. L’API Cohere Parse actuelle accepte les URL d’images distantes et les URI de données d’image en base64 ; les PDF et les URL de fichiers ne sont pas encore pris en charge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: Document analysé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: Générer de la musique
      description: Génère de la musique via un endpoint unique indépendant du fournisseur. Phaseo attend la réponse des fournisseurs synchrones et gère en interne l’interrogation de leurs files d’attente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Réponse de génération musicale
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: Récupérer l’état de génération musicale
      description: Récupère un résultat musical normalisé à l’aide de l’ID de requête Phaseo renvoyé par POST /music/generate. Les API d’état propres aux fournisseurs sont gérées en interne.
      parameters:
        - name: music_id
          in: path
          required: true
          description: ID de requête Phaseo stable renvoyé par POST /music/generate.
          schema:
            type: string
      responses:
        '200':
          description: Réponse sur l’état de génération musicale
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: Téléverser un fichier
      description: Alias de compatibilité de `/batches/files`. Téléverse un fichier pour le traitement par lots et renvoie les métadonnées du fichier du fournisseur. Passez `model` pour qu’AI Stats puisse déduire le fournisseur. OpenAI est utilisé par défaut pour les anciens clients omettant à la fois `model` et `provider`.
      parameters:
        - name: model
          in: query
          required: false
          description: ID du modèle utilisé pour déduire le fournisseur du fichier de traitement par lots.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: Remplacement avancé du fournisseur pour le téléversement du fichier.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-ai-stats-provider
          in: header
          required: false
          description: Alternative dans l’en-tête au paramètre de requête `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Métadonnées du fichier téléversé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Erreur du fournisseur en amont
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: Lister les fichiers
      description: Renvoie actuellement `not_supported` avec la clé de passerelle partagée. Enregistrez plutôt les identifiants des fichiers téléversés et récupérez-les directement.
      responses:
        '400':
          description: La liste des fichiers n’est pas disponible dans le mode actuel de la passerelle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: Récupérer un fichier
      description: Récupère les métadonnées d’un fichier appartenant à l’espace de travail authentifié.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID du fichier à récupérer.
          schema:
            type: string
      responses:
        '200':
          description: Métadonnées du fichier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Fichier introuvable ou n’appartenant pas à l’espace de travail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: Télécharger le contenu du fichier
      description: Récupère le contenu binaire d’un fichier précédemment téléversé appartenant à l’espace de travail authentifié.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID du fichier à récupérer.
          schema:
            type: string
      responses:
        '200':
          description: Contenu du fichier
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Fichier introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatches
      summary: Lister les lots
      description: Répertorie les tâches asynchrones par lots appartenant à l’espace de travail authentifié depuis le stockage persistant des tâches asynchrones de la passerelle.
      parameters:
        - name: limit
          in: query
          description: 'Nombre maximal de tâches par lots à renvoyer. Valeur par défaut : 20 ; plafond : 100.'
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filtre d’état du cycle de vie du lot. Répétez le paramètre, utilisez une valeur d’état séparée par des virgules ou statuses pour des filtres séparés par des virgules.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: statuses
          in: query
          description: Filtres d’état du cycle de vie séparés par des virgules.
          schema:
            type: string
        - name: offset
          in: query
          description: Nombre de tâches par lots à ignorer avant de renvoyer la page.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: Réponse de la liste des lots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: Créer un lot
      description: Crée une tâche asynchrone par lots et renvoie l’objet de lot du fournisseur. La création prend en charge OpenAI, Anthropic, Google Gemini, Mistral, xAI, Groq et Together AI via le `model` demandé. La passerelle déduit le fournisseur à partir du modèle et accepte aussi `session_id` et `webhook` pour l’observabilité et les notifications asynchrones. Utilisez `provider` uniquement comme contrainte avancée de routage.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: Réponse d’état du lot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchModels
      summary: Lister les capacités des modèles par lots
      description: Renvoie les métadonnées de capacités des modèles/fournisseurs par lots issues de la base de données, notamment les paramètres pris en charge comme les endpoints d’entrée autorisés et les délais d’achèvement.
      parameters:
        - name: params
          in: query
          required: false
          description: Filtre facultatif des paramètres pris en charge. Répétez le paramètre ou passez une liste séparée par des virgules. Noms canoniques et alias acceptés, par exemple `endpoint`, `request_endpoint`, `completion_window` ou `window`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Liste des capacités des modèles par lots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchModelsResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/capabilities:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchCapabilities
      summary: Lister les capacités des fournisseurs par lots
      description: Renvoie les modes d’entrée par lots pris en charge par fournisseur pour le téléversement de fichiers et la création de lots par liste de requêtes.
      responses:
        '200':
          description: Liste des capacités des fournisseurs par lots
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchProviderCapability'
  /batches/files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchFiles
      summary: Lister les fichiers de lots
      description: Renvoie une erreur car la liste des fichiers associés à une clé partagée de la passerelle n’est pas prise en charge. Récupérez directement par ID les fichiers appartenant à l’espace de travail.
      responses:
        '400':
          description: La liste des fichiers n’est pas prise en charge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadBatchFile
      summary: Téléverser un fichier de lot
      description: Téléverse un fichier du fournisseur pour le traitement par lots et enregistre sa propriété dans l’espace de travail authentifié. Passez `model` pour que Phaseo puisse déduire le fournisseur. OpenAI est utilisé par défaut si `model` et `provider` sont tous deux omis.
      parameters:
        - name: model
          in: query
          required: false
          description: ID du modèle utilisé pour déduire le fournisseur du fichier de traitement par lots.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: Remplacement avancé du fournisseur pour le téléversement du fichier.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-phaseo-provider
          in: header
          required: false
          description: Alternative dans l’en-tête au paramètre de requête `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Métadonnées du fichier téléversé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Erreur du fournisseur en amont
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFile
      summary: Récupérer un fichier de lot
      description: Récupère les métadonnées d’un fichier de lot appartenant à l’espace de travail authentifié.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Métadonnées du fichier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Fichier introuvable ou n’appartenant pas à l’espace de travail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFileContent
      summary: Récupérer le contenu d’un fichier de lot
      description: Récupère le contenu d’un fichier de lot appartenant à l’espace de travail authentifié.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contenu du fichier
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Fichier introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: Récupérer un lot
      description: Récupère une tâche par lots créée précédemment.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID du lot à récupérer.
          schema:
            type: string
      responses:
        '200':
          description: Réponse d’état du lot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lot introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: Ce fournisseur ne prend pas en charge l’actualisation de l’état du lot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/results:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchResults
      summary: Télécharger les résultats du lot
      description: Diffuse les lignes complètes de résultats natifs du fournisseur au format JSONL pour un lot final appartenant à l’espace de travail authentifié. Combine les fichiers de réussite et d’erreur, convertit les sorties en ligne et suit la pagination du fournisseur. Utilisez une clé API Phaseo. Les téléchargements ne lancent aucune inférence et n’ajoutent pas de frais d’utilisation. Les endpoints de fichiers existants restent disponibles. Les lignes en ligne sont limitées à 8 MiB ; les téléchargements interrompus doivent être supprimés puis recommencés. Limite de 10 tentatives par espace de travail et par lot dans une fenêtre glissante de 30 minutes, partagée entre clés API et alias. Les tentatives en amont échouées ou annulées comptent. Une réponse 429 inclut Retry-After en secondes.
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Résultats JSONL originaux du fournisseur
          content:
            application/x-ndjson:
              schema:
                type: string
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Accès à l’aperçu des lots refusé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lot introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Les résultats du lot ne sont pas prêts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Limite de téléchargement du lot dépassée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              description: Secondes avant qu’un nouveau téléchargement soit autorisé
              schema:
                type: integer
        '501':
          description: Ce fournisseur ne prend pas en charge le téléchargement direct des résultats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Les résultats du fournisseur n’ont pas pu être récupérés
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Admission au téléchargement temporairement indisponible ; réessayez après 30 secondes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              schema:
                type: integer
  /batches/{batch_id}/requests:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchRequests
      summary: Lister les lignes de requêtes du lot
      description: Répertorie les lignes suivies par requête pour une tâche par lots possédée.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID du lot.
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Liste des lignes de requêtes du lot
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  batch_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchRequestRow'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lot introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatch
      summary: Annuler un lot
      description: Annule une requête par lots.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID du lot à annuler.
          schema:
            type: string
      responses:
        '200':
          description: Réponse d’état du lot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lot introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: Ce fournisseur ne prend pas en charge l’annulation de lots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivityAlias
      summary: Obtenir les analyses de l’espace de travail
      description: Renvoie les agrégats de coût, de requêtes et de tokens regroupés par date, modèle, fournisseur et endpoint pour les 30 derniers jours UTC complets.
      parameters:
        - name: date
          in: query
          description: Filtre sur une seule date UTC parmi les 30 derniers jours complets (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          description: Clé d’étiquette de requête à inclure dans la ventilation des dépenses. Doit être fournie avec label_value.
          schema:
            type: string
            maxLength: 64
            pattern: ^[A-Za-z0-9_.:-]{1,64}$
        - name: label_value
          in: query
          description: Valeur d’étiquette de requête à inclure dans la ventilation des dépenses. Doit être fournie avec label_key.
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          description: Filtre par identifiant de clé API.
          schema:
            type: string
        - name: end_user_id
          in: query
          description: Filtre par identifiant d’utilisateur final défini par l’application.
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          description: Filtre par slug canonique du modèle demandé ou utilisé lors du routage.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          description: Filtre par slug du fournisseur.
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          description: Filtre par identifiant d’endpoint de la passerelle.
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          description: Filtre le trafic géré ou BYOK.
          schema:
            type: boolean
        - name: success
          in: query
          description: Filtre les requêtes réussies ou échouées.
          schema:
            type: boolean
        - $ref: '#/components/parameters/Offset'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
      responses:
        '200':
          description: Récupéré
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: Erreur de requête incorrecte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Erreur d’accès interdit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur interne du serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: Exporter les analyses de l’espace de travail
      description: Exporte l’ensemble complet des données analytiques filtrées au format CSV compatible avec les tableurs.
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Export des analyses au format CSV
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Filtre d’analyse invalide
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: Consulter les crédits
      description: Renvoie les crédits restants et les statistiques d’utilisation de l’espace de travail authentifié. Une clé API de gestion est requise.
      parameters:
        - name: workspace_id
          in: query
          description: Remplacement facultatif de l’espace de travail. Il doit correspondre à l’espace authentifié, sauf si l’appelant est un contrôleur interne.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Informations sur les crédits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Interdit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur du serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCurrentApiKey
      summary: Obtenir la clé API actuelle
      description: Renvoie les métadonnées de la clé API Gateway standard actuellement authentifiée.
      responses:
        '200':
          description: Métadonnées de la clé API actuelle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Clé API introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur du serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: Lister les clés API
      description: Répertorie les clés API de l’espace de travail authentifié. Une clé API de gestion est requise.
      parameters:
        - name: include_disabled
          in: query
          description: Indique s’il faut inclure dans la réponse les clés suspendues ou temporairement bloquées.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: Nombre de clés API à ignorer pour la pagination.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Nombre maximal de clés API à renvoyer.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: Remplacement facultatif de l’espace de travail. Il doit correspondre à l’espace authentifié, sauf si l’appelant est un contrôleur interne.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Liste des clés API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Interdit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur du serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: Créer une nouvelle clé API
      description: Crée une nouvelle clé API dans l’espace de travail authentifié. Une clé API de gestion est requise.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: Clé API créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: Requête incorrecte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Interdit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur du serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: Récupérer une clé API
      description: Renvoie les métadonnées d’une clé API de l’espace de travail authentifié. Une clé API de gestion est requise.
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant ou hachage de la clé API.
          schema:
            type: string
      responses:
        '200':
          description: Métadonnées de la clé API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Clé API introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur du serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: Mettre à jour une clé API
      description: Met à jour les métadonnées ou le statut d’une clé API. Une clé API de gestion est requise.
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant ou hachage de la clé API.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: Métadonnées de la clé API mises à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: Requête incorrecte
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Clé API introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur du serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: Supprimer une clé API
      description: Supprime une clé API de l’espace de travail authentifié. Une clé API de gestion est requise.
      parameters:
        - name: id
          in: path
          required: true
          description: Identifiant ou hachage de la clé API.
          schema:
            type: string
      responses:
        '200':
          description: Clé API supprimée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: Non autorisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Clé API introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erreur du serveur
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: Faire pivoter une clé API
      description: Crée une clé de remplacement avec les mêmes limites et permet de définir l’expiration de l’ancienne clé. Le secret de remplacement n’est renvoyé qu’une fois. `keys:write` est requis.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: Clé API renouvelée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: Échec de la rotation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: Invalider le cache des clés API
      description: Actualise l’état global mis en cache des politiques d’une clé API d’espace de travail. Nécessite un appel authentifié de gestion de l’espace de travail.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Cache invalidé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: Échec de l’invalidation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: Récupérer les paramètres SSO du workspace
      description: Renvoie les paramètres SAML ou OIDC personnalisés du workspace. Nécessite `settings:read` et une identité de propriétaire ou d’administrateur.
      responses:
        '200':
          description: Paramètres SSO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: La requête a échoué
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: Mettre à jour les paramètres SSO de l’espace de travail
      description: Met à jour les paramètres SAML ou OIDC personnalisés. L’activation du SSO nécessite l’extension d’identité et `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: Paramètres SSO mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: La requête a échoué ou l’extension est requise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: Récupérer les paramètres SCIM de l’espace de travail
      description: Renvoie l’état du point de terminaison, les métadonnées du jeton, le nombre d’objets provisionnés et le dernier événement SCIM.
      responses:
        '200':
          description: Paramètres SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: La requête a échoué
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: Activer ou désactiver SCIM
      description: Met à jour le point de terminaison SCIM de l’espace de travail. Son activation nécessite l’extension d’identité et `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: Point de terminaison SCIM mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: La requête a échoué ou l’extension est requise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: Créer un jeton SCIM
      description: Crée un jeton de provisionnement. Le jeton brut n’est renvoyé qu’une fois. L’extension d’identité et `settings:write` sont requis.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: Jeton SCIM créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: La requête a échoué ou l’extension est requise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: Révoquer un jeton SCIM
      description: Révoque un jeton de provisionnement. Nécessite `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Jeton révoqué
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: La requête a échoué
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: Lister les événements d’audit SCIM
      description: Liste l’activité récente de provisionnement SCIM du workspace.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Événements d’audit SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: La requête a échoué
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: Récupérer l’annuaire de l’espace de travail
      description: Renvoie les services de l’entreprise et les droits effectifs des membres. L’extension d’identité, `settings:read` et une identité `owner` ou `admin` sont requis.
      responses:
        '200':
          description: Annuaire de l’espace de travail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: La requête a échoué ou l’extension est requise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: Mettre à jour une dérogation de membre de l’annuaire
      description: Définit ou efface les dérogations de rôle et de service effectives d’un membre de l’espace de travail. `settings:write` est requis.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: Dérogation du membre mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
[...]
