openapi: 3.0.3
info:
  title: Phaseo Gateway API
  version: 1.0.0
servers:
  - url: https://api.phaseo.app/v1
    description: Enrutamiento global
security:
  - BearerAuth: []
paths:
  /apps:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceApps
      summary: ワークスペースのアプリを一覧表示
      description: 自動的に割り当てられたワークスペースアプリと編集可能なメタデータを一覧表示します。`settings:read` 権限が必要です。
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: ワークスペースアプリ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /presets/publisher:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetPublisher
      summary: プリセット公開者のハンドルを取得
      description: ワークスペースの公開プリセット発行者の正規ハンドルを返します。
      responses:
        '200':
          description: 公開者のハンドル
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetPublisher
      summary: プリセット発行者のハンドルを更新
      description: 以前のハンドルをエイリアスとして残したまま、ワークスペースの発行者ハンドルを変更します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetPublisherUpdateRequest'
      responses:
        '200':
          description: 発行者ハンドルを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
        '400':
          description: 発行者ハンドルが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 発行者ハンドルは利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: 音声を生成
      description: 入力テキストから音声を生成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: 音声ファイル
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: 文字起こしを作成
      description: 音声を入力言語で文字起こしします。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: 文字起こしの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: 翻訳を作成
      description: 音声を英語に翻訳します。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: 翻訳の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: 画像を作成
      description: プロンプトに基づいて画像を生成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: 画像生成の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: 画像編集を作成
      description: 元の画像とプロンプトから、編集または拡張した画像を作成します。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: 画像編集の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: OCRを実行
      description: 指定されたモデルを使って画像からテキストを抽出します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCRの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: 音楽を生成
      description: プロバイダーに依存しない単一のエンドポイントで音楽を生成します。Phaseo は同期プロバイダーを待機し、各プロバイダーのキュー確認を内部で処理します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: 音楽生成の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listEndpoints
      summary: エンドポイントを一覧表示
      description: 機能に基づくゲートウェイのエンドポイント ID を、それぞれの公開パス、モダリティの一覧、モデル数、プロバイダー数、サンプルモデルとともに返します。
      responses:
        '200':
          description: エンドポイントのメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointCatalogueResponse'
  /files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: ファイルを一覧表示
      description: 共有ゲートウェイキーでは現在 `not_supported` を返します。代わりに、アップロードしたファイルの ID を保存し、直接取得してください。
      responses:
        '400':
          description: 現在のゲートウェイモードではファイル一覧を利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPricingModels
      summary: モデルの料金を一覧表示
      description: 有効なプロバイダーとモデルの料金情報を返します。
      responses:
        '200':
          description: モデル料金一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  models:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '500':
          description: エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: モデレーションを実行
      description: テキストが OpenAI の利用ポリシーに違反しているかを判定します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: モデレーションの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: 埋め込みを作成
      description: 入力テキストを表す埋め込みベクトルを作成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: 埋め込みの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: ドキュメントを再ランキング
      description: クエリに対する関連度に基づいてドキュメントの一覧を再順位付けします。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: 再ランキングの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: 書類画像を解析
      description: 書類画像を Markdown または順序付きコンテンツブロックに変換します。現在の Cohere Parse API はリモート画像 URL と base64 画像データ URI に対応しています。PDF とファイル URL の入力にはまだ対応していません。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: 解析済みドキュメント
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /budgets/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceBudget
      summary: ワークスペース予算を削除
      description: ワークスペースの支出上限を削除し、その期間の適用を停止します。
      responses:
        '200':
          description: ワークスペース予算を削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetDeleteResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceBudget
      summary: ワークスペース予算を取得
      description: ワークスペースの支出上限と、現在の使用量および残額を返します。
      responses:
        '200':
          description: ワークスペース予算
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceBudget
      summary: ワークスペース予算を更新
      description: 既存のワークスペース予算の期間または USD 上限を変更します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBudgetUpdateInput'
      responses:
        '200':
          description: ワークスペース予算を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteProviderCredential
      summary: プロバイダーの認証情報を削除
      description: プロバイダーの認証情報を完全に削除します。繰り返し削除しても安全です。
      responses:
        '200':
          description: プロバイダーの認証情報を削除しました（または既に存在しません）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialDeleteResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProviderCredential
      summary: プロバイダー認証情報を取得
      description: 暗号化されたフィールドや生のシークレットを公開せず、安全なメタデータを返します。
      responses:
        '200':
          description: プロバイダー認証情報のメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateProviderCredential
      summary: プロバイダー認証情報を更新
      description: 認証情報のメタデータ、フィルター、ルーティンググループを更新するか、書き込み専用のシークレットを置き換えます。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialUpdateRequest'
      responses:
        '200':
          description: プロバイダー認証情報を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: ワークスペースの部署を削除
      description: 手動管理の部署を削除します。ディレクトリと同期されている部署はここから削除できません。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 部署を削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: ワークスペースの部門を更新
      description: ディレクトリのマッピングを削除せずに、部門名、説明、アイコン、色を更新します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: 部門を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceGroupMapping
      summary: ディレクトリのグループマッピングを削除
      description: プロビジョニングされたグループマッピングをワークスペースから削除します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: グループマッピングを削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceGroupMapping
      summary: ディレクトリグループのマッピングを更新
      description: マッピングで割り当てられたアクセスロールまたは部門内の位置を更新します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingUpdateRequest'
      responses:
        '200':
          description: グループのマッピングを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /data-contribution/classifiers/{id}:
    parameters:
      - $ref: '#/components/parameters/DataContributionClassifierId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteDataContributionClassifier
      summary: データ提供分類器を削除
      description: カスタム分類器を削除します。組み込みのスターター分類器は削除できません。
      responses:
        '200':
          description: 分類器を削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierDeleteResponse'
        default:
          description: リクエストに失敗したか、機能を利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateDataContributionClassifier
      summary: データ提供分類器を更新
      description: ワークスペース用のカスタム分類器を更新します。`settings:write` と機能へのアクセスが必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataContributionClassifierUpdateRequest'
      responses:
        '200':
          description: 分類器を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierResponse'
        default:
          description: リクエストに失敗したか、機能を利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/OAuthClientId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteOAuthClient
      summary: OAuth クライアントを削除
      description: 有効な認可を取り消してからクライアントを削除します。
      responses:
        '200':
          description: OAuth クライアントを削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientDeleteResponse'
        default:
          description: リクエストに失敗したか、機能を利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getOAuthClient
      summary: OAuth クライアントを取得
      description: 有効な OAuth アプリケーションを返します。`oauth_clients:read` と OAuth ベータ機能が必要です。
      responses:
        '200':
          description: OAuth クライアント
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: リクエストに失敗したか、機能を利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateOAuthClient
      summary: OAuth クライアントを更新
      description: OAuth アプリケーションのメタデータ、スコープ、リダイレクト URI を更新します。`oauth_clients:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientUpdateRequest'
      responses:
        '200':
          description: OAuth クライアントを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: リクエストに失敗したか、機能を利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhook-endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/WebhookEndpointId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWebhookEndpoint
      summary: Webhook エンドポイントを削除
      description: Webhook エンドポイントを論理削除し、今後の配信を停止します。`settings:write` が必要です。
      responses:
        '200':
          description: Webhook エンドポイントを削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointDeleteResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWebhookEndpoint
      summary: Webhook エンドポイントを取得
      description: 署名シークレットを含めずに非同期 Webhook エンドポイントを返します。`settings:read` が必要です。
      responses:
        '200':
          description: Webhook エンドポイント
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWebhookEndpoint
      summary: webhook エンドポイントを更新
      description: エンドポイントの配信設定を更新します。`settings:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
      responses:
        '200':
          description: webhook エンドポイントを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: SCIM トークンを取り消す
      description: プロビジョニングトークンを取り消します。`settings:write` が必要です。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: トークンを取り消しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceNotificationDestination
      summary: 通知先を削除
      description: ワークスペースの通知先を論理削除し、今後のルーティング対象から外します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 通知先を削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}/test:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: testWorkspaceNotificationDestination
      summary: 保存済みの通知先をテスト
      description: ワークスペースにある既存の暗号化済み通知先を通じてテストを送信します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: テストを送信しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationTestResponse'
        default:
          description: テストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guardrails/{id}:
    parameters:
      - $ref: '#/components/parameters/GuardrailId'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGuardrail
      summary: Guardrail を取得
      description: Guardrail と割り当てられたキー ID を返します。`guardrails:read` が必要です。
      responses:
        '200':
          description: Guardrail の詳細
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDetailResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteGuardrail
      summary: Guardrail を削除
      description: Guardrail とその割り当てを削除します。`guardrails:delete` が必要です。
      responses:
        '200':
          description: Guardrail を削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDeleteResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateGuardrail
      summary: ガードレールを更新
      description: ガードレールのポリシーフィールドを更新します。`guardrails:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuardrailUpdateRequest'
      responses:
        '200':
          description: ガードレールを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: ワークスペースの SSO 設定を取得
      description: ワークスペースの SAML またはカスタム OIDC 設定を返します。`settings:read` とオーナーまたは管理者の ID が必要です。
      responses:
        '200':
          description: SSO 設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: ワークスペースの SSO 設定を更新
      description: SAML またはカスタム OIDC の設定を更新します。SSO を有効にするには identity アドオンと `settings:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: SSO 設定を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: リクエストに失敗したか、アドオンが必要です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: SCIM 監査イベントを一覧表示
      description: ワークスペースの最近の SCIM プロビジョニング活動を一覧表示します。
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: SCIM 監査イベント
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: ワークスペースの部署を一覧表示
      description: 手動管理の部署とディレクトリ同期された部署を一覧表示します。
      responses:
        '200':
          description: ワークスペースの部署
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: ワークスペースの部門を作成
      description: 手動で管理する部門を作成します。`settings:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: 部門を作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: ディレクトリのグループマッピングを一覧表示
      description: プロビジョニングされたグループからワークスペースのロールや部署へのマッピングを一覧表示します。
      responses:
        '200':
          description: ディレクトリのグループマッピング
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: ディレクトリグループのマッピングを作成
      description: プロビジョニング済みのグループをワークスペースの部門とアクセスロールに対応付けます。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingCreateRequest'
      responses:
        '201':
          description: グループのマッピングを作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOAuthClients
      summary: OAuth クライアントを一覧表示
      description: ワークスペースの有効な OAuth アプリケーションを一覧表示します。`oauth_clients:read` と OAuth ベータ機能が必要です。
      responses:
        '200':
          description: OAuth クライアント一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientListResponse'
        default:
          description: リクエストに失敗したか、機能を利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOAuthClient
      summary: OAuth クライアントを作成
      description: パブリックまたは機密 OAuth アプリケーションを作成します。機密シークレットは一度だけ返されます。`oauth_clients:write` と OAuth ベータ機能が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientCreateRequest'
      responses:
        '201':
          description: OAuth クライアントを作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientCreateResponse'
        default:
          description: リクエストに失敗したか、機能を利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayFeedback
      summary: ゲートウェイのフィードバックを一覧表示
      description: 対象、日付、評価、メタデータ次元のフィルターを使ってワークスペースのフィードバックを一覧表示します。`feedback:read` が必要です。
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: rating
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: フィードバック記録
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayFeedback
      summary: Gateway フィードバックを作成
      description: リクエスト、セッション、プリセット、またはプリセットのテスト実行に関するフィードバックを記録します。`feedback:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayFeedbackCreateRequest'
      responses:
        '201':
          description: フィードバックを記録しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback/summary:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: summarizeGatewayFeedback
      summary: ゲートウェイのフィードバックを集計
      description: ワークスペースのフィードバックをプリセット、テスト実行、またはメタデータ次元ごとに集計します。
      parameters:
        - name: group_by
          in: query
          schema:
            type: string
            enum:
              - preset
              - preset_id
              - test_run
              - test_run_id
              - metadata
            default: preset
        - name: metadata_key
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: フィードバックの概要
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackSummaryResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /events:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayObservabilityEvents
      summary: ゲートウェイのオブザーバビリティイベントを一覧表示
      description: ワークスペースのカスタム結果イベントと動作イベントを一覧表示します。`feedback:read` が必要です。
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: オブザーバビリティイベント
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayObservabilityEvent
      summary: オブザーバビリティイベントを作成
      description: リクエスト、セッション、プリセット、またはテスト実行に関連付けられたカスタム結果または動作イベントを記録します。`feedback:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayObservabilityEventCreateRequest'
      responses:
        '201':
          description: イベントを記録しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: グローバルルーティング
        - url: https://eu.api.phaseo.app/v1
          description: EU 域内のプロバイダールーティング（テキストのみ）
        - url: https://us.api.phaseo.app/v1
          description: 米国内のプロバイダールーティング（テキストのみ）
      x-beta: true
      tags:
        - Gateway
      operationId: getHealth
      summary: ヘルスチェック
      description: ゲートウェイの最小限の状態情報を返します。
      responses:
        '200':
          description: ゲートウェイの稼働状態
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: プロバイダーを一覧表示
      description: 利用可能な API プロバイダーの一覧を返します。
      parameters:
        - name: limit
          in: query
          description: 結果の件数を制限
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: ページネーションのオフセット
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: プロバイダー一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: 生成結果を取得
      description: ID を指定して特定の生成結果を取得します。
      parameters:
        - name: id
          in: query
          required: true
          description: 生成 ID
          schema:
            type: string
      responses:
        '200':
          description: 生成データ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: 見つかりません
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: グローバルルーティング
        - url: https://eu.api.phaseo.app/v1
          description: EU 域内のプロバイダールーティング（テキストのみ）
        - url: https://us.api.phaseo.app/v1
          description: 米国内のプロバイダールーティング（テキストのみ）
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: チャット補完を作成
      description: チャットメッセージの補完を作成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: 組み込みの日付・時刻サーバーツール
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: チャット補完の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: グローバルルーティング
        - url: https://eu.api.phaseo.app/v1
          description: EU 域内のプロバイダールーティング（テキストのみ）
        - url: https://us.api.phaseo.app/v1
          description: 米国内のプロバイダールーティング（テキストのみ）
      tags:
        - Gateway
      operationId: createResponse
      summary: 応答を作成
      description: Responses API を使用して応答を作成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: 組み込みの日付・時刻サーバーツール
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: 応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: グローバルルーティング
        - url: https://eu.api.phaseo.app/v1
          description: EU 域内のプロバイダールーティング（テキストのみ）
        - url: https://us.api.phaseo.app/v1
          description: 米国内のプロバイダールーティング（テキストのみ）
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: メッセージを作成
      description: Anthropic Messages API を使用してメッセージを作成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: 組み込みの日付・時刻サーバーツール
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: メッセージの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: リアルタイム音声セッションを作成
      description: 使用量を計測するリアルタイム音声セッションを作成し、中継接続の詳細を返します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: リアルタイムセッションを作成しました
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: 構造化された判断を行う
      description: TypeSafe Jev などの判断モデルを使い、構造化された状態に対して Noul、Choice、Score の型付き質問を評価します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionsRequest'
      responses:
        '200':
          description: 構造化された判断のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionsResponse'
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: グローバルルーティング
        - url: https://eu.api.phaseo.app/v1
          description: EU 域内のプロバイダールーティング（テキストのみ）
        - url: https://us.api.phaseo.app/v1
          description: 米国内のプロバイダールーティング（テキストのみ）
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: ゲートウェイモデルを一覧表示
      description: 共有されている非表示ではないゲートウェイモデルを返します。既定では現在パブリックにルーティングできるモデルが対象です。ルーティングできない利用可能性レコードも含めるには `availability=all` を使用します。
      parameters:
        - name: search
          in: query
          description: モデル ID、名前、説明、組織を対象に、大文字と小文字を区別せず検索します。
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: プロバイダーまたはモデルの組織を、大文字と小文字を区別せず検索します。
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: 対応する入力モダリティを必須とします。
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: 入力コンテキストに少なくともこの数のトークンを要求します。
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: 入力トークン 100 万個あたりの上限価格（米ドル）。
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: ルーティング可能なゲートウェイの提供ルートが少なくとも 1 つあるモデルのみを返します。
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: モデル検出結果の並べ替えに使うフィールド。
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: 任意の並べ替え方向。価格は標準で昇順、それ以外の数値は標準で降順に並べ替えます。
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: エンドポイントで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: 組織で絞り込む
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: プロバイダー ID で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: プロバイダーのロールアウト状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: プロバイダーのルーティング状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: モデルのルーティング状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: プロバイダーの機能状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: プロバイダーの利用可能性状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: プロバイダーの利用可能性の理由で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: モデルの状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: 入力タイプで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: '`input_types` の公開エイリアスです。'
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: 出力タイプで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: '`output_types` の公開エイリアスです。'
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: パラメーターで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: '`params` の公開エイリアスです。'
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: 利用可能性フィルターです。`active` はパブリックにルーティングできるモデルのみを返し、`all` はルーティングできない利用可能性レコードも含みます。
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: 結果の件数を制限
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: ページネーションのオフセット
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: 応答形式です。既定値は `json` です。
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` のエイリアスです。`json`、`rss`、`atom` を指定できます。'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: モデル一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML フィード
            application/atom+xml:
              schema:
                type: string
                description: Atom XML フィード
        '400':
          description: リクエストパラメーターが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: モデルエンドポイントの機能を一覧表示
      description: 公開パス、モダリティ、対応パラメーター、利用可能性、ルーティング状態、プロバイダーモデルの slug、エンドポイント料金の概要など、モデルごとのプロバイダー固有のエンドポイント行を返します。
      parameters:
        - name: author
          in: path
          required: true
          description: モデルの作者または組織のセグメントです。
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: モデル slug のセグメントです。
          schema:
            type: string
        - name: provider
          in: query
          description: プロバイダー ID で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: プロバイダーのロールアウト状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: プロバイダーのルーティング状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: モデルのルーティング状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: プロバイダーの機能状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: プロバイダーの利用可能性状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: プロバイダーの利用可能性の理由で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: モデルの正規ライフサイクル状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: 対応パラメーター名またはエイリアスでエンドポイント行を絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` はパブリックにルーティングできるエンドポイント行を返し、`all` は近日公開および無効な行も含みます。'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: モデルエンドポイント機能の行
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: リクエストパラメーターが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 指定された利用可能性およびプロバイダーフィルターに該当するモデルが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: チームスコープのゲートウェイモデルを一覧表示
      description: チームスコープのゲートウェイモデル一覧を返します。既定では現在パブリックにルーティングできるモデルが対象です。ルーティングできない利用可能性レコードも含めるには `availability=all` を使用します。
      parameters:
        - name: endpoints
          in: query
          description: エンドポイントで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: 組織で絞り込む
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: プロバイダー ID で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: プロバイダーのロールアウト状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: プロバイダーのルーティング状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: モデルのルーティング状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: プロバイダーの機能状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: プロバイダーの利用可能性状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: プロバイダーの利用可能性の理由で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: モデルの状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: 入力タイプで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: 出力タイプで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: パラメーターで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: 利用可能性フィルターです。`active` はパブリックにルーティングできるモデルのみを返し、`all` はルーティングできない利用可能性レコードも含みます。
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: 結果の件数を制限
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: ページネーションのオフセット
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: 応答形式です。既定値は `json` です。
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` のエイリアスです。`json`、`rss`、`atom` を指定できます。'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: モデル一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML フィード
            application/atom+xml:
              schema:
                type: string
                description: Atom XML フィード
        '400':
          description: リクエストパラメーターが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: リアルタイムリレーに接続
      description: セッションリレーのシークレットをサブプロトコルとして使用し、WebSocket リレーにアップグレードします。
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket 接続が確立されました
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: リアルタイム音声セッションを終了
      description: 計測を確定し、リアルタイムセッションに残っているクレジット予約を解放します。
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: リアルタイムセッションと精算が完了しました
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: 音楽生成の状態を取得
      description: POST /music/generate が返した Phaseo リクエスト ID を使って、正規化された音楽結果を取得します。プロバイダー固有の状態 API は内部で処理されます。
      parameters:
        - name: music_id
          in: path
          required: true
          description: POST /music/generate が返す安定した Phaseo リクエスト ID です。
          schema:
            type: string
      responses:
        '200':
          description: 音楽生成状態の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: ファイルを取得
      description: 認証済みワークスペースに属するファイルのメタデータを取得します。
      parameters:
        - name: file_id
          in: path
          required: true
          description: 取得するファイルの ID です。
          schema:
            type: string
      responses:
        '200':
          description: ファイルのメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ファイルが見つからないか、ワークスペースに属していません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: ファイル内容をダウンロード
      description: 認証済みワークスペースに属する、以前にアップロードされたファイルのバイナリ内容を取得します。
      parameters:
        - name: file_id
          in: path
          required: true
          description: 取得するファイルの ID です。
          schema:
            type: string
      responses:
        '200':
          description: ファイルの内容
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ファイルが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: ワークスペース分析をエクスポート
      description: フィルター後の分析集計全体を、表計算ソフトで安全に扱える CSV としてエクスポートします。
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: 分析データの CSV エクスポート
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: 分析フィルターが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: クレジットを取得
      description: 認証済みワークスペースの残りクレジットと使用状況を返します。Management API key が必要です。
      parameters:
        - name: workspace_id
          in: query
          description: 任意のワークスペース上書きです。内部制御呼び出し元を使う場合を除き、認証済みワークスペースと一致する必要があります。
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: クレジット情報
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: アクセス禁止
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: API キーを一覧表示
      description: 認証済みワークスペースの API キーを一覧表示します。管理 API キーが必要です。
      parameters:
        - name: include_disabled
          in: query
          description: 一時停止またはソフトブロックされたキーを応答に含めるかどうかを指定します。
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: ページネーションでスキップする API キーの数です。
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: 返される API キーの最大数です。
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: 任意のワークスペース上書きです。内部制御呼び出し元を使う場合を除き、認証済みワークスペースと一致する必要があります。
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API キー一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: アクセス禁止
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: 新しい API キーを作成
      description: 認証済みワークスペースに新しい API キーを作成します。管理 API キーが必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API キーを作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: リクエストが正しくありません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: アクセス禁止
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: 単一の API キーを取得
      description: 認証済みワークスペースにある 1 つの API キーのメタデータを返します。管理 API キーが必要です。
      parameters:
        - name: id
          in: path
          required: true
          description: API キーの識別子またはハッシュです。
          schema:
            type: string
      responses:
        '200':
          description: API キーのメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API キーが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: API キーを更新
      description: API キーのメタデータまたはステータスを更新します。管理 API キーが必要です。
      parameters:
        - name: id
          in: path
          required: true
          description: API キーの識別子またはハッシュです。
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: API キーのメタデータを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: リクエストが正しくありません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API キーが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: API キーを削除
      description: 認証済みワークスペースの API キーを削除します。管理 API キーが必要です。
      parameters:
        - name: id
          in: path
          required: true
          description: API キーの識別子またはハッシュです。
          schema:
            type: string
      responses:
        '200':
          description: API キーを削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API キーが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: API キーをローテーション
      description: 同じ上限の置き換えキーを作成し、任意で前のキーの有効期限を設定します。置き換えキーのシークレットは一度だけ返されます。`keys:write` が必要です。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: API キーをローテーションしました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: ローテーションに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: API キーキャッシュを無効化
      description: ワークスペース API キーのグローバルにキャッシュされたポリシー状態を更新します。認証済みのワークスペース管理呼び出しが必要です。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: キャッシュを無効化しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: 無効化に失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: ワークスペースの SCIM 設定を取得
      description: エンドポイントの状態、トークンのメタデータ、プロビジョニング済みオブジェクト数、最新の SCIM イベントを返します。
      responses:
        '200':
          description: SCIM 設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: SCIM を有効化または無効化
      description: ワークスペースの SCIM エンドポイントを更新します。SCIM を有効にするには identity アドオンと `settings:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: SCIM エンドポイントを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: リクエストに失敗したか、アドオンが必要です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: SCIM トークンを作成
      description: プロビジョニングトークンを作成します。生のトークンは一度だけ返されます。identity アドオンと `settings:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: SCIM トークンを作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: リクエストに失敗したか、アドオンが必要です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: ワークスペースのディレクトリを取得
      description: 企業の部門とメンバーの有効な権限を返します。identity アドオン、`settings:read`、および `owner` または `admin` の ID が必要です。
      responses:
        '200':
          description: ワークスペースのディレクトリ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: リクエストに失敗したか、アドオンが必要です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: ディレクトリメンバーのオーバーライドを更新
      description: ワークスペースメンバーの有効なロールと部門のオーバーライドを設定または解除します。`settings:write` が必要です。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: メンバーのオーバーライドを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: 部門への手動メンバー登録を設定
      description: ワークスペースユーザーの部門への手動メンバー登録を追加または更新します。
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: メンバー登録を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: 手動の部門メンバー登録を削除
      description: ディレクトリと同期されたメンバー登録を変更せずに、手動の部門メンバー登録を削除します。
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: メンバー登録を削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/settings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceNotificationSettings
      summary: ワークスペースの通知設定を取得
      description: 自動チャージポリシー、残高低下時のメール設定、ワークスペースのメール設定を返します。`settings:read` と `owner` または `admin` の ID が必要です。
      responses:
        '200':
          description: 通知設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceApp
      summary: ワークスペースのアプリを更新
      description: 割り当て済みアプリの表示メタデータ、カタログでの表示、または有効状態を更新します。プラットフォーム管理アプリは編集できません。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppUpdateRequest'
      responses:
        '200':
          description: アプリを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}/merge:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: mergeWorkspaceApp
      summary: ワークスペースのアプリを統合
      description: ソースアプリのリクエスト履歴と分析データを同じワークスペース内の別のアプリにアトミックに移し、その後ソースを削除します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppMergeRequest'
      responses:
        '200':
          description: アプリを統合しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppMergeResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayRequestLogs
      summary: ゲートウェイリクエストログを一覧表示
      description: 認証済みワークスペースの編集済みリクエスト情報を、期間とフィールドの範囲指定フィルター付きで一覧表示します。`activity:read` が必要です。
      parameters:
        - name: since
          in: query
          schema:
            type: string
            default: 24h
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: provider
          in: query
          schema:
            type: string
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: endpoint
          in: query
          schema:
            type: string
        - name: request_id
          in: query
          schema:
            type: string
        - name: key_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: error_code
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: リクエストログ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{requestId}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGatewayRequestLog
      summary: ゲートウェイリクエストログを取得
      description: リクエスト ID を使って、編集済みのリクエストレコードを 1 件返します。
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: リクエストログ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /preset-test-runs:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPresetTestRuns
      summary: プリセットのテスト実行を一覧表示
      description: 表示可能なテスト実行を一覧表示します。プリセットで絞り込むこともできます。`feedback:read` が必要です。
      parameters:
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 100
      responses:
        '200':
          description: プリセットのテスト実行
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createPresetTestRun
      summary: プリセットのテスト実行を作成
      description: プリセットまたはベースライン比較用のワークスペーステスト実行を作成します。`feedback:write` と `owner` または `admin` の ID が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetTestRunCreateRequest'
      responses:
        '201':
          description: テスト実行を作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /preset-test-runs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetTestRun
      summary: プリセットのテスト実行を取得
      description: テスト実行とそのフィードバック概要を返します。
      responses:
        '200':
          description: プリセットのテスト実行
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunDetailResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetTestRun
      summary: プリセットのテスト実行を更新
      description: テスト実行のライフサイクル状態、概要、タイムスタンプ、名前、説明を更新します。`feedback:write` と `owner` または `admin` の ID が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetTestRunUpdateRequest'
      responses:
        '200':
          description: テスト実行を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviderCredentials
      summary: プロバイダー認証情報を一覧表示
      description: 認証済みワークスペースの書き込み専用プロバイダー認証情報のメタデータを返します。
      parameters:
        - name: provider
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: プロバイダー認証情報
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createProviderCredential
      summary: プロバイダー認証情報を作成
      description: 認証済みワークスペースの書き込み専用プロバイダー認証情報を暗号化して保存します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialCreateRequest'
      responses:
        '201':
          description: プロバイダー認証情報を作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
[...]
