openapi: 3.0.3
info:
  title: Phaseo Gateway API
  description: OpenAI互換のエンドポイントを通じて、さまざまなAIモデルにアクセスするためのゲートウェイAPI。
  version: 1.0.0
  contact:
    name: Phaseo
    url: https://phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
    description: グローバルルーティング
security:
  - BearerAuth: []
paths:
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: グローバルルーティング
        - url: https://eu.api.phaseo.app/v1
          description: EU 域内のプロバイダールーティング（テキストのみ）
        - url: https://us.api.phaseo.app/v1
          description: 米国内のプロバイダールーティング（テキストのみ）
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: ゲートウェイモデルを一覧表示
      description: 共有されている非表示ではないゲートウェイモデルを返します。既定では現在パブリックにルーティングできるモデルが対象です。ルーティングできない利用可能性レコードも含めるには `availability=all` を使用します。
      parameters:
        - name: search
          in: query
          description: モデル ID、名前、説明、組織を対象に、大文字と小文字を区別せず検索します。
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: プロバイダーまたはモデルの組織を、大文字と小文字を区別せず検索します。
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: 対応する入力モダリティを必須とします。
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: 入力コンテキストに少なくともこの数のトークンを要求します。
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: 入力トークン 100 万個あたりの上限価格（米ドル）。
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: ルーティング可能なゲートウェイの提供ルートが少なくとも 1 つあるモデルのみを返します。
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: モデル検出結果の並べ替えに使うフィールド。
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: 任意の並べ替え方向。価格は標準で昇順、それ以外の数値は標準で降順に並べ替えます。
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: エンドポイントで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: 組織で絞り込む
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: プロバイダー ID で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: プロバイダーのロールアウト状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: プロバイダーのルーティング状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: モデルのルーティング状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: プロバイダーの機能状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: プロバイダーの利用可能性状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: プロバイダーの利用可能性の理由で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: モデルの状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: 入力タイプで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: '`input_types` の公開エイリアスです。'
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: 出力タイプで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: '`output_types` の公開エイリアスです。'
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: パラメーターで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: '`params` の公開エイリアスです。'
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: 利用可能性フィルターです。`active` はパブリックにルーティングできるモデルのみを返し、`all` はルーティングできない利用可能性レコードも含みます。
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: 結果の件数を制限
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: ページネーションのオフセット
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: 応答形式です。既定値は `json` です。
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` のエイリアスです。`json`、`rss`、`atom` を指定できます。'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: モデル一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML フィード
            application/atom+xml:
              schema:
                type: string
                description: Atom XML フィード
        '400':
          description: リクエストパラメーターが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: モデルエンドポイントの機能を一覧表示
      description: 公開パス、モダリティ、対応パラメーター、利用可能性、ルーティング状態、プロバイダーモデルの slug、エンドポイント料金の概要など、モデルごとのプロバイダー固有のエンドポイント行を返します。
      parameters:
        - name: author
          in: path
          required: true
          description: モデルの作者または組織のセグメントです。
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: モデル slug のセグメントです。
          schema:
            type: string
        - name: provider
          in: query
          description: プロバイダー ID で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: プロバイダーのロールアウト状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: プロバイダーのルーティング状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: モデルのルーティング状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: プロバイダーの機能状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: プロバイダーの利用可能性状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: プロバイダーの利用可能性の理由で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: モデルの正規ライフサイクル状態で絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: 対応パラメーター名またはエイリアスでエンドポイント行を絞り込みます。
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` はパブリックにルーティングできるエンドポイント行を返し、`all` は近日公開および無効な行も含みます。'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: モデルエンドポイント機能の行
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: リクエストパラメーターが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 指定された利用可能性およびプロバイダーフィルターに該当するモデルが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: チームスコープのゲートウェイモデルを一覧表示
      description: チームスコープのゲートウェイモデル一覧を返します。既定では現在パブリックにルーティングできるモデルが対象です。ルーティングできない利用可能性レコードも含めるには `availability=all` を使用します。
      parameters:
        - name: endpoints
          in: query
          description: エンドポイントで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: 組織で絞り込む
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: プロバイダー ID で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: プロバイダーのロールアウト状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: プロバイダーのルーティング状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: モデルのルーティング状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: プロバイダーの機能状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: プロバイダーの利用可能性状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: プロバイダーの利用可能性の理由で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: モデルの状態で絞り込む
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: 入力タイプで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: 出力タイプで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: パラメーターで絞り込む
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: 利用可能性フィルターです。`active` はパブリックにルーティングできるモデルのみを返し、`all` はルーティングできない利用可能性レコードも含みます。
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: 結果の件数を制限
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: ページネーションのオフセット
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: 応答形式です。既定値は `json` です。
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` のエイリアスです。`json`、`rss`、`atom` を指定できます。'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: モデル一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML フィード
            application/atom+xml:
              schema:
                type: string
                description: Atom XML フィード
        '400':
          description: リクエストパラメーターが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: プロバイダーを一覧表示
      description: 利用可能な API プロバイダーの一覧を返します。
      parameters:
        - name: limit
          in: query
          description: 結果の件数を制限
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: ページネーションのオフセット
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: プロバイダー一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: エラー
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: 生成結果を取得
      description: ID を指定して特定の生成結果を取得します。
      parameters:
        - name: id
          in: query
          required: true
          description: 生成 ID
          schema:
            type: string
      responses:
        '200':
          description: 生成データ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: 見つかりません
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: グローバルルーティング
        - url: https://eu.api.phaseo.app/v1
          description: EU 域内のプロバイダールーティング（テキストのみ）
        - url: https://us.api.phaseo.app/v1
          description: 米国内のプロバイダールーティング（テキストのみ）
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: チャット補完を作成
      description: チャットメッセージの補完を作成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: チャット補完の応答
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: グローバルルーティング
        - url: https://eu.api.phaseo.app/v1
          description: EU 域内のプロバイダールーティング（テキストのみ）
        - url: https://us.api.phaseo.app/v1
          description: 米国内のプロバイダールーティング（テキストのみ）
      tags:
        - Gateway
      operationId: createResponse
      summary: 応答を作成
      description: Responses API を使用して応答を作成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: 応答
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /async/{kind}/{id}/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openAsyncJobWebSocket
      summary: Open async job websocket
      description: |
        Opens a persistent websocket session for owned async batch or video job updates.
        WebSocket handshake uses HTTP GET upgrade semantics and returns `101 Switching Protocols` on success (not `200`). The socket emits a `job.snapshot` immediately after upgrade and subsequent `job.updated` envelopes when the normalized async job payload changes.
        If `close_on_terminal` is enabled, the gateway closes the socket after a terminal `completed`, `failed`, `cancelled`, or `expired` update.
      parameters:
        - name: kind
          in: path
          required: true
          description: Async job kind.
          schema:
            type: string
            enum:
              - batch
              - video
        - name: id
          in: path
          required: true
          description: Gateway-owned async job id.
          schema:
            type: string
        - name: interval_ms
          in: query
          required: false
          description: Polling interval used by the websocket recovery loop.
          schema:
            type: integer
            minimum: 1000
            maximum: 10000
            default: 2500
        - name: close_on_terminal
          in: query
          required: false
          description: Close the socket after a terminal lifecycle update.
          schema:
            type: boolean
            default: true
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketClientEvent'
            serverEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketServerEvent'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Async job not found or not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobWebSocketUpgradeRequiredResponse'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: グローバルルーティング
        - url: https://eu.api.phaseo.app/v1
          description: EU 域内のプロバイダールーティング（テキストのみ）
        - url: https://us.api.phaseo.app/v1
          description: 米国内のプロバイダールーティング（テキストのみ）
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: メッセージを作成
      description: Anthropic Messages API を使用してメッセージを作成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: メッセージの応答
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: 埋め込みを作成
      description: 入力テキストを表す埋め込みベクトルを作成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: 埋め込みの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: モデレーションを実行
      description: テキストが OpenAI の利用ポリシーに違反しているかを判定します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: モデレーションの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: ドキュメントを再ランキング
      description: クエリに対する関連度に基づいてドキュメントの一覧を再順位付けします。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: 再ランキングの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: 構造化された判断を行う
      description: 新しい呼び出しには OpenAI 互換形式を使います。input はテキストまたはインラインの input_image を含むユーザーメッセージ、questions は predicate、choice、score 質問の順序付き配列です。回答は同じ順序と任意の名前を保持します。真偽値の選択肢は真偽値のままです。外部画像 URL は使用できません。Luna は最大128枚のインライン画像に対応し、他のプロバイダーには独自の制限があります。明示的な画像詳細と safety_identifier は OpenAI ルートが必要です。従来の state、名前付き質問マップ、noul、criteria 形式も使用でき、回答マップを返します。Together Tev は確率なしのラベルを返すため従来形式が必要です。従来の例も有効です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionCreateRequest'
      responses:
        '200':
          description: 構造化された判断のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionCreateResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: 音声を生成
      description: 入力テキストから音声を生成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: 音声ファイル
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: 文字起こしを作成
      description: 音声を入力言語で文字起こしします。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: 文字起こしの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: 翻訳を作成
      description: 音声を英語に翻訳します。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: 翻訳の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: リアルタイム音声セッションを作成
      description: 使用量を計測するリアルタイム音声セッションを作成し、中継接続の詳細を返します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: リアルタイムセッションを作成しました
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: リアルタイムリレーに接続
      description: セッションリレーのシークレットをサブプロトコルとして使用し、WebSocket リレーにアップグレードします。
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket 接続が確立されました
  /audio/realtime/sessions/{session_id}/connected:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: markRealtimeSessionConnected
      x-excluded: true
      summary: Mark realtime session connected
      description: Records that the upstream realtime relay connection has been established.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/extend:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: extendRealtimeSession
      x-excluded: true
      summary: Extend realtime session credit hold
      description: Extends the reserved credit for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_reserved_nanos:
                  type: integer
                  minimum: 1
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/usage:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: updateRealtimeSessionUsage
      x-excluded: true
      summary: Update realtime session usage
      description: Records the latest metered usage for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usage:
                  type: object
                  additionalProperties: true
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: リアルタイム音声セッションを終了
      description: 計測を確定し、リアルタイムセッションに残っているクレジット予約を解放します。
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: リアルタイムセッションと精算が完了しました
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: 画像を作成
      description: プロンプトに基づいて画像を生成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: 画像生成の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: 画像編集を作成
      description: 元の画像とプロンプトから、編集または拡張した画像を作成します。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: 画像編集の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /videos:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideos
      summary: 動画を一覧表示
      description: 認証されたチームの非同期動画生成ジョブを一覧表示します。
      parameters:
        - name: limit
          in: query
          description: 返す動画ジョブの最大数。既定値は50、上限は200です。
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          description: 動画のライフサイクル状態フィルター。パラメーターを繰り返すか、カンマ区切りの値を指定します。
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          description: ページを返す前にスキップする動画ジョブの数。
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - name: after
          in: query
          description: 選択した順序で、この動画IDより後の動画ジョブを返します。
          schema:
            type: string
        - name: order
          in: query
          description: 動画ジョブを作成時刻で並べ替えます。
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: 動画一覧のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: 動画を作成
      description: 非同期動画生成ジョブを作成します。ジョブが終端状態になるまで、返された`polling_url`を20秒ごとにポーリングしてください。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: 動画のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModels
      summary: 動画モデルの機能を一覧表示
      description: 動画プレイグラウンドとSDK検証用に、データベースに基づく動画モデル／プロバイダーの機能メタデータを返します。
      parameters:
        - name: params
          in: query
          required: false
          description: 対応パラメーターの任意フィルター。パラメーターを繰り返すか、カンマ区切りのリストを指定します。`resolution`、`size`、`duration`、`duration_seconds`などの正規名とエイリアスを使用できます。
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: 動画モデルの機能一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoModelsResponse'
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: 動画の状態を取得
      description: 動画生成リクエストの状態を取得します。Webhookを使用していない場合は20秒ごとにポーリングしてください。
      parameters:
        - name: video_id
          in: path
          required: true
          description: 動画生成リクエストのID。
          schema:
            type: string
      responses:
        '200':
          description: 動画状態のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: 動画を削除
      description: 終端状態の動画生成レコードに削除マークを付けます。進行中のジョブは削除できません。
      parameters:
        - name: video_id
          in: path
          required: true
          description: 動画生成リクエストのID。
          schema:
            type: string
      responses:
        '200':
          description: 動画削除のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideo
      summary: 動画をキャンセル
      description: 動画のキャンセルは現在すべてのプロバイダーで無効です。
      parameters:
        - name: video_id
          in: path
          required: true
          description: Phaseo内部の動画ジョブID（`G-...`）。
          schema:
            type: string
      responses:
        '501':
          description: 動画のキャンセルは無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: 動画コンテンツを取得
      description: レンダリング済みの動画コンテンツをダウンロードします。
      parameters:
        - name: video_id
          in: path
          required: true
          description: 動画生成リクエストのID。
          schema:
            type: string
      responses:
        '200':
          description: 動画コンテンツ
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /videos/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrl
      summary: 署名付き動画ダウンロードURLを作成
      description: レンダリング済み動画のファーストパーティ署名付きダウンロードURLを返します。
      parameters:
        - name: video_id
          in: path
          required: true
          description: 動画生成リクエストのID。
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: 署名付きダウンロードURL
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: OCRを実行
      description: 指定されたモデルを使って画像からテキストを抽出します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCRの応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: 書類画像を解析
      description: 書類画像を Markdown または順序付きコンテンツブロックに変換します。現在の Cohere Parse API はリモート画像 URL と base64 画像データ URI に対応しています。PDF とファイル URL の入力にはまだ対応していません。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: 解析済みドキュメント
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: 音楽を生成
      description: プロバイダーに依存しない単一のエンドポイントで音楽を生成します。Phaseo は同期プロバイダーを待機し、各プロバイダーのキュー確認を内部で処理します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: 音楽生成の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: 音楽生成の状態を取得
      description: POST /music/generate が返した Phaseo リクエスト ID を使って、正規化された音楽結果を取得します。プロバイダー固有の状態 API は内部で処理されます。
      parameters:
        - name: music_id
          in: path
          required: true
          description: POST /music/generate が返す安定した Phaseo リクエスト ID です。
          schema:
            type: string
      responses:
        '200':
          description: 音楽生成状態の応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: ファイルをアップロード
      description: '`/batches/files`の互換エイリアス。バッチ処理用にファイルをアップロードし、上流のファイルメタデータを返します。AI Statsが上流プロバイダーを推定できるよう`model`を指定してください。`model`と`provider`を両方省略する旧クライアントではOpenAIが既定です。'
      parameters:
        - name: model
          in: query
          required: false
          description: 上流のバッチファイルプロバイダーを推定するためのモデルID。
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: 上流へのファイルアップロードで使用する高度なプロバイダー上書き指定。
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-ai-stats-provider
          in: header
          required: false
          description: クエリパラメーター`provider`の代わりに使用するヘッダー。
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: アップロードされたファイルのメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: 上流プロバイダーのエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: ファイルを一覧表示
      description: 共有ゲートウェイキーでは現在 `not_supported` を返します。代わりに、アップロードしたファイルの ID を保存し、直接取得してください。
      responses:
        '400':
          description: 現在のゲートウェイモードではファイル一覧を利用できません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: ファイルを取得
      description: 認証済みワークスペースに属するファイルのメタデータを取得します。
      parameters:
        - name: file_id
          in: path
          required: true
          description: 取得するファイルの ID です。
          schema:
            type: string
      responses:
        '200':
          description: ファイルのメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ファイルが見つからないか、ワークスペースに属していません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: ファイル内容をダウンロード
      description: 認証済みワークスペースに属する、以前にアップロードされたファイルのバイナリ内容を取得します。
      parameters:
        - name: file_id
          in: path
          required: true
          description: 取得するファイルの ID です。
          schema:
            type: string
      responses:
        '200':
          description: ファイルの内容
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ファイルが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatches
      summary: バッチを一覧表示
      description: ゲートウェイの永続非同期ジョブストアから、認証されたワークスペースが所有する非同期バッチジョブを一覧表示します。
      parameters:
        - name: limit
          in: query
          description: 返すバッチジョブの最大数。既定値は20、上限は100です。
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: バッチのライフサイクル状態フィルター。パラメーターの繰り返し、カンマ区切りの状態値、またはカンマ区切りフィルター用のstatusesを使用します。
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: statuses
          in: query
          description: カンマ区切りのライフサイクル状態フィルター。
          schema:
            type: string
        - name: offset
          in: query
          description: ページを返す前にスキップするバッチジョブの数。
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: バッチ一覧のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: バッチを作成
      description: 非同期バッチジョブを作成し、上流のバッチオブジェクトを返します。指定した`model`を通じてOpenAI、Anthropic、Google Gemini、Mistral、xAI、Groq、Together AIに対応します。ゲートウェイはモデルから上流プロバイダーを推定し、可観測性と非同期通知用に`session_id`と`webhook`も受け付けます。`provider`は高度なルーティング制約としてのみ使用してください。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: バッチ状態のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchModels
      summary: バッチモデルの機能を一覧表示
      description: 許可される入力エンドポイントや完了時間枠などの対応バッチパラメーターを含む、データベースに基づくバッチモデル／プロバイダーの機能メタデータを返します。
      parameters:
        - name: params
          in: query
          required: false
          description: 対応パラメーターの任意フィルター。パラメーターを繰り返すか、カンマ区切りのリストを指定します。`endpoint`、`request_endpoint`、`completion_window`、`window`などの正規名とエイリアスを使用できます。
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: バッチモデルの機能一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchModelsResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/capabilities:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchCapabilities
      summary: バッチプロバイダーの機能を一覧表示
      description: ファイルアップロードとリクエストリストによるバッチ作成について、プロバイダーごとの入力モード対応を返します。
      responses:
        '200':
          description: バッチプロバイダーの機能一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchProviderCapability'
  /batches/files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchFiles
      summary: バッチファイルを一覧表示
      description: 共有ゲートウェイキーのファイル一覧は対応していないため、エラーを返します。代わりにワークスペース所有のファイルをIDで直接取得してください。
      responses:
        '400':
          description: ファイル一覧は非対応です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadBatchFile
      summary: バッチファイルをアップロード
      description: バッチ処理用のプロバイダーファイルをアップロードし、認証されたワークスペースの所有として保存します。Phaseoが上流プロバイダーを推定できるよう`model`を指定してください。`model`と`provider`を両方省略した場合はOpenAIが既定です。
      parameters:
        - name: model
          in: query
          required: false
          description: 上流のバッチファイルプロバイダーを推定するためのモデルID。
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: 上流へのファイルアップロードで使用する高度なプロバイダー上書き指定。
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-phaseo-provider
          in: header
          required: false
          description: クエリパラメーター`provider`の代わりに使用するヘッダー。
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: アップロードされたファイルのメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: 上流プロバイダーのエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFile
      summary: バッチファイルを取得
      description: 認証されたワークスペースが所有するバッチファイルのメタデータを取得します。
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ファイルのメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ファイルが見つからないか、ワークスペースに属していません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFileContent
      summary: バッチファイルの内容を取得
      description: 認証されたワークスペースが所有するバッチファイルの内容を取得します。
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ファイルの内容
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ファイルが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: バッチを取得
      description: 以前作成したバッチジョブを取得します。
      parameters:
        - name: batch_id
          in: path
          required: true
          description: 取得するバッチのID。
          schema:
            type: string
      responses:
        '200':
          description: バッチ状態のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: バッチが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: このプロバイダーはバッチ状態の更新に対応していません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/results:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchResults
      summary: バッチ結果をダウンロード
      description: 認証されたワークスペースが所有する終端状態のバッチについて、プロバイダー固有の完全な結果行をJSONLでストリーミングします。成功・エラーファイルを結合し、インライン出力を変換し、プロバイダーの結果ページ分割に従います。Phaseo APIキーを使用してください。ダウンロードでは推論を送信せず、使用料金も追加されません。既存のファイルエンドポイントも利用できます。インライン行は8 MiBまでです。中断したダウンロードは破棄して再ダウンロードしてください。ワークスペースとバッチごとに、ローリング30分枠で10回の試行までです。この上限はAPIキーとエイリアス間で共有されます。上流で失敗・キャンセルされた試行も数えられます。429レスポンスには秒単位のRetry-Afterが含まれます。
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: プロバイダーの元のJSONL結果
          content:
            application/x-ndjson:
              schema:
                type: string
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: バッチプレビューへのアクセスが拒否されました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: バッチが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: バッチ結果はまだ準備できていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: バッチのダウンロード上限を超えました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              description: 次のダウンロードが許可されるまでの秒数
              schema:
                type: integer
        '501':
          description: このプロバイダーは結果の直接ダウンロードに対応していません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: プロバイダーの結果を取得できませんでした
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: ダウンロードの受付が一時的に利用できません。30秒後に再試行してください
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              schema:
                type: integer
  /batches/{batch_id}/requests:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchRequests
      summary: バッチリクエスト行を一覧表示
      description: 所有するバッチジョブで追跡しているリクエストごとの行を一覧表示します。
      parameters:
        - name: batch_id
          in: path
          required: true
          description: バッチのID。
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: バッチリクエスト行の一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  batch_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchRequestRow'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: バッチが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatch
      summary: バッチをキャンセル
      description: バッチリクエストをキャンセルします。
      parameters:
        - name: batch_id
          in: path
          required: true
          description: キャンセルするバッチのID。
          schema:
            type: string
      responses:
        '200':
          description: バッチ状態のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: バッチが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: このプロバイダーはバッチのキャンセルに対応していません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivityAlias
      summary: ワークスペースの分析を取得
      description: 直近30日間の完了したUTC日について、日付、モデル、プロバイダー、エンドポイント別のコスト、リクエスト、トークン集計を返します。
      parameters:
        - name: date
          in: query
          description: 直近30日間の完了した日のうち、単一のUTC日付で絞り込みます（YYYY-MM-DD）。
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          description: 支出区分に含めるリクエストラベルのキー。label_valueと一緒に指定する必要があります。
          schema:
            type: string
            maxLength: 64
            pattern: ^[A-Za-z0-9_.:-]{1,64}$
        - name: label_value
          in: query
          description: 支出区分に含めるリクエストラベルの値。label_keyと一緒に指定する必要があります。
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          description: APIキー識別子で絞り込みます。
          schema:
            type: string
        - name: end_user_id
          in: query
          description: アプリケーション定義のエンドユーザー識別子で絞り込みます。
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          description: リクエストした、またはルーティングされたモデルの正規スラッグで絞り込みます。
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          description: プロバイダーのスラッグで絞り込みます。
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          description: ゲートウェイのエンドポイント識別子で絞り込みます。
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          description: 管理型またはBYOKトラフィックで絞り込みます。
          schema:
            type: boolean
        - name: success
          in: query
          description: 成功または失敗したリクエストで絞り込みます。
          schema:
            type: boolean
        - $ref: '#/components/parameters/Offset'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
      responses:
        '200':
          description: 取得しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: 不正なリクエストエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: アクセス拒否エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 内部サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: ワークスペース分析をエクスポート
      description: フィルター後の分析集計全体を、表計算ソフトで安全に扱える CSV としてエクスポートします。
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: 分析データの CSV エクスポート
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: 分析フィルターが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: クレジットを取得
      description: 認証済みワークスペースの残りクレジットと使用状況を返します。Management API key が必要です。
      parameters:
        - name: workspace_id
          in: query
          description: 任意のワークスペース上書きです。内部制御呼び出し元を使う場合を除き、認証済みワークスペースと一致する必要があります。
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: クレジット情報
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: アクセス禁止
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCurrentApiKey
      summary: 現在のAPIキーを取得
      description: 現在認証されている標準Gateway APIキーのメタデータを返します。
      responses:
        '200':
          description: 現在のAPIキーのメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API キーが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: API キーを一覧表示
      description: 認証済みワークスペースの API キーを一覧表示します。管理 API キーが必要です。
      parameters:
        - name: include_disabled
          in: query
          description: 一時停止またはソフトブロックされたキーを応答に含めるかどうかを指定します。
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: ページネーションでスキップする API キーの数です。
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: 返される API キーの最大数です。
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: 任意のワークスペース上書きです。内部制御呼び出し元を使う場合を除き、認証済みワークスペースと一致する必要があります。
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API キー一覧
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: アクセス禁止
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: 新しい API キーを作成
      description: 認証済みワークスペースに新しい API キーを作成します。管理 API キーが必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API キーを作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: リクエストが正しくありません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: アクセス禁止
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: 単一の API キーを取得
      description: 認証済みワークスペースにある 1 つの API キーのメタデータを返します。管理 API キーが必要です。
      parameters:
        - name: id
          in: path
          required: true
          description: API キーの識別子またはハッシュです。
          schema:
            type: string
      responses:
        '200':
          description: API キーのメタデータ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API キーが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: API キーを更新
      description: API キーのメタデータまたはステータスを更新します。管理 API キーが必要です。
      parameters:
        - name: id
          in: path
          required: true
          description: API キーの識別子またはハッシュです。
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: API キーのメタデータを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: リクエストが正しくありません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API キーが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: API キーを削除
      description: 認証済みワークスペースの API キーを削除します。管理 API キーが必要です。
      parameters:
        - name: id
          in: path
          required: true
          description: API キーの識別子またはハッシュです。
          schema:
            type: string
      responses:
        '200':
          description: API キーを削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API キーが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: API キーをローテーション
      description: 同じ上限の置き換えキーを作成し、任意で前のキーの有効期限を設定します。置き換えキーのシークレットは一度だけ返されます。`keys:write` が必要です。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: API キーをローテーションしました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: ローテーションに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: API キーキャッシュを無効化
      description: ワークスペース API キーのグローバルにキャッシュされたポリシー状態を更新します。認証済みのワークスペース管理呼び出しが必要です。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: キャッシュを無効化しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: 無効化に失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: ワークスペースの SSO 設定を取得
      description: ワークスペースの SAML またはカスタム OIDC 設定を返します。`settings:read` とオーナーまたは管理者の ID が必要です。
      responses:
        '200':
          description: SSO 設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: ワークスペースの SSO 設定を更新
      description: SAML またはカスタム OIDC の設定を更新します。SSO を有効にするには identity アドオンと `settings:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: SSO 設定を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: リクエストに失敗したか、アドオンが必要です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: ワークスペースの SCIM 設定を取得
      description: エンドポイントの状態、トークンのメタデータ、プロビジョニング済みオブジェクト数、最新の SCIM イベントを返します。
      responses:
        '200':
          description: SCIM 設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: SCIM を有効化または無効化
      description: ワークスペースの SCIM エンドポイントを更新します。SCIM を有効にするには identity アドオンと `settings:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: SCIM エンドポイントを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: リクエストに失敗したか、アドオンが必要です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: SCIM トークンを作成
      description: プロビジョニングトークンを作成します。生のトークンは一度だけ返されます。identity アドオンと `settings:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: SCIM トークンを作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: リクエストに失敗したか、アドオンが必要です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: SCIM トークンを取り消す
      description: プロビジョニングトークンを取り消します。`settings:write` が必要です。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: トークンを取り消しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: SCIM 監査イベントを一覧表示
      description: ワークスペースの最近の SCIM プロビジョニング活動を一覧表示します。
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: SCIM 監査イベント
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: ワークスペースのディレクトリを取得
      description: 企業の部門とメンバーの有効な権限を返します。identity アドオン、`settings:read`、および `owner` または `admin` の ID が必要です。
      responses:
        '200':
          description: ワークスペースのディレクトリ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: リクエストに失敗したか、アドオンが必要です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: ディレクトリメンバーのオーバーライドを更新
      description: ワークスペースメンバーの有効なロールと部門のオーバーライドを設定または解除します。`settings:write` が必要です。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: メンバーのオーバーライドを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: ワークスペースの部署を一覧表示
      description: 手動管理の部署とディレクトリ同期された部署を一覧表示します。
      responses:
        '200':
          description: ワークスペースの部署
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: ワークスペースの部門を作成
      description: 手動で管理する部門を作成します。`settings:write` が必要です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: 部門を作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: ワークスペースの部門を更新
      description: ディレクトリのマッピングを削除せずに、部門名、説明、アイコン、色を更新します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: 部門を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: ワークスペースの部署を削除
      description: 手動管理の部署を削除します。ディレクトリと同期されている部署はここから削除できません。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 部署を削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: 部門への手動メンバー登録を設定
      description: ワークスペースユーザーの部門への手動メンバー登録を追加または更新します。
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: メンバー登録を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: 手動の部門メンバー登録を削除
      description: ディレクトリと同期されたメンバー登録を変更せずに、手動の部門メンバー登録を削除します。
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: メンバー登録を削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: ディレクトリのグループマッピングを一覧表示
      description: プロビジョニングされたグループからワークスペースのロールや部署へのマッピングを一覧表示します。
      responses:
        '200':
          description: ディレクトリのグループマッピング
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: ディレクトリグループのマッピングを作成
      description: プロビジョニング済みのグループをワークスペースの部門とアクセスロールに対応付けます。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingCreateRequest'
      responses:
        '201':
          description: グループのマッピングを作成しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceGroupMapping
      summary: ディレクトリグループのマッピングを更新
      description: マッピングで割り当てられたアクセスロールまたは部門内の位置を更新します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingUpdateRequest'
      responses:
        '200':
          description: グループのマッピングを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceGroupMapping
      summary: ディレクトリのグループマッピングを削除
      description: プロビジョニングされたグループマッピングをワークスペースから削除します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: グループマッピングを削除しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/settings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceNotificationSettings
      summary: ワークスペースの通知設定を取得
      description: 自動チャージポリシー、残高低下時のメール設定、ワークスペースのメール設定を返します。`settings:read` と `owner` または `admin` の ID が必要です。
      responses:
        '200':
          description: 通知設定
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      security: []
      tags:
        - Gateway
      operationId: updateWorkspaceNotificationSettings
      summary: ワークスペースの通知設定を更新
      description: 永続的な通知ポリシーの1つ以上のセクションを更新します。自動チャージの有効化には、保存済み支払い方法の既存識別子と検証済みの2要素認証が必要です。既存の自動チャージ設定はMFA確認を繰り返さず更新できます。MFAなしで有効化するには、クライアントが`mfa_bypass_acknowledged`を明示的にtrueに設定し、`mfa_bypass_phrase`に正確な値`I ACCEPT THE RISK`を指定する必要があります。支払い情報の収集は引き続き対話的なアカウント操作です。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceNotificationSettingsUpdateRequest'
      responses:
        '200':
          description: 通知設定を更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceApps
      summary: ワークスペースのアプリを一覧表示
      description: 自動的に割り当てられたワークスペースアプリと編集可能なメタデータを一覧表示します。`settings:read` 権限が必要です。
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: ワークスペースアプリ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppListResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceApp
      summary: ワークスペースのアプリを更新
      description: 割り当て済みアプリの表示メタデータ、カタログでの表示、または有効状態を更新します。プラットフォーム管理アプリは編集できません。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppUpdateRequest'
      responses:
        '200':
          description: アプリを更新しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppResponse'
        default:
          description: リクエストに失敗しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}/merge:
    post:
      x-beta: true
      tags:
        - Gateway
[...]
