node_modules
dist
build
.next
.mint
.out
.env*
pnpm-debug.log
.turbo/
**/.turbo/
node_modules/.cache/turbo/
turbo-*.log
.openapi-generator
.venv
.ai-stats-devtools/
/.cache
/internal
# /supabase
guides/private/
