openapi: 3.0.3
info:
  title: AI Stats Gateway API
  description: >-
    A gateway API for accessing various AI models with OpenAI-compatible
    endpoints.
  version: 1.0.0
  contact:
    name: AI Stats
    url: https://docs.ai-stats.phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
security:
  - BearerAuth: []
paths:
  /gateway/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: List gateway models
      description: >-
        Returns shared non-hidden gateway models. Defaults to currently publicly
        routable models; use availability=all to include non-routable
        availability records.
      parameters:
        - name: endpoints
          in: query
          description: Filter by endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filter by organisation
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filter by provider id
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filter by provider rollout status
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filter by provider routing status
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filter by model routing status
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filter by provider capability status
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filter by provider availability status
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filter by provider availability reason
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filter by model status
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filter by input types
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filter by output types
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filter by params
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: >-
            Availability filter. active returns publicly routable models only;
            all includes non-routable availability records.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Response format. Defaults to json.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias for format. Accepts json, rss, or atom.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: List of models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML feed
            application/atom+xml:
              schema:
                type: string
                description: Atom XML feed
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /gateway/models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: List team-scoped gateway models
      description: >-
        Returns team-scoped gateway model listings. Defaults to currently
        publicly routable models; use availability=all to include non-routable
        availability records.
      parameters:
        - name: endpoints
          in: query
          description: Filter by endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filter by organisation
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filter by provider id
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filter by provider rollout status
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filter by provider routing status
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filter by model routing status
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filter by provider capability status
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filter by provider availability status
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filter by provider availability reason
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filter by model status
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filter by input types
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filter by output types
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filter by params
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: >-
            Availability filter. active returns publicly routable models only;
            all includes non-routable availability records.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Response format. Defaults to json.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias for format. Accepts json, rss, or atom.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: List of models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML feed
            application/atom+xml:
              schema:
                type: string
                description: Atom XML feed
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: List providers
      description: Returns a list of available API providers.
      parameters:
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset for pagination
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of providers
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: Get generation
      description: Retrieve a specific generation by ID.
      parameters:
        - name: id
          in: query
          required: true
          description: The ID of the generation
          schema:
            type: string
      responses:
        '200':
          description: Generation data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: Create chat completion
      description: Creates a completion for the chat message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
  /responses:
    post:
      tags:
        - Gateway
      operationId: createResponse
      summary: Create response
      description: Creates a response using the Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
  /responses/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openResponsesWebSocket
      summary: Open Responses websocket session
      description: >
        Opens a persistent websocket session for OpenAI Responses WebSocket
        mode.

        This route is currently experimental on AI Stats Gateway and is not

        recommended for production workloads.


        WebSocket handshake uses HTTP GET upgrade semantics and returns `101
        Switching Protocols`

        on success (not `200`).


        This endpoint is OpenAI-only, requires `openai/<model>` format, and
        accepts

        `response.create` websocket messages.

        The gateway enforces `store=false`, allows one in-flight response per
        connection,

        and forwards OpenAI Responses streaming events back to the client.


        After upgrade, runtime failures are emitted as websocket `error` events

        (for example `invalid_response_create`, `openai_routing_failed`,

        `response_already_in_flight`, `model_mismatch`, `upstream_websocket_*`)

        rather than additional HTTP response codes.
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/ResponsesWebSocketCreateEvent'
            serverEvent:
              $ref: '#/components/schemas/ResponsesWebSocketServerEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesWebSocketUpgradeRequiredResponse'
        '501':
          description: WebSocket mode is temporarily disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /messages:
    post:
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: Create message
      description: Creates a message using the Anthropic Messages API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: Message response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: Create embeddings
      description: Creates an embedding vector representing the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Embeddings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: Create moderation
      description: Classifies if text violates OpenAI's usage policies.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: Moderation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: Rerank documents
      description: Reranks a list of documents against a query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: Rerank response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: Generate speech
      description: Generates audio from the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: Audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: Create transcription
      description: Transcribes audio into the input language.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: Transcription response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: Create translation
      description: Translates audio into English.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: Translation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: Create image
      description: Creates an image given a prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: Image response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: Create image edit
      description: >-
        Creates an edited or extended image given an original image and a
        prompt.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: Image edit response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
  /videos:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideos
      summary: List videos
      description: Lists async video generation jobs for the authenticated team.
      responses:
        '200':
          description: Video list response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: Create video
      description: >-
        Creates an async video generation job. Poll the returned `polling_url`
        every 20 seconds until the job reaches a terminal status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: Video response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModels
      summary: List video model capabilities
      description: >-
        Returns DB-backed video model/provider capability metadata for the video
        playground and SDK validation.
      responses:
        '200':
          description: Video model capability list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      type: object
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: Get video status
      description: >-
        Retrieves the status for a video generation request. Poll every 20
        seconds unless you are using webhooks.
      parameters:
        - name: video_id
          in: path
          required: true
          description: The ID of the video generation request.
          schema:
            type: string
      responses:
        '200':
          description: Video status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: Delete video
      description: >-
        Tombstones a terminal video generation record. In-progress jobs cannot
        be deleted.
      parameters:
        - name: video_id
          in: path
          required: true
          description: The ID of the video generation request.
          schema:
            type: string
      responses:
        '200':
          description: Video deletion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideo
      summary: Cancel video
      description: >-
        Temporarily disabled while provider-level cancellation support is
        standardized.
      parameters:
        - name: video_id
          in: path
          required: true
          description: The internal AI Stats video job ID (`G-...`).
          schema:
            type: string
      responses:
        '501':
          description: Video cancellation is currently disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: Get video content
      description: Downloads the rendered video content.
      parameters:
        - name: video_id
          in: path
          required: true
          description: The ID of the video generation request.
          schema:
            type: string
      responses:
        '200':
          description: Video content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /videos/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrl
      summary: Create a signed video download URL
      description: Returns a signed first-party download URL for a rendered video.
      parameters:
        - name: video_id
          in: path
          required: true
          description: The ID of the video generation request.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: Signed download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: Create OCR
      description: Extracts text from an image using the requested model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCR response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: Generate music
      description: Generates music using the requested model and provider settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Music generation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: Get music generation status
      description: Retrieves the status for a music generation request.
      parameters:
        - name: music_id
          in: path
          required: true
          description: The ID of the music generation request.
          schema:
            type: string
      responses:
        '200':
          description: Music generation status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: Upload file
      description: >-
        Uploads a file for batch processing and returns the upstream file
        metadata.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Uploaded file metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: List files
      description: >-
        Currently returns `not_supported` on the shared gateway key. Persist
        uploaded file ids and retrieve them directly instead.
      responses:
        '400':
          description: File listing is not supported in the current gateway mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: Retrieve file
      description: >-
        Retrieves metadata for a file that belongs to the authenticated
        workspace.
      parameters:
        - name: file_id
          in: path
          required: true
          description: The ID of the file to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: File metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: File not found or not owned by the workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: Retrieve file content
      description: >-
        Retrieves binary content for a previously uploaded file that belongs to
        the authenticated workspace.
      parameters:
        - name: file_id
          in: path
          required: true
          description: The ID of the file to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: Create batch
      description: >-
        Creates an async batch job and returns the upstream batch object. The
        gateway also accepts `session_id` and `webhook` for observability and
        async notifications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: Batch status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: Retrieve batch
      description: Retrieves a previously created batch job.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: The ID of the batch to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: Batch status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatch
      summary: Cancel batch
      description: Cancels a batch request.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: The ID of the batch to cancel.
          schema:
            type: string
      responses:
        '200':
          description: Batch status response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivityAlias
      summary: Get user activity grouped by endpoint (alias)
      description: >-
        Alias of /activity. Returns user activity grouped by endpoint for the
        last 30 completed UTC days.
      parameters:
        - name: date
          in: query
          description: >-
            Filter by a single UTC date in the last 30 completed days
            (YYYY-MM-DD).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityResponse'
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: Get remaining credits
      description: >-
        Returns remaining credits and usage statistics for the authenticated
        workspace. Management API key required.
      parameters:
        - name: workspace_id
          in: query
          description: >-
            Optional workspace override. Must match the authenticated workspace
            unless using an internal control caller.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Credit information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCurrentApiKey
      summary: Get current API key
      description: >-
        Returns metadata for the currently authenticated standard Gateway API
        key.
      responses:
        '200':
          description: Current API key metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: List API keys
      description: >-
        Lists API keys for the authenticated workspace. Management API key
        required.
      parameters:
        - name: include_disabled
          in: query
          description: Whether to include paused or soft-blocked keys in the response.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: Number of API keys to skip for pagination.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Maximum number of API keys to return.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: >-
            Optional workspace override. Must match the authenticated workspace
            unless using an internal control caller.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: Create a new API key
      description: >-
        Creates a new API key in the authenticated workspace. Management API key
        required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: Get a single API key
      description: >-
        Returns metadata for one API key in the authenticated workspace.
        Management API key required.
      parameters:
        - name: id
          in: path
          required: true
          description: API key identifier or hash.
          schema:
            type: string
      responses:
        '200':
          description: API key metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: Update an API key
      description: Updates API key metadata or status. Management API key required.
      parameters:
        - name: id
          in: path
          required: true
          description: API key identifier or hash.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: Updated API key metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: Delete an API key
      description: >-
        Deletes an API key in the authenticated workspace. Management API key
        required.
      parameters:
        - name: id
          in: path
          required: true
          description: API key identifier or hash.
          schema:
            type: string
      responses:
        '200':
          description: API key deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /activity:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivity
      summary: Get recent activity
      description: >-
        Returns recent request activity for the authenticated workspace.
        Management API key required.
      parameters:
        - name: workspace_id
          in: query
          description: >-
            Optional workspace override. Must match the authenticated workspace
            unless using an internal control caller.
          schema:
            type: string
            format: uuid
        - name: days
          in: query
          description: Number of days of activity to include.
          schema:
            type: integer
            default: 30
            minimum: 1
        - name: limit
          in: query
          description: Maximum number of activity rows to return.
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Number of activity rows to skip for pagination.
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceActivityResponse'
        '400':
          description: Bad Request Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspaces:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaces
      summary: List workspaces
      description: >-
        Lists workspaces owned by the authenticated management key owner.
        Management API key required.
      parameters:
        - name: offset
          in: query
          description: Number of workspaces to skip for pagination.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Maximum number of workspaces to return.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
      responses:
        '200':
          description: Workspace list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspace
      summary: Create a workspace
      description: >-
        Creates a new workspace for the authenticated owner. Management API key
        required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceCreateRequest'
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /workspaces/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspace
      summary: Get a workspace
      description: Returns a workspace by UUID or slug. Management API key required.
      parameters:
        - name: id
          in: path
          required: true
          description: Workspace UUID or slug.
          schema:
            type: string
      responses:
        '200':
          description: Workspace metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspace
      summary: Update a workspace
      description: Updates workspace metadata. Management API key required.
      parameters:
        - name: id
          in: path
          required: true
          description: Workspace UUID or slug.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateRequest'
      responses:
        '200':
          description: Updated workspace metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspace
      summary: Delete a workspace
      description: Deletes a workspace by UUID or slug. Management API key required.
      parameters:
        - name: id
          in: path
          required: true
          description: Workspace UUID or slug.
          schema:
            type: string
      responses:
        '200':
          description: Workspace deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /organisations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOrganisations
      summary: List organisations
      description: Returns a list of available organisations.
      parameters:
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of organisations
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 10
                  organisations:
                    type: array
                    items:
                      type: object
                      properties:
                        organisation_id:
                          type: string
                        name:
                          type: string
                          nullable: true
                        country_code:
                          type: string
                          nullable: true
                        description:
                          type: string
                          nullable: true
                        colour:
                          type: string
                          nullable: true
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPricingModels
      summary: List pricing models
      description: Returns active provider/model pricing entries.
      responses:
        '200':
          description: Pricing model list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  models:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/calculate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: calculatePricing
      summary: Calculate pricing
      description: Calculates price for a usage payload.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
                - model
                - endpoint
                - usage
              properties:
                provider:
                  type: string
                model:
                  type: string
                endpoint:
                  type: string
                usage:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Pricing calculation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  pricing:
                    type: object
                    additionalProperties: true
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Pricing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Calculation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health/providers/{provider_id}/derank:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProviderDerankStatus
      summary: Provider derank status
      description: Returns breaker-based derank/recovery status for a provider.
      parameters:
        - name: provider_id
          in: path
          required: true
          description: Provider identifier.
          schema:
            type: string
        - name: window_hours
          in: query
          description: Observation window in hours.
          schema:
            type: integer
            minimum: 1
            maximum: 168
        - name: max_pairs
          in: query
          description: Max endpoint/model tuples to inspect.
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: fetch_limit
          in: query
          description: Max recent requests to scan.
          schema:
            type: integer
            minimum: 50
            maximum: 2000
      responses:
        '200':
          description: Provider derank snapshot
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid provider id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Invalid control secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Control secret not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getHealth
      summary: Health check
      description: Returns a minimal gateway health snapshot.
      responses:
        '200':
          description: Gateway health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /video/generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideosAlias
      summary: List videos (alias)
      description: Alias of /videos.
      responses:
        '200':
          description: Video list response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoAlias
      summary: Create video (alias)
      description: Alias of /videos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: Video response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /video/generations/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModelsAlias
      summary: List video model capabilities (alias)
      description: Alias of /videos/models.
      responses:
        '200':
          description: Video model capability list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      type: object
  /video/generations/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoAlias
      summary: Get video status (alias)
      description: Alias of /videos/{video_id}.
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Video status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideoAlias
      summary: Delete video (alias)
      description: Alias of /videos/{video_id}.
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Video deletion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /video/generations/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideoAlias
      summary: Cancel video (alias)
      description: Alias of /videos/{video_id}/cancel (currently disabled).
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '501':
          description: Video cancellation is currently disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /video/generations/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContentAlias
      summary: Get video content (alias)
      description: Alias of /videos/{video_id}/content.
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Video content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /video/generations/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrlAlias
      summary: Create a signed video download URL (alias)
      description: Alias of /videos/{video_id}/download_url.
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: Signed download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /music/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusicAlias
      summary: Generate music (alias)
      description: Alias of /music/generate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Music generation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generations/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGenerationAlias
      summary: Get music generation status (alias)
      description: Alias of /music/generate/{music_id}.
      parameters:
        - name: music_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Music generation status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /batch:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatchAlias
      summary: Create batch (alias)
      description: Alias of /batches.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: Batch status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batch/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchAlias
      summary: Retrieve batch (alias)
      description: Alias of /batches/{batch_id}.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Batch status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batch/{id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatchAlias
      summary: Cancel batch (alias)
      description: Alias of /batches/{batch_id}/cancel.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Batch status response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /data/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listDataModels
      summary: List data models
      description: Returns source catalogue models from the data_models table.
      parameters:
        - name: include_hidden
          in: query
          description: Include hidden models in results
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Filter by model status
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filter by organisation
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: model_id
          in: query
          description: Filter by model id
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - name: id
          in: query
          description: Alias for model_id filter
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: format
          in: query
          description: Response format. Defaults to json.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias for format. Accepts json, rss, or atom.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: List of data models
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  include_hidden:
                    type: boolean
                  limit:
                    type: integer
                  offset:
                    type: integer
                  total:
                    type: integer
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataModel'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML feed
            application/atom+xml:
              schema:
                type: string
                description: Atom XML feed
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listEndpoints
      summary: List endpoints
      description: Lists currently exposed gateway endpoint IDs and sample models.
      responses:
        '200':
          description: Endpoint metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  endpoints:
                    type: array
                    items:
                      type: string
                  sample_models:
                    type: array
                    items:
                      $ref: '#/components/schemas/ModelId'
tags:
  - name: Gateway
    description: Core AI Stats Gateway operations.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    ProviderRoutingOptions:
      type: object
      description: Provider routing preferences for gateway selection.
      properties:
        order:
          type: array
          items:
            type: string
        only:
          type: array
          items:
            type: string
        ignore:
          type: array
          items:
            type: string
        include_alpha:
          type: boolean
          description: Include alpha providers in routing (off by default).
    DebugOptions:
      type: object
      description: Gateway debug controls. These flags are never forwarded upstream.
      properties:
        enabled:
          type: boolean
        return_upstream_request:
          type: boolean
        return_upstream_response:
          type: boolean
        trace:
          type: boolean
        trace_level:
          type: string
          enum:
            - summary
            - full
    CacheControl:
      type: object
      properties:
        type:
          type: string
        ttl:
          type: string
        scope:
          type: string
      additionalProperties: true
    ProviderOptions:
      type: object
      description: Optional provider-specific options.
      properties:
        openai:
          type: object
          properties:
            context_management:
              type: object
              description: Optional OpenAI context management configuration.
              properties:
                type:
                  type: string
                  enum:
                    - compaction
                compact_threshold:
                  type: number
              required:
                - type
            prompt_cache_retention:
              type: string
        anthropic:
          type: object
          properties:
            cache_control:
              $ref: '#/components/schemas/CacheControl'
        google:
          type: object
          properties:
            cache_control:
              $ref: '#/components/schemas/CacheControl'
            cached_content:
              type: string
            cache_ttl:
              type: string
    Provider:
      type: object
      properties:
        api_provider_id:
          type: string
          example: openai
        api_provider_name:
          type: string
          nullable: true
          example: OpenAI
        description:
          type: string
          nullable: true
        link:
          type: string
          nullable: true
          example: https://openai.com
        country_code:
          type: string
          nullable: true
          example: US
    Model:
      type: object
      properties:
        id:
          type: string
        canonical_slug:
          type: string
        model_id:
          type: string
        name:
          type: string
          nullable: true
        description:
          type: string
        created:
          type: integer
          nullable: true
        release_date:
          type: string
          nullable: true
        deprecation_date:
          type: string
          nullable: true
        retirement_date:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        availability:
          $ref: '#/components/schemas/ModelAvailability'
        lifecycle:
          $ref: '#/components/schemas/ModelLifecycle'
        organisation_id:
          type: string
          nullable: true
        organisation_name:
          type: string
          nullable: true
        organisation_colour:
          type: string
          nullable: true
        aliases:
          type: array
          items:
            type: string
        endpoints:
          type: array
          items:
            type: string
        input_types:
          type: array
          items:
            type: string
        output_types:
          type: array
          items:
            type: string
        providers:
          type: array
          items:
            $ref: '#/components/schemas/ModelProviderAvailability'
        supported_params:
          type: array
          items:
            type: string
        supported_parameters:
          type: array
          items:
            type: string
        architecture:
          type: object
          properties:
            modality:
              type: string
            input_modalities:
              type: array
              items:
                type: string
            output_modalities:
              type: array
              items:
                type: string
            tokenizer:
              type: string
              nullable: true
            instruct_type:
              type: string
              nullable: true
        top_provider_id:
          type: string
          nullable: true
        top_provider:
          type: object
          properties:
            context_length:
              type: integer
              nullable: true
            max_completion_tokens:
              type: integer
              nullable: true
            is_moderated:
              type: boolean
        pricing:
          type: object
          properties:
            prompt:
              type: string
              nullable: true
            completion:
              type: string
              nullable: true
            request:
              type: string
              nullable: true
            image:
              type: string
              nullable: true
            input_cache_read:
              type: string
              nullable: true
            input_cache_write:
              type: string
              nullable: true
            web_search:
              type: string
              nullable: true
        pricing_detail:
          type: object
          properties:
            pricing_plan:
              type: string
            meters:
              type: object
              additionalProperties: true
        per_request_limits:
          type: object
          nullable: true
          additionalProperties: true
    ModelLifecycle:
      type: object
      properties:
        status:
          type: string
          enum:
            - active
            - deprecated
            - retired
          nullable: true
        deprecation_date:
          type: string
          nullable: true
        retirement_date:
          type: string
          nullable: true
        replacement_model_id:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
    ModelAvailability:
      type: object
      required:
        - status
        - provider_count
        - active_provider_count
        - inactive_provider_count
      properties:
        status:
          type: string
          enum:
            - active
            - coming_soon
            - inactive
            - not_listed
        provider_count:
          type: integer
          minimum: 0
        active_provider_count:
          type: integer
          minimum: 0
        inactive_provider_count:
          type: integer
          minimum: 0
    ModelProviderAvailability:
      type: object
      required:
        - api_provider_id
        - is_active_gateway
        - availability_status
        - availability_reason
        - provider_status
        - provider_routing_status
        - model_routing_status
        - capability_status
        - endpoints
        - params
      properties:
        api_provider_id:
          type: string
        api_provider_name:
          type: string
          nullable: true
        is_active_gateway:
          type: boolean
        availability_status:
          type: string
          enum:
            - active
            - coming_soon
            - inactive
        availability_reason:
          type: string
          enum:
            - active
            - preview_only
            - gated
            - access_limited
            - region_limited
            - project_limited
            - paused
            - soft_blocked
            - deranked_lvl1
            - deranked_lvl2
            - deranked_lvl3
            - internal_testing
            - scheduled
            - coming_soon
            - provider_disabled
            - model_disabled
            - capability_disabled
            - provider_not_ready
            - provider_inactive
            - inactive
            - retired
        provider_status:
          type: string
          enum:
            - active
            - beta
            - alpha
            - not_ready
            - gated
            - access_limited
            - region_limited
            - project_limited
            - paused
            - soft_blocked
        provider_routing_status:
          type: string
          enum:
            - active
            - deranked_lvl1
            - deranked_lvl2
            - deranked_lvl3
            - disabled
        model_routing_status:
          type: string
          enum:
            - active
            - deranked_lvl1
            - deranked_lvl2
            - deranked_lvl3
            - disabled
        capability_status:
          type: string
          enum:
            - active
            - coming_soon
            - deranked_lvl1
            - deranked_lvl2
            - deranked_lvl3
            - disabled
            - internal_testing
        effective_from:
          type: string
          nullable: true
        effective_to:
          type: string
          nullable: true
        endpoints:
          type: array
          items:
            type: string
        params:
          type: array
          items:
            type: string
    DataModelOrganisation:
      type: object
      nullable: true
      properties:
        organisation_id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        country_code:
          type: string
          nullable: true
        colour:
          type: string
          nullable: true
    DataModel:
      type: object
      properties:
        model_id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        release_date:
          type: string
          nullable: true
        deprecation_date:
          type: string
          nullable: true
        retirement_date:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        lifecycle:
          $ref: '#/components/schemas/ModelLifecycle'
        hidden:
          type: boolean
        input_types:
          type: array
          items:
            type: string
        output_types:
          type: array
          items:
            type: string
        organisation:
          $ref: '#/components/schemas/DataModelOrganisation'
    ChatCompletionsRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
        messages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ChatMessage'
        reasoning:
          $ref: '#/components/schemas/ReasoningConfig'
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2
        logit_bias:
          type: object
          additionalProperties:
            type: number
        max_completion_tokens:
          type: integer
          minimum: 1
        max_tokens:
          type: integer
          minimum: 1
        metadata:
          type: object
          additionalProperties:
            type: string
        session_id:
          type: string
          maxLength: 256
          description: >-
            Unique identifier for grouping related requests (for example, a
            conversation or agent workflow) for observability.
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
        seed:
          type: integer
          minimum: -9223372036854776000
          maximum: 9223372036854776000
        store:
          type: boolean
        stream:
          type: boolean
          default: false
        stream_options:
          type: object
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
        tools:
          type: array
          description: >
            Tool definitions for model function calls and gateway server tools.
            The only built-in gateway server tool is `gateway:datetime`.
            Web-search tool types (for example `web_search_preview`) are
            temporarily disabled by the gateway.
          items:
            $ref: '#/components/schemas/TextGenerateTool'
        max_tool_calls:
          type: integer
          minimum: 1
        parallel_tool_calls:
          type: boolean
          default: true
        tool_choice:
          $ref: '#/components/schemas/TextToolChoice'
        logprobs:
          type: boolean
          default: false
        top_logprobs:
          type: integer
          minimum: 0
          maximum: 20
        top_p:
          type: number
          minimum: 0
          maximum: 1
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        response_format:
          oneOf:
            - type: string
            - type: object
              properties:
                type:
                  type: string
                schema:
                  type: object
        modalities:
          type: array
          items:
            type: string
            enum:
              - text
              - image
              - audio
        image_config:
          $ref: '#/components/schemas/ImageConfig'
        usage:
          type: boolean
        provider:
          $ref: '#/components/schemas/ProviderRoutingOptions'
        provider_options:
          $ref: '#/components/schemas/ProviderOptions'
        user_id:
          type: string
        user:
          type: string
        service_tier:
          type: string
          enum:
            - auto
            - default
            - flex
            - standard
            - priority
        prompt_cache_key:
          type: string
          nullable: true
        safety_identifier:
          type: string
          nullable: true
        meta:
          type: boolean
          default: false
        echo_upstream_request:
          type: boolean
        debug:
          $ref: '#/components/schemas/DebugOptions'
    ChatMessage:
      type: object
      required:
        - role
      properties:
        role:
          type: string
          enum:
            - system
            - developer
            - user
            - assistant
            - tool
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/MessageContentPart'
        name:
          type: string
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/ToolCall'
        images:
          type: array
          items:
            $ref: '#/components/schemas/ChatImageOutputPart'
        audios:
          type: array
          items:
            $ref: '#/components/schemas/ChatAudioOutputPart'
        tool_call_id:
          type: string
      discriminator:
        propertyName: role
    MessageContentPart:
      oneOf:
        - $ref: '#/components/schemas/TextContentPart'
        - $ref: '#/components/schemas/ImageContentPart'
        - $ref: '#/components/schemas/AudioContentPart'
        - $ref: '#/components/schemas/VideoContentPart'
        - $ref: '#/components/schemas/ToolCallContentPart'
    TextContentPart:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum:
            - text
        text:
          type: string
    ImageContentPart:
      type: object
      required:
        - type
        - image_url
      properties:
        type:
          type: string
          enum:
            - image_url
        image_url:
          type: object
          properties:
            url:
              type: string
              description: HTTP(S) URL or data URI.
    ChatImageOutputPart:
      type: object
      required:
        - type
        - image_url
      properties:
        type:
          type: string
          enum:
            - image_url
        image_url:
          type: object
          required:
            - url
          properties:
            url:
              type: string
              description: HTTP(S) URL or data URI.
        mime_type:
          type: string
    ChatAudioOutputPart:
      type: object
      required:
        - type
        - audio_url
      properties:
        type:
          type: string
          enum:
            - audio_url
        audio_url:
          type: object
          required:
            - url
          properties:
            url:
              type: string
              description: HTTP(S) URL or data URI.
        mime_type:
          type: string
        format:
          type: string
          enum:
            - wav
            - mp3
            - flac
            - m4a
            - ogg
            - pcm16
            - pcm24
    AudioContentPart:
      type: object
      required:
        - type
        - input_audio
      properties:
        type:
          type: string
          enum:
            - input_audio
        input_audio:
          type: object
          properties:
            data:
              type: string
            format:
              type: string
              enum:
                - wav
                - mp3
                - flac
                - m4a
                - ogg
                - pcm16
                - pcm24
    VideoContentPart:
      type: object
      required:
        - type
        - video_url
      properties:
        type:
          type: string
          enum:
            - input_video
        video_url:
          type: string
          format: uri
    ToolCallContentPart:
      type: object
      required:
        - type
        - id
        - function
      properties:
        type:
          type: string
          enum:
            - tool_call
        id:
          type: string
        function:
          type: object
          properties:
            name:
              type: string
            arguments:
              type: string
    ToolCall:
      type: object
      required:
        - id
        - type
        - function
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - function
        function:
          type: object
          properties:
            name:
              type: string
            arguments:
              type: string
            description:
              type: string
            parameters:
              type: object
    FunctionToolDefinition:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          enum:
            - function
        function:
          type: object
          required:
            - name
            - parameters
          properties:
            name:
              type: string
            description:
              type: string
            parameters:
              type: object
      additionalProperties: true
    GatewayDatetimeToolDefinition:
      type: object
      description: >
        Gateway-managed server tool. The gateway executes the datetime lookup
        and injects the result back into the model tool loop.
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - gateway:datetime
        parameters:
          type: object
          properties:
            timezone:
              type: string
              description: IANA timezone name (for example Europe/London).
          additionalProperties: false
        timezone:
          type: string
          description: Legacy shortcut for default timezone (IANA).
      additionalProperties: false
    TextGenerateTool:
      oneOf:
        - $ref: '#/components/schemas/FunctionToolDefinition'
        - $ref: '#/components/schemas/GatewayDatetimeToolDefinition'
    TextToolChoice:
      description: >
        Tool selection strategy. `gateway:datetime` is accepted and rewritten by
        the gateway into an upstream function/tool target.
      oneOf:
        - type: string
          enum:
            - auto
            - none
            - required
            - gateway:datetime
        - type: object
    ServerToolUsage:
      type: object
      properties:
        datetime_requests:
          type: integer
          minimum: 0
      additionalProperties: false
    ReasoningConfig:
      type: object
      properties:
        effort:
          type: string
          enum:
            - none
            - minimal
            - low
            - medium
            - high
            - xhigh
          default: medium
        summary:
          type: string
          enum:
            - auto
            - concise
            - detailed
          default: auto
        enabled:
          type: boolean
        max_tokens:
          type: integer
          minimum: 0
    ImageConfig:
      type: object
      properties:
        aspect_ratio:
          type: string
        image_size:
          type: string
          enum:
            - 0.5K
            - 1K
            - 2K
            - 4K
        include_rai_reason:
          type: boolean
        font_inputs:
[...]
