openapi: 3.0.3
info:
  title: AI Stats Gateway API
  description: >-
    A gateway API for accessing various AI models with OpenAI-compatible
    endpoints.
  version: 1.0.0
  contact:
    name: AI Stats
    url: https://docs.ai-stats.phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
security:
  - BearerAuth: []
paths:
  /health:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: healthz
      summary: Health check
      description: Returns the health status of the API.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /gateway/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: List gateway models
      description: Returns models currently servable through the gateway.
      parameters:
        - name: endpoints
          in: query
          description: Filter by endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filter by organisation
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: input_types
          in: query
          description: Filter by input types
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filter by output types
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filter by params
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of models
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  limit:
                    type: integer
                  offset:
                    type: integer
                  total:
                    type: integer
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: List providers
      description: Returns a list of available API providers.
      parameters:
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset for pagination
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of providers
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: Get generation
      description: Retrieve a specific generation by ID.
      parameters:
        - name: id
          in: query
          required: true
          description: The ID of the generation
          schema:
            type: string
      responses:
        '200':
          description: Generation data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: Create chat completion
      description: Creates a completion for the chat message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
  /responses:
    post:
      tags:
        - Gateway
      operationId: createResponse
      summary: Create response
      description: Creates a response using the Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
  /responses/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openResponsesWebSocket
      summary: Open Responses websocket session
      description: >
        Opens a persistent websocket session for OpenAI Responses WebSocket
        mode.

        This route is currently experimental on AI Stats Gateway and is not

        recommended for production workloads.


        WebSocket handshake uses HTTP GET upgrade semantics and returns `101
        Switching Protocols`

        on success (not `200`).


        This endpoint is OpenAI-only, requires `openai/<model>` format, and
        accepts

        `response.create` websocket messages.

        The gateway enforces `store=false`, allows one in-flight response per
        connection,

        and forwards OpenAI Responses streaming events back to the client.


        After upgrade, runtime failures are emitted as websocket `error` events

        (for example `invalid_response_create`, `openai_routing_failed`,

        `response_already_in_flight`, `model_mismatch`, `upstream_websocket_*`)

        rather than additional HTTP response codes.
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/ResponsesWebSocketCreateEvent'
            serverEvent:
              $ref: '#/components/schemas/ResponsesWebSocketServerEvent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesWebSocketUpgradeRequiredResponse'
  /messages:
    post:
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: Create message
      description: Creates a message using the Anthropic Messages API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
      responses:
        '200':
          description: Message response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: Create embeddings
      description: Creates an embedding vector representing the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Embeddings response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: Create moderation
      description: Classifies if text violates OpenAI's usage policies.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: Moderation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: Generate speech
      description: Generates audio from the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: Audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: Create transcription
      description: Transcribes audio into the input language.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: Transcription response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: Create translation
      description: Translates audio into English.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: Translation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: Create image
      description: Creates an image given a prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: Image response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: Create image edit
      description: >-
        Creates an edited or extended image given an original image and a
        prompt.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: Image edit response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
  /videos:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: Create video
      description: Creates a video from a prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '200':
          description: Video response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: Get video status
      description: Retrieves the status for a video generation request.
      parameters:
        - name: video_id
          in: path
          required: true
          description: The ID of the video generation request.
          schema:
            type: string
      responses:
        '200':
          description: Video status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: Delete video
      description: Deletes a video generation request.
      parameters:
        - name: video_id
          in: path
          required: true
          description: The ID of the video generation request.
          schema:
            type: string
      responses:
        '200':
          description: Video deletion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: Get video content
      description: Downloads the rendered video content.
      parameters:
        - name: video_id
          in: path
          required: true
          description: The ID of the video generation request.
          schema:
            type: string
      responses:
        '200':
          description: Video content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: Create OCR
      description: Extracts text from an image using the requested model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCR response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: Generate music
      description: Generates music using the requested model and provider settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Music generation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: Get music generation status
      description: Retrieves the status for a music generation request.
      parameters:
        - name: music_id
          in: path
          required: true
          description: The ID of the music generation request.
          schema:
            type: string
      responses:
        '200':
          description: Music generation status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: Upload file
      description: Placeholder endpoint. File upload is not implemented yet.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '501':
          description: Files endpoint is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: List files
      description: Placeholder endpoint. File listing is not implemented yet.
      responses:
        '501':
          description: Files endpoint is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: Retrieve file
      description: Placeholder endpoint. File retrieval is not implemented yet.
      parameters:
        - name: file_id
          in: path
          required: true
          description: The ID of the file to retrieve.
          schema:
            type: string
      responses:
        '501':
          description: Files endpoint is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
  /batches:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: Create batch
      description: Placeholder endpoint. Batch creation is not implemented yet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '501':
          description: Batch endpoint is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: Retrieve batch
      description: Placeholder endpoint. Batch retrieval is not implemented yet.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: The ID of the batch to retrieve.
          schema:
            type: string
      responses:
        '501':
          description: Batch endpoint is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
  /analytics:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: getAnalytics
      summary: Get analytics
      description: Returns aggregated analytics data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                benchmark_id:
                  $ref: '#/components/schemas/BenchmarkId'
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  status:
                    type: string
                  message:
                    type: string
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: Get remaining credits
      description: Returns the remaining credits and usage statistics for a team.
      parameters:
        - name: team_id
          in: query
          description: The team ID to query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Credit information
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  credits:
                    type: object
                    properties:
                      remaining:
                        type: integer
                        description: Current credit balance in nanos
                        example: 15000000000
                      thirty_day_usage:
                        type: integer
                        description: Credits consumed in the last 30 days (nanos)
                        example: 250000000
                      thirty_day_requests:
                        type: integer
                        description: Number of API requests in the last 30 days
                        example: 1250
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /activity:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivity
      summary: Get activity
      description: Returns recent API activity for a team.
      parameters:
        - name: team_id
          in: query
          description: The team ID to query
          required: true
          schema:
            type: string
        - name: days
          in: query
          description: Number of days to look back
          schema:
            type: integer
            default: 30
            minimum: 1
            maximum: 90
        - name: limit
          in: query
          description: Maximum number of records to return
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Activity data
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  period_days:
                    type: integer
                    example: 30
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 1250
                  total_cost_cents:
                    type: number
                    example: 12.5
                  activity:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityEntry'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /management/keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProvisioningKeys
      summary: List management API keys
      description: Returns all management API keys for a team.
      parameters:
        - name: team_id
          in: query
          description: The team ID to query
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of keys to return
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of management API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 3
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProvisioningKey'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createProvisioningKey
      summary: Create management API key
      description: Creates a new management API key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Name for the key.
                team_id:
                  type: string
                  description: Team scope for internal callers.
                created_by:
                  type: string
                  description: Creator user ID for internal callers.
                scopes:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                status:
                  type: string
                  enum:
                    - active
                    - disabled
                    - revoked
                soft_blocked:
                  type: boolean
      responses:
        '201':
          description: Management API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  key:
                    $ref: '#/components/schemas/ProvisioningKeyWithValue'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Server misconfiguration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /management/keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProvisioningKey
      summary: Get management API key
      description: Returns details of a specific management API key.
      parameters:
        - name: id
          in: path
          description: The management API key ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Management API key details
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  key:
                    $ref: '#/components/schemas/ProvisioningKeyDetail'
        '404':
          description: Key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateProvisioningKey
      summary: Update management API key
      description: Updates the name, status, or blocked state of a management API key.
      parameters:
        - name: id
          in: path
          description: The management API key ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New name for the key
                status:
                  type: string
                  enum:
                    - active
                    - disabled
                    - revoked
                  description: New status for the key
                soft_blocked:
                  type: boolean
                  description: Whether to temporarily block the key
      responses:
        '200':
          description: Key updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Key updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteProvisioningKey
      summary: Delete management API key
      description: Permanently deletes a management API key.
      parameters:
        - name: id
          in: path
          description: The management API key ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Key deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  message:
                    type: string
        '404':
          description: Key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /organisations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOrganisations
      summary: List organisations
      description: Returns a list of available organisations.
      parameters:
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of organisations
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 10
                  organisations:
                    type: array
                    items:
                      type: object
                      properties:
                        organisation_id:
                          type: string
                        name:
                          type: string
                          nullable: true
                        country_code:
                          type: string
                          nullable: true
                        description:
                          type: string
                          nullable: true
                        colour:
                          type: string
                          nullable: true
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPricingModels
      summary: List pricing models
      description: Returns active provider/model pricing entries.
      responses:
        '200':
          description: Pricing model list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  models:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/calculate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: calculatePricing
      summary: Calculate pricing
      description: Calculates price for a usage payload.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
                - model
                - endpoint
                - usage
              properties:
                provider:
                  type: string
                model:
                  type: string
                endpoint:
                  type: string
                usage:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Pricing calculation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  pricing:
                    type: object
                    additionalProperties: true
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Pricing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Calculation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health/providers/{provider_id}/derank:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProviderDerankStatus
      summary: Provider derank status
      description: Returns breaker-based derank/recovery status for a provider.
      parameters:
        - name: provider_id
          in: path
          required: true
          description: Provider identifier.
          schema:
            type: string
        - name: window_hours
          in: query
          description: Observation window in hours.
          schema:
            type: integer
            minimum: 1
            maximum: 168
        - name: max_pairs
          in: query
          description: Max endpoint/model tuples to inspect.
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: fetch_limit
          in: query
          description: Max recent requests to scan.
          schema:
            type: integer
            minimum: 50
            maximum: 2000
      responses:
        '200':
          description: Provider derank snapshot
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid provider id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Invalid control secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Control secret not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /provisioning/keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProvisioningKeysAlias
      summary: List provisioning keys
      description: Alias of management keys endpoint.
      parameters:
        - name: team_id
          in: query
          description: The team ID to query
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of keys to return
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of provisioning keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProvisioningKey'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createProvisioningKeyAlias
      summary: Create provisioning key
      description: Alias of management key create endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                team_id:
                  type: string
                created_by:
                  type: string
                scopes:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                status:
                  type: string
                  enum:
                    - active
                    - disabled
                    - revoked
                soft_blocked:
                  type: boolean
      responses:
        '201':
          description: Provisioning key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  key:
                    $ref: '#/components/schemas/ProvisioningKeyWithValue'
  /provisioning/keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProvisioningKeyAlias
      summary: Get provisioning key
      description: Alias of management key details endpoint.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Provisioning key details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateProvisioningKeyAlias
      summary: Update provisioning key
      description: Alias of management key update endpoint.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Provisioning key updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteProvisioningKeyAlias
      summary: Delete provisioning key
      description: Alias of management key delete endpoint.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Provisioning key deleted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateGatewayKeyCache
      summary: Invalidate key cache
      description: Bumps cache version for key id/kid and invalidates key cache entries.
      parameters:
        - name: id
          in: path
          description: Gateway key ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Key cache invalidated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid key ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Invalid control secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Control secret not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOAuthClient
      summary: Create OAuth client
      description: Creates a team-scoped OAuth client.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - redirect_uris
              properties:
                name:
                  type: string
                description:
                  type: string
                homepage_url:
                  type: string
                  format: uri
                redirect_uris:
                  type: array
                  items:
                    type: string
                    format: uri
                logo_url:
                  type: string
                  format: uri
                privacy_policy_url:
                  type: string
                  format: uri
                terms_of_service_url:
                  type: string
                  format: uri
      responses:
        '201':
          description: OAuth client created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOAuthClients
      summary: List OAuth clients
      description: Lists OAuth clients for the authenticated team.
      responses:
        '200':
          description: OAuth clients list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  pagination:
                    type: object
                    additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients/{client_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getOAuthClient
      summary: Get OAuth client
      description: Returns details for an OAuth client.
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OAuth client details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          description: OAuth app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateOAuthClient
      summary: Update OAuth client
      description: Updates OAuth client metadata and redirect URIs.
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OAuth client updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: OAuth app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteOAuthClient
      summary: Delete OAuth client
      description: Deletes an OAuth client and related metadata.
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OAuth client deleted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          description: OAuth app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients/{client_id}/regenerate-secret:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: regenerateOAuthClientSecret
      summary: Regenerate OAuth client secret
      description: Regenerates and returns a new OAuth client secret.
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OAuth client secret regenerated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          description: OAuth app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /video/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoAlias
      summary: Create video (alias)
      description: Alias of /videos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '200':
          description: Video response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /video/generations/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoAlias
      summary: Get video status (alias)
      description: Alias of /videos/{video_id}.
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Video status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideoAlias
      summary: Delete video (alias)
      description: Alias of /videos/{video_id}.
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Video deletion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /video/generations/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContentAlias
      summary: Get video content (alias)
      description: Alias of /videos/{video_id}/content.
      parameters:
        - name: video_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Video content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /music/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusicAlias
      summary: Generate music (alias)
      description: Alias of /music/generate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Music generation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generations/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGenerationAlias
      summary: Get music generation status (alias)
      description: Alias of /music/generate/{music_id}.
      parameters:
        - name: music_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Music generation status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /batch:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatchAlias
      summary: Create batch (alias)
      description: Alias of /batches. Currently not implemented.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '501':
          description: Batch endpoint is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
  /batch/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchAlias
      summary: Retrieve batch (alias)
      description: Alias of /batches/{batch_id}. Currently not implemented.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '501':
          description: Batch endpoint is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
  /data/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listDataModels
      summary: List data models
      description: Returns source catalogue models from the data_models table.
      parameters:
        - name: include_hidden
          in: query
          description: Include hidden models in results
          schema:
            type: boolean
            default: false
        - name: status
          in: query
          description: Filter by model status
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filter by organisation
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset for pagination
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of data models
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  include_hidden:
                    type: boolean
                  limit:
                    type: integer
                  offset:
                    type: integer
                  total:
                    type: integer
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataModel'
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /realtime:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSessionPlaceholder
      summary: Realtime placeholder
      description: Reserved endpoint for realtime API. Currently returns not implemented.
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSessionsPlaceholder
      summary: Realtime sessions placeholder
      description: >-
        Reserved endpoint for realtime sessions. Currently returns not
        implemented.
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /realtime/client_secrets:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeClientSecretsPlaceholder
      summary: Realtime client secrets placeholder
      description: >-
        Reserved endpoint for realtime client secrets. Currently returns not
        implemented.
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /realtime/calls:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeCallPlaceholder
      summary: Realtime calls placeholder
      description: Reserved endpoint for realtime calls. Currently returns not implemented.
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /realtime/calls/{call_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getRealtimeCallPlaceholder
      summary: Realtime call retrieval placeholder
      description: >-
        Reserved endpoint for realtime call retrieval. Currently returns not
        implemented.
      parameters:
        - name: call_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /audio/realtime:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createAudioRealtimeSessionPlaceholder
      summary: Audio realtime placeholder
      description: Alias of /realtime. Currently returns not implemented.
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createAudioRealtimeSessionsPlaceholder
      summary: Audio realtime sessions placeholder
      description: Alias of /realtime/sessions. Currently returns not implemented.
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /audio/realtime/client_secrets:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createAudioRealtimeClientSecretsPlaceholder
      summary: Audio realtime client secrets placeholder
      description: Alias of /realtime/client_secrets. Currently returns not implemented.
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /audio/realtime/calls:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createAudioRealtimeCallPlaceholder
      summary: Audio realtime calls placeholder
      description: Alias of /realtime/calls. Currently returns not implemented.
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /audio/realtime/calls/{call_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getAudioRealtimeCallPlaceholder
      summary: Audio realtime call retrieval placeholder
      description: Alias of /realtime/calls/{call_id}. Currently returns not implemented.
      parameters:
        - name: call_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '501':
          description: Realtime is not implemented yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeNotImplementedResponse'
  /endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listEndpoints
      summary: List endpoints
      description: Lists currently exposed gateway endpoint IDs and sample models.
      responses:
        '200':
          description: Endpoint metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  endpoints:
                    type: array
                    items:
                      type: string
                  sample_models:
                    type: array
                    items:
                      $ref: '#/components/schemas/ModelId'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProvisioningKeysLegacy
      summary: List keys (legacy alias)
      description: Legacy alias of /management/keys.
      responses:
        '200':
          description: Keys list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProvisioningKey'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createProvisioningKeyLegacy
      summary: Create key (legacy alias)
      description: Legacy alias of /management/keys create.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                team_id:
                  type: string
                created_by:
                  type: string
                scopes:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                status:
                  type: string
                  enum:
                    - active
                    - disabled
                    - revoked
                soft_blocked:
                  type: boolean
      responses:
        '201':
          description: Created key
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  key:
                    $ref: '#/components/schemas/ProvisioningKeyWithValue'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProvisioningKeyLegacy
      summary: Get key (legacy alias)
      description: Legacy alias of /management/keys/{id} using query parameter id.
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Key information
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  key:
                    $ref: '#/components/schemas/ProvisioningKeyDetail'
tags:
  - name: Gateway
    description: Core AI Stats Gateway operations.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication
  schemas:
    ProviderRoutingOptions:
      type: object
      description: Provider routing preferences for gateway selection.
      properties:
        order:
          type: array
          items:
            type: string
        only:
          type: array
          items:
            type: string
        ignore:
          type: array
          items:
            type: string
        include_alpha:
          type: boolean
          description: Include alpha providers in routing (off by default).
    DebugOptions:
      type: object
      description: Gateway debug controls. These flags are never forwarded upstream.
      properties:
        enabled:
          type: boolean
        return_upstream_request:
          type: boolean
        return_upstream_response:
          type: boolean
        trace:
          type: boolean
        trace_level:
          type: string
          enum:
            - summary
            - full
    Provider:
      type: object
      properties:
        api_provider_id:
          type: string
          example: openai
        api_provider_name:
          type: string
          nullable: true
          example: OpenAI
        description:
          type: string
          nullable: true
        link:
          type: string
          nullable: true
          example: https://openai.com
        country_code:
          type: string
          nullable: true
          example: US
    Model:
      type: object
      properties:
        model_id:
          type: string
        name:
          type: string
        release_date:
          type: string
        status:
          type: string
        organisation_id:
          type: string
        aliases:
          type: array
          items:
            type: string
        endpoints:
          type: array
          items:
            type: string
        input_types:
          type: array
          items:
            type: string
        output_types:
          type: array
          items:
            type: string
        providers:
          type: array
          items:
            type: object
            properties:
              api_provider_id:
                type: string
              params:
                type: array
                items:
                  type: string
    DataModelOrganisation:
      type: object
      nullable: true
      properties:
        organisation_id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        country_code:
          type: string
          nullable: true
        colour:
          type: string
          nullable: true
    DataModel:
      type: object
      properties:
        model_id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        release_date:
          type: string
          nullable: true
        deprecation_date:
          type: string
          nullable: true
        retirement_date:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        hidden:
          type: boolean
        input_types:
          type: array
          items:
            type: string
        output_types:
          type: array
          items:
            type: string
        organisation:
          $ref: '#/components/schemas/DataModelOrganisation'
    ChatCompletionsRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
        system:
          type: string
        messages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ChatMessage'
        reasoning:
          $ref: '#/components/schemas/ReasoningConfig'
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2
        logit_bias:
          type: object
          additionalProperties:
            type: number
        max_output_tokens:
          type: integer
          minimum: 1
        max_completion_tokens:
          type: integer
          minimum: 1
        max_tokens:
          type: integer
          minimum: 1
        meta:
          type: boolean
          default: false
        debug:
          $ref: '#/components/schemas/DebugOptions'
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
        seed:
          type: integer
          minimum: -9223372036854776000
          maximum: 9223372036854776000
        stream:
          type: boolean
          default: false
        stream_options:
          type: object
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
        tools:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - function
        max_tool_calls:
          type: integer
          minimum: 1
        parallel_tool_calls:
          type: boolean
          default: true
        tool_choice:
          oneOf:
            - type: string
            - type: object
        top_k:
          type: integer
          minimum: 1
        logprobs:
          type: boolean
          default: false
        top_logprobs:
          type: integer
          minimum: 0
          maximum: 20
        top_p:
          type: number
          minimum: 0
          maximum: 1
        response_format:
          oneOf:
            - type: string
            - type: object
              properties:
                type:
                  type: string
                schema:
                  type: object
        modalities:
          type: array
          items:
            type: string
        response_modalities:
          type: array
          items:
            type: string
        responseModalities:
          type: array
          items:
            type: string
        image_config:
          $ref: '#/components/schemas/ImageConfig'
        imageConfig:
          $ref: '#/components/schemas/ImageConfig'
        thinking:
          $ref: '#/components/schemas/ThinkingConfig'
        usage:
          type: boolean
        provider:
          $ref: '#/components/schemas/ProviderRoutingOptions'
        user_id:
          type: string
        user:
          type: string
        service_tier:
          type: string
          enum:
            - auto
            - default
            - flex
            - standard
            - priority
          default: standard
        speed:
          type: string
    ChatMessage:
      type: object
      required:
        - role
      properties:
        role:
          type: string
          enum:
            - system
            - user
            - assistant
            - tool
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/MessageContentPart'
        name:
          type: string
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/ToolCall'
        tool_call_id:
          type: string
      discriminator:
        propertyName: role
    MessageContentPart:
      oneOf:
        - $ref: '#/components/schemas/TextContentPart'
        - $ref: '#/components/schemas/ImageContentPart'
        - $ref: '#/components/schemas/AudioContentPart'
        - $ref: '#/components/schemas/VideoContentPart'
        - $ref: '#/components/schemas/ToolCallContentPart'
    TextContentPart:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum:
            - text
        text:
          type: string
    ImageContentPart:
      type: object
      required:
        - type
        - image_url
      properties:
        type:
          type: string
          enum:
            - image_url
        image_url:
          type: object
          properties:
            url:
              type: string
              description: HTTP(S) URL or data URI.
    AudioContentPart:
      type: object
      required:
        - type
        - input_audio
      properties:
        type:
          type: string
          enum:
            - input_audio
        input_audio:
          type: object
          properties:
            data:
              type: string
            format:
              type: string
              enum:
                - wav
                - mp3
                - flac
                - m4a
                - ogg
                - pcm16
                - pcm24
    VideoContentPart:
      type: object
      required:
        - type
        - video_url
      properties:
        type:
          type: string
          enum:
            - input_video
        video_url:
          type: string
          format: uri
    ToolCallContentPart:
      type: object
      required:
        - type
        - id
        - function
      properties:
        type:
          type: string
          enum:
            - tool_call
        id:
          type: string
        function:
          type: object
          properties:
            name:
              type: string
            arguments:
              type: string
    ToolCall:
      type: object
      required:
        - id
        - type
        - function
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - function
        function:
          type: object
          properties:
            name:
              type: string
            arguments:
              type: string
            description:
              type: string
            parameters:
              type: object
    ReasoningConfig:
      type: object
      properties:
        effort:
          type: string
          enum:
            - none
            - minimal
            - low
            - medium
            - high
            - xhigh
          default: medium
        summary:
          type: string
          enum:
            - auto
            - concise
            - detailed
          default: auto
        enabled:
          type: boolean
        max_tokens:
          type: integer
          minimum: 0
        include_thoughts:
          type: boolean
        includeThoughts:
          type: boolean
    ThinkingConfig:
      type: object
      properties:
        type:
          type: string
          enum:
            - enabled
            - disabled
            - adaptive
        enabled:
          type: boolean
        include_thoughts:
          type: boolean
        includeThoughts:
          type: boolean
        effort:
          type: string
          enum:
            - none
            - minimal
            - low
            - medium
            - high
            - xhigh
            - max
        max_tokens:
          type: integer
          minimum: 0
        maxTokens:
          type: integer
          minimum: 0
        budget_tokens:
          type: integer
          minimum: 0
        budgetTokens:
          type: integer
          minimum: 0
    ImageConfig:
      type: object
      properties:
        aspect_ratio:
          type: string
        aspectRatio:
          type: string
        image_size:
          type: string
          enum:
            - 0.5K
            - 1K
            - 2K
            - 4K
        imageSize:
          type: string
          enum:
            - 0.5K
            - 1K
            - 2K
            - 4K
        include_rai_reason:
          type: boolean
        includeRaiReason:
          type: boolean
        font_inputs:
          type: array
          items:
            type: object
            properties:
              font_url:
                type: string
                format: uri
              text:
                type: string
        fontInputs:
          type: array
          items:
            type: object
            properties:
              fontUrl:
                type: string
                format: uri
              text:
                type: string
        super_resolution_references:
          type: array
          items:
            type: string
        superResolutionReferences:
          type: array
          items:
            type: string
        reference_images:
          type: array
          items:
            type: object
            additionalProperties: true
        referenceImages:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    ChatCompletionsResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            $ref: '#/components/schemas/ChatChoice'
        usage:
          $ref: '#/components/schemas/Usage'
    ChatChoice:
      type: object
      properties:
        index:
          type: integer
        message:
          $ref: '#/components/schemas/ChatMessage'
        finish_reason:
          type: string
          enum:
            - stop
            - length
            - tool_calls
            - content_filter
    Usage:
      type: object
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
    AnthropicMessagesRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
        system:
          oneOf:
            - type: string
            - type: array
              items:
                type: object
        messages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/AnthropicMessage'
        max_tokens:
          type: integer
          minimum: 1
        temperature:
          type: number
          minimum: 0
          maximum: 2
        top_p:
          type: number
          minimum: 0
          maximum: 1
        top_k:
          type: integer
          minimum: 1
        tools:
          type: array
          items:
            $ref: '#/components/schemas/AnthropicTool'
        tool_choice:
          oneOf:
            - type: string
            - type: object
        stream:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            type: string
        modalities:
          type: array
          items:
            type: string
        response_modalities:
          type: array
          items:
            type: string
        responseModalities:
          type: array
          items:
            type: string
        image_config:
          $ref: '#/components/schemas/ImageConfig'
        imageConfig:
          $ref: '#/components/schemas/ImageConfig'
        thinking:
          $ref: '#/components/schemas/ThinkingConfig'
        debug:
          $ref: '#/components/schemas/DebugOptions'
        provider:
          $ref: '#/components/schemas/ProviderRoutingOptions'
    AnthropicMessagesResponse:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        role:
          type: string
          enum:
            - assistant
        model:
          type: string
        content:
          type: array
          items:
            $ref: '#/components/schemas/AnthropicContentBlock'
        stop_reason:
          type: string
        stop_sequence:
          type: string
        usage:
          $ref: '#/components/schemas/AnthropicUsage'
    AnthropicMessage:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum:
            - user
            - assistant
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/AnthropicContentBlock'
    AnthropicContentBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - text
            - image
            - tool_use
            - tool_result
        text:
          type: string
        source:
          type: object
          properties:
            type:
              type: string
            media_type:
              type: string
            data:
              type: string
            url:
              type: string
        id:
          type: string
        name:
          type: string
        input:
          type: object
        tool_use_id:
          type: string
        content:
          type: string
    AnthropicTool:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string
        input_schema:
          type: object
    AnthropicUsage:
      type: object
      properties:
        input_tokens:
          type: integer
        output_tokens:
          type: integer
    ResponsesRequest:
      type: object
      required:
        - model
      properties:
        model:
          type: string
        input:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/ResponsesInputItem'
            - type: object
        input_items:
          type: array
          items:
            $ref: '#/components/schemas/ResponsesInputItem'
        conversation:
          oneOf:
            - type: string
            - type: object
        include:
          type: array
          items:
            type: string
        instructions:
          type: string
        max_output_tokens:
          type: integer
          minimum: 1
        max_completion_tokens:
          type: integer
          minimum: 1
        max_tokens:
          type: integer
          minimum: 1
        max_tool_calls:
          type: integer
          minimum: 0
        metadata:
          type: object
          additionalProperties:
            type: string
        parallel_tool_calls:
          type: boolean
        previous_response_id:
          type: string
        prompt:
          type: object
          properties:
            id:
              type: string
            variables:
              type: object
            version:
              type: string
        prompt_cache_key:
          type: string
        prompt_cache_retention:
          type: string
        provider_options:
          type: object
          description: >
            Optional provider-specific options. Currently only OpenAI
            `context_management` is supported on `/v1/responses`.
          properties:
            openai:
              type: object
              properties:
                context_management:
                  type: object
                  description: |
                    Optional OpenAI context management configuration.
                  properties:
                    type:
                      type: string
                      enum:
                        - compaction
                    compact_threshold:
                      type: number
                  required:
                    - type
        providerOptions:
          type: object
          description: |
            Camel-case alias of `provider_options`.
          properties:
            openai:
              type: object
              properties:
                contextManagement:
                  type: object
                  description: |
                    Optional OpenAI context management configuration.
                  properties:
                    type:
                      type: string
                      enum:
                        - compaction
                    compactThreshold:
                      type: number
                  required:
                    - type
        reasoning:
          type: object
          properties:
            effort:
              type: string
              enum:
                - none
                - minimal
                - low
                - medium
                - high
                - xhigh
            summary:
              type: string
            enabled:
              type: boolean
            max_tokens:
              type: integer
              minimum: 0
        thinking:
          $ref: '#/components/schemas/ThinkingConfig'
        modalities:
          type: array
          items:
            type: string
        response_modalities:
          type: array
          items:
            type: string
        responseModalities:
          type: array
          items:
            type: string
        image_config:
          $ref: '#/components/schemas/ImageConfig'
        imageConfig:
          $ref: '#/components/schemas/ImageConfig'
        safety_identifier:
          type: string
        service_tier:
          type: string
        speed:
          type: string
        store:
          type: boolean
        stream:
          type: boolean
        stream_options:
          type: object
        temperature:
          type: number
          minimum: 0
          maximum: 2
        text:
          type: object
        tool_choice:
          oneOf:
            - type: string
            - type: object
        tools:
          type: array
          items:
            type: object
        top_logprobs:
          type: integer
          minimum: 0
          maximum: 20
        top_p:
          type: number
          minimum: 0
          maximum: 1
        truncation:
          type: string
        background:
          type: boolean
        user:
          type: string
        usage:
          type: boolean
        meta:
          type: boolean
        debug:
          $ref: '#/components/schemas/DebugOptions'
        provider:
          $ref: '#/components/schemas/ProviderRoutingOptions'
    ResponsesResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        output:
          type: array
          items:
            $ref: '#/components/schemas/ResponsesOutputItem'
        output_items:
          type: array
          items:
            $ref: '#/components/schemas/ResponsesOutputItem'
        content:
          type: array
          items:
            type: object
        role:
          type: string
        stop_reason:
          type: string
        type:
          type: string
        usage:
          $ref: '#/components/schemas/Usage'
    ResponsesInputItem:
      type: object
      description: >
        Responses API input item. Assistant messages support `phase`: use
        `commentary` for intermediate assistant messages and `final_answer` for
        final assistant messages. On follow-up turns, preserve and resend
        assistant messages with their original `phase` values.
      properties:
        type:
          type: string
        role:
          type: string
          enum:
            - user
            - assistant
            - system
            - developer
        content:
          oneOf:
            - type: string
            - type: array
              items:
                type: object
            - type: object
        phase:
          type: string
          nullable: true
          description: >
            Optional assistant message phase. Not used for user/system/developer
            messages.
          enum:
            - commentary
            - final_answer
          example: commentary
    ResponsesOutputItem:
      type: object
      description: >
        Responses API output item. Assistant message items may include `phase`
        as `commentary` (intermediate) or `final_answer` (final).
      properties:
        type:
          type: string
        role:
          type: string
        content:
          type: array
          items:
            type: object
        phase:
          type: string
          nullable: true
          description: |
            Optional assistant message phase returned by the model.
          enum:
            - commentary
            - final_answer
          example: final_answer
    ResponsesWebSocketCreateEvent:
      type: object
      description: >
        Client message for websocket turn creation. Gateway performs lightweight
        validation (`type` and `model` format) before forwarding to OpenAI;
        deeper request-shape validation is enforced by upstream.
      required:
        - type
        - model
      properties:
        type:
          type: string
          enum:
            - response.create
        model:
          type: string
          description: |
            OpenAI model id in provider/model format: `openai/<model>`.
        previous_response_id:
          type: string
          nullable: true
        input:
          description: New input items for this turn.
          oneOf:
            - type: string
            - type: array
              items:
                type: object
            - type: object
        tools:
          type: array
          items:
            type: object
        tool_choice:
          oneOf:
            - type: string
            - type: object
        store:
          type: boolean
          description: Ignored by gateway. Always forced to false on this endpoint.
      additionalProperties: true
    ResponsesWebSocketServerEvent:
      type: object
      description: >
        Streamed websocket event. Mirrors OpenAI Responses event payloads (for
        example `response.created`, `response.output_text.delta`,
        `response.completed`, or `error`).
      properties:
        type:
          type: string
        response:
          type: object
        error:
          type: object
        status:
          type: integer
      additionalProperties: true
    ResponsesWebSocketUpgradeRequiredResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
              example: invalid_request_error
            code:
              type: string
              example: websocket_upgrade_required
            message:
              type: string
              example: Use WebSocket upgrade for /v1/responses/ws.
    EmbeddingsRequest:
      type: object
      properties:
        model:
          type: string
        input:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        inputs:
          description: Alias for input.
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        encoding_format:
          type: string
        dimensions:
          type: integer
          minimum: 1
        embedding_options:
          type: object
          properties:
            google:
              type: object
              properties:
                output_dimensionality:
                  type: integer
                  minimum: 1
                task_type:
                  type: string
                  enum:
                    - TASK_TYPE_UNSPECIFIED
                    - RETRIEVAL_QUERY
                    - RETRIEVAL_DOCUMENT
                    - SEMANTIC_SIMILARITY
                    - CLASSIFICATION
                title:
                  type: string
            mistral:
              type: object
              properties:
                output_dimension:
                  type: integer
                  minimum: 1
                  nullable: true
                output_dtype:
                  type: string
                  enum:
                    - float
                    - int8
                    - uint8
                    - binary
                    - ubinary
        user:
          type: string
        debug:
          $ref: '#/components/schemas/DebugOptions'
        provider:
          $ref: '#/components/schemas/ProviderRoutingOptions'
      anyOf:
        - required:
            - model
            - input
        - required:
            - model
            - inputs
    EmbeddingsResponse:
      type: object
      properties:
        object:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Embedding'
        model:
          type: string
        usage:
          $ref: '#/components/schemas/Usage'
    Embedding:
      type: object
      properties:
        object:
          type: string
        embedding:
          type: array
          items:
            type: number
        index:
          type: integer
    ModerationsRequest:
      type: object
      required:
        - model
        - input
      properties:
        model:
          type: string
        meta:
          type: boolean
          default: false
        debug:
          $ref: '#/components/schemas/DebugOptions'
        input:
          oneOf:
            - type: string
            - type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/TextModerationInput'
                  - $ref: '#/components/schemas/ImageModerationInput'
        provider:
          $ref: '#/components/schemas/ProviderRoutingOptions'
    TextModerationInput:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum:
            - text
        text:
          type: string
    ImageModerationInput:
      type: object
      required:
        - type
        - image_url
      properties:
        type:
          type: string
          enum:
            - image_url
        image_url:
          type: object
          properties:
            url:
              type: string
              format: uri
    ModerationsResponse:
      type: object
      properties:
        id:
          type: string
        model:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/ModerationResult'
    ModerationResult:
      type: object
      properties:
        flagged:
          type: boolean
        categories:
          $ref: '#/components/schemas/ModerationCategories'
        category_scores:
          $ref: '#/components/schemas/ModerationCategoryScores'
    ModerationCategories:
      type: object
      properties:
        hate:
          type: boolean
        hate/threatening:
          type: boolean
        harassment:
          type: boolean
        harassment/threatening:
          type: boolean
        self-harm:
          type: boolean
        self-harm/intent:
          type: boolean
        self-harm/instructions:
          type: boolean
        sexual:
          type: boolean
        sexual/minors:
          type: boolean
        violence:
          type: boolean
        violence/graphic:
          type: boolean
    ModerationCategoryScores:
      type: object
      properties:
        hate:
[...]
