openapi: 3.0.3
info:
  title: Phaseo Gateway API
  version: 1.0.0
servers:
  - url: https://api.phaseo.app/v1
    description: Global routing
security:
  - BearerAuth: []
paths:
  /apps:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceApps
      summary: Workspace-Anwendungen auflisten
      description: Listet automatisch zugeordnete Workspace-Anwendungen und ihre bearbeitbaren Metadaten auf. Erfordert die Berechtigung `settings:read`.
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: Workspace-Anwendungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppListResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /presets/publisher:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetPublisher
      summary: Öffentlichen Herausgeber-Handle für Presets abrufen
      description: Gibt den kanonischen öffentlichen Publisher-Handle für die Workspace-Presets zurück.
      responses:
        '200':
          description: Herausgeber-Handle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetPublisher
      summary: Publisher-Kennung für Voreinstellungen aktualisieren
      description: Benennt die Publisher-Kennung des Arbeitsbereichs um und behält die vorherige Kennung als Alias bei.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetPublisherUpdateRequest'
      responses:
        '200':
          description: Publisher-Kennung aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
        '400':
          description: Ungültige Publisher-Kennung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Die Publisher-Kennung ist nicht verfügbar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: Sprachausgabe erzeugen
      description: Erzeugt Audio aus dem eingegebenen Text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: Audiodatei
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: Transkription erstellen
      description: Transkribiert Audio in die Eingabesprache.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: Transkriptionsantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: Übersetzung erstellen
      description: Übersetzt das Audio ins Englische.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: Übersetzungsantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: Bild erstellen
      description: Erstellt anhand einer Eingabeaufforderung ein Bild.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: Bildantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: Bildbearbeitung erstellen
      description: Erstellt ausgehend von einem Originalbild und einer Eingabeaufforderung ein bearbeitetes oder erweitertes Bild.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: Antwort zur Bildbearbeitung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: OCR ausführen
      description: Extrahiert mit dem angeforderten Modell Text aus einem Bild.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCR-Antwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: Musik erzeugen
      description: Erzeugt Musik über einen einzelnen anbieterunabhängigen Endpoint. Phaseo wartet auf synchrone Anbieter und übernimmt die Abfrage ihrer Warteschlangen intern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Antwort zur Musikgenerierung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listEndpoints
      summary: Endpoints auflisten
      description: Listet die auf Funktionen basierenden Gateway-Endpoint-IDs mit öffentlichen Pfaden, Modalitätssammlungen, Modell- und Anbieteranzahlen sowie Beispielmodellen auf.
      responses:
        '200':
          description: Endpoint-Metadaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointCatalogueResponse'
  /files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: Dateien auflisten
      description: Gibt mit dem gemeinsam genutzten Gateway-Schlüssel derzeit `not_supported` zurück. Speichere stattdessen die IDs hochgeladener Dateien und rufe sie direkt ab.
      responses:
        '400':
          description: Die Dateiliste wird im aktuellen Gateway-Modus nicht unterstützt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPricingModels
      summary: Modellpreise auflisten
      description: Gibt aktive Preiseinträge für Anbieter und Modelle zurück.
      responses:
        '200':
          description: Modellpreisliste
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  models:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '500':
          description: Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: Moderation durchführen
      description: Prüft, ob ein Text gegen die Nutzungsrichtlinien von OpenAI verstößt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: Moderationsergebnis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: Embeddings erstellen
      description: Erstellt einen Embedding-Vektor, der den eingegebenen Text repräsentiert.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Embedding-Antwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: Dokumente neu ordnen
      description: Ordnet eine Liste von Dokumenten nach ihrer Relevanz für eine Anfrage neu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: Antwort zur Neusortierung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: Dokumentbild analysieren
      description: Verarbeitet ein Dokumentbild zu Markdown oder geordneten Inhaltsblöcken. Die aktuelle Cohere Parse API akzeptiert URLs für entfernte Bilder und base64-kodierte Bilddaten-URIs; PDF- und Datei-URLs werden noch nicht unterstützt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: Analysiertes Dokument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /budgets/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceBudget
      summary: Workspace-Ausgabenlimit löschen
      description: Entfernt eine Ausgabenobergrenze für den Workspace und setzt die Durchsetzung für dieses Intervall aus.
      responses:
        '200':
          description: Workspace-Budget gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetDeleteResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceBudget
      summary: Workspace-Budget abrufen
      description: Gibt eine Ausgabenobergrenze des Arbeitsbereichs mit aktuellem Verbrauch und verbleibendem Betrag zurück.
      responses:
        '200':
          description: Workspace-Budget
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceBudget
      summary: Workspace-Budget aktualisieren
      description: Ändert den Zeitraum oder die USD-Obergrenze eines bestehenden Workspace-Budgets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBudgetUpdateInput'
      responses:
        '200':
          description: Workspace-Budget aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteProviderCredential
      summary: Anbieterzugangsdaten löschen
      description: Entfernt Anbieterzugangsdaten dauerhaft. Eine wiederholte Löschung ist unbedenklich.
      responses:
        '200':
          description: Anbieterzugangsdaten gelöscht oder bereits nicht vorhanden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialDeleteResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProviderCredential
      summary: Anbieter-Anmeldedaten abrufen
      description: Gibt sichere Metadaten zurück, ohne verschlüsselte Felder oder das rohe Geheimnis offenzulegen.
      responses:
        '200':
          description: Metadaten der Anbieter-Anmeldedaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateProviderCredential
      summary: Anbieter-Anmeldedaten aktualisieren
      description: Aktualisiert Metadaten, Filter oder Routing-Gruppe der Anmeldedaten oder ersetzt das nur beschreibbare Geheimnis.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialUpdateRequest'
      responses:
        '200':
          description: Anbieter-Anmeldedaten aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: Workspace-Abteilung löschen
      description: Löscht eine manuell verwaltete Abteilung. Mit einem Verzeichnis synchronisierte Abteilungen können hier nicht gelöscht werden.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Abteilung gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: Arbeitsbereichsabteilung aktualisieren
      description: Aktualisiert Name, Beschreibung, Symbol oder Farbe der Abteilung, ohne ihre Verzeichniszuordnung zu entfernen.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: Abteilung aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceGroupMapping
      summary: Verzeichnis-Gruppenzuordnung löschen
      description: Entfernt eine bereitgestellte Gruppenzuordnung aus dem Workspace.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Gruppenzuordnung gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceGroupMapping
      summary: Verzeichnis-Gruppenzuordnung aktualisieren
      description: Aktualisiert die durch eine Zuordnung festgelegte Zugriffsrolle oder Abteilungsposition.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingUpdateRequest'
      responses:
        '200':
          description: Gruppenzuordnung aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /data-contribution/classifiers/{id}:
    parameters:
      - $ref: '#/components/parameters/DataContributionClassifierId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteDataContributionClassifier
      summary: Datenbeitragsklassifikator löschen
      description: Löscht einen benutzerdefinierten Klassifikator. Der integrierte Startklassifikator kann nicht gelöscht werden.
      responses:
        '200':
          description: Klassifikator gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierDeleteResponse'
        default:
          description: Anfrage fehlgeschlagen oder Funktion nicht verfügbar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateDataContributionClassifier
      summary: Datenbeitragsklassifizierer aktualisieren
      description: Aktualisiert einen benutzerdefinierten Workspace-Klassifizierer. Erfordert `settings:write` und Funktionszugriff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataContributionClassifierUpdateRequest'
      responses:
        '200':
          description: Klassifizierer aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierResponse'
        default:
          description: Anfrage fehlgeschlagen oder Funktion nicht verfügbar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/OAuthClientId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteOAuthClient
      summary: OAuth-Client löschen
      description: Löscht den Client, nachdem seine aktiven Autorisierungen widerrufen wurden.
      responses:
        '200':
          description: OAuth-Client gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientDeleteResponse'
        default:
          description: Anfrage fehlgeschlagen oder Funktion nicht verfügbar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getOAuthClient
      summary: OAuth-Client abrufen
      description: Gibt eine aktive OAuth-Anwendung zurück. Erfordert `oauth_clients:read` und die OAuth-Betafunktion.
      responses:
        '200':
          description: OAuth-Client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: Anfrage fehlgeschlagen oder Funktion nicht verfügbar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateOAuthClient
      summary: OAuth-Client aktualisieren
      description: Aktualisiert Metadaten, Scopes oder Weiterleitungs-URIs der OAuth-Anwendung. `oauth_clients:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientUpdateRequest'
      responses:
        '200':
          description: OAuth-Client aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: Anfrage fehlgeschlagen oder Funktion nicht verfügbar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhook-endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/WebhookEndpointId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWebhookEndpoint
      summary: Webhook-Endpoint löschen
      description: Deaktiviert einen Webhook-Endpoint logisch und stoppt künftige Zustellungen. Erfordert `settings:write`.
      responses:
        '200':
          description: Webhook-Endpoint gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointDeleteResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWebhookEndpoint
      summary: Webhook-Endpoint abrufen
      description: Gibt einen asynchronen Webhook-Endpoint ohne Signaturgeheimnis zurück. Erfordert `settings:read`.
      responses:
        '200':
          description: Webhook-Endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWebhookEndpoint
      summary: Webhook-Endpunkt aktualisieren
      description: Aktualisiert die Zustellungseinstellungen des Endpunkts. `settings:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
      responses:
        '200':
          description: Webhook-Endpunkt aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: SCIM-Token widerrufen
      description: Widerruft ein Bereitstellungstoken. Erfordert `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Token widerrufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceNotificationDestination
      summary: Benachrichtigungsziel löschen
      description: Deaktiviert ein Benachrichtigungsziel des Workspace logisch und nimmt es aus der künftigen Weiterleitung.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ziel gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}/test:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: testWorkspaceNotificationDestination
      summary: Gespeichertes Benachrichtigungsziel testen
      description: Sendet einen Test über ein vorhandenes verschlüsseltes Ziel des Workspace.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Test zugestellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationTestResponse'
        default:
          description: Test fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guardrails/{id}:
    parameters:
      - $ref: '#/components/parameters/GuardrailId'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGuardrail
      summary: Guardrail abrufen
      description: Gibt ein Guardrail und die IDs der ihm zugewiesenen Schlüssel zurück. Erfordert `guardrails:read`.
      responses:
        '200':
          description: Guardrail-Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDetailResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteGuardrail
      summary: Guardrail löschen
      description: Löscht ein Guardrail und seine Zuweisungen. Erfordert `guardrails:delete`.
      responses:
        '200':
          description: Guardrail gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDeleteResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateGuardrail
      summary: Guardrail aktualisieren
      description: Aktualisiert die Richtlinienfelder der Sicherheitsleitplanke. Erfordert `guardrails:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuardrailUpdateRequest'
      responses:
        '200':
          description: Sicherheitsleitplanke aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: SSO-Einstellungen des Workspace abrufen
      description: Gibt die SAML- oder benutzerdefinierten OIDC-Einstellungen des Workspace zurück. Erfordert `settings:read` und eine Eigentümer- oder Adminidentität.
      responses:
        '200':
          description: SSO-Einstellungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: SSO-Einstellungen des Arbeitsbereichs aktualisieren
      description: Aktualisiert SAML- oder benutzerdefinierte OIDC-Einstellungen. Zum Aktivieren von SSO sind das Identity-Add-on und `settings:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: SSO-Einstellungen aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: Anfrage fehlgeschlagen oder Add-on erforderlich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: SCIM-Auditereignisse auflisten
      description: Listet die letzten SCIM-Bereitstellungsaktivitäten des Workspace auf.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: SCIM-Auditereignisse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: Workspace-Abteilungen auflisten
      description: Listet manuell verwaltete und mit dem Verzeichnis synchronisierte Abteilungen auf.
      responses:
        '200':
          description: Workspace-Abteilungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: Arbeitsbereichsabteilung erstellen
      description: Erstellt eine manuell verwaltete Abteilung. `settings:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: Abteilung erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: Verzeichnis-Gruppenzuordnungen auflisten
      description: Listet Zuordnungen bereitgestellter Gruppen zu Workspace-Rollen und -Abteilungen auf.
      responses:
        '200':
          description: Verzeichnis-Gruppenzuordnungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: Verzeichnis-Gruppenzuordnung erstellen
      description: Ordnet eine bereitgestellte Gruppe einer Arbeitsbereichsabteilung und einer Zugriffsrolle zu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingCreateRequest'
      responses:
        '201':
          description: Gruppenzuordnung erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOAuthClients
      summary: OAuth-Clients auflisten
      description: Listet aktive OAuth-Anwendungen des Workspace auf. Erfordert `oauth_clients:read` und die OAuth-Betafunktion.
      responses:
        '200':
          description: OAuth-Clientliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientListResponse'
        default:
          description: Anfrage fehlgeschlagen oder Funktion nicht verfügbar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOAuthClient
      summary: OAuth-Client erstellen
      description: Erstellt eine öffentliche oder vertrauliche OAuth-Anwendung. Vertrauliche Geheimnisse werden nur einmal zurückgegeben. `oauth_clients:write` und die OAuth-Betafunktion erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientCreateRequest'
      responses:
        '201':
          description: OAuth-Client erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientCreateResponse'
        default:
          description: Anfrage fehlgeschlagen oder Funktion nicht verfügbar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayFeedback
      summary: Gateway-Feedback auflisten
      description: Listet Workspace-Feedback mit Filtern für Ziel, Datum, Bewertung und Metadatendimension auf. Erfordert `feedback:read`.
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: rating
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: Feedback-Datensätze
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackListResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayFeedback
      summary: Gateway-Feedback erstellen
      description: Erfasst Feedback zu einer Anfrage, Sitzung, Voreinstellung oder einem Voreinstellungstestlauf. Erfordert `feedback:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayFeedbackCreateRequest'
      responses:
        '201':
          description: Feedback erfasst
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback/summary:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: summarizeGatewayFeedback
      summary: Gateway-Feedback zusammenfassen
      description: Fasst Workspace-Feedback nach Preset, Testlauf oder Metadatendimension zusammen.
      parameters:
        - name: group_by
          in: query
          schema:
            type: string
            enum:
              - preset
              - preset_id
              - test_run
              - test_run_id
              - metadata
            default: preset
        - name: metadata_key
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Feedback-Zusammenfassung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackSummaryResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /events:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayObservabilityEvents
      summary: Gateway-Beobachtbarkeitsereignisse auflisten
      description: Listet benutzerdefinierte Workspace-Ereignisse zu Ergebnissen und Verhalten auf. Erfordert `feedback:read`.
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: Beobachtbarkeitsereignisse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventListResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayObservabilityEvent
      summary: Observability-Ereignis erstellen
      description: Erfasst ein benutzerdefiniertes Ergebnis- oder Verhaltensereignis, das mit einer Anfrage, Sitzung, Voreinstellung oder einem Testlauf verknüpft ist. Erfordert `feedback:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayObservabilityEventCreateRequest'
      responses:
        '201':
          description: Ereignis erfasst
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      x-beta: true
      tags:
        - Gateway
      operationId: getHealth
      summary: Gesundheitsprüfung
      description: Gibt einen minimalen Statusüberblick des Gateways zurück.
      responses:
        '200':
          description: Gateway-Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: Anbieter auflisten
      description: Gibt eine Liste der verfügbaren API-Anbieter zurück.
      parameters:
        - name: limit
          in: query
          description: Anzahl der Ergebnisse begrenzen
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset für die Paginierung
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Anbieterliste
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: Fehler
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: Generierung abrufen
      description: Ruft eine bestimmte Generierung anhand ihrer ID ab.
      parameters:
        - name: id
          in: query
          required: true
          description: ID der Generierung
          schema:
            type: string
      responses:
        '200':
          description: Generierungsdaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: Nicht gefunden
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: Chat-Vervollständigung erstellen
      description: Erstellt eine Vervollständigung für die Chat-Nachricht.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Integriertes Datum-Uhrzeit-Servertool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: Antwort der Chat-Vervollständigung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      tags:
        - Gateway
      operationId: createResponse
      summary: Antwort erstellen
      description: Erstellt eine Antwort mit der Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Integriertes Datum-Uhrzeit-Servertool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: Antwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: Nachricht erstellen
      description: Erstellt eine Nachricht mit der Anthropic Messages API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Integriertes Datum-Uhrzeit-Servertool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: Nachrichtenantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: Echtzeit-Audiositzung erstellen
      description: Erstellt eine Echtzeit-Audiositzung mit Nutzungsabrechnung und gibt die Verbindungsdaten des Relays zurück.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Echtzeitsitzung erstellt
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: Gateway-Modelle auflisten
      description: Gibt gemeinsam genutzte, nicht ausgeblendete Gateway-Modelle zurück. Standardmäßig werden aktuell öffentlich routbare Modelle angezeigt; mit `availability=all` lassen sich nicht routbare Verfügbarkeitsdatensätze einbeziehen.
      parameters:
        - name: search
          in: query
          description: Case-insensitive search across model ids, names, descriptions, and organisations.
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: Case-insensitive provider or model-organisation search.
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: Require a supported input modality.
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: Require at least this many input context tokens.
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: Maximum USD input-token price per million tokens.
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: Return only models with at least one routable gateway offer.
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: Field used to order model discovery results.
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: Optional sort direction. Price sorts default to ascending; other numeric sorts default to descending.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: Nach Endpunkten filtern
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Nach Organisation filtern
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Nach Anbieter-ID filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Nach Anbieter-Rolloutstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Nach Anbieter-Routingstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Nach Modell-Routingstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Nach Anbieter-Fähigkeitsstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Nach Anbieter-Verfügbarkeitsstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Nach Anbieter-Verfügbarkeitsgrund filtern
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Nach Modellstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Nach Eingabetypen filtern
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: Öffentlicher Alias für `input_types`.
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Nach Ausgabetypen filtern
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: Öffentlicher Alias für `output_types`.
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Nach Parametern filtern
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Öffentlicher Alias für `params`.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Verfügbarkeitsfilter. `active` gibt nur öffentlich routbare Modelle zurück; `all` umfasst auch nicht routbare Verfügbarkeitsdatensätze.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Anzahl der Ergebnisse begrenzen
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset für die Paginierung
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Antwortformat. Standardmäßig `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias für `format`. Akzeptiert `json`, `rss` oder `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Modellliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS-2.0-XML-Feed
            application/atom+xml:
              schema:
                type: string
                description: Atom-XML-Feed
        '400':
          description: Ungültige Anfrageparameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: Funktionen der Modellendpunkte auflisten
      description: Gibt anbieterspezifische Endpunktzeilen für ein Modell zurück, einschließlich öffentlicher Pfade, Modalitäten, unterstützter Parameter, Verfügbarkeit, Routingstatus, Anbieter-Modell-Slugs und Preisübersichten der Endpunkte.
      parameters:
        - name: author
          in: path
          required: true
          description: Segment für Modellautor oder Organisation.
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: Modell-Slug-Segment.
          schema:
            type: string
        - name: provider
          in: query
          description: Nach Anbieter-ID filtern.
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Nach Anbieter-Rolloutstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Nach Anbieter-Routingstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Nach Modell-Routingstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Nach Anbieter-Fähigkeitsstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Nach Anbieter-Verfügbarkeitsstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Nach Anbieter-Verfügbarkeitsgrund filtern.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Nach kanonischem Modell-Lebenszyklusstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Endpunktzeilen nach unterstützten Parameternamen oder Aliasnamen filtern.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` gibt öffentlich routbare Endpunktzeilen zurück; `all` umfasst auch demnächst verfügbare und inaktive Zeilen.'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: Modellendpunkt-Funktionszeilen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: Ungültige Anfrageparameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Für die angeforderten Verfügbarkeits- und Anbieterfilter wurde kein Modell gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: Teambezogene Gateway-Modelle auflisten
      description: Gibt teambezogene Gateway-Modelle zurück. Standardmäßig werden aktuell öffentlich routbare Modelle angezeigt; mit `availability=all` lassen sich nicht routbare Verfügbarkeitsdatensätze einbeziehen.
      parameters:
        - name: endpoints
          in: query
          description: Nach Endpunkten filtern
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Nach Organisation filtern
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Nach Anbieter-ID filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Nach Anbieter-Rolloutstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Nach Anbieter-Routingstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Nach Modell-Routingstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Nach Anbieter-Fähigkeitsstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Nach Anbieter-Verfügbarkeitsstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Nach Anbieter-Verfügbarkeitsgrund filtern
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Nach Modellstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Nach Eingabetypen filtern
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Nach Ausgabetypen filtern
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Nach Parametern filtern
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Verfügbarkeitsfilter. `active` gibt nur öffentlich routbare Modelle zurück; `all` umfasst auch nicht routbare Verfügbarkeitsdatensätze.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Anzahl der Ergebnisse begrenzen
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset für die Paginierung
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Antwortformat. Standardmäßig `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias für `format`. Akzeptiert `json`, `rss` oder `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Modellliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS-2.0-XML-Feed
            application/atom+xml:
              schema:
                type: string
                description: Atom-XML-Feed
        '400':
          description: Ungültige Anfrageparameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: Echtzeit-Relay verbinden
      description: Stellt über das Sitzungs-Relay-Geheimnis als Subprotokoll eine WebSocket-Relay-Verbindung her.
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket-Verbindung hergestellt
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: Echtzeit-Audiositzung abschließen
      description: Schließt die Verbrauchsmessung ab und gibt alle verbleibenden Guthabenreservierungen für eine Echtzeitsitzung frei.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Echtzeitsitzung und Abrechnung abgeschlossen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: Status der Musikgenerierung abrufen
      description: Ruft anhand der von POST /music/generate zurückgegebenen Phaseo-Anfrage-ID ein normalisiertes Musikergebnis ab. Anbieterspezifische Status-APIs werden intern verarbeitet.
      parameters:
        - name: music_id
          in: path
          required: true
          description: Stabile Phaseo-Anfrage-ID, die von POST /music/generate zurückgegeben wird.
          schema:
            type: string
      responses:
        '200':
          description: Antwort zum Status der Musikgenerierung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: Datei abrufen
      description: Ruft Metadaten zu einer Datei ab, die zum authentifizierten Arbeitsbereich gehört.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID der abzurufenden Datei.
          schema:
            type: string
      responses:
        '200':
          description: Dateimetadaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Datei nicht gefunden oder gehört nicht zum Arbeitsbereich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: Dateiinhalt herunterladen
      description: Ruft den Binärinhalt einer zuvor hochgeladenen Datei ab, die zum authentifizierten Arbeitsbereich gehört.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID der abzurufenden Datei.
          schema:
            type: string
      responses:
        '200':
          description: Dateiinhalt
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Datei nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: Workspace-Analysen exportieren
      description: Exportiert die vollständigen gefilterten Analysedaten als tabellenkalkulationssichere CSV-Datei.
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: CSV-Analyseexport
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Ungültiger Analysefilter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: Guthaben abrufen
      description: Gibt das verbleibende Guthaben und die Nutzungsstatistik des authentifizierten Arbeitsbereichs zurück. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: workspace_id
          in: query
          description: Optionale Überschreibung des Arbeitsbereichs. Muss mit dem authentifizierten Arbeitsbereich übereinstimmen, außer bei einem internen Control-Aufruf.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Guthabeninformationen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Verboten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: API-Schlüssel auflisten
      description: Listet API-Schlüssel für den authentifizierten Arbeitsbereich auf. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: include_disabled
          in: query
          description: Gibt an, ob pausierte oder vorübergehend gesperrte Schlüssel in der Antwort enthalten sein sollen.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: Anzahl der API-Schlüssel, die bei der Seitennavigation übersprungen werden.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Maximale Anzahl der zurückzugebenden API-Schlüssel.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: Optionale Überschreibung des Arbeitsbereichs. Muss mit dem authentifizierten Arbeitsbereich übereinstimmen, außer bei einem internen Control-Aufruf.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API-Schlüsselliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Verboten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: Neuen API-Schlüssel erstellen
      description: Erstellt einen neuen API-Schlüssel im authentifizierten Arbeitsbereich. Ein Management-API-Schlüssel ist erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API-Schlüssel erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Verboten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: Einen API-Schlüssel abrufen
      description: Gibt Metadaten zu einem API-Schlüssel im authentifizierten Arbeitsbereich zurück. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          description: Kennung oder Hash des API-Schlüssels.
          schema:
            type: string
      responses:
        '200':
          description: API-Schlüsselmetadaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API-Schlüssel nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: API-Schlüssel aktualisieren
      description: Aktualisiert Metadaten oder Status eines API-Schlüssels. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          description: Kennung oder Hash des API-Schlüssels.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: API-Schlüsselmetadaten aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API-Schlüssel nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: API-Schlüssel löschen
      description: Löscht einen API-Schlüssel im authentifizierten Arbeitsbereich. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          description: Kennung oder Hash des API-Schlüssels.
          schema:
            type: string
      responses:
        '200':
          description: API-Schlüssel gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API-Schlüssel nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: API-Schlüssel rotieren
      description: Erstellt einen Ersatz mit denselben Limits und legt optional den Ablauf des vorherigen Schlüssels fest. Das Ersatzgeheimnis wird nur einmal zurückgegeben. `keys:write` erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: API-Schlüssel rotiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: Rotation fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: API-Schlüsselcache ungültig machen
      description: Aktualisiert den global zwischengespeicherten Richtlinienstatus für einen Arbeitsbereichs-API-Schlüssel. Erfordert einen authentifizierten Aufruf der Arbeitsbereichsverwaltung.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Cache ungültig gemacht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: Ungültigmachung fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: SCIM-Einstellungen des Arbeitsbereichs abrufen
      description: Gibt den Endpunktstatus, Tokenmetadaten, die Anzahl bereitgestellter Objekte und das neueste SCIM-Ereignis zurück.
      responses:
        '200':
          description: SCIM-Einstellungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: SCIM aktivieren oder deaktivieren
      description: Aktualisiert den SCIM-Endpunkt des Arbeitsbereichs. Zum Aktivieren von SCIM sind das Identity-Add-on und `settings:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: SCIM-Endpunkt aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: Anfrage fehlgeschlagen oder Add-on erforderlich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: SCIM-Token erstellen
      description: Erstellt ein Provisioning-Token. Das Token im Rohformat wird nur einmal zurückgegeben. Identity-Add-on und `settings:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: SCIM-Token erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: Anfrage fehlgeschlagen oder Add-on erforderlich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: Arbeitsbereichsverzeichnis abrufen
      description: Gibt Unternehmensabteilungen und effektive Mitgliederberechtigungen zurück. Identity-Add-on, `settings:read` sowie eine `owner`- oder `admin`-Identität erforderlich.
      responses:
        '200':
          description: Arbeitsbereichsverzeichnis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: Anfrage fehlgeschlagen oder Add-on erforderlich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: Verzeichnis-Mitgliedsüberschreibung aktualisieren
      description: Legt effektive Rollen- und Abteilungsüberschreibungen für ein Arbeitsbereichsmitglied fest oder hebt sie auf. `settings:write` erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: Mitgliedsüberschreibung aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: Manuelle Abteilungszugehörigkeit festlegen
      description: Fügt eine manuelle Abteilungszugehörigkeit für einen Arbeitsbereichsbenutzer hinzu oder aktualisiert sie.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: Mitgliedschaft aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: Manuelle Abteilungszugehörigkeit löschen
      description: Entfernt eine manuelle Abteilungszugehörigkeit, ohne die mit dem Verzeichnis synchronisierte Zugehörigkeit zu ändern.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Mitgliedschaft gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/settings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceNotificationSettings
      summary: Benachrichtigungseinstellungen des Arbeitsbereichs abrufen
      description: Gibt die Richtlinie für automatische Aufladung, die E-Mail-Konfiguration bei niedrigem Guthaben und die E-Mail-Einstellungen des Arbeitsbereichs zurück. `settings:read` sowie eine `owner`- oder `admin`-Identität erforderlich.
      responses:
        '200':
          description: Benachrichtigungseinstellungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceApp
[...]
