openapi: 3.0.3
info:
  title: Phaseo Gateway API
  description: Eine Gateway-API für den Zugriff auf verschiedene KI-Modelle über OpenAI-kompatible Endpunkte.
  version: 1.0.0
  contact:
    name: Phaseo
    url: https://phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
    description: Globales Routing
security:
  - BearerAuth: []
paths:
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Globales Routing
        - url: https://eu.api.phaseo.app/v1
          description: Regionales Anbieter-Routing für die EU (nur Text)
        - url: https://us.api.phaseo.app/v1
          description: Regionales Anbieter-Routing für die USA (nur Text)
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: Gateway-Modelle auflisten
      description: Gibt gemeinsam genutzte, nicht ausgeblendete Gateway-Modelle zurück. Standardmäßig werden aktuell öffentlich routbare Modelle angezeigt; mit `availability=all` lassen sich nicht routbare Verfügbarkeitsdatensätze einbeziehen.
      parameters:
        - name: search
          in: query
          description: Suche ohne Beachtung der Groß-/Kleinschreibung in Modell-IDs, Namen, Beschreibungen und Organisationen.
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: Suche nach Anbietern oder Modellorganisationen ohne Beachtung der Groß-/Kleinschreibung.
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: Eine unterstützte Eingabemodalität voraussetzen.
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: Mindestens diese Anzahl an Eingabe-Kontexttokens voraussetzen.
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: Maximaler Eingabetokenpreis in USD pro Million Tokens.
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: Nur Modelle mit mindestens einem routbaren Gateway-Angebot zurückgeben.
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: Feld zum Sortieren der Ergebnisse der Modellerkennung.
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: Optionale Sortierrichtung. Preise werden standardmäßig aufsteigend sortiert, andere Zahlenwerte absteigend.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: Nach Endpunkten filtern
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Nach Organisation filtern
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Nach Anbieter-ID filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Nach Anbieter-Rolloutstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Nach Anbieter-Routingstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Nach Modell-Routingstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Nach Anbieter-Fähigkeitsstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Nach Anbieter-Verfügbarkeitsstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Nach Anbieter-Verfügbarkeitsgrund filtern
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Nach Modellstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Nach Eingabetypen filtern
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: Öffentlicher Alias für `input_types`.
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Nach Ausgabetypen filtern
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: Öffentlicher Alias für `output_types`.
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Nach Parametern filtern
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Öffentlicher Alias für `params`.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Verfügbarkeitsfilter. `active` gibt nur öffentlich routbare Modelle zurück; `all` umfasst auch nicht routbare Verfügbarkeitsdatensätze.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Anzahl der Ergebnisse begrenzen
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset für die Paginierung
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Antwortformat. Standardmäßig `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias für `format`. Akzeptiert `json`, `rss` oder `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Modellliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS-2.0-XML-Feed
            application/atom+xml:
              schema:
                type: string
                description: Atom-XML-Feed
        '400':
          description: Ungültige Anfrageparameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: Funktionen der Modellendpunkte auflisten
      description: Gibt anbieterspezifische Endpunktzeilen für ein Modell zurück, einschließlich öffentlicher Pfade, Modalitäten, unterstützter Parameter, Verfügbarkeit, Routingstatus, Anbieter-Modell-Slugs und Preisübersichten der Endpunkte.
      parameters:
        - name: author
          in: path
          required: true
          description: Segment für Modellautor oder Organisation.
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: Modell-Slug-Segment.
          schema:
            type: string
        - name: provider
          in: query
          description: Nach Anbieter-ID filtern.
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Nach Anbieter-Rolloutstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Nach Anbieter-Routingstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Nach Modell-Routingstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Nach Anbieter-Fähigkeitsstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Nach Anbieter-Verfügbarkeitsstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Nach Anbieter-Verfügbarkeitsgrund filtern.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Nach kanonischem Modell-Lebenszyklusstatus filtern.
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Endpunktzeilen nach unterstützten Parameternamen oder Aliasnamen filtern.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` gibt öffentlich routbare Endpunktzeilen zurück; `all` umfasst auch demnächst verfügbare und inaktive Zeilen.'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: Modellendpunkt-Funktionszeilen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: Ungültige Anfrageparameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Für die angeforderten Verfügbarkeits- und Anbieterfilter wurde kein Modell gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: Teambezogene Gateway-Modelle auflisten
      description: Gibt teambezogene Gateway-Modelle zurück. Standardmäßig werden aktuell öffentlich routbare Modelle angezeigt; mit `availability=all` lassen sich nicht routbare Verfügbarkeitsdatensätze einbeziehen.
      parameters:
        - name: endpoints
          in: query
          description: Nach Endpunkten filtern
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Nach Organisation filtern
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Nach Anbieter-ID filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Nach Anbieter-Rolloutstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Nach Anbieter-Routingstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Nach Modell-Routingstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Nach Anbieter-Fähigkeitsstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Nach Anbieter-Verfügbarkeitsstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Nach Anbieter-Verfügbarkeitsgrund filtern
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Nach Modellstatus filtern
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Nach Eingabetypen filtern
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Nach Ausgabetypen filtern
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Nach Parametern filtern
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Verfügbarkeitsfilter. `active` gibt nur öffentlich routbare Modelle zurück; `all` umfasst auch nicht routbare Verfügbarkeitsdatensätze.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Anzahl der Ergebnisse begrenzen
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset für die Paginierung
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Antwortformat. Standardmäßig `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias für `format`. Akzeptiert `json`, `rss` oder `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Modellliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS-2.0-XML-Feed
            application/atom+xml:
              schema:
                type: string
                description: Atom-XML-Feed
        '400':
          description: Ungültige Anfrageparameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Fehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: Anbieter auflisten
      description: Gibt eine Liste der verfügbaren API-Anbieter zurück.
      parameters:
        - name: limit
          in: query
          description: Anzahl der Ergebnisse begrenzen
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Offset für die Paginierung
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Anbieterliste
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: Fehler
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: Generierung abrufen
      description: Ruft eine bestimmte Generierung anhand ihrer ID ab.
      parameters:
        - name: id
          in: query
          required: true
          description: ID der Generierung
          schema:
            type: string
      responses:
        '200':
          description: Generierungsdaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: Nicht gefunden
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Globales Routing
        - url: https://eu.api.phaseo.app/v1
          description: Regionales Anbieter-Routing für die EU (nur Text)
        - url: https://us.api.phaseo.app/v1
          description: Regionales Anbieter-Routing für die USA (nur Text)
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: Chat-Vervollständigung erstellen
      description: Erstellt eine Vervollständigung für die Chat-Nachricht.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: Antwort der Chat-Vervollständigung
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Globales Routing
        - url: https://eu.api.phaseo.app/v1
          description: Regionales Anbieter-Routing für die EU (nur Text)
        - url: https://us.api.phaseo.app/v1
          description: Regionales Anbieter-Routing für die USA (nur Text)
      tags:
        - Gateway
      operationId: createResponse
      summary: Antwort erstellen
      description: Erstellt eine Antwort mit der Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: Antwort
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /async/{kind}/{id}/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openAsyncJobWebSocket
      summary: Open async job websocket
      description: |
        Opens a persistent websocket session for owned async batch or video job updates.
        WebSocket handshake uses HTTP GET upgrade semantics and returns `101 Switching Protocols` on success (not `200`). The socket emits a `job.snapshot` immediately after upgrade and subsequent `job.updated` envelopes when the normalized async job payload changes.
        If `close_on_terminal` is enabled, the gateway closes the socket after a terminal `completed`, `failed`, `cancelled`, or `expired` update.
      parameters:
        - name: kind
          in: path
          required: true
          description: Async job kind.
          schema:
            type: string
            enum:
              - batch
              - video
        - name: id
          in: path
          required: true
          description: Gateway-owned async job id.
          schema:
            type: string
        - name: interval_ms
          in: query
          required: false
          description: Polling interval used by the websocket recovery loop.
          schema:
            type: integer
            minimum: 1000
            maximum: 10000
            default: 2500
        - name: close_on_terminal
          in: query
          required: false
          description: Close the socket after a terminal lifecycle update.
          schema:
            type: boolean
            default: true
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketClientEvent'
            serverEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketServerEvent'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Async job not found or not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobWebSocketUpgradeRequiredResponse'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Globales Routing
        - url: https://eu.api.phaseo.app/v1
          description: Regionales Anbieter-Routing für die EU (nur Text)
        - url: https://us.api.phaseo.app/v1
          description: Regionales Anbieter-Routing für die USA (nur Text)
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: Nachricht erstellen
      description: Erstellt eine Nachricht mit der Anthropic Messages API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: Nachrichtenantwort
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: Embeddings erstellen
      description: Erstellt einen Embedding-Vektor, der den eingegebenen Text repräsentiert.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Embedding-Antwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: Moderation durchführen
      description: Prüft, ob ein Text gegen die Nutzungsrichtlinien von OpenAI verstößt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: Moderationsergebnis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: Dokumente neu ordnen
      description: Ordnet eine Liste von Dokumenten nach ihrer Relevanz für eine Anfrage neu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: Antwort zur Neusortierung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: Strukturierte Entscheidungen treffen
      description: Bewertet typisierte Noul-, Choice- und Score-Fragen anhand eines strukturierten Zustands mit einem Entscheidungsmodell wie TypeSafe Jev.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionsRequest'
      responses:
        '200':
          description: Antwort mit strukturierten Entscheidungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionsResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: Sprachausgabe erzeugen
      description: Erzeugt Audio aus dem eingegebenen Text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: Audiodatei
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: Transkription erstellen
      description: Transkribiert Audio in die Eingabesprache.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: Transkriptionsantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: Übersetzung erstellen
      description: Übersetzt das Audio ins Englische.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: Übersetzungsantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: Echtzeit-Audiositzung erstellen
      description: Erstellt eine Echtzeit-Audiositzung mit Nutzungsabrechnung und gibt die Verbindungsdaten des Relays zurück.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Echtzeitsitzung erstellt
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: Echtzeit-Relay verbinden
      description: Stellt über das Sitzungs-Relay-Geheimnis als Subprotokoll eine WebSocket-Relay-Verbindung her.
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket-Verbindung hergestellt
  /audio/realtime/sessions/{session_id}/connected:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: markRealtimeSessionConnected
      x-excluded: true
      summary: Mark realtime session connected
      description: Records that the upstream realtime relay connection has been established.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/extend:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: extendRealtimeSession
      x-excluded: true
      summary: Extend realtime session credit hold
      description: Extends the reserved credit for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_reserved_nanos:
                  type: integer
                  minimum: 1
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/usage:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: updateRealtimeSessionUsage
      x-excluded: true
      summary: Update realtime session usage
      description: Records the latest metered usage for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usage:
                  type: object
                  additionalProperties: true
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: Echtzeit-Audiositzung abschließen
      description: Schließt die Verbrauchsmessung ab und gibt alle verbleibenden Guthabenreservierungen für eine Echtzeitsitzung frei.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Echtzeitsitzung und Abrechnung abgeschlossen
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: Bild erstellen
      description: Erstellt anhand einer Eingabeaufforderung ein Bild.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: Bildantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: Bildbearbeitung erstellen
      description: Erstellt ausgehend von einem Originalbild und einer Eingabeaufforderung ein bearbeitetes oder erweitertes Bild.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: Antwort zur Bildbearbeitung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /videos:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideos
      summary: Videos auflisten
      description: Listet asynchrone Videoerstellungsaufträge des authentifizierten Teams auf.
      parameters:
        - name: limit
          in: query
          description: 'Maximale Anzahl zurückzugebender Videoaufträge. Standard: 50, Obergrenze: 200.'
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          description: Filter für den Video-Lebenszyklusstatus. Parameter wiederholen oder kommagetrennte Werte angeben.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          description: Anzahl der vor Rückgabe der Seite zu überspringenden Videoaufträge.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - name: after
          in: query
          description: Gibt Videoaufträge nach dieser Video-ID in der gewählten Reihenfolge zurück.
          schema:
            type: string
        - name: order
          in: query
          description: Videoaufträge nach Erstellungszeit sortieren.
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Antwort der Videoliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: Video erstellen
      description: Erstellt einen asynchronen Videoerstellungsauftrag. Die zurückgegebene `polling_url` alle 20 Sekunden abfragen, bis der Auftrag einen Endstatus erreicht.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: Videoantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModels
      summary: Fähigkeiten von Videomodellen auflisten
      description: Gibt datenbankgestützte Metadaten zu Video-Modell-/Anbieterfähigkeiten für den Video-Playground und die SDK-Validierung zurück.
      parameters:
        - name: params
          in: query
          required: false
          description: Optionaler Filter unterstützter Parameter. Parameter wiederholen oder kommagetrennte Liste übergeben. Kanonische Namen und Aliase werden akzeptiert, z. B. `resolution`, `size`, `duration` oder `duration_seconds`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Liste der Videomodellfähigkeiten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoModelsResponse'
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: Videostatus abrufen
      description: Ruft den Status einer Videoerstellungsanfrage ab. Alle 20 Sekunden abfragen, sofern keine Webhooks verwendet werden.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID der Videoerstellungsanfrage.
          schema:
            type: string
      responses:
        '200':
          description: Videostatusantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: Video löschen
      description: Markiert einen abgeschlossenen Videoerstellungsdatensatz als gelöscht. Laufende Aufträge können nicht gelöscht werden.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID der Videoerstellungsanfrage.
          schema:
            type: string
      responses:
        '200':
          description: Antwort zur Videolöschung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideo
      summary: Video abbrechen
      description: Videoabbrüche sind derzeit bei allen Anbietern deaktiviert.
      parameters:
        - name: video_id
          in: path
          required: true
          description: Interne Phaseo-Videoauftrags-ID (`G-...`).
          schema:
            type: string
      responses:
        '501':
          description: Videoabbruch ist deaktiviert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: Videoinhalt abrufen
      description: Lädt den gerenderten Videoinhalt herunter.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID der Videoerstellungsanfrage.
          schema:
            type: string
      responses:
        '200':
          description: Videoinhalt
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /videos/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrl
      summary: Signierte Video-Download-URL erstellen
      description: Gibt eine signierte Erstanbieter-Download-URL für ein gerendertes Video zurück.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID der Videoerstellungsanfrage.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: Signierte Download-URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: OCR ausführen
      description: Extrahiert mit dem angeforderten Modell Text aus einem Bild.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCR-Antwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: Dokumentbild analysieren
      description: Verarbeitet ein Dokumentbild zu Markdown oder geordneten Inhaltsblöcken. Die aktuelle Cohere Parse API akzeptiert URLs für entfernte Bilder und base64-kodierte Bilddaten-URIs; PDF- und Datei-URLs werden noch nicht unterstützt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: Analysiertes Dokument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: Musik erzeugen
      description: Erzeugt Musik über einen einzelnen anbieterunabhängigen Endpoint. Phaseo wartet auf synchrone Anbieter und übernimmt die Abfrage ihrer Warteschlangen intern.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Antwort zur Musikgenerierung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: Status der Musikgenerierung abrufen
      description: Ruft anhand der von POST /music/generate zurückgegebenen Phaseo-Anfrage-ID ein normalisiertes Musikergebnis ab. Anbieterspezifische Status-APIs werden intern verarbeitet.
      parameters:
        - name: music_id
          in: path
          required: true
          description: Stabile Phaseo-Anfrage-ID, die von POST /music/generate zurückgegeben wird.
          schema:
            type: string
      responses:
        '200':
          description: Antwort zum Status der Musikgenerierung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: Datei hochladen
      description: Kompatibilitätsalias für `/batches/files`. Lädt eine Datei zur Stapelverarbeitung hoch und gibt Dateimetadaten des Anbieters zurück. `model` übergeben, damit AI Stats den Anbieter ableiten kann. Für ältere Clients ohne `model` und `provider` wird OpenAI verwendet.
      parameters:
        - name: model
          in: query
          required: false
          description: Modell-ID zum Ableiten des Anbieters der Batch-Datei.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: Erweiterte Anbieterüberschreibung für den Datei-Upload.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-ai-stats-provider
          in: header
          required: false
          description: Header-Alternative zum Abfrageparameter `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Metadaten der hochgeladenen Datei
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Fehler des vorgeschalteten Anbieters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: Dateien auflisten
      description: Gibt mit dem gemeinsam genutzten Gateway-Schlüssel derzeit `not_supported` zurück. Speichere stattdessen die IDs hochgeladener Dateien und rufe sie direkt ab.
      responses:
        '400':
          description: Die Dateiliste wird im aktuellen Gateway-Modus nicht unterstützt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: Datei abrufen
      description: Ruft Metadaten zu einer Datei ab, die zum authentifizierten Arbeitsbereich gehört.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID der abzurufenden Datei.
          schema:
            type: string
      responses:
        '200':
          description: Dateimetadaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Datei nicht gefunden oder gehört nicht zum Arbeitsbereich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: Dateiinhalt herunterladen
      description: Ruft den Binärinhalt einer zuvor hochgeladenen Datei ab, die zum authentifizierten Arbeitsbereich gehört.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID der abzurufenden Datei.
          schema:
            type: string
      responses:
        '200':
          description: Dateiinhalt
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Datei nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatches
      summary: Batches auflisten
      description: Listet eigene asynchrone Batch-Aufträge des authentifizierten Workspaces aus dem dauerhaften Auftragsspeicher des Gateways auf.
      parameters:
        - name: limit
          in: query
          description: 'Maximale Anzahl zurückzugebender Batch-Aufträge. Standard: 20, Obergrenze: 100.'
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filter für den Batch-Lebenszyklusstatus. Parameter wiederholen, kommagetrennte Statuswerte oder statuses für kommagetrennte Filter verwenden.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: statuses
          in: query
          description: Kommagetrennte Lebenszyklusstatusfilter.
          schema:
            type: string
        - name: offset
          in: query
          description: Anzahl der vor Rückgabe der Seite zu überspringenden Batch-Aufträge.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: Antwort der Batch-Liste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: Batch erstellen
      description: Erstellt einen asynchronen Batch-Auftrag und gibt das Batch-Objekt des Anbieters zurück. Über das angefragte `model` werden OpenAI, Anthropic, Google Gemini, Mistral, xAI, Groq und Together AI unterstützt. Das Gateway leitet den Anbieter aus dem Modell ab und akzeptiert `session_id` und `webhook` für Beobachtbarkeit und asynchrone Benachrichtigungen. `provider` nur als erweiterte Routing-Einschränkung verwenden.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: Batch-Statusantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchModels
      summary: Fähigkeiten von Batch-Modellen auflisten
      description: Gibt datenbankgestützte Metadaten zu Batch-Modell-/Anbieterfähigkeiten zurück, einschließlich unterstützter Parameter wie erlaubter Eingabeendpunkte und Abschlusszeitfenster.
      parameters:
        - name: params
          in: query
          required: false
          description: Optionaler Filter unterstützter Parameter. Parameter wiederholen oder kommagetrennte Liste übergeben. Kanonische Namen und Aliase werden akzeptiert, z. B. `endpoint`, `request_endpoint`, `completion_window` oder `window`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Liste der Batch-Modellfähigkeiten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchModelsResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/capabilities:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchCapabilities
      summary: Fähigkeiten von Batch-Anbietern auflisten
      description: Gibt die anbieterseitige Unterstützung für Batch-Eingabemodi per Datei-Upload und Anfrage-Liste zurück.
      responses:
        '200':
          description: Liste der Batch-Anbieterfähigkeiten
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchProviderCapability'
  /batches/files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchFiles
      summary: Batch-Dateien auflisten
      description: Gibt einen Fehler zurück, da das Auflisten von Dateien gemeinsamer Gateway-Schlüssel nicht unterstützt wird. Eigene Workspace-Dateien stattdessen direkt per ID abrufen.
      responses:
        '400':
          description: Auflisten von Dateien wird nicht unterstützt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadBatchFile
      summary: Batch-Datei hochladen
      description: Lädt eine Anbieterdatei zur Stapelverarbeitung hoch und speichert den Besitz im authentifizierten Workspace. `model` übergeben, damit Phaseo den Anbieter ableiten kann. Ohne `model` und `provider` wird OpenAI verwendet.
      parameters:
        - name: model
          in: query
          required: false
          description: Modell-ID zum Ableiten des Anbieters der Batch-Datei.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: Erweiterte Anbieterüberschreibung für den Datei-Upload.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-phaseo-provider
          in: header
          required: false
          description: Header-Alternative zum Abfrageparameter `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Metadaten der hochgeladenen Datei
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Fehler des vorgeschalteten Anbieters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFile
      summary: Batch-Datei abrufen
      description: Ruft Metadaten einer Batch-Datei des authentifizierten Workspaces ab.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dateimetadaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Datei nicht gefunden oder gehört nicht zum Arbeitsbereich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFileContent
      summary: Batch-Dateiinhalt abrufen
      description: Ruft den Inhalt einer Batch-Datei des authentifizierten Workspaces ab.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dateiinhalt
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Datei nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: Batch abrufen
      description: Ruft einen zuvor erstellten Batch-Auftrag ab.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID des abzurufenden Batches.
          schema:
            type: string
      responses:
        '200':
          description: Batch-Statusantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Batch nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: Batch-Statusaktualisierung wird von diesem Anbieter nicht unterstützt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/results:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchResults
      summary: Batch-Ergebnisse herunterladen
      description: Streamt vollständige anbietereigene Ergebniszeilen als JSONL für einen finalen Batch des authentifizierten Workspaces. Kombiniert Erfolgs- und Fehlerdateien, konvertiert Inline-Ausgaben und folgt der Ergebnispaginierung des Anbieters. Phaseo-API-Schlüssel verwenden. Downloads starten keine Inferenz und erzeugen keine zusätzlichen Nutzungskosten. Bestehende Dateiendpunkte bleiben verfügbar. Inline-Zeilen sind auf 8 MiB begrenzt; abgebrochene Downloads verwerfen und erneut herunterladen. Maximal 10 Downloadversuche pro Workspace und Batch in einem gleitenden 30-Minuten-Fenster, gemeinsam für API-Schlüssel und Aliase. Fehlgeschlagene oder abgebrochene Upstream-Versuche zählen mit. Eine 429-Antwort enthält Retry-After in Sekunden.
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Originale JSONL-Ergebnisse des Anbieters
          content:
            application/x-ndjson:
              schema:
                type: string
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Zugriff auf Batch-Vorschau verweigert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Batch nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Batch-Ergebnisse sind noch nicht bereit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Batch-Downloadlimit überschritten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              description: Sekunden bis zum nächsten erlaubten Download
              schema:
                type: integer
        '501':
          description: Direkte Ergebnisdownloads werden von diesem Anbieter nicht unterstützt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Anbieterergebnisse konnten nicht abgerufen werden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Downloadzulassung vorübergehend nicht verfügbar; nach 30 Sekunden erneut versuchen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              schema:
                type: integer
  /batches/{batch_id}/requests:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchRequests
      summary: Batch-Anfragezeilen auflisten
      description: Listet erfasste Anfragezeilen für einen eigenen Batch-Auftrag auf.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID des Batches.
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Liste der Batch-Anfragezeilen
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  batch_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchRequestRow'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Batch nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatch
      summary: Batch abbrechen
      description: Bricht eine Batch-Anfrage ab.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID des abzubrechenden Batches.
          schema:
            type: string
      responses:
        '200':
          description: Batch-Statusantwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Batch nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: Batch-Abbruch wird von diesem Anbieter nicht unterstützt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivityAlias
      summary: Workspace-Analysen abrufen
      description: Gibt Kosten-, Anfrage- und Tokenaggregate nach Datum, Modell, Anbieter und Endpunkt für die letzten 30 abgeschlossenen UTC-Tage zurück.
      parameters:
        - name: date
          in: query
          description: Nach einem einzelnen UTC-Datum der letzten 30 abgeschlossenen Tage filtern (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          description: Anfragelabel-Schlüssel für die Ausgabenauswertung. Muss zusammen mit label_value angegeben werden.
          schema:
            type: string
            maxLength: 64
            pattern: ^[A-Za-z0-9_.:-]{1,64}$
        - name: label_value
          in: query
          description: Anfragelabel-Wert für die Ausgabenauswertung. Muss zusammen mit label_key angegeben werden.
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          description: Nach API-Schlüsselkennung filtern.
          schema:
            type: string
        - name: end_user_id
          in: query
          description: Nach anwendungsdefinierter Endbenutzerkennung filtern.
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          description: Nach kanonischem Slug des angefragten oder gerouteten Modells filtern.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          description: Nach Anbieter-Slug filtern.
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          description: Nach Gateway-Endpunktkennung filtern.
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          description: Verwalteten oder BYOK-Datenverkehr filtern.
          schema:
            type: boolean
        - name: success
          in: query
          description: Erfolgreiche oder fehlgeschlagene Anfragen filtern.
          schema:
            type: boolean
        - $ref: '#/components/parameters/Offset'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
      responses:
        '200':
          description: Abgerufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: Fehlerhafte Anfrage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Zugriffsverweigerungsfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Interner Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: Workspace-Analysen exportieren
      description: Exportiert die vollständigen gefilterten Analysedaten als tabellenkalkulationssichere CSV-Datei.
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: CSV-Analyseexport
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Ungültiger Analysefilter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: Guthaben abrufen
      description: Gibt das verbleibende Guthaben und die Nutzungsstatistik des authentifizierten Arbeitsbereichs zurück. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: workspace_id
          in: query
          description: Optionale Überschreibung des Arbeitsbereichs. Muss mit dem authentifizierten Arbeitsbereich übereinstimmen, außer bei einem internen Control-Aufruf.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Guthabeninformationen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Verboten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCurrentApiKey
      summary: Aktuellen API-Schlüssel abrufen
      description: Gibt Metadaten des derzeit authentifizierten Standard-Gateway-API-Schlüssels zurück.
      responses:
        '200':
          description: Metadaten des aktuellen API-Schlüssels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API-Schlüssel nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: API-Schlüssel auflisten
      description: Listet API-Schlüssel für den authentifizierten Arbeitsbereich auf. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: include_disabled
          in: query
          description: Gibt an, ob pausierte oder vorübergehend gesperrte Schlüssel in der Antwort enthalten sein sollen.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: Anzahl der API-Schlüssel, die bei der Seitennavigation übersprungen werden.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Maximale Anzahl der zurückzugebenden API-Schlüssel.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: Optionale Überschreibung des Arbeitsbereichs. Muss mit dem authentifizierten Arbeitsbereich übereinstimmen, außer bei einem internen Control-Aufruf.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API-Schlüsselliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Verboten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: Neuen API-Schlüssel erstellen
      description: Erstellt einen neuen API-Schlüssel im authentifizierten Arbeitsbereich. Ein Management-API-Schlüssel ist erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API-Schlüssel erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Verboten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: Einen API-Schlüssel abrufen
      description: Gibt Metadaten zu einem API-Schlüssel im authentifizierten Arbeitsbereich zurück. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          description: Kennung oder Hash des API-Schlüssels.
          schema:
            type: string
      responses:
        '200':
          description: API-Schlüsselmetadaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API-Schlüssel nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: API-Schlüssel aktualisieren
      description: Aktualisiert Metadaten oder Status eines API-Schlüssels. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          description: Kennung oder Hash des API-Schlüssels.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: API-Schlüsselmetadaten aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: Ungültige Anfrage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API-Schlüssel nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: API-Schlüssel löschen
      description: Löscht einen API-Schlüssel im authentifizierten Arbeitsbereich. Ein Management-API-Schlüssel ist erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          description: Kennung oder Hash des API-Schlüssels.
          schema:
            type: string
      responses:
        '200':
          description: API-Schlüssel gelöscht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: Nicht autorisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API-Schlüssel nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Serverfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: API-Schlüssel rotieren
      description: Erstellt einen Ersatz mit denselben Limits und legt optional den Ablauf des vorherigen Schlüssels fest. Das Ersatzgeheimnis wird nur einmal zurückgegeben. `keys:write` erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: API-Schlüssel rotiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: Rotation fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: API-Schlüsselcache ungültig machen
      description: Aktualisiert den global zwischengespeicherten Richtlinienstatus für einen Arbeitsbereichs-API-Schlüssel. Erfordert einen authentifizierten Aufruf der Arbeitsbereichsverwaltung.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Cache ungültig gemacht
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: Ungültigmachung fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: SSO-Einstellungen des Workspace abrufen
      description: Gibt die SAML- oder benutzerdefinierten OIDC-Einstellungen des Workspace zurück. Erfordert `settings:read` und eine Eigentümer- oder Adminidentität.
      responses:
        '200':
          description: SSO-Einstellungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: SSO-Einstellungen des Arbeitsbereichs aktualisieren
      description: Aktualisiert SAML- oder benutzerdefinierte OIDC-Einstellungen. Zum Aktivieren von SSO sind das Identity-Add-on und `settings:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: SSO-Einstellungen aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: Anfrage fehlgeschlagen oder Add-on erforderlich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: SCIM-Einstellungen des Arbeitsbereichs abrufen
      description: Gibt den Endpunktstatus, Tokenmetadaten, die Anzahl bereitgestellter Objekte und das neueste SCIM-Ereignis zurück.
      responses:
        '200':
          description: SCIM-Einstellungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: SCIM aktivieren oder deaktivieren
      description: Aktualisiert den SCIM-Endpunkt des Arbeitsbereichs. Zum Aktivieren von SCIM sind das Identity-Add-on und `settings:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: SCIM-Endpunkt aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: Anfrage fehlgeschlagen oder Add-on erforderlich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: SCIM-Token erstellen
      description: Erstellt ein Provisioning-Token. Das Token im Rohformat wird nur einmal zurückgegeben. Identity-Add-on und `settings:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: SCIM-Token erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: Anfrage fehlgeschlagen oder Add-on erforderlich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: SCIM-Token widerrufen
      description: Widerruft ein Bereitstellungstoken. Erfordert `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Token widerrufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: SCIM-Auditereignisse auflisten
      description: Listet die letzten SCIM-Bereitstellungsaktivitäten des Workspace auf.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: SCIM-Auditereignisse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: Arbeitsbereichsverzeichnis abrufen
      description: Gibt Unternehmensabteilungen und effektive Mitgliederberechtigungen zurück. Identity-Add-on, `settings:read` sowie eine `owner`- oder `admin`-Identität erforderlich.
      responses:
        '200':
          description: Arbeitsbereichsverzeichnis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: Anfrage fehlgeschlagen oder Add-on erforderlich
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: Verzeichnis-Mitgliedsüberschreibung aktualisieren
      description: Legt effektive Rollen- und Abteilungsüberschreibungen für ein Arbeitsbereichsmitglied fest oder hebt sie auf. `settings:write` erforderlich.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: Mitgliedsüberschreibung aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: Workspace-Abteilungen auflisten
      description: Listet manuell verwaltete und mit dem Verzeichnis synchronisierte Abteilungen auf.
      responses:
        '200':
          description: Workspace-Abteilungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: Arbeitsbereichsabteilung erstellen
      description: Erstellt eine manuell verwaltete Abteilung. `settings:write` erforderlich.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: Abteilung erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: Anfrage fehlgeschlagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
[...]
