=begin
#AI Stats Gateway API

#A gateway API for accessing various AI models with OpenAI-compatible endpoints.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module AIStatsSdk
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create message
    # Creates a message using the Anthropic Messages API.
    # @param anthropic_messages_request [AnthropicMessagesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AnthropicMessagesResponse]
    def create_anthropic_message(anthropic_messages_request, opts = {})
      data, _status_code, _headers = create_anthropic_message_with_http_info(anthropic_messages_request, opts)
      data
    end

    # Create message
    # Creates a message using the Anthropic Messages API.
    # @param anthropic_messages_request [AnthropicMessagesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnthropicMessagesResponse, Integer, Hash)>] AnthropicMessagesResponse data, response status code and response headers
    def create_anthropic_message_with_http_info(anthropic_messages_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_anthropic_message ...'
      end
      # verify the required parameter 'anthropic_messages_request' is set
      if @api_client.config.client_side_validation && anthropic_messages_request.nil?
        fail ArgumentError, "Missing the required parameter 'anthropic_messages_request' when calling DefaultApi.create_anthropic_message"
      end
      # resource path
      local_var_path = '/messages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/event-stream']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(anthropic_messages_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AnthropicMessagesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_anthropic_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_anthropic_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create batch
    # Creates a batch of API requests.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchResponse]
    def create_batch(batch_request, opts = {})
      data, _status_code, _headers = create_batch_with_http_info(batch_request, opts)
      data
    end

    # Create batch
    # Creates a batch of API requests.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchResponse, Integer, Hash)>] BatchResponse data, response status code and response headers
    def create_batch_with_http_info(batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_batch ...'
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling DefaultApi.create_batch"
      end
      # resource path
      local_var_path = '/batches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create chat completion
    # Creates a completion for the chat message.
    # @param chat_completions_request [ChatCompletionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ChatCompletionsResponse]
    def create_chat_completion(chat_completions_request, opts = {})
      data, _status_code, _headers = create_chat_completion_with_http_info(chat_completions_request, opts)
      data
    end

    # Create chat completion
    # Creates a completion for the chat message.
    # @param chat_completions_request [ChatCompletionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChatCompletionsResponse, Integer, Hash)>] ChatCompletionsResponse data, response status code and response headers
    def create_chat_completion_with_http_info(chat_completions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_chat_completion ...'
      end
      # verify the required parameter 'chat_completions_request' is set
      if @api_client.config.client_side_validation && chat_completions_request.nil?
        fail ArgumentError, "Missing the required parameter 'chat_completions_request' when calling DefaultApi.create_chat_completion"
      end
      # resource path
      local_var_path = '/chat/completions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(chat_completions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ChatCompletionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_chat_completion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_chat_completion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create embeddings
    # Creates an embedding vector representing the input text.
    # @param embeddings_request [EmbeddingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmbeddingsResponse]
    def create_embedding(embeddings_request, opts = {})
      data, _status_code, _headers = create_embedding_with_http_info(embeddings_request, opts)
      data
    end

    # Create embeddings
    # Creates an embedding vector representing the input text.
    # @param embeddings_request [EmbeddingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmbeddingsResponse, Integer, Hash)>] EmbeddingsResponse data, response status code and response headers
    def create_embedding_with_http_info(embeddings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_embedding ...'
      end
      # resource path
      local_var_path = '/embeddings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(embeddings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmbeddingsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_embedding",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_embedding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create image
    # Creates an image given a prompt.
    # @param images_generation_request [ImagesGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImagesGenerationResponse]
    def create_image(images_generation_request, opts = {})
      data, _status_code, _headers = create_image_with_http_info(images_generation_request, opts)
      data
    end

    # Create image
    # Creates an image given a prompt.
    # @param images_generation_request [ImagesGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImagesGenerationResponse, Integer, Hash)>] ImagesGenerationResponse data, response status code and response headers
    def create_image_with_http_info(images_generation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_image ...'
      end
      # verify the required parameter 'images_generation_request' is set
      if @api_client.config.client_side_validation && images_generation_request.nil?
        fail ArgumentError, "Missing the required parameter 'images_generation_request' when calling DefaultApi.create_image"
      end
      # resource path
      local_var_path = '/images/generations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(images_generation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesGenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_image",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create image edit
    # Creates an edited or extended image given an original image and a prompt.
    # @param model [String] 
    # @param image [String] 
    # @param prompt [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mask 
    # @option opts [String] :size 
    # @option opts [Integer] :n 
    # @option opts [String] :user 
    # @option opts [Boolean] :meta 
    # @option opts [Boolean] :usage 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [ImagesEditResponse]
    def create_image_edit(model, image, prompt, opts = {})
      data, _status_code, _headers = create_image_edit_with_http_info(model, image, prompt, opts)
      data
    end

    # Create image edit
    # Creates an edited or extended image given an original image and a prompt.
    # @param model [String] 
    # @param image [String] 
    # @param prompt [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mask 
    # @option opts [String] :size 
    # @option opts [Integer] :n 
    # @option opts [String] :user 
    # @option opts [Boolean] :meta 
    # @option opts [Boolean] :usage 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [Array<(ImagesEditResponse, Integer, Hash)>] ImagesEditResponse data, response status code and response headers
    def create_image_edit_with_http_info(model, image, prompt, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_image_edit ...'
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling DefaultApi.create_image_edit"
      end
      # verify the required parameter 'image' is set
      if @api_client.config.client_side_validation && image.nil?
        fail ArgumentError, "Missing the required parameter 'image' when calling DefaultApi.create_image_edit"
      end
      # verify the required parameter 'prompt' is set
      if @api_client.config.client_side_validation && prompt.nil?
        fail ArgumentError, "Missing the required parameter 'prompt' when calling DefaultApi.create_image_edit"
      end
      if @api_client.config.client_side_validation && !opts[:'n'].nil? && opts[:'n'] > 10
        fail ArgumentError, 'invalid value for "opts[:"n"]" when calling DefaultApi.create_image_edit, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'n'].nil? && opts[:'n'] < 1
        fail ArgumentError, 'invalid value for "opts[:"n"]" when calling DefaultApi.create_image_edit, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/images/edits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['model'] = model
      form_params['image'] = image
      form_params['prompt'] = prompt
      form_params['mask'] = opts[:'mask'] if !opts[:'mask'].nil?
      form_params['size'] = opts[:'size'] if !opts[:'size'].nil?
      form_params['n'] = opts[:'n'] if !opts[:'n'].nil?
      form_params['user'] = opts[:'user'] if !opts[:'user'].nil?
      form_params['meta'] = opts[:'meta'] if !opts[:'meta'].nil?
      form_params['usage'] = opts[:'usage'] if !opts[:'usage'].nil?
      form_params['provider'] = opts[:'provider'] if !opts[:'provider'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesEditResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_image_edit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_image_edit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create moderation
    # Classifies if text violates OpenAI's usage policies.
    # @param moderations_request [ModerationsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ModerationsResponse]
    def create_moderation(moderations_request, opts = {})
      data, _status_code, _headers = create_moderation_with_http_info(moderations_request, opts)
      data
    end

    # Create moderation
    # Classifies if text violates OpenAI&#39;s usage policies.
    # @param moderations_request [ModerationsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModerationsResponse, Integer, Hash)>] ModerationsResponse data, response status code and response headers
    def create_moderation_with_http_info(moderations_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_moderation ...'
      end
      # verify the required parameter 'moderations_request' is set
      if @api_client.config.client_side_validation && moderations_request.nil?
        fail ArgumentError, "Missing the required parameter 'moderations_request' when calling DefaultApi.create_moderation"
      end
      # resource path
      local_var_path = '/moderations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(moderations_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_moderation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_moderation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create OCR
    # Extracts text from an image using the requested model.
    # @param ocr_request [OcrRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def create_ocr(ocr_request, opts = {})
      data, _status_code, _headers = create_ocr_with_http_info(ocr_request, opts)
      data
    end

    # Create OCR
    # Extracts text from an image using the requested model.
    # @param ocr_request [OcrRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def create_ocr_with_http_info(ocr_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_ocr ...'
      end
      # verify the required parameter 'ocr_request' is set
      if @api_client.config.client_side_validation && ocr_request.nil?
        fail ArgumentError, "Missing the required parameter 'ocr_request' when calling DefaultApi.create_ocr"
      end
      # resource path
      local_var_path = '/ocr'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ocr_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_ocr",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_ocr\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create provisioning key
    # Creates a new provisioning key for a team.
    # @param create_provisioning_key_request [CreateProvisioningKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateProvisioningKey201Response]
    def create_provisioning_key(create_provisioning_key_request, opts = {})
      data, _status_code, _headers = create_provisioning_key_with_http_info(create_provisioning_key_request, opts)
      data
    end

    # Create provisioning key
    # Creates a new provisioning key for a team.
    # @param create_provisioning_key_request [CreateProvisioningKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateProvisioningKey201Response, Integer, Hash)>] CreateProvisioningKey201Response data, response status code and response headers
    def create_provisioning_key_with_http_info(create_provisioning_key_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_provisioning_key ...'
      end
      # verify the required parameter 'create_provisioning_key_request' is set
      if @api_client.config.client_side_validation && create_provisioning_key_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_provisioning_key_request' when calling DefaultApi.create_provisioning_key"
      end
      # resource path
      local_var_path = '/provisioning/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_provisioning_key_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateProvisioningKey201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_provisioning_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_provisioning_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create response
    # Creates a response using the Responses API.
    # @param responses_request [ResponsesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponsesResponse]
    def create_response(responses_request, opts = {})
      data, _status_code, _headers = create_response_with_http_info(responses_request, opts)
      data
    end

    # Create response
    # Creates a response using the Responses API.
    # @param responses_request [ResponsesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponsesResponse, Integer, Hash)>] ResponsesResponse data, response status code and response headers
    def create_response_with_http_info(responses_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_response ...'
      end
      # verify the required parameter 'responses_request' is set
      if @api_client.config.client_side_validation && responses_request.nil?
        fail ArgumentError, "Missing the required parameter 'responses_request' when calling DefaultApi.create_response"
      end
      # resource path
      local_var_path = '/responses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(responses_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponsesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_response",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_response\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate speech
    # Generates audio from the input text.
    # @param audio_speech_request [AudioSpeechRequest] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def create_speech(audio_speech_request, opts = {})
      data, _status_code, _headers = create_speech_with_http_info(audio_speech_request, opts)
      data
    end

    # Generate speech
    # Generates audio from the input text.
    # @param audio_speech_request [AudioSpeechRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def create_speech_with_http_info(audio_speech_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_speech ...'
      end
      # verify the required parameter 'audio_speech_request' is set
      if @api_client.config.client_side_validation && audio_speech_request.nil?
        fail ArgumentError, "Missing the required parameter 'audio_speech_request' when calling DefaultApi.create_speech"
      end
      # resource path
      local_var_path = '/audio/speech'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['audio/mpeg']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(audio_speech_request)

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_speech",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_speech\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create transcription
    # Transcribes audio into the input language.
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audio_url 
    # @option opts [String] :audio_b64 
    # @option opts [String] :language 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [AudioTranscriptionResponse]
    def create_transcription(model, opts = {})
      data, _status_code, _headers = create_transcription_with_http_info(model, opts)
      data
    end

    # Create transcription
    # Transcribes audio into the input language.
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audio_url 
    # @option opts [String] :audio_b64 
    # @option opts [String] :language 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [Array<(AudioTranscriptionResponse, Integer, Hash)>] AudioTranscriptionResponse data, response status code and response headers
    def create_transcription_with_http_info(model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_transcription ...'
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling DefaultApi.create_transcription"
      end
      # resource path
      local_var_path = '/audio/transcriptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['model'] = model
      form_params['audio_url'] = opts[:'audio_url'] if !opts[:'audio_url'].nil?
      form_params['audio_b64'] = opts[:'audio_b64'] if !opts[:'audio_b64'].nil?
      form_params['language'] = opts[:'language'] if !opts[:'language'].nil?
      form_params['provider'] = opts[:'provider'] if !opts[:'provider'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTranscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_transcription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_transcription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create translation
    # Translates audio into English.
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audio_url 
    # @option opts [String] :audio_b64 
    # @option opts [String] :language 
    # @option opts [String] :prompt 
    # @option opts [Float] :temperature 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [AudioTranslationResponse]
    def create_translation(model, opts = {})
      data, _status_code, _headers = create_translation_with_http_info(model, opts)
      data
    end

    # Create translation
    # Translates audio into English.
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audio_url 
    # @option opts [String] :audio_b64 
    # @option opts [String] :language 
    # @option opts [String] :prompt 
    # @option opts [Float] :temperature 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [Array<(AudioTranslationResponse, Integer, Hash)>] AudioTranslationResponse data, response status code and response headers
    def create_translation_with_http_info(model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_translation ...'
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling DefaultApi.create_translation"
      end
      if @api_client.config.client_side_validation && !opts[:'temperature'].nil? && opts[:'temperature'] > 2
        fail ArgumentError, 'invalid value for "opts[:"temperature"]" when calling DefaultApi.create_translation, must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'temperature'].nil? && opts[:'temperature'] < 0
        fail ArgumentError, 'invalid value for "opts[:"temperature"]" when calling DefaultApi.create_translation, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/audio/translations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['model'] = model
      form_params['audio_url'] = opts[:'audio_url'] if !opts[:'audio_url'].nil?
      form_params['audio_b64'] = opts[:'audio_b64'] if !opts[:'audio_b64'].nil?
      form_params['language'] = opts[:'language'] if !opts[:'language'].nil?
      form_params['prompt'] = opts[:'prompt'] if !opts[:'prompt'].nil?
      form_params['temperature'] = opts[:'temperature'] if !opts[:'temperature'].nil?
      form_params['provider'] = opts[:'provider'] if !opts[:'provider'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTranslationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_translation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_translation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create video
    # Creates a video from a prompt.
    # @param video_generation_request [VideoGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VideoGenerationResponse]
    def create_video(video_generation_request, opts = {})
      data, _status_code, _headers = create_video_with_http_info(video_generation_request, opts)
      data
    end

    # Create video
    # Creates a video from a prompt.
    # @param video_generation_request [VideoGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoGenerationResponse, Integer, Hash)>] VideoGenerationResponse data, response status code and response headers
    def create_video_with_http_info(video_generation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_video ...'
      end
      # verify the required parameter 'video_generation_request' is set
      if @api_client.config.client_side_validation && video_generation_request.nil?
        fail ArgumentError, "Missing the required parameter 'video_generation_request' when calling DefaultApi.create_video"
      end
      # resource path
      local_var_path = '/videos'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(video_generation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VideoGenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete provisioning key
    # Permanently deletes a provisioning key.
    # @param id [String] The provisioning key ID
    # @param [Hash] opts the optional parameters
    # @return [DeleteProvisioningKey200Response]
    def delete_provisioning_key(id, opts = {})
      data, _status_code, _headers = delete_provisioning_key_with_http_info(id, opts)
      data
    end

    # Delete provisioning key
    # Permanently deletes a provisioning key.
    # @param id [String] The provisioning key ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteProvisioningKey200Response, Integer, Hash)>] DeleteProvisioningKey200Response data, response status code and response headers
    def delete_provisioning_key_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_provisioning_key ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_provisioning_key"
      end
      # resource path
      local_var_path = '/provisioning/keys/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteProvisioningKey200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_provisioning_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_provisioning_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete video
    # Deletes a video generation request.
    # @param video_id [String] The ID of the video generation request.
    # @param [Hash] opts the optional parameters
    # @return [VideoDeleteResponse]
    def delete_video(video_id, opts = {})
      data, _status_code, _headers = delete_video_with_http_info(video_id, opts)
      data
    end

    # Delete video
    # Deletes a video generation request.
    # @param video_id [String] The ID of the video generation request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoDeleteResponse, Integer, Hash)>] VideoDeleteResponse data, response status code and response headers
    def delete_video_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_video ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling DefaultApi.delete_video"
      end
      # resource path
      local_var_path = '/videos/{video_id}'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VideoDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate music
    # Generates music using the requested model and provider settings.
    # @param music_generate_request [MusicGenerateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def generate_music(music_generate_request, opts = {})
      data, _status_code, _headers = generate_music_with_http_info(music_generate_request, opts)
      data
    end

    # Generate music
    # Generates music using the requested model and provider settings.
    # @param music_generate_request [MusicGenerateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def generate_music_with_http_info(music_generate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.generate_music ...'
      end
      # verify the required parameter 'music_generate_request' is set
      if @api_client.config.client_side_validation && music_generate_request.nil?
        fail ArgumentError, "Missing the required parameter 'music_generate_request' when calling DefaultApi.generate_music"
      end
      # resource path
      local_var_path = '/music/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(music_generate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.generate_music",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#generate_music\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get activity
    # Returns recent API activity for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days to look back (default to 30)
    # @option opts [Integer] :limit Maximum number of records to return (default to 50)
    # @option opts [Integer] :offset Pagination offset (default to 0)
    # @return [GetActivity200Response]
    def get_activity(team_id, opts = {})
      data, _status_code, _headers = get_activity_with_http_info(team_id, opts)
      data
    end

    # Get activity
    # Returns recent API activity for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days to look back (default to 30)
    # @option opts [Integer] :limit Maximum number of records to return (default to 50)
    # @option opts [Integer] :offset Pagination offset (default to 0)
    # @return [Array<(GetActivity200Response, Integer, Hash)>] GetActivity200Response data, response status code and response headers
    def get_activity_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_activity ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling DefaultApi.get_activity"
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 90
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling DefaultApi.get_activity, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling DefaultApi.get_activity, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 250
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.get_activity, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.get_activity, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DefaultApi.get_activity, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/activity'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'team_id'] = team_id
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetActivity200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get analytics
    # Returns aggregated analytics data.
    # @param get_analytics_request [GetAnalyticsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetAnalytics200Response]
    def get_analytics(get_analytics_request, opts = {})
      data, _status_code, _headers = get_analytics_with_http_info(get_analytics_request, opts)
      data
    end

    # Get analytics
    # Returns aggregated analytics data.
    # @param get_analytics_request [GetAnalyticsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAnalytics200Response, Integer, Hash)>] GetAnalytics200Response data, response status code and response headers
    def get_analytics_with_http_info(get_analytics_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_analytics ...'
      end
      # verify the required parameter 'get_analytics_request' is set
      if @api_client.config.client_side_validation && get_analytics_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_analytics_request' when calling DefaultApi.get_analytics"
      end
      # resource path
      local_var_path = '/analytics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_analytics_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get remaining credits
    # Returns the remaining credits and usage statistics for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @return [GetCredits200Response]
    def get_credits(team_id, opts = {})
      data, _status_code, _headers = get_credits_with_http_info(team_id, opts)
      data
    end

    # Get remaining credits
    # Returns the remaining credits and usage statistics for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCredits200Response, Integer, Hash)>] GetCredits200Response data, response status code and response headers
    def get_credits_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_credits ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling DefaultApi.get_credits"
      end
      # resource path
      local_var_path = '/credits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'team_id'] = team_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCredits200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_credits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_credits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get generation
    # Retrieve a specific generation by ID.
    # @param id [String] The ID of the generation
    # @param [Hash] opts the optional parameters
    # @return [GenerationResponse]
    def get_generation(id, opts = {})
      data, _status_code, _headers = get_generation_with_http_info(id, opts)
      data
    end

    # Get generation
    # Retrieve a specific generation by ID.
    # @param id [String] The ID of the generation
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerationResponse, Integer, Hash)>] GenerationResponse data, response status code and response headers
    def get_generation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_generation ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_generation"
      end
      # resource path
      local_var_path = '/generation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_generation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_generation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get provisioning key
    # Returns details of a specific provisioning key.
    # @param id [String] The provisioning key ID
    # @param [Hash] opts the optional parameters
    # @return [GetProvisioningKey200Response]
    def get_provisioning_key(id, opts = {})
      data, _status_code, _headers = get_provisioning_key_with_http_info(id, opts)
      data
    end

    # Get provisioning key
    # Returns details of a specific provisioning key.
    # @param id [String] The provisioning key ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProvisioningKey200Response, Integer, Hash)>] GetProvisioningKey200Response data, response status code and response headers
    def get_provisioning_key_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_provisioning_key ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_provisioning_key"
      end
      # resource path
      local_var_path = '/provisioning/keys/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProvisioningKey200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_provisioning_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_provisioning_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get video status
    # Retrieves the status for a video generation request.
    # @param video_id [String] The ID of the video generation request.
    # @param [Hash] opts the optional parameters
    # @return [VideoGenerationResponse]
    def get_video(video_id, opts = {})
      data, _status_code, _headers = get_video_with_http_info(video_id, opts)
      data
    end

    # Get video status
    # Retrieves the status for a video generation request.
    # @param video_id [String] The ID of the video generation request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoGenerationResponse, Integer, Hash)>] VideoGenerationResponse data, response status code and response headers
    def get_video_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_video ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling DefaultApi.get_video"
      end
      # resource path
      local_var_path = '/videos/{video_id}'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VideoGenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get video content
    # Downloads the rendered video content.
    # @param video_id [String] The ID of the video generation request.
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_video_content(video_id, opts = {})
      data, _status_code, _headers = get_video_content_with_http_info(video_id, opts)
      data
    end

    # Get video content
    # Downloads the rendered video content.
    # @param video_id [String] The ID of the video generation request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_video_content_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_video_content ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling DefaultApi.get_video_content"
      end
      # resource path
      local_var_path = '/videos/{video_id}/content'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_video_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_video_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health check
    # Returns the health status of the API.
    # @param [Hash] opts the optional parameters
    # @return [Healthz200Response]
    def healthz(opts = {})
      data, _status_code, _headers = healthz_with_http_info(opts)
      data
    end

    # Health check
    # Returns the health status of the API.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Healthz200Response, Integer, Hash)>] Healthz200Response data, response status code and response headers
    def healthz_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.healthz ...'
      end
      # resource path
      local_var_path = '/healthz'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Healthz200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.healthz",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#healthz\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List files
    # Returns a list of files that belong to the user's organization.
    # @param [Hash] opts the optional parameters
    # @return [ListFilesResponse]
    def list_files(opts = {})
      data, _status_code, _headers = list_files_with_http_info(opts)
      data
    end

    # List files
    # Returns a list of files that belong to the user&#39;s organization.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListFilesResponse, Integer, Hash)>] ListFilesResponse data, response status code and response headers
    def list_files_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_files ...'
      end
      # resource path
      local_var_path = '/files'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListFilesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List models
    # Returns a list of available models.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :endpoints Filter by endpoints
    # @option opts [ListModelsOrganisationParameter] :organisation Filter by organisation
    # @option opts [Array<String>] :input_types Filter by input types
    # @option opts [Array<String>] :output_types Filter by output types
    # @option opts [Array<String>] :params Filter by params
    # @option opts [Integer] :limit Limit the number of results (default to 50)
    # @option opts [Integer] :offset Offset for pagination (default to 0)
    # @return [ListModels200Response]
    def list_models(opts = {})
      data, _status_code, _headers = list_models_with_http_info(opts)
      data
    end

    # List models
    # Returns a list of available models.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :endpoints Filter by endpoints
    # @option opts [ListModelsOrganisationParameter] :organisation Filter by organisation
    # @option opts [Array<String>] :input_types Filter by input types
    # @option opts [Array<String>] :output_types Filter by output types
    # @option opts [Array<String>] :params Filter by params
    # @option opts [Integer] :limit Limit the number of results (default to 50)
    # @option opts [Integer] :offset Offset for pagination (default to 0)
    # @return [Array<(ListModels200Response, Integer, Hash)>] ListModels200Response data, response status code and response headers
    def list_models_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_models ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 250
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_models, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_models, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DefaultApi.list_models, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/models'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'endpoints'] = @api_client.build_collection_param(opts[:'endpoints'], :multi) if !opts[:'endpoints'].nil?
      query_params[:'organisation'] = opts[:'organisation'] if !opts[:'organisation'].nil?
      query_params[:'input_types'] = @api_client.build_collection_param(opts[:'input_types'], :multi) if !opts[:'input_types'].nil?
      query_params[:'output_types'] = @api_client.build_collection_param(opts[:'output_types'], :multi) if !opts[:'output_types'].nil?
      query_params[:'params'] = @api_client.build_collection_param(opts[:'params'], :multi) if !opts[:'params'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListModels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_models",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_models\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List providers
    # Returns a list of available API providers.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Limit the number of results (default to 50)
    # @option opts [Integer] :offset Offset for pagination (default to 0)
    # @return [ListProviders200Response]
    def list_providers(opts = {})
      data, _status_code, _headers = list_providers_with_http_info(opts)
      data
    end

    # List providers
    # Returns a list of available API providers.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Limit the number of results (default to 50)
    # @option opts [Integer] :offset Offset for pagination (default to 0)
    # @return [Array<(ListProviders200Response, Integer, Hash)>] ListProviders200Response data, response status code and response headers
    def list_providers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_providers ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 250
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_providers, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_providers, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/providers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListProviders200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List provisioning keys
    # Returns all provisioning keys for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of keys to return (default to 50)
    # @option opts [Integer] :offset Pagination offset (default to 0)
    # @return [ListProvisioningKeys200Response]
    def list_provisioning_keys(team_id, opts = {})
      data, _status_code, _headers = list_provisioning_keys_with_http_info(team_id, opts)
      data
    end

    # List provisioning keys
    # Returns all provisioning keys for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of keys to return (default to 50)
    # @option opts [Integer] :offset Pagination offset (default to 0)
    # @return [Array<(ListProvisioningKeys200Response, Integer, Hash)>] ListProvisioningKeys200Response data, response status code and response headers
    def list_provisioning_keys_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_provisioning_keys ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling DefaultApi.list_provisioning_keys"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 250
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_provisioning_keys, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.list_provisioning_keys, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DefaultApi.list_provisioning_keys, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/provisioning/keys'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'team_id'] = team_id
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListProvisioningKeys200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.list_provisioning_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_provisioning_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve batch
    # Retrieves a batch.
    # @param batch_id [String] The ID of the batch to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [BatchResponse]
    def retrieve_batch(batch_id, opts = {})
      data, _status_code, _headers = retrieve_batch_with_http_info(batch_id, opts)
      data
    end

    # Retrieve batch
    # Retrieves a batch.
    # @param batch_id [String] The ID of the batch to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchResponse, Integer, Hash)>] BatchResponse data, response status code and response headers
    def retrieve_batch_with_http_info(batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.retrieve_batch ...'
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling DefaultApi.retrieve_batch"
      end
      # resource path
      local_var_path = '/batches/{batch_id}'.sub('{' + 'batch_id' + '}', CGI.escape(batch_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.retrieve_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#retrieve_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve file
    # Returns information about a specific file.
    # @param file_id [String] The ID of the file to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [FileResponse]
    def retrieve_file(file_id, opts = {})
      data, _status_code, _headers = retrieve_file_with_http_info(file_id, opts)
      data
    end

    # Retrieve file
    # Returns information about a specific file.
    # @param file_id [String] The ID of the file to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileResponse, Integer, Hash)>] FileResponse data, response status code and response headers
    def retrieve_file_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.retrieve_file ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling DefaultApi.retrieve_file"
      end
      # resource path
      local_var_path = '/files/{file_id}'.sub('{' + 'file_id' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.retrieve_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#retrieve_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Root endpoint
    # Returns a welcome message.
    # @param [Hash] opts the optional parameters
    # @return [Root200Response]
    def root(opts = {})
      data, _status_code, _headers = root_with_http_info(opts)
      data
    end

    # Root endpoint
    # Returns a welcome message.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Root200Response, Integer, Hash)>] Root200Response data, response status code and response headers
    def root_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.root ...'
      end
      # resource path
      local_var_path = '/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Root200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.root",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#root\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update provisioning key
    # Updates the name, status, or blocked state of a provisioning key.
    # @param id [String] The provisioning key ID
    # @param update_provisioning_key_request [UpdateProvisioningKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateProvisioningKey200Response]
    def update_provisioning_key(id, update_provisioning_key_request, opts = {})
      data, _status_code, _headers = update_provisioning_key_with_http_info(id, update_provisioning_key_request, opts)
      data
    end

    # Update provisioning key
    # Updates the name, status, or blocked state of a provisioning key.
    # @param id [String] The provisioning key ID
    # @param update_provisioning_key_request [UpdateProvisioningKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateProvisioningKey200Response, Integer, Hash)>] UpdateProvisioningKey200Response data, response status code and response headers
    def update_provisioning_key_with_http_info(id, update_provisioning_key_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.update_provisioning_key ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.update_provisioning_key"
      end
      # verify the required parameter 'update_provisioning_key_request' is set
      if @api_client.config.client_side_validation && update_provisioning_key_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_provisioning_key_request' when calling DefaultApi.update_provisioning_key"
      end
      # resource path
      local_var_path = '/provisioning/keys/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_provisioning_key_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateProvisioningKey200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.update_provisioning_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#update_provisioning_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload file
    # Upload a file that can be used across various endpoints.
    # @param file [File] 
    # @param purpose [String] 
    # @param [Hash] opts the optional parameters
    # @return [FileResponse]
    def upload_file(file, purpose, opts = {})
      data, _status_code, _headers = upload_file_with_http_info(file, purpose, opts)
      data
    end

    # Upload file
    # Upload a file that can be used across various endpoints.
    # @param file [File] 
    # @param purpose [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileResponse, Integer, Hash)>] FileResponse data, response status code and response headers
    def upload_file_with_http_info(file, purpose, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.upload_file ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling DefaultApi.upload_file"
      end
      # verify the required parameter 'purpose' is set
      if @api_client.config.client_side_validation && purpose.nil?
        fail ArgumentError, "Missing the required parameter 'purpose' when calling DefaultApi.upload_file"
      end
      # resource path
      local_var_path = '/files'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['purpose'] = purpose

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.upload_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#upload_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
