=begin
#AI Stats Gateway API

#A gateway API for accessing various AI models with OpenAI-compatible endpoints.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module AIStatsSdk
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate pricing
    # Calculates price for a usage payload.
    # @param calculate_pricing_request [CalculatePricingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CalculatePricing200Response]
    def calculate_pricing(calculate_pricing_request, opts = {})
      data, _status_code, _headers = calculate_pricing_with_http_info(calculate_pricing_request, opts)
      data
    end

    # Calculate pricing
    # Calculates price for a usage payload.
    # @param calculate_pricing_request [CalculatePricingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalculatePricing200Response, Integer, Hash)>] CalculatePricing200Response data, response status code and response headers
    def calculate_pricing_with_http_info(calculate_pricing_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.calculate_pricing ...'
      end
      # verify the required parameter 'calculate_pricing_request' is set
      if @api_client.config.client_side_validation && calculate_pricing_request.nil?
        fail ArgumentError, "Missing the required parameter 'calculate_pricing_request' when calling DefaultApi.calculate_pricing"
      end
      # resource path
      local_var_path = '/pricing/calculate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(calculate_pricing_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CalculatePricing200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.calculate_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#calculate_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create message
    # Creates a message using the Anthropic Messages API.
    # @param anthropic_messages_request [AnthropicMessagesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AnthropicMessagesResponse]
    def create_anthropic_message(anthropic_messages_request, opts = {})
      data, _status_code, _headers = create_anthropic_message_with_http_info(anthropic_messages_request, opts)
      data
    end

    # Create message
    # Creates a message using the Anthropic Messages API.
    # @param anthropic_messages_request [AnthropicMessagesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnthropicMessagesResponse, Integer, Hash)>] AnthropicMessagesResponse data, response status code and response headers
    def create_anthropic_message_with_http_info(anthropic_messages_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_anthropic_message ...'
      end
      # verify the required parameter 'anthropic_messages_request' is set
      if @api_client.config.client_side_validation && anthropic_messages_request.nil?
        fail ArgumentError, "Missing the required parameter 'anthropic_messages_request' when calling DefaultApi.create_anthropic_message"
      end
      # resource path
      local_var_path = '/messages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/event-stream']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(anthropic_messages_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AnthropicMessagesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_anthropic_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_anthropic_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create batch
    # Creates a batch of API requests.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchResponse]
    def create_batch(batch_request, opts = {})
      data, _status_code, _headers = create_batch_with_http_info(batch_request, opts)
      data
    end

    # Create batch
    # Creates a batch of API requests.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchResponse, Integer, Hash)>] BatchResponse data, response status code and response headers
    def create_batch_with_http_info(batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_batch ...'
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling DefaultApi.create_batch"
      end
      # resource path
      local_var_path = '/batches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create batch (alias)
    # Alias of /batches.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchResponse]
    def create_batch_alias(batch_request, opts = {})
      data, _status_code, _headers = create_batch_alias_with_http_info(batch_request, opts)
      data
    end

    # Create batch (alias)
    # Alias of /batches.
    # @param batch_request [BatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchResponse, Integer, Hash)>] BatchResponse data, response status code and response headers
    def create_batch_alias_with_http_info(batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_batch_alias ...'
      end
      # verify the required parameter 'batch_request' is set
      if @api_client.config.client_side_validation && batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_request' when calling DefaultApi.create_batch_alias"
      end
      # resource path
      local_var_path = '/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_batch_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_batch_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create chat completion
    # Creates a completion for the chat message.
    # @param chat_completions_request [ChatCompletionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ChatCompletionsResponse]
    def create_chat_completion(chat_completions_request, opts = {})
      data, _status_code, _headers = create_chat_completion_with_http_info(chat_completions_request, opts)
      data
    end

    # Create chat completion
    # Creates a completion for the chat message.
    # @param chat_completions_request [ChatCompletionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChatCompletionsResponse, Integer, Hash)>] ChatCompletionsResponse data, response status code and response headers
    def create_chat_completion_with_http_info(chat_completions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_chat_completion ...'
      end
      # verify the required parameter 'chat_completions_request' is set
      if @api_client.config.client_side_validation && chat_completions_request.nil?
        fail ArgumentError, "Missing the required parameter 'chat_completions_request' when calling DefaultApi.create_chat_completion"
      end
      # resource path
      local_var_path = '/chat/completions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(chat_completions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ChatCompletionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_chat_completion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_chat_completion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create embeddings
    # Creates an embedding vector representing the input text.
    # @param embeddings_request [EmbeddingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmbeddingsResponse]
    def create_embedding(embeddings_request, opts = {})
      data, _status_code, _headers = create_embedding_with_http_info(embeddings_request, opts)
      data
    end

    # Create embeddings
    # Creates an embedding vector representing the input text.
    # @param embeddings_request [EmbeddingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmbeddingsResponse, Integer, Hash)>] EmbeddingsResponse data, response status code and response headers
    def create_embedding_with_http_info(embeddings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_embedding ...'
      end
      # resource path
      local_var_path = '/embeddings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(embeddings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmbeddingsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_embedding",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_embedding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create image
    # Creates an image given a prompt.
    # @param images_generation_request [ImagesGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImagesGenerationResponse]
    def create_image(images_generation_request, opts = {})
      data, _status_code, _headers = create_image_with_http_info(images_generation_request, opts)
      data
    end

    # Create image
    # Creates an image given a prompt.
    # @param images_generation_request [ImagesGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImagesGenerationResponse, Integer, Hash)>] ImagesGenerationResponse data, response status code and response headers
    def create_image_with_http_info(images_generation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_image ...'
      end
      # verify the required parameter 'images_generation_request' is set
      if @api_client.config.client_side_validation && images_generation_request.nil?
        fail ArgumentError, "Missing the required parameter 'images_generation_request' when calling DefaultApi.create_image"
      end
      # resource path
      local_var_path = '/images/generations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(images_generation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesGenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_image",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create image edit
    # Creates an edited or extended image given an original image and a prompt.
    # @param model [String] 
    # @param image [String] 
    # @param prompt [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mask 
    # @option opts [String] :size 
    # @option opts [Integer] :n 
    # @option opts [String] :user 
    # @option opts [Boolean] :meta 
    # @option opts [Boolean] :usage 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [ImagesEditResponse]
    def create_image_edit(model, image, prompt, opts = {})
      data, _status_code, _headers = create_image_edit_with_http_info(model, image, prompt, opts)
      data
    end

    # Create image edit
    # Creates an edited or extended image given an original image and a prompt.
    # @param model [String] 
    # @param image [String] 
    # @param prompt [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mask 
    # @option opts [String] :size 
    # @option opts [Integer] :n 
    # @option opts [String] :user 
    # @option opts [Boolean] :meta 
    # @option opts [Boolean] :usage 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [Array<(ImagesEditResponse, Integer, Hash)>] ImagesEditResponse data, response status code and response headers
    def create_image_edit_with_http_info(model, image, prompt, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_image_edit ...'
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling DefaultApi.create_image_edit"
      end
      # verify the required parameter 'image' is set
      if @api_client.config.client_side_validation && image.nil?
        fail ArgumentError, "Missing the required parameter 'image' when calling DefaultApi.create_image_edit"
      end
      # verify the required parameter 'prompt' is set
      if @api_client.config.client_side_validation && prompt.nil?
        fail ArgumentError, "Missing the required parameter 'prompt' when calling DefaultApi.create_image_edit"
      end
      if @api_client.config.client_side_validation && !opts[:'n'].nil? && opts[:'n'] > 10
        fail ArgumentError, 'invalid value for "opts[:"n"]" when calling DefaultApi.create_image_edit, must be smaller than or equal to 10.'
      end

      if @api_client.config.client_side_validation && !opts[:'n'].nil? && opts[:'n'] < 1
        fail ArgumentError, 'invalid value for "opts[:"n"]" when calling DefaultApi.create_image_edit, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/images/edits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['model'] = model
      form_params['image'] = image
      form_params['prompt'] = prompt
      form_params['mask'] = opts[:'mask'] if !opts[:'mask'].nil?
      form_params['size'] = opts[:'size'] if !opts[:'size'].nil?
      form_params['n'] = opts[:'n'] if !opts[:'n'].nil?
      form_params['user'] = opts[:'user'] if !opts[:'user'].nil?
      form_params['meta'] = opts[:'meta'] if !opts[:'meta'].nil?
      form_params['usage'] = opts[:'usage'] if !opts[:'usage'].nil?
      form_params['provider'] = opts[:'provider'] if !opts[:'provider'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImagesEditResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_image_edit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_image_edit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create key (placeholder)
    # Placeholder route; currently returns not implemented.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_key_placeholder(opts = {})
      create_key_placeholder_with_http_info(opts)
      nil
    end

    # Create key (placeholder)
    # Placeholder route; currently returns not implemented.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_key_placeholder_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_key_placeholder ...'
      end
      # resource path
      local_var_path = '/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_key_placeholder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_key_placeholder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create moderation
    # Classifies if text violates OpenAI's usage policies.
    # @param moderations_request [ModerationsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ModerationsResponse]
    def create_moderation(moderations_request, opts = {})
      data, _status_code, _headers = create_moderation_with_http_info(moderations_request, opts)
      data
    end

    # Create moderation
    # Classifies if text violates OpenAI&#39;s usage policies.
    # @param moderations_request [ModerationsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModerationsResponse, Integer, Hash)>] ModerationsResponse data, response status code and response headers
    def create_moderation_with_http_info(moderations_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_moderation ...'
      end
      # verify the required parameter 'moderations_request' is set
      if @api_client.config.client_side_validation && moderations_request.nil?
        fail ArgumentError, "Missing the required parameter 'moderations_request' when calling DefaultApi.create_moderation"
      end
      # resource path
      local_var_path = '/moderations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(moderations_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ModerationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_moderation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_moderation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create OAuth client
    # Creates a team-scoped OAuth client.
    # @param create_o_auth_client_request [CreateOAuthClientRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def create_o_auth_client(create_o_auth_client_request, opts = {})
      data, _status_code, _headers = create_o_auth_client_with_http_info(create_o_auth_client_request, opts)
      data
    end

    # Create OAuth client
    # Creates a team-scoped OAuth client.
    # @param create_o_auth_client_request [CreateOAuthClientRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def create_o_auth_client_with_http_info(create_o_auth_client_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_o_auth_client ...'
      end
      # verify the required parameter 'create_o_auth_client_request' is set
      if @api_client.config.client_side_validation && create_o_auth_client_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_o_auth_client_request' when calling DefaultApi.create_o_auth_client"
      end
      # resource path
      local_var_path = '/oauth-clients'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_o_auth_client_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_o_auth_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_o_auth_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create OCR
    # Extracts text from an image using the requested model.
    # @param ocr_request [OcrRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def create_ocr(ocr_request, opts = {})
      data, _status_code, _headers = create_ocr_with_http_info(ocr_request, opts)
      data
    end

    # Create OCR
    # Extracts text from an image using the requested model.
    # @param ocr_request [OcrRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def create_ocr_with_http_info(ocr_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_ocr ...'
      end
      # verify the required parameter 'ocr_request' is set
      if @api_client.config.client_side_validation && ocr_request.nil?
        fail ArgumentError, "Missing the required parameter 'ocr_request' when calling DefaultApi.create_ocr"
      end
      # resource path
      local_var_path = '/ocr'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ocr_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_ocr",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_ocr\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create response
    # Creates a response using the Responses API.
    # @param responses_request [ResponsesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ResponsesResponse]
    def create_response(responses_request, opts = {})
      data, _status_code, _headers = create_response_with_http_info(responses_request, opts)
      data
    end

    # Create response
    # Creates a response using the Responses API.
    # @param responses_request [ResponsesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponsesResponse, Integer, Hash)>] ResponsesResponse data, response status code and response headers
    def create_response_with_http_info(responses_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_response ...'
      end
      # verify the required parameter 'responses_request' is set
      if @api_client.config.client_side_validation && responses_request.nil?
        fail ArgumentError, "Missing the required parameter 'responses_request' when calling DefaultApi.create_response"
      end
      # resource path
      local_var_path = '/responses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(responses_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResponsesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_response",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_response\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate speech
    # Generates audio from the input text.
    # @param audio_speech_request [AudioSpeechRequest] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def create_speech(audio_speech_request, opts = {})
      data, _status_code, _headers = create_speech_with_http_info(audio_speech_request, opts)
      data
    end

    # Generate speech
    # Generates audio from the input text.
    # @param audio_speech_request [AudioSpeechRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def create_speech_with_http_info(audio_speech_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_speech ...'
      end
      # verify the required parameter 'audio_speech_request' is set
      if @api_client.config.client_side_validation && audio_speech_request.nil?
        fail ArgumentError, "Missing the required parameter 'audio_speech_request' when calling DefaultApi.create_speech"
      end
      # resource path
      local_var_path = '/audio/speech'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['audio/mpeg']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(audio_speech_request)

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_speech",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_speech\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create transcription
    # Transcribes audio into the input language.
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audio_url 
    # @option opts [String] :audio_b64 
    # @option opts [String] :language 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [AudioTranscriptionResponse]
    def create_transcription(model, opts = {})
      data, _status_code, _headers = create_transcription_with_http_info(model, opts)
      data
    end

    # Create transcription
    # Transcribes audio into the input language.
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audio_url 
    # @option opts [String] :audio_b64 
    # @option opts [String] :language 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [Array<(AudioTranscriptionResponse, Integer, Hash)>] AudioTranscriptionResponse data, response status code and response headers
    def create_transcription_with_http_info(model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_transcription ...'
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling DefaultApi.create_transcription"
      end
      # resource path
      local_var_path = '/audio/transcriptions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['model'] = model
      form_params['audio_url'] = opts[:'audio_url'] if !opts[:'audio_url'].nil?
      form_params['audio_b64'] = opts[:'audio_b64'] if !opts[:'audio_b64'].nil?
      form_params['language'] = opts[:'language'] if !opts[:'language'].nil?
      form_params['provider'] = opts[:'provider'] if !opts[:'provider'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTranscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_transcription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_transcription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create translation
    # Translates audio into English.
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audio_url 
    # @option opts [String] :audio_b64 
    # @option opts [String] :language 
    # @option opts [String] :prompt 
    # @option opts [Float] :temperature 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [AudioTranslationResponse]
    def create_translation(model, opts = {})
      data, _status_code, _headers = create_translation_with_http_info(model, opts)
      data
    end

    # Create translation
    # Translates audio into English.
    # @param model [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :audio_url 
    # @option opts [String] :audio_b64 
    # @option opts [String] :language 
    # @option opts [String] :prompt 
    # @option opts [Float] :temperature 
    # @option opts [ProviderRoutingOptions] :provider 
    # @return [Array<(AudioTranslationResponse, Integer, Hash)>] AudioTranslationResponse data, response status code and response headers
    def create_translation_with_http_info(model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_translation ...'
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling DefaultApi.create_translation"
      end
      if @api_client.config.client_side_validation && !opts[:'temperature'].nil? && opts[:'temperature'] > 2
        fail ArgumentError, 'invalid value for "opts[:"temperature"]" when calling DefaultApi.create_translation, must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'temperature'].nil? && opts[:'temperature'] < 0
        fail ArgumentError, 'invalid value for "opts[:"temperature"]" when calling DefaultApi.create_translation, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/audio/translations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['model'] = model
      form_params['audio_url'] = opts[:'audio_url'] if !opts[:'audio_url'].nil?
      form_params['audio_b64'] = opts[:'audio_b64'] if !opts[:'audio_b64'].nil?
      form_params['language'] = opts[:'language'] if !opts[:'language'].nil?
      form_params['prompt'] = opts[:'prompt'] if !opts[:'prompt'].nil?
      form_params['temperature'] = opts[:'temperature'] if !opts[:'temperature'].nil?
      form_params['provider'] = opts[:'provider'] if !opts[:'provider'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AudioTranslationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_translation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_translation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create video
    # Creates a video from a prompt.
    # @param video_generation_request [VideoGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VideoGenerationResponse]
    def create_video(video_generation_request, opts = {})
      data, _status_code, _headers = create_video_with_http_info(video_generation_request, opts)
      data
    end

    # Create video
    # Creates a video from a prompt.
    # @param video_generation_request [VideoGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoGenerationResponse, Integer, Hash)>] VideoGenerationResponse data, response status code and response headers
    def create_video_with_http_info(video_generation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_video ...'
      end
      # verify the required parameter 'video_generation_request' is set
      if @api_client.config.client_side_validation && video_generation_request.nil?
        fail ArgumentError, "Missing the required parameter 'video_generation_request' when calling DefaultApi.create_video"
      end
      # resource path
      local_var_path = '/videos'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(video_generation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VideoGenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create video (alias)
    # Alias of /videos.
    # @param video_generation_request [VideoGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VideoGenerationResponse]
    def create_video_alias(video_generation_request, opts = {})
      data, _status_code, _headers = create_video_alias_with_http_info(video_generation_request, opts)
      data
    end

    # Create video (alias)
    # Alias of /videos.
    # @param video_generation_request [VideoGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoGenerationResponse, Integer, Hash)>] VideoGenerationResponse data, response status code and response headers
    def create_video_alias_with_http_info(video_generation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_video_alias ...'
      end
      # verify the required parameter 'video_generation_request' is set
      if @api_client.config.client_side_validation && video_generation_request.nil?
        fail ArgumentError, "Missing the required parameter 'video_generation_request' when calling DefaultApi.create_video_alias"
      end
      # resource path
      local_var_path = '/video/generations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(video_generation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VideoGenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.create_video_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_video_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete OAuth client
    # Deletes an OAuth client and related metadata.
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def delete_o_auth_client(client_id, opts = {})
      data, _status_code, _headers = delete_o_auth_client_with_http_info(client_id, opts)
      data
    end

    # Delete OAuth client
    # Deletes an OAuth client and related metadata.
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def delete_o_auth_client_with_http_info(client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_o_auth_client ...'
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling DefaultApi.delete_o_auth_client"
      end
      # resource path
      local_var_path = '/oauth-clients/{client_id}'.sub('{' + 'client_id' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_o_auth_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_o_auth_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete management API key
    # Permanently deletes a management API key.
    # @param id [String] The management API key ID
    # @param [Hash] opts the optional parameters
    # @return [DeleteProvisioningKey200Response]
    def delete_provisioning_key(id, opts = {})
      data, _status_code, _headers = delete_provisioning_key_with_http_info(id, opts)
      data
    end

    # Delete management API key
    # Permanently deletes a management API key.
    # @param id [String] The management API key ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteProvisioningKey200Response, Integer, Hash)>] DeleteProvisioningKey200Response data, response status code and response headers
    def delete_provisioning_key_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_provisioning_key ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_provisioning_key"
      end
      # resource path
      local_var_path = '/management/keys/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteProvisioningKey200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_provisioning_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_provisioning_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete provisioning key
    # Alias of management key delete endpoint.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def delete_provisioning_key_alias(id, opts = {})
      data, _status_code, _headers = delete_provisioning_key_alias_with_http_info(id, opts)
      data
    end

    # Delete provisioning key
    # Alias of management key delete endpoint.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def delete_provisioning_key_alias_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_provisioning_key_alias ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.delete_provisioning_key_alias"
      end
      # resource path
      local_var_path = '/provisioning/keys/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_provisioning_key_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_provisioning_key_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete video
    # Deletes a video generation request.
    # @param video_id [String] The ID of the video generation request.
    # @param [Hash] opts the optional parameters
    # @return [VideoDeleteResponse]
    def delete_video(video_id, opts = {})
      data, _status_code, _headers = delete_video_with_http_info(video_id, opts)
      data
    end

    # Delete video
    # Deletes a video generation request.
    # @param video_id [String] The ID of the video generation request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoDeleteResponse, Integer, Hash)>] VideoDeleteResponse data, response status code and response headers
    def delete_video_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_video ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling DefaultApi.delete_video"
      end
      # resource path
      local_var_path = '/videos/{video_id}'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VideoDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete video (alias)
    # Alias of /videos/{video_id}.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [VideoDeleteResponse]
    def delete_video_alias(video_id, opts = {})
      data, _status_code, _headers = delete_video_alias_with_http_info(video_id, opts)
      data
    end

    # Delete video (alias)
    # Alias of /videos/{video_id}.
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VideoDeleteResponse, Integer, Hash)>] VideoDeleteResponse data, response status code and response headers
    def delete_video_alias_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_video_alias ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling DefaultApi.delete_video_alias"
      end
      # resource path
      local_var_path = '/video/generations/{video_id}'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VideoDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.delete_video_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_video_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate music
    # Generates music using the requested model and provider settings.
    # @param music_generate_request [MusicGenerateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def generate_music(music_generate_request, opts = {})
      data, _status_code, _headers = generate_music_with_http_info(music_generate_request, opts)
      data
    end

    # Generate music
    # Generates music using the requested model and provider settings.
    # @param music_generate_request [MusicGenerateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def generate_music_with_http_info(music_generate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.generate_music ...'
      end
      # verify the required parameter 'music_generate_request' is set
      if @api_client.config.client_side_validation && music_generate_request.nil?
        fail ArgumentError, "Missing the required parameter 'music_generate_request' when calling DefaultApi.generate_music"
      end
      # resource path
      local_var_path = '/music/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(music_generate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.generate_music",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#generate_music\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate music (alias)
    # Alias of /music/generate.
    # @param music_generate_request [MusicGenerateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def generate_music_alias(music_generate_request, opts = {})
      data, _status_code, _headers = generate_music_alias_with_http_info(music_generate_request, opts)
      data
    end

    # Generate music (alias)
    # Alias of /music/generate.
    # @param music_generate_request [MusicGenerateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def generate_music_alias_with_http_info(music_generate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.generate_music_alias ...'
      end
      # verify the required parameter 'music_generate_request' is set
      if @api_client.config.client_side_validation && music_generate_request.nil?
        fail ArgumentError, "Missing the required parameter 'music_generate_request' when calling DefaultApi.generate_music_alias"
      end
      # resource path
      local_var_path = '/music/generations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(music_generate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.generate_music_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#generate_music_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get activity
    # Returns recent API activity for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days to look back (default to 30)
    # @option opts [Integer] :limit Maximum number of records to return (default to 50)
    # @option opts [Integer] :offset Pagination offset (default to 0)
    # @return [GetActivity200Response]
    def get_activity(team_id, opts = {})
      data, _status_code, _headers = get_activity_with_http_info(team_id, opts)
      data
    end

    # Get activity
    # Returns recent API activity for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days to look back (default to 30)
    # @option opts [Integer] :limit Maximum number of records to return (default to 50)
    # @option opts [Integer] :offset Pagination offset (default to 0)
    # @return [Array<(GetActivity200Response, Integer, Hash)>] GetActivity200Response data, response status code and response headers
    def get_activity_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_activity ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling DefaultApi.get_activity"
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 90
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling DefaultApi.get_activity, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling DefaultApi.get_activity, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 250
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.get_activity, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.get_activity, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DefaultApi.get_activity, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/activity'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'team_id'] = team_id
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetActivity200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get analytics
    # Returns aggregated analytics data.
    # @param get_analytics_request [GetAnalyticsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetAnalytics200Response]
    def get_analytics(get_analytics_request, opts = {})
      data, _status_code, _headers = get_analytics_with_http_info(get_analytics_request, opts)
      data
    end

    # Get analytics
    # Returns aggregated analytics data.
    # @param get_analytics_request [GetAnalyticsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAnalytics200Response, Integer, Hash)>] GetAnalytics200Response data, response status code and response headers
    def get_analytics_with_http_info(get_analytics_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_analytics ...'
      end
      # verify the required parameter 'get_analytics_request' is set
      if @api_client.config.client_side_validation && get_analytics_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_analytics_request' when calling DefaultApi.get_analytics"
      end
      # resource path
      local_var_path = '/analytics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_analytics_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get remaining credits
    # Returns the remaining credits and usage statistics for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @return [GetCredits200Response]
    def get_credits(team_id, opts = {})
      data, _status_code, _headers = get_credits_with_http_info(team_id, opts)
      data
    end

    # Get remaining credits
    # Returns the remaining credits and usage statistics for a team.
    # @param team_id [String] The team ID to query
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCredits200Response, Integer, Hash)>] GetCredits200Response data, response status code and response headers
    def get_credits_with_http_info(team_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_credits ...'
      end
      # verify the required parameter 'team_id' is set
      if @api_client.config.client_side_validation && team_id.nil?
        fail ArgumentError, "Missing the required parameter 'team_id' when calling DefaultApi.get_credits"
      end
      # resource path
      local_var_path = '/credits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'team_id'] = team_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCredits200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_credits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_credits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get generation
    # Retrieve a specific generation by ID.
    # @param id [String] The ID of the generation
    # @param [Hash] opts the optional parameters
    # @return [GenerationResponse]
    def get_generation(id, opts = {})
      data, _status_code, _headers = get_generation_with_http_info(id, opts)
      data
    end

    # Get generation
    # Retrieve a specific generation by ID.
    # @param id [String] The ID of the generation
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerationResponse, Integer, Hash)>] GenerationResponse data, response status code and response headers
    def get_generation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_generation ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_generation"
      end
      # resource path
      local_var_path = '/generations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GenerationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_generation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_generation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get key (placeholder)
    # Placeholder route; currently returns not implemented.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_key_placeholder(opts = {})
      get_key_placeholder_with_http_info(opts)
      nil
    end

    # Get key (placeholder)
    # Placeholder route; currently returns not implemented.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_key_placeholder_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_key_placeholder ...'
      end
      # resource path
      local_var_path = '/key'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_key_placeholder",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_key_placeholder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get music generation status
    # Retrieves the status for a music generation request.
    # @param music_id [String] The ID of the music generation request.
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def get_music_generation(music_id, opts = {})
      data, _status_code, _headers = get_music_generation_with_http_info(music_id, opts)
      data
    end

    # Get music generation status
    # Retrieves the status for a music generation request.
    # @param music_id [String] The ID of the music generation request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_music_generation_with_http_info(music_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_music_generation ...'
      end
      # verify the required parameter 'music_id' is set
      if @api_client.config.client_side_validation && music_id.nil?
        fail ArgumentError, "Missing the required parameter 'music_id' when calling DefaultApi.get_music_generation"
      end
      # resource path
      local_var_path = '/music/generate/{music_id}'.sub('{' + 'music_id' + '}', CGI.escape(music_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_music_generation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_music_generation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get music generation status (alias)
    # Alias of /music/generate/{music_id}.
    # @param music_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def get_music_generation_alias(music_id, opts = {})
      data, _status_code, _headers = get_music_generation_alias_with_http_info(music_id, opts)
      data
    end

    # Get music generation status (alias)
    # Alias of /music/generate/{music_id}.
    # @param music_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_music_generation_alias_with_http_info(music_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_music_generation_alias ...'
      end
      # verify the required parameter 'music_id' is set
      if @api_client.config.client_side_validation && music_id.nil?
        fail ArgumentError, "Missing the required parameter 'music_id' when calling DefaultApi.get_music_generation_alias"
      end
      # resource path
      local_var_path = '/music/generations/{music_id}'.sub('{' + 'music_id' + '}', CGI.escape(music_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_music_generation_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_music_generation_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OAuth client
    # Returns details for an OAuth client.
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def get_o_auth_client(client_id, opts = {})
      data, _status_code, _headers = get_o_auth_client_with_http_info(client_id, opts)
      data
    end

    # Get OAuth client
    # Returns details for an OAuth client.
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_o_auth_client_with_http_info(client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_o_auth_client ...'
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling DefaultApi.get_o_auth_client"
      end
      # resource path
      local_var_path = '/oauth-clients/{client_id}'.sub('{' + 'client_id' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_o_auth_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_o_auth_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Provider derank status
    # Returns breaker-based derank/recovery status for a provider.
    # @param provider_id [String] Provider identifier.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :window_hours Observation window in hours.
    # @option opts [Integer] :max_pairs Max endpoint/model tuples to inspect.
    # @option opts [Integer] :fetch_limit Max recent requests to scan.
    # @return [Hash<String, Object>]
    def get_provider_derank_status(provider_id, opts = {})
      data, _status_code, _headers = get_provider_derank_status_with_http_info(provider_id, opts)
      data
    end

    # Provider derank status
    # Returns breaker-based derank/recovery status for a provider.
    # @param provider_id [String] Provider identifier.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :window_hours Observation window in hours.
    # @option opts [Integer] :max_pairs Max endpoint/model tuples to inspect.
    # @option opts [Integer] :fetch_limit Max recent requests to scan.
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def get_provider_derank_status_with_http_info(provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_provider_derank_status ...'
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling DefaultApi.get_provider_derank_status"
      end
      if @api_client.config.client_side_validation && !opts[:'window_hours'].nil? && opts[:'window_hours'] > 168
        fail ArgumentError, 'invalid value for "opts[:"window_hours"]" when calling DefaultApi.get_provider_derank_status, must be smaller than or equal to 168.'
      end

      if @api_client.config.client_side_validation && !opts[:'window_hours'].nil? && opts[:'window_hours'] < 1
        fail ArgumentError, 'invalid value for "opts[:"window_hours"]" when calling DefaultApi.get_provider_derank_status, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_pairs'].nil? && opts[:'max_pairs'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_pairs"]" when calling DefaultApi.get_provider_derank_status, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_pairs'].nil? && opts[:'max_pairs'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_pairs"]" when calling DefaultApi.get_provider_derank_status, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'fetch_limit'].nil? && opts[:'fetch_limit'] > 2000
        fail ArgumentError, 'invalid value for "opts[:"fetch_limit"]" when calling DefaultApi.get_provider_derank_status, must be smaller than or equal to 2000.'
      end

      if @api_client.config.client_side_validation && !opts[:'fetch_limit'].nil? && opts[:'fetch_limit'] < 50
        fail ArgumentError, 'invalid value for "opts[:"fetch_limit"]" when calling DefaultApi.get_provider_derank_status, must be greater than or equal to 50.'
      end

      # resource path
      local_var_path = '/health/providers/{provider_id}/derank'.sub('{' + 'provider_id' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'window_hours'] = opts[:'window_hours'] if !opts[:'window_hours'].nil?
      query_params[:'max_pairs'] = opts[:'max_pairs'] if !opts[:'max_pairs'].nil?
      query_params[:'fetch_limit'] = opts[:'fetch_limit'] if !opts[:'fetch_limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_provider_derank_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_provider_derank_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get management API key
    # Returns details of a specific management API key.
    # @param id [String] The management API key ID
    # @param [Hash] opts the optional parameters
    # @return [GetProvisioningKey200Response]
    def get_provisioning_key(id, opts = {})
      data, _status_code, _headers = get_provisioning_key_with_http_info(id, opts)
      data
    end

    # Get management API key
    # Returns details of a specific management API key.
    # @param id [String] The management API key ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProvisioningKey200Response, Integer, Hash)>] GetProvisioningKey200Response data, response status code and response headers
    def get_provisioning_key_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_provisioning_key ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.get_provisioning_key"
      end
      # resource path
      local_var_path = '/management/keys/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
[...]
