openapi: 3.0.3
info:
  title: Phaseo Gateway API
  description: Uma API de gateway para acessar diversos modelos de IA por meio de endpoints compatíveis com OpenAI.
  version: 1.0.0
  contact:
    name: Phaseo
    url: https://phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
    description: Roteamento global
security:
  - BearerAuth: []
paths:
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Roteamento global
        - url: https://eu.api.phaseo.app/v1
          description: Roteamento regional para provedores da UE (somente texto)
        - url: https://us.api.phaseo.app/v1
          description: Roteamento regional para provedores dos EUA (somente texto)
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: Listar modelos do gateway
      description: Retorna modelos compartilhados e não ocultos do gateway. Por padrão, inclui os modelos que podem ser roteados publicamente; use `availability=all` para incluir registros de disponibilidade que não podem ser roteados.
      parameters:
        - name: search
          in: query
          description: Pesquisa sem diferenciar maiúsculas e minúsculas em identificadores, nomes e descrições de modelos e organizações.
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: Pesquisa de provedores ou organizações de modelos sem diferenciar maiúsculas e minúsculas.
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: Exigir uma modalidade de entrada suportada.
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: Exigir pelo menos esta quantidade de tokens de contexto de entrada.
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: Preço máximo em USD de entrada por milhão de tokens.
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: Retornar apenas modelos com pelo menos uma oferta roteável do gateway.
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: Campo usado para ordenar os resultados da descoberta de modelos.
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: Direção de ordenação opcional. Preços são ordenados de forma crescente por padrão; outros valores numéricos, de forma decrescente.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: Filtrar por endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrar por organização
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrar por ID do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar pelo status de lançamento do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar pelo status de roteamento do provedor
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar pelo status de roteamento do modelo
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar pelo status de recursos do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar pelo status de disponibilidade do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar pelo motivo de disponibilidade do provedor
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar pelo status do modelo
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrar por tipos de entrada
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: Alias público de `input_types`.
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrar por tipos de saída
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: Alias público de `output_types`.
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrar por parâmetros
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Alias público de `params`.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtro de disponibilidade. `active` retorna somente modelos roteáveis publicamente; `all` inclui registros de disponibilidade não roteáveis.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limitar o número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Deslocamento da paginação
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Formato da resposta. O padrão é `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Aceita `json`, `rss` ou `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Lista de modelos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Feed XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Feed XML Atom
        '400':
          description: Parâmetros de solicitação inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: Listar os recursos dos endpoints do modelo
      description: Retorna linhas de endpoints específicas do provedor para um modelo, incluindo caminhos públicos, modalidades, parâmetros compatíveis, disponibilidade, estado de roteamento, slugs de modelos do provedor e resumos de preços dos endpoints.
      parameters:
        - name: author
          in: path
          required: true
          description: Segmento do autor ou da organização do modelo.
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: Segmento do slug do modelo.
          schema:
            type: string
        - name: provider
          in: query
          description: Filtrar por ID do provedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar pelo status de lançamento do provedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar pelo status de roteamento do provedor.
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar pelo status de roteamento do modelo.
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar pelo status de recursos do provedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar pelo status de disponibilidade do provedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar pelo motivo de disponibilidade do provedor.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar pelo status canônico do ciclo de vida do modelo.
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Filtrar linhas de endpoints por nomes de parâmetros compatíveis ou aliases.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` retorna linhas de endpoints roteáveis publicamente; `all` também inclui linhas futuras e inativas.'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: Linhas de capacidades dos endpoints do modelo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: Parâmetros de solicitação inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Nenhum modelo encontrado para os filtros de disponibilidade e provedor solicitados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: Listar modelos do gateway por equipe
      description: Retorna a lista de modelos do gateway por equipe. Por padrão, inclui modelos roteáveis publicamente; use `availability=all` para incluir registros de disponibilidade não roteáveis.
      parameters:
        - name: endpoints
          in: query
          description: Filtrar por endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrar por organização
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrar por ID do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar pelo status de lançamento do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar pelo status de roteamento do provedor
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar pelo status de roteamento do modelo
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar pelo status de recursos do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar pelo status de disponibilidade do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar pelo motivo de disponibilidade do provedor
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar pelo status do modelo
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrar por tipos de entrada
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrar por tipos de saída
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrar por parâmetros
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtro de disponibilidade. `active` retorna somente modelos roteáveis publicamente; `all` inclui registros de disponibilidade não roteáveis.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limitar o número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Deslocamento da paginação
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Formato da resposta. O padrão é `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Aceita `json`, `rss` ou `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Lista de modelos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Feed XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Feed XML Atom
        '400':
          description: Parâmetros de solicitação inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: Listar provedores
      description: Retorna uma lista de provedores de API disponíveis.
      parameters:
        - name: limit
          in: query
          description: Limitar o número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Deslocamento da paginação
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista de provedores
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: Obter uma geração
      description: Recupera uma geração específica pelo ID.
      parameters:
        - name: id
          in: query
          required: true
          description: ID da geração
          schema:
            type: string
      responses:
        '200':
          description: Dados da geração
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Roteamento global
        - url: https://eu.api.phaseo.app/v1
          description: Roteamento regional para provedores da UE (somente texto)
        - url: https://us.api.phaseo.app/v1
          description: Roteamento regional para provedores dos EUA (somente texto)
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: Criar uma conclusão de chat
      description: Cria uma conclusão para a mensagem de chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: Resposta de conclusão de chat
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Roteamento global
        - url: https://eu.api.phaseo.app/v1
          description: Roteamento regional para provedores da UE (somente texto)
        - url: https://us.api.phaseo.app/v1
          description: Roteamento regional para provedores dos EUA (somente texto)
      tags:
        - Gateway
      operationId: createResponse
      summary: Criar uma resposta
      description: Cria uma resposta usando a Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: Resposta
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /async/{kind}/{id}/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openAsyncJobWebSocket
      summary: Open async job websocket
      description: |
        Opens a persistent websocket session for owned async batch or video job updates.
        WebSocket handshake uses HTTP GET upgrade semantics and returns `101 Switching Protocols` on success (not `200`). The socket emits a `job.snapshot` immediately after upgrade and subsequent `job.updated` envelopes when the normalized async job payload changes.
        If `close_on_terminal` is enabled, the gateway closes the socket after a terminal `completed`, `failed`, `cancelled`, or `expired` update.
      parameters:
        - name: kind
          in: path
          required: true
          description: Async job kind.
          schema:
            type: string
            enum:
              - batch
              - video
        - name: id
          in: path
          required: true
          description: Gateway-owned async job id.
          schema:
            type: string
        - name: interval_ms
          in: query
          required: false
          description: Polling interval used by the websocket recovery loop.
          schema:
            type: integer
            minimum: 1000
            maximum: 10000
            default: 2500
        - name: close_on_terminal
          in: query
          required: false
          description: Close the socket after a terminal lifecycle update.
          schema:
            type: boolean
            default: true
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketClientEvent'
            serverEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketServerEvent'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Async job not found or not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobWebSocketUpgradeRequiredResponse'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Roteamento global
        - url: https://eu.api.phaseo.app/v1
          description: Roteamento regional para provedores da UE (somente texto)
        - url: https://us.api.phaseo.app/v1
          description: Roteamento regional para provedores dos EUA (somente texto)
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: Criar uma mensagem
      description: Cria uma mensagem usando a API Anthropic Messages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: Resposta da mensagem
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: Criar embeddings
      description: Cria um vetor de embedding que representa o texto informado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Resposta de embeddings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: Criar uma moderação
      description: Classifica se o texto viola as políticas de uso da OpenAI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: Resposta da moderação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: Reordenar documentos
      description: Reordena uma lista de documentos de acordo com a relevância para uma consulta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: Resposta de reordenação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: Tomar decisões estruturadas
      description: 'Para novas chamadas, use o formato compatível com OpenAI: input contém texto ou mensagens do usuário com partes input_image incorporadas, e questions é uma lista ordenada de perguntas predicate, choice ou score. As respostas mantêm a ordem e os nomes opcionais. Valores booleanos continuam booleanos. URLs de imagens hospedadas não são aceitas; Luna aceita até 128 imagens incorporadas, enquanto outros provedores têm limites próprios. Detalhes explícitos de imagem e safety_identifier exigem uma rota OpenAI. O formato anterior com state, perguntas nomeadas, noul e criteria continua aceito e retorna um mapa de respostas. Together Tev exige esse formato porque retorna rótulos sem probabilidades. Os exemplos anteriores continuam válidos.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionCreateRequest'
      responses:
        '200':
          description: Resposta de decisões estruturadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionCreateResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: Gerar fala
      description: Gera áudio a partir do texto informado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: Arquivo de áudio
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: Criar uma transcrição
      description: Transcreve o áudio para o idioma de entrada.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: Resposta de transcrição
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: Criar uma tradução
      description: Traduz o áudio para o inglês.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: Resposta de tradução
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: Criar uma sessão de áudio em tempo real
      description: Cria uma sessão de áudio em tempo real com medição de uso e retorna os dados de conexão do relay.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Sessão em tempo real criada
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: Conectar o relay em tempo real
      description: Conecta a um relay WebSocket usando o segredo do relay da sessão como subprotocolo.
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: Conexão WebSocket estabelecida
  /audio/realtime/sessions/{session_id}/connected:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: markRealtimeSessionConnected
      x-excluded: true
      summary: Mark realtime session connected
      description: Records that the upstream realtime relay connection has been established.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/extend:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: extendRealtimeSession
      x-excluded: true
      summary: Extend realtime session credit hold
      description: Extends the reserved credit for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_reserved_nanos:
                  type: integer
                  minimum: 1
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/usage:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: updateRealtimeSessionUsage
      x-excluded: true
      summary: Update realtime session usage
      description: Records the latest metered usage for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usage:
                  type: object
                  additionalProperties: true
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: Finalizar a sessão de áudio em tempo real
      description: Finaliza a medição e libera qualquer reserva de crédito restante de uma sessão em tempo real.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Sessão em tempo real e liquidação finalizadas
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: Criar imagem
      description: Gera uma imagem a partir de um prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: Resposta de imagem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: Criar edição de imagem
      description: Cria uma imagem editada ou expandida com base em uma imagem original e um prompt.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: Resposta da edição de imagem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /videos:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideos
      summary: Listar vídeos
      description: Lista os trabalhos de geração assíncrona de vídeo da equipe autenticada.
      parameters:
        - name: limit
          in: query
          description: Número máximo de trabalhos de vídeo a retornar. O padrão é 50 e o limite é 200.
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          description: Filtro de status do ciclo de vida do vídeo. Repita o parâmetro ou forneça valores separados por vírgulas.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          description: Número de trabalhos de vídeo a ignorar antes de retornar a página.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - name: after
          in: query
          description: Retorna os trabalhos de vídeo após este ID de vídeo na ordem selecionada.
          schema:
            type: string
        - name: order
          in: query
          description: Ordena os trabalhos de vídeo por data de criação.
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Resposta da lista de vídeos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: Criar vídeo
      description: Cria um trabalho de geração assíncrona de vídeo. Consulte a `polling_url` retornada a cada 20 segundos até o trabalho atingir um status final.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: Resposta de vídeo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModels
      summary: Listar capacidades dos modelos de vídeo
      description: Retorna metadados de capacidades de modelos/provedores de vídeo da base de dados para o playground de vídeo e a validação do SDK.
      parameters:
        - name: params
          in: query
          required: false
          description: Filtro opcional de parâmetros suportados. Repita o parâmetro ou passe uma lista separada por vírgulas. Nomes canônicos e aliases são aceitos, como `resolution`, `size`, `duration` ou `duration_seconds`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Lista de capacidades dos modelos de vídeo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoModelsResponse'
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: Obter status do vídeo
      description: Recupera o status de uma solicitação de geração de vídeo. Consulte a cada 20 segundos, a menos que use webhooks.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID da solicitação de geração de vídeo.
          schema:
            type: string
      responses:
        '200':
          description: Resposta de status do vídeo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: Excluir vídeo
      description: Marca como excluído um registro de geração de vídeo em status final. Trabalhos em andamento não podem ser excluídos.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID da solicitação de geração de vídeo.
          schema:
            type: string
      responses:
        '200':
          description: Resposta de exclusão de vídeo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideo
      summary: Cancelar vídeo
      description: O cancelamento de vídeo está desabilitado atualmente em todos os provedores.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID interno do trabalho de vídeo do Phaseo (`G-...`).
          schema:
            type: string
      responses:
        '501':
          description: O cancelamento de vídeo está desabilitado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: Obter conteúdo do vídeo
      description: Baixa o conteúdo do vídeo renderizado.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID da solicitação de geração de vídeo.
          schema:
            type: string
      responses:
        '200':
          description: Conteúdo do vídeo
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /videos/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrl
      summary: Criar URL assinada de download de vídeo
      description: Retorna uma URL assinada de primeira parte para download de um vídeo renderizado.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID da solicitação de geração de vídeo.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: URL assinada de download
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: Executar OCR
      description: Extrai texto de uma imagem usando o modelo solicitado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: Resposta de OCR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: Analisar uma imagem de documento
      description: Converte uma imagem de documento em Markdown ou blocos de conteúdo ordenados. A API Cohere Parse atual aceita URLs de imagens remotas e URIs de dados de imagem em base64; entradas de PDF e URLs de arquivos ainda não são compatíveis.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: Documento analisado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: Gerar música
      description: Gera música por meio de um único endpoint independente do provedor. A Phaseo aguarda provedores síncronos e gerencia internamente a consulta às filas dos provedores.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Resposta da geração de música
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: Obter o status da geração de música
      description: Obtém um resultado musical normalizado usando o ID de solicitação do Phaseo retornado por POST /music/generate. As APIs de status específicas do provedor são tratadas internamente.
      parameters:
        - name: music_id
          in: path
          required: true
          description: ID de solicitação estável do Phaseo retornado por POST /music/generate.
          schema:
            type: string
      responses:
        '200':
          description: Resposta do status de geração de música
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: Enviar arquivo
      description: Alias de compatibilidade para `/batches/files`. Envia um arquivo para processamento em lote e retorna os metadados do arquivo no provedor. Passe `model` para que AI Stats possa inferir o provedor. O padrão é OpenAI para clientes legados que omitem tanto `model` quanto `provider`.
      parameters:
        - name: model
          in: query
          required: false
          description: ID do modelo usado para inferir o provedor do arquivo de lote.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: Substituição avançada do provedor para o envio do arquivo.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-ai-stats-provider
          in: header
          required: false
          description: Alternativa no cabeçalho ao parâmetro de consulta `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Metadados do arquivo enviado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Erro do provedor upstream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: Listar arquivos
      description: Atualmente retorna `not_supported` com a chave compartilhada do gateway. Em vez disso, salve os IDs dos arquivos enviados e recupere-os diretamente.
      responses:
        '400':
          description: A listagem de arquivos não é compatível com o modo atual do gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: Recuperar um arquivo
      description: Recupera os metadados de um arquivo pertencente ao espaço de trabalho autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID do arquivo a recuperar.
          schema:
            type: string
      responses:
        '200':
          description: Metadados do arquivo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Arquivo não encontrado ou não pertence ao espaço de trabalho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: Baixar conteúdo do arquivo
      description: Recupera o conteúdo binário de um arquivo enviado anteriormente que pertence ao espaço de trabalho autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID do arquivo a recuperar.
          schema:
            type: string
      responses:
        '200':
          description: Conteúdo do arquivo
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Arquivo não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatches
      summary: Listar lotes
      description: Lista os trabalhos de lote assíncronos pertencentes ao espaço de trabalho autenticado no armazenamento persistente de trabalhos assíncronos do gateway.
      parameters:
        - name: limit
          in: query
          description: Número máximo de trabalhos de lote a retornar. O padrão é 20 e o limite é 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filtro de status do ciclo de vida do lote. Repita o parâmetro, use valores de status separados por vírgulas ou use statuses para filtros separados por vírgulas.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: statuses
          in: query
          description: Filtros de status do ciclo de vida separados por vírgulas.
          schema:
            type: string
        - name: offset
          in: query
          description: Número de trabalhos de lote a ignorar antes de retornar a página.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: Resposta da lista de lotes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: Criar lote
      description: Cria um trabalho de lote assíncrono e retorna o objeto de lote do provedor. A criação suporta OpenAI, Anthropic, Google Gemini, Mistral, xAI, Groq e Together AI pelo `model` solicitado. O gateway infere o provedor pelo modelo e também aceita `session_id` e `webhook` para observabilidade e notificações assíncronas. Use `provider` apenas como restrição avançada de roteamento.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: Resposta de status do lote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchModels
      summary: Listar capacidades dos modelos de lote
      description: Retorna metadados de capacidades de modelos/provedores de lote da base de dados, incluindo parâmetros suportados, como endpoints de entrada permitidos e janelas de conclusão.
      parameters:
        - name: params
          in: query
          required: false
          description: Filtro opcional de parâmetros suportados. Repita o parâmetro ou passe uma lista separada por vírgulas. Nomes canônicos e aliases são aceitos, como `endpoint`, `request_endpoint`, `completion_window` ou `window`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Lista de capacidades dos modelos de lote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchModelsResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/capabilities:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchCapabilities
      summary: Listar capacidades dos provedores de lote
      description: Retorna o suporte a modos de entrada de lote por provedor para envio de arquivos e criação de lote por lista de solicitações.
      responses:
        '200':
          description: Lista de capacidades dos provedores de lote
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchProviderCapability'
  /batches/files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchFiles
      summary: Listar arquivos de lote
      description: Retorna um erro porque listar arquivos de chaves compartilhadas do gateway não é suportado. Recupere diretamente por ID os arquivos pertencentes ao espaço de trabalho.
      responses:
        '400':
          description: Listar arquivos não é suportado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadBatchFile
      summary: Enviar arquivo de lote
      description: Envia um arquivo do provedor para processamento em lote e registra a propriedade no espaço de trabalho autenticado. Passe `model` para que Phaseo possa inferir o provedor. O padrão é OpenAI quando `model` e `provider` são omitidos.
      parameters:
        - name: model
          in: query
          required: false
          description: ID do modelo usado para inferir o provedor do arquivo de lote.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: Substituição avançada do provedor para o envio do arquivo.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-phaseo-provider
          in: header
          required: false
          description: Alternativa no cabeçalho ao parâmetro de consulta `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Metadados do arquivo enviado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Erro do provedor upstream
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFile
      summary: Recuperar arquivo de lote
      description: Recupera metadados de um arquivo de lote pertencente ao espaço de trabalho autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Metadados do arquivo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Arquivo não encontrado ou não pertence ao espaço de trabalho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFileContent
      summary: Recuperar conteúdo do arquivo de lote
      description: Recupera o conteúdo de um arquivo de lote pertencente ao espaço de trabalho autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Conteúdo do arquivo
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Arquivo não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: Recuperar lote
      description: Recupera um trabalho de lote criado anteriormente.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID do lote a recuperar.
          schema:
            type: string
      responses:
        '200':
          description: Resposta de status do lote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lote não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: Atualizar o status do lote não é suportado por este provedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/results:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchResults
      summary: Baixar resultados do lote
      description: Transmite linhas completas de resultados nativos do provedor como JSONL para um lote final pertencente ao espaço de trabalho autenticado. Combina arquivos de sucesso e erro, converte saídas inline e segue a paginação de resultados do provedor. Use uma chave de API do Phaseo. Downloads não enviam inferência nem adicionam cobranças de uso. Os endpoints de arquivos existentes continuam disponíveis. Linhas inline são limitadas a 8 MiB; downloads interrompidos devem ser descartados e refeitos. Limite de 10 tentativas por espaço de trabalho e lote em uma janela móvel de 30 minutos, compartilhado entre chaves de API e aliases. Tentativas upstream com falha ou canceladas contam. Uma resposta 429 inclui Retry-After em segundos.
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resultados JSONL originais do provedor
          content:
            application/x-ndjson:
              schema:
                type: string
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Acesso à prévia de lotes negado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lote não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Os resultados do lote não estão prontos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Limite de downloads do lote excedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              description: Segundos até outro download ser permitido
              schema:
                type: integer
        '501':
          description: Downloads diretos de resultados não são suportados por este provedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Não foi possível recuperar os resultados do provedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: A admissão de downloads está temporariamente indisponível; tente novamente após 30 segundos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              schema:
                type: integer
  /batches/{batch_id}/requests:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchRequests
      summary: Listar linhas de solicitações do lote
      description: Lista as linhas rastreadas por solicitação de um trabalho de lote próprio.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID do lote.
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de linhas de solicitações do lote
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  batch_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchRequestRow'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lote não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatch
      summary: Cancelar lote
      description: Cancela uma solicitação de lote.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID do lote a cancelar.
          schema:
            type: string
      responses:
        '200':
          description: Resposta de status do lote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lote não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: Cancelar lotes não é suportado por este provedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivityAlias
      summary: Obter análises do espaço de trabalho
      description: Retorna agregados de custo, solicitações e tokens agrupados por data, modelo, provedor e endpoint para os últimos 30 dias UTC completos.
      parameters:
        - name: date
          in: query
          description: Filtra por uma única data UTC nos últimos 30 dias completos (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          description: Chave de rótulo de solicitação a incluir no recorte de gastos. Deve ser fornecida junto com label_value.
          schema:
            type: string
            maxLength: 64
            pattern: ^[A-Za-z0-9_.:-]{1,64}$
        - name: label_value
          in: query
          description: Valor de rótulo de solicitação a incluir no recorte de gastos. Deve ser fornecido junto com label_key.
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          description: Filtra por identificador de chave de API.
          schema:
            type: string
        - name: end_user_id
          in: query
          description: Filtra por identificador de usuário final definido pelo aplicativo.
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          description: Filtra pelo slug canônico do modelo solicitado ou roteado.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          description: Filtra pelo slug do provedor.
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          description: Filtra por identificador do endpoint do gateway.
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          description: Filtra tráfego gerenciado ou BYOK.
          schema:
            type: boolean
        - name: success
          in: query
          description: Filtra solicitações bem-sucedidas ou com falha.
          schema:
            type: boolean
        - $ref: '#/components/parameters/Offset'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
      responses:
        '200':
          description: Obtido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: Erro de solicitação inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Erro de acesso proibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: Exportar análises do espaço de trabalho
      description: Exporta o conjunto completo de dados analíticos filtrados como CSV compatível com planilhas.
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Exportação de análises em CSV
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Filtro de análise inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: Consultar créditos
      description: Retorna os créditos restantes e as estatísticas de uso do espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: workspace_id
          in: query
          description: Substituição opcional do espaço de trabalho. Deve corresponder ao espaço autenticado, exceto quando usada por um chamador de controle interno.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Informações de créditos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Proibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCurrentApiKey
      summary: Obter chave de API atual
      description: Retorna os metadados da chave de API padrão do Gateway autenticada atualmente.
      responses:
        '200':
          description: Metadados da chave de API atual
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Chave de API não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: Listar chaves de API
      description: Lista as chaves de API do espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: include_disabled
          in: query
          description: Indica se chaves pausadas ou bloqueadas temporariamente devem ser incluídas na resposta.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: Número de chaves de API a ignorar na paginação.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Número máximo de chaves de API a retornar.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: Substituição opcional do espaço de trabalho. Deve corresponder ao espaço autenticado, exceto quando usada por um chamador de controle interno.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de chaves de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Proibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: Criar uma nova chave de API
      description: Cria uma nova chave de API no espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: Chave de API criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: Solicitação inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Proibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: Obter uma chave de API
      description: Retorna os metadados de uma chave de API no espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador ou hash da chave de API.
          schema:
            type: string
      responses:
        '200':
          description: Metadados da chave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Chave de API não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: Atualizar uma chave de API
      description: Atualiza os metadados ou o status de uma chave de API. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador ou hash da chave de API.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: Metadados da chave de API atualizados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: Solicitação inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Chave de API não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: Excluir uma chave de API
      description: Exclui uma chave de API do espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador ou hash da chave de API.
          schema:
            type: string
      responses:
        '200':
          description: Chave de API excluída
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Chave de API não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: Rotacionar uma chave de API
      description: Cria uma substituta com os mesmos limites e permite definir a expiração da chave anterior. O segredo da substituta é retornado uma única vez. É necessário `keys:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: Chave de API rotacionada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: A rotação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: Invalidar o cache de chaves de API
      description: Atualiza o estado global em cache das políticas de uma chave de API do espaço de trabalho. Requer uma chamada autenticada de gerenciamento do espaço de trabalho.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Cache invalidado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: A invalidação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: Obter as configurações de SSO do workspace
      description: Retorna as configurações SAML ou OIDC personalizadas do workspace. Requer `settings:read` e uma identidade de proprietário ou administrador.
      responses:
        '200':
          description: Configurações de SSO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: Atualizar as configurações de SSO do espaço de trabalho
      description: Atualiza as configurações de SAML ou OIDC personalizado. Para habilitar SSO, é necessário o complemento de identidade e `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: Configurações de SSO atualizadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: A solicitação falhou ou o complemento é necessário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: Obter as configurações de SCIM do espaço de trabalho
      description: Retorna o status do endpoint, os metadados do token, a contagem de objetos provisionados e o evento SCIM mais recente.
      responses:
        '200':
          description: Configurações de SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: Habilitar ou desabilitar SCIM
      description: Atualiza o endpoint SCIM do espaço de trabalho. Para habilitar o SCIM, é necessário o complemento de identidade e `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: Endpoint SCIM atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: A solicitação falhou ou o complemento é necessário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: Criar um token SCIM
      description: Cria um token de provisionamento. O token bruto é retornado uma única vez. São necessários o complemento de identidade e `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: Token SCIM criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: A solicitação falhou ou o complemento é necessário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: Revogar um token SCIM
      description: Revoga um token de provisionamento. Requer `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Token revogado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: Listar eventos de auditoria do SCIM
      description: Lista a atividade recente de provisionamento SCIM do workspace.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Eventos de auditoria do SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: Obter o diretório do espaço de trabalho
      description: Retorna os departamentos da organização e as permissões efetivas dos membros. São necessários o complemento de identidade, `settings:read` e uma identidade `owner` ou `admin`.
      responses:
        '200':
          description: Diretório do espaço de trabalho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: A solicitação falhou ou o complemento é necessário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: Atualizar uma substituição de membro do diretório
      description: Define ou limpa as substituições efetivas de função e departamento para um membro do espaço de trabalho. É necessário `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: Substituição do membro atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: Listar departamentos do workspace
      description: Lista departamentos gerenciados manualmente e sincronizados com o diretório.
      responses:
        '200':
          description: Departamentos do workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
[...]
