openapi: 3.0.3
info:
  title: Phaseo Gateway API
  version: 1.0.0
servers:
  - url: https://api.phaseo.app/v1
    description: Global routing
security:
  - BearerAuth: []
paths:
  /apps:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceApps
      summary: Listar aplicativos do workspace
      description: Lista os aplicativos do workspace atribuídos automaticamente e seus metadados editáveis. Requer a permissão `settings:read`.
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: Aplicativos do workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppListResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /presets/publisher:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetPublisher
      summary: Obter o identificador público do publicador de presets
      description: Retorna o identificador canônico do publicador de presets públicos do workspace.
      responses:
        '200':
          description: Identificador do publicador
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetPublisher
      summary: Atualizar o identificador de publicação das predefinições
      description: Renomeia o identificador de publicação do espaço de trabalho, mantendo o anterior como alias.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetPublisherUpdateRequest'
      responses:
        '200':
          description: Identificador de publicação atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
        '400':
          description: Identificador de publicação inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: O identificador de publicação não está disponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: Gerar fala
      description: Gera áudio a partir do texto informado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: Arquivo de áudio
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: Criar uma transcrição
      description: Transcreve o áudio para o idioma de entrada.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: Resposta de transcrição
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: Criar uma tradução
      description: Traduz o áudio para o inglês.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: Resposta de tradução
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: Criar imagem
      description: Gera uma imagem a partir de um prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: Resposta de imagem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: Criar edição de imagem
      description: Cria uma imagem editada ou expandida com base em uma imagem original e um prompt.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: Resposta da edição de imagem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: Executar OCR
      description: Extrai texto de uma imagem usando o modelo solicitado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: Resposta de OCR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: Gerar música
      description: Gera música por meio de um único endpoint independente do provedor. A Phaseo aguarda provedores síncronos e gerencia internamente a consulta às filas dos provedores.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Resposta da geração de música
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listEndpoints
      summary: Listar endpoints
      description: Lista os IDs de endpoints do gateway baseados em capacidades, com caminhos públicos, coleções de modalidades, contagens de modelos e provedores e modelos de exemplo.
      responses:
        '200':
          description: Metadados dos endpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointCatalogueResponse'
  /files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: Listar arquivos
      description: Atualmente retorna `not_supported` com a chave compartilhada do gateway. Em vez disso, salve os IDs dos arquivos enviados e recupere-os diretamente.
      responses:
        '400':
          description: A listagem de arquivos não é compatível com o modo atual do gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPricingModels
      summary: Listar preços dos modelos
      description: Retorna os preços ativos de provedores e modelos.
      responses:
        '200':
          description: Lista de preços dos modelos
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  models:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '500':
          description: Erro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: Criar uma moderação
      description: Classifica se o texto viola as políticas de uso da OpenAI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: Resposta da moderação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: Criar embeddings
      description: Cria um vetor de embedding que representa o texto informado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Resposta de embeddings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: Reordenar documentos
      description: Reordena uma lista de documentos de acordo com a relevância para uma consulta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: Resposta de reordenação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: Analisar uma imagem de documento
      description: Converte uma imagem de documento em Markdown ou blocos de conteúdo ordenados. A API Cohere Parse atual aceita URLs de imagens remotas e URIs de dados de imagem em base64; entradas de PDF e URLs de arquivos ainda não são compatíveis.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: Documento analisado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /budgets/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceBudget
      summary: Excluir um limite de gastos do workspace
      description: Remove o limite de gastos do workspace e deixa de aplicá-lo nesse intervalo.
      responses:
        '200':
          description: Orçamento do workspace excluído
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetDeleteResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceBudget
      summary: Obter orçamento do espaço de trabalho
      description: Retorna um limite de gastos do espaço de trabalho com o uso atual e o saldo restante.
      responses:
        '200':
          description: Orçamento do espaço de trabalho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceBudget
      summary: Atualizar orçamento do espaço de trabalho
      description: Altera o intervalo ou o limite em USD de um orçamento existente do espaço de trabalho.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBudgetUpdateInput'
      responses:
        '200':
          description: Orçamento do espaço de trabalho atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteProviderCredential
      summary: Excluir uma credencial do provedor
      description: Remove permanentemente uma credencial do provedor. Repetir a exclusão é seguro.
      responses:
        '200':
          description: Credencial do provedor excluída ou já ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialDeleteResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProviderCredential
      summary: Obter uma credencial de provedor
      description: Retorna metadados seguros sem expor campos criptografados ou o segredo bruto.
      responses:
        '200':
          description: Metadados da credencial do provedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateProviderCredential
      summary: Atualizar uma credencial de provedor
      description: Atualiza os metadados, filtros ou grupo de roteamento da credencial, ou substitui o segredo somente para gravação.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialUpdateRequest'
      responses:
        '200':
          description: Credencial de provedor atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: Excluir um departamento do workspace
      description: Exclui um departamento gerenciado manualmente. Departamentos sincronizados com o diretório não podem ser excluídos aqui.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Departamento excluído
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: Atualizar um departamento do espaço de trabalho
      description: Atualiza o nome, a descrição, o ícone ou a cor do departamento sem remover seu mapeamento no diretório.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: Departamento atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceGroupMapping
      summary: Excluir um mapeamento de grupo do diretório
      description: Remove do workspace um mapeamento de grupo provisionado.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Mapeamento de grupo excluído
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceGroupMapping
      summary: Atualizar um mapeamento de grupo do diretório
      description: Atualiza a função de acesso ou a posição no departamento atribuída por um mapeamento.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingUpdateRequest'
      responses:
        '200':
          description: Mapeamento de grupo atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /data-contribution/classifiers/{id}:
    parameters:
      - $ref: '#/components/parameters/DataContributionClassifierId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteDataContributionClassifier
      summary: Excluir um classificador de contribuição de dados
      description: Exclui um classificador personalizado. O classificador inicial integrado não pode ser excluído.
      responses:
        '200':
          description: Classificador excluído
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierDeleteResponse'
        default:
          description: A solicitação falhou ou o recurso está indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateDataContributionClassifier
      summary: Atualizar classificador de contribuição de dados
      description: Atualiza um classificador personalizado do espaço de trabalho. Requer `settings:write` e acesso ao recurso.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataContributionClassifierUpdateRequest'
      responses:
        '200':
          description: Classificador atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierResponse'
        default:
          description: A solicitação falhou ou o recurso está indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/OAuthClientId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteOAuthClient
      summary: Excluir um cliente OAuth
      description: Exclui o cliente após revogar as autorizações ativas dele.
      responses:
        '200':
          description: Cliente OAuth excluído
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientDeleteResponse'
        default:
          description: A solicitação falhou ou o recurso está indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getOAuthClient
      summary: Obter um cliente OAuth
      description: Retorna um aplicativo OAuth ativo. Requer `oauth_clients:read` e o recurso beta de OAuth.
      responses:
        '200':
          description: Cliente OAuth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: A solicitação falhou ou o recurso está indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateOAuthClient
      summary: Atualizar um cliente OAuth
      description: Atualiza os metadados, escopos ou URIs de redirecionamento do aplicativo OAuth. É necessário `oauth_clients:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientUpdateRequest'
      responses:
        '200':
          description: Cliente OAuth atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: A solicitação falhou ou o recurso está indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhook-endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/WebhookEndpointId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWebhookEndpoint
      summary: Excluir um endpoint de webhook
      description: Desativa logicamente um endpoint de webhook e interrompe as entregas futuras. Requer `settings:write`.
      responses:
        '200':
          description: Endpoint de webhook excluído
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointDeleteResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWebhookEndpoint
      summary: Obter um endpoint de webhook
      description: Retorna um endpoint de webhook assíncrono sem o segredo de assinatura. Requer `settings:read`.
      responses:
        '200':
          description: Endpoint de webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWebhookEndpoint
      summary: Atualizar um endpoint de webhook
      description: Atualiza as configurações de entrega do endpoint. É necessário `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
      responses:
        '200':
          description: Endpoint de webhook atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: Revogar um token SCIM
      description: Revoga um token de provisionamento. Requer `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Token revogado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceNotificationDestination
      summary: Excluir um destino de notificação
      description: Desativa logicamente um destino de notificação do workspace e o remove dos roteamentos futuros.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Destino excluído
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}/test:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: testWorkspaceNotificationDestination
      summary: Testar um destino de notificação salvo
      description: Envia um teste por meio de um destino criptografado existente do workspace.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Teste enviado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationTestResponse'
        default:
          description: O teste falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guardrails/{id}:
    parameters:
      - $ref: '#/components/parameters/GuardrailId'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGuardrail
      summary: Obter um guardrail
      description: Retorna um guardrail e os IDs das chaves atribuídas a ele. Requer `guardrails:read`.
      responses:
        '200':
          description: Detalhes do guardrail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDetailResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteGuardrail
      summary: Excluir um guardrail
      description: Exclui um guardrail e suas atribuições. Requer `guardrails:delete`.
      responses:
        '200':
          description: Guardrail excluído
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDeleteResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateGuardrail
      summary: Atualizar proteção
      description: Atualiza os campos de política da proteção. Requer `guardrails:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuardrailUpdateRequest'
      responses:
        '200':
          description: Proteção atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: Obter as configurações de SSO do workspace
      description: Retorna as configurações SAML ou OIDC personalizadas do workspace. Requer `settings:read` e uma identidade de proprietário ou administrador.
      responses:
        '200':
          description: Configurações de SSO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: Atualizar as configurações de SSO do espaço de trabalho
      description: Atualiza as configurações de SAML ou OIDC personalizado. Para habilitar SSO, é necessário o complemento de identidade e `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: Configurações de SSO atualizadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: A solicitação falhou ou o complemento é necessário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: Listar eventos de auditoria do SCIM
      description: Lista a atividade recente de provisionamento SCIM do workspace.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Eventos de auditoria do SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: Listar departamentos do workspace
      description: Lista departamentos gerenciados manualmente e sincronizados com o diretório.
      responses:
        '200':
          description: Departamentos do workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: Criar um departamento no espaço de trabalho
      description: Cria um departamento gerenciado manualmente. É necessário `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: Departamento criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: Listar mapeamentos de grupos do diretório
      description: Lista os mapeamentos de grupos provisionados para funções e departamentos do workspace.
      responses:
        '200':
          description: Mapeamentos de grupos do diretório
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: Criar um mapeamento de grupo do diretório
      description: Mapeia um grupo provisionado para um departamento do espaço de trabalho e uma função de acesso.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingCreateRequest'
      responses:
        '201':
          description: Mapeamento de grupo criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOAuthClients
      summary: Listar clientes OAuth
      description: Lista os aplicativos OAuth ativos do workspace. Requer `oauth_clients:read` e o recurso beta de OAuth.
      responses:
        '200':
          description: Lista de clientes OAuth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientListResponse'
        default:
          description: A solicitação falhou ou o recurso está indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOAuthClient
      summary: Criar um cliente OAuth
      description: Cria um aplicativo OAuth público ou confidencial. Segredos confidenciais são retornados uma única vez. São necessários `oauth_clients:write` e o recurso beta do OAuth.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientCreateRequest'
      responses:
        '201':
          description: Cliente OAuth criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientCreateResponse'
        default:
          description: A solicitação falhou ou o recurso está indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayFeedback
      summary: Listar feedback do gateway
      description: Lista o feedback do workspace com filtros por destino, data, avaliação e dimensão de metadados. Requer `feedback:read`.
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: rating
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: Registros de feedback
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackListResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayFeedback
      summary: Criar feedback do Gateway
      description: Registra feedback sobre uma solicitação, sessão, predefinição ou execução de teste de predefinição. Requer `feedback:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayFeedbackCreateRequest'
      responses:
        '201':
          description: Feedback registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback/summary:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: summarizeGatewayFeedback
      summary: Resumir o feedback do gateway
      description: Agrupa o feedback do workspace por preset, execução de teste ou dimensão de metadados.
      parameters:
        - name: group_by
          in: query
          schema:
            type: string
            enum:
              - preset
              - preset_id
              - test_run
              - test_run_id
              - metadata
            default: preset
        - name: metadata_key
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Resumo do feedback
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackSummaryResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /events:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayObservabilityEvents
      summary: Listar eventos de observabilidade do gateway
      description: Lista eventos personalizados de resultados e comportamento do workspace. Requer `feedback:read`.
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: Eventos de observabilidade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventListResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayObservabilityEvent
      summary: Criar evento de observabilidade
      description: Registra um resultado ou evento de comportamento personalizado vinculado a uma solicitação, sessão, predefinição ou execução de teste. Requer `feedback:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayObservabilityEventCreateRequest'
      responses:
        '201':
          description: Evento registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      x-beta: true
      tags:
        - Gateway
      operationId: getHealth
      summary: Verificação de integridade
      description: Retorna um resumo mínimo da integridade do gateway.
      responses:
        '200':
          description: Status de integridade do gateway
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: Listar provedores
      description: Retorna uma lista de provedores de API disponíveis.
      parameters:
        - name: limit
          in: query
          description: Limitar o número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Deslocamento da paginação
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista de provedores
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: Erro
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: Obter uma geração
      description: Recupera uma geração específica pelo ID.
      parameters:
        - name: id
          in: query
          required: true
          description: ID da geração
          schema:
            type: string
      responses:
        '200':
          description: Dados da geração
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: Não encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: Criar uma conclusão de chat
      description: Cria uma conclusão para a mensagem de chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Ferramenta de servidor de data e hora integrada
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: Resposta de conclusão de chat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      tags:
        - Gateway
      operationId: createResponse
      summary: Criar uma resposta
      description: Cria uma resposta usando a Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Ferramenta de servidor de data e hora integrada
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: Resposta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: Criar uma mensagem
      description: Cria uma mensagem usando a API Anthropic Messages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Ferramenta de servidor de data e hora integrada
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: Resposta da mensagem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: Criar uma sessão de áudio em tempo real
      description: Cria uma sessão de áudio em tempo real com medição de uso e retorna os dados de conexão do relay.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Sessão em tempo real criada
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: Listar modelos do gateway
      description: Retorna modelos compartilhados e não ocultos do gateway. Por padrão, inclui os modelos que podem ser roteados publicamente; use `availability=all` para incluir registros de disponibilidade que não podem ser roteados.
      parameters:
        - name: search
          in: query
          description: Case-insensitive search across model ids, names, descriptions, and organisations.
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: Case-insensitive provider or model-organisation search.
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: Require a supported input modality.
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: Require at least this many input context tokens.
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: Maximum USD input-token price per million tokens.
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: Return only models with at least one routable gateway offer.
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: Field used to order model discovery results.
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: Optional sort direction. Price sorts default to ascending; other numeric sorts default to descending.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: Filtrar por endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrar por organização
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrar por ID do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar pelo status de lançamento do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar pelo status de roteamento do provedor
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar pelo status de roteamento do modelo
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar pelo status de recursos do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar pelo status de disponibilidade do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar pelo motivo de disponibilidade do provedor
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar pelo status do modelo
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrar por tipos de entrada
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: Alias público de `input_types`.
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrar por tipos de saída
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: Alias público de `output_types`.
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrar por parâmetros
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Alias público de `params`.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtro de disponibilidade. `active` retorna somente modelos roteáveis publicamente; `all` inclui registros de disponibilidade não roteáveis.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limitar o número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Deslocamento da paginação
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Formato da resposta. O padrão é `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Aceita `json`, `rss` ou `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Lista de modelos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Feed XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Feed XML Atom
        '400':
          description: Parâmetros de solicitação inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: Listar os recursos dos endpoints do modelo
      description: Retorna linhas de endpoints específicas do provedor para um modelo, incluindo caminhos públicos, modalidades, parâmetros compatíveis, disponibilidade, estado de roteamento, slugs de modelos do provedor e resumos de preços dos endpoints.
      parameters:
        - name: author
          in: path
          required: true
          description: Segmento do autor ou da organização do modelo.
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: Segmento do slug do modelo.
          schema:
            type: string
        - name: provider
          in: query
          description: Filtrar por ID do provedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar pelo status de lançamento do provedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar pelo status de roteamento do provedor.
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar pelo status de roteamento do modelo.
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar pelo status de recursos do provedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar pelo status de disponibilidade do provedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar pelo motivo de disponibilidade do provedor.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar pelo status canônico do ciclo de vida do modelo.
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Filtrar linhas de endpoints por nomes de parâmetros compatíveis ou aliases.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` retorna linhas de endpoints roteáveis publicamente; `all` também inclui linhas futuras e inativas.'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: Linhas de capacidades dos endpoints do modelo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: Parâmetros de solicitação inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Nenhum modelo encontrado para os filtros de disponibilidade e provedor solicitados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: Listar modelos do gateway por equipe
      description: Retorna a lista de modelos do gateway por equipe. Por padrão, inclui modelos roteáveis publicamente; use `availability=all` para incluir registros de disponibilidade não roteáveis.
      parameters:
        - name: endpoints
          in: query
          description: Filtrar por endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrar por organização
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrar por ID do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar pelo status de lançamento do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar pelo status de roteamento do provedor
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar pelo status de roteamento do modelo
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar pelo status de recursos do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar pelo status de disponibilidade do provedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar pelo motivo de disponibilidade do provedor
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar pelo status do modelo
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrar por tipos de entrada
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrar por tipos de saída
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrar por parâmetros
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtro de disponibilidade. `active` retorna somente modelos roteáveis publicamente; `all` inclui registros de disponibilidade não roteáveis.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limitar o número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Deslocamento da paginação
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Formato da resposta. O padrão é `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Aceita `json`, `rss` ou `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Lista de modelos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Feed XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Feed XML Atom
        '400':
          description: Parâmetros de solicitação inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: Conectar o relay em tempo real
      description: Conecta a um relay WebSocket usando o segredo do relay da sessão como subprotocolo.
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: Conexão WebSocket estabelecida
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: Finalizar a sessão de áudio em tempo real
      description: Finaliza a medição e libera qualquer reserva de crédito restante de uma sessão em tempo real.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Sessão em tempo real e liquidação finalizadas
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: Obter o status da geração de música
      description: Obtém um resultado musical normalizado usando o ID de solicitação do Phaseo retornado por POST /music/generate. As APIs de status específicas do provedor são tratadas internamente.
      parameters:
        - name: music_id
          in: path
          required: true
          description: ID de solicitação estável do Phaseo retornado por POST /music/generate.
          schema:
            type: string
      responses:
        '200':
          description: Resposta do status de geração de música
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: Recuperar um arquivo
      description: Recupera os metadados de um arquivo pertencente ao espaço de trabalho autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID do arquivo a recuperar.
          schema:
            type: string
      responses:
        '200':
          description: Metadados do arquivo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Arquivo não encontrado ou não pertence ao espaço de trabalho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: Baixar conteúdo do arquivo
      description: Recupera o conteúdo binário de um arquivo enviado anteriormente que pertence ao espaço de trabalho autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID do arquivo a recuperar.
          schema:
            type: string
      responses:
        '200':
          description: Conteúdo do arquivo
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Arquivo não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: Exportar análises do espaço de trabalho
      description: Exporta o conjunto completo de dados analíticos filtrados como CSV compatível com planilhas.
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Exportação de análises em CSV
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Filtro de análise inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: Consultar créditos
      description: Retorna os créditos restantes e as estatísticas de uso do espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: workspace_id
          in: query
          description: Substituição opcional do espaço de trabalho. Deve corresponder ao espaço autenticado, exceto quando usada por um chamador de controle interno.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Informações de créditos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Proibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: Listar chaves de API
      description: Lista as chaves de API do espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: include_disabled
          in: query
          description: Indica se chaves pausadas ou bloqueadas temporariamente devem ser incluídas na resposta.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: Número de chaves de API a ignorar na paginação.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Número máximo de chaves de API a retornar.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: Substituição opcional do espaço de trabalho. Deve corresponder ao espaço autenticado, exceto quando usada por um chamador de controle interno.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de chaves de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Proibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: Criar uma nova chave de API
      description: Cria uma nova chave de API no espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: Chave de API criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: Solicitação inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Proibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: Obter uma chave de API
      description: Retorna os metadados de uma chave de API no espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador ou hash da chave de API.
          schema:
            type: string
      responses:
        '200':
          description: Metadados da chave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Chave de API não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: Atualizar uma chave de API
      description: Atualiza os metadados ou o status de uma chave de API. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador ou hash da chave de API.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: Metadados da chave de API atualizados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: Solicitação inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Chave de API não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: Excluir uma chave de API
      description: Exclui uma chave de API do espaço de trabalho autenticado. É necessária uma chave de API de gerenciamento.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador ou hash da chave de API.
          schema:
            type: string
      responses:
        '200':
          description: Chave de API excluída
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: Não autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Chave de API não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Erro do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: Rotacionar uma chave de API
      description: Cria uma substituta com os mesmos limites e permite definir a expiração da chave anterior. O segredo da substituta é retornado uma única vez. É necessário `keys:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: Chave de API rotacionada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: A rotação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: Invalidar o cache de chaves de API
      description: Atualiza o estado global em cache das políticas de uma chave de API do espaço de trabalho. Requer uma chamada autenticada de gerenciamento do espaço de trabalho.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Cache invalidado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: A invalidação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: Obter as configurações de SCIM do espaço de trabalho
      description: Retorna o status do endpoint, os metadados do token, a contagem de objetos provisionados e o evento SCIM mais recente.
      responses:
        '200':
          description: Configurações de SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: Habilitar ou desabilitar SCIM
      description: Atualiza o endpoint SCIM do espaço de trabalho. Para habilitar o SCIM, é necessário o complemento de identidade e `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: Endpoint SCIM atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: A solicitação falhou ou o complemento é necessário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: Criar um token SCIM
      description: Cria um token de provisionamento. O token bruto é retornado uma única vez. São necessários o complemento de identidade e `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: Token SCIM criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: A solicitação falhou ou o complemento é necessário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: Obter o diretório do espaço de trabalho
      description: Retorna os departamentos da organização e as permissões efetivas dos membros. São necessários o complemento de identidade, `settings:read` e uma identidade `owner` ou `admin`.
      responses:
        '200':
          description: Diretório do espaço de trabalho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: A solicitação falhou ou o complemento é necessário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: Atualizar uma substituição de membro do diretório
      description: Define ou limpa as substituições efetivas de função e departamento para um membro do espaço de trabalho. É necessário `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: Substituição do membro atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: Definir uma associação manual a um departamento
      description: Adiciona ou atualiza a associação manual de um usuário do espaço de trabalho a um departamento.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: Associação atualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: Excluir uma associação manual a um departamento
      description: Remove uma associação manual a um departamento sem alterar a associação sincronizada pelo diretório.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Associação excluída
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/settings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceNotificationSettings
      summary: Obter as configurações de notificação do espaço de trabalho
      description: Retorna a política de recarga automática, a configuração de e-mail para saldo baixo e as preferências de e-mail do espaço de trabalho. São necessários `settings:read` e uma identidade `owner` ou `admin`.
      responses:
        '200':
          description: Configurações de notificação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: A solicitação falhou
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceApp
      summary: Atualizar aplicativo do workspace
[...]
