openapi: 3.0.3
info:
  description: A gateway API for accessing various AI models with OpenAI-compatible
    endpoints.
  title: AI Stats Gateway API
  version: 1.0.0
servers:
- url: https://gateway.ai-stats.com/v1
security:
- BearerAuth: []
paths:
  /:
    get:
      description: Returns a welcome message.
      operationId: root
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/root_200_response"
          description: Welcome message
      summary: Root endpoint
      x-beta: true
  /healthz:
    get:
      description: Returns the health status of the API.
      operationId: healthz
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/healthz_200_response"
          description: OK
      summary: Health check
      x-beta: true
  /models:
    get:
      description: Returns a list of available models.
      operationId: listModels
      parameters:
      - description: Filter by endpoints
        explode: true
        in: query
        name: endpoints
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by organisation
        explode: true
        in: query
        name: organisation
        required: false
        schema:
          $ref: "#/components/schemas/listModels_organisation_parameter"
        style: form
      - description: Filter by input types
        explode: true
        in: query
        name: input_types
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by output types
        explode: true
        in: query
        name: output_types
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by params
        explode: true
        in: query
        name: params
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Limit the number of results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: Offset for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listModels_200_response"
          description: List of models
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listModels_500_response"
          description: Error
      summary: List models
      x-beta: true
  /providers:
    get:
      description: Returns a list of available API providers.
      operationId: listProviders
      parameters:
      - description: Limit the number of results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: Offset for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProviders_200_response"
          description: List of providers
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listModels_500_response"
          description: Error
      summary: List providers
      x-beta: true
  /generation:
    get:
      description: Retrieve a specific generation by ID.
      operationId: getGeneration
      parameters:
      - description: The ID of the generation
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerationResponse"
          description: Generation data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getGeneration_401_response"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getGeneration_404_response"
          description: Not found
      summary: Get generation
      x-beta: true
  /chat/completions:
    post:
      description: Creates a completion for the chat message.
      operationId: createChatCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionsResponse"
          description: Chat completion response
      summary: Create chat completion
  /responses:
    post:
      description: Creates a response using the Responses API.
      operationId: createResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResponsesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsesResponse"
          description: Response
      summary: Create response
  /messages:
    post:
      description: Creates a message using the Anthropic Messages API.
      operationId: createAnthropicMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnthropicMessagesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnthropicMessagesResponse"
            text/event-stream:
              schema:
                type: string
          description: Message response
      summary: Create message
  /embeddings:
    post:
      description: Creates an embedding vector representing the input text.
      operationId: createEmbedding
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmbeddingsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmbeddingsResponse"
          description: Embeddings response
      summary: Create embeddings
      x-beta: true
  /moderations:
    post:
      description: Classifies if text violates OpenAI's usage policies.
      operationId: createModeration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModerationsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerationsResponse"
          description: Moderation response
      summary: Create moderation
      x-beta: true
  /audio/speech:
    post:
      description: Generates audio from the input text.
      operationId: createSpeech
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AudioSpeechRequest"
        required: true
      responses:
        "200":
          content:
            audio/mpeg:
              schema:
                format: binary
                type: string
          description: Audio file
      summary: Generate speech
      x-beta: true
  /audio/transcriptions:
    post:
      description: Transcribes audio into the input language.
      operationId: createTranscription
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AudioTranscriptionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioTranscriptionResponse"
          description: Transcription response
      summary: Create transcription
      x-beta: true
  /audio/translations:
    post:
      description: Translates audio into English.
      operationId: createTranslation
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AudioTranslationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioTranslationResponse"
          description: Translation response
      summary: Create translation
      x-beta: true
  /images/generations:
    post:
      description: Creates an image given a prompt.
      operationId: createImage
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImagesGenerationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImagesGenerationResponse"
          description: Image response
      summary: Create image
      x-beta: true
  /images/edits:
    post:
      description: Creates an edited or extended image given an original image and
        a prompt.
      operationId: createImageEdit
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ImagesEditRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImagesEditResponse"
          description: Image edit response
      summary: Create image edit
      x-beta: true
  /videos:
    post:
      description: Creates a video from a prompt.
      operationId: createVideo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoGenerationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoGenerationResponse"
          description: Video response
      summary: Create video
      x-beta: true
  /videos/{video_id}:
    delete:
      description: Deletes a video generation request.
      operationId: deleteVideo
      parameters:
      - description: The ID of the video generation request.
        explode: false
        in: path
        name: video_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoDeleteResponse"
          description: Video deletion response
      summary: Delete video
      x-beta: true
    get:
      description: Retrieves the status for a video generation request.
      operationId: getVideo
      parameters:
      - description: The ID of the video generation request.
        explode: false
        in: path
        name: video_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoGenerationResponse"
          description: Video status response
      summary: Get video status
      x-beta: true
  /videos/{video_id}/content:
    get:
      description: Downloads the rendered video content.
      operationId: getVideoContent
      parameters:
      - description: The ID of the video generation request.
        explode: false
        in: path
        name: video_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Video content
      summary: Get video content
      x-beta: true
  /ocr:
    post:
      description: Extracts text from an image using the requested model.
      operationId: createOcr
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OcrRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OcrResponse"
          description: OCR response
      summary: Create OCR
      x-beta: true
  /music/generate:
    post:
      description: Generates music using the requested model and provider settings.
      operationId: generateMusic
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MusicGenerateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MusicGenerateResponse"
          description: Music generation response
      summary: Generate music
      x-beta: true
  /files:
    get:
      description: Returns a list of files that belong to the user's organization.
      operationId: listFiles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFilesResponse"
          description: List of files
      summary: List files
      x-beta: true
    post:
      description: Upload a file that can be used across various endpoints.
      operationId: uploadFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileUploadRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResponse"
          description: File upload response
      summary: Upload file
      x-beta: true
  /files/{file_id}:
    get:
      description: Returns information about a specific file.
      operationId: retrieveFile
      parameters:
      - description: The ID of the file to retrieve.
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResponse"
          description: File information
      summary: Retrieve file
      x-beta: true
  /batches:
    post:
      description: Creates a batch of API requests.
      operationId: createBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
          description: Batch response
      summary: Create batch
      x-beta: true
  /batches/{batch_id}:
    get:
      description: Retrieves a batch.
      operationId: retrieveBatch
      parameters:
      - description: The ID of the batch to retrieve.
        explode: false
        in: path
        name: batch_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
          description: Batch information
      summary: Retrieve batch
      x-beta: true
  /analytics:
    post:
      description: Returns aggregated analytics data.
      operationId: getAnalytics
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getAnalytics_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAnalytics_200_response"
          description: Analytics data
      summary: Get analytics
      x-beta: true
  /credits:
    get:
      description: Returns the remaining credits and usage statistics for a team.
      operationId: getCredits
      parameters:
      - description: The team ID to query
        explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCredits_200_response"
          description: Credit information
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server error
      summary: Get remaining credits
      x-beta: true
  /activity:
    get:
      description: Returns recent API activity for a team.
      operationId: getActivity
      parameters:
      - description: The team ID to query
        explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      - description: Number of days to look back
        explode: true
        in: query
        name: days
        required: false
        schema:
          default: 30
          maximum: 90
          minimum: 1
          type: integer
        style: form
      - description: Maximum number of records to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: Pagination offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getActivity_200_response"
          description: Activity data
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server error
      summary: Get activity
      x-beta: true
  /provisioning/keys:
    get:
      description: Returns all provisioning keys for a team.
      operationId: listProvisioningKeys
      parameters:
      - description: The team ID to query
        explode: true
        in: query
        name: team_id
        required: true
        schema:
          type: string
        style: form
      - description: Maximum number of keys to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 250
          minimum: 1
          type: integer
        style: form
      - description: Pagination offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProvisioningKeys_200_response"
          description: List of provisioning keys
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server error
      summary: List provisioning keys
      x-beta: true
    post:
      description: Creates a new provisioning key for a team.
      operationId: createProvisioningKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createProvisioningKey_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createProvisioningKey_201_response"
          description: Created provisioning key
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server error
      summary: Create provisioning key
      x-beta: true
  /provisioning/keys/{id}:
    delete:
      description: Permanently deletes a provisioning key.
      operationId: deleteProvisioningKey
      parameters:
      - description: The provisioning key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteProvisioningKey_200_response"
          description: Key deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Key not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server error
      summary: Delete provisioning key
      x-beta: true
    get:
      description: Returns details of a specific provisioning key.
      operationId: getProvisioningKey
      parameters:
      - description: The provisioning key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProvisioningKey_200_response"
          description: Provisioning key details
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Key not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server error
      summary: Get provisioning key
      x-beta: true
    patch:
      description: "Updates the name, status, or blocked state of a provisioning key."
      operationId: updateProvisioningKey
      parameters:
      - description: The provisioning key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateProvisioningKey_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateProvisioningKey_200_response"
          description: Key updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Key not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Server error
      summary: Update provisioning key
      x-beta: true
components:
  schemas:
    ProviderRoutingOptions:
      description: Provider routing preferences for gateway selection.
      example:
        only:
        - only
        - only
        ignore:
        - ignore
        - ignore
        order:
        - order
        - order
      properties:
        order:
          items:
            type: string
          type: array
        only:
          items:
            type: string
          type: array
        ignore:
          items:
            type: string
          type: array
      type: object
    Provider:
      example:
        country_code: US
        api_provider_id: openai
        link: https://openai.com
        description: description
        api_provider_name: OpenAI
      properties:
        api_provider_id:
          example: openai
          type: string
        api_provider_name:
          example: OpenAI
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        link:
          example: https://openai.com
          nullable: true
          type: string
        country_code:
          example: US
          nullable: true
          type: string
      type: object
    Model:
      example:
        organisation_id: organisation_id
        endpoints:
        - endpoints
        - endpoints
        aliases:
        - aliases
        - aliases
        output_types:
        - output_types
        - output_types
        input_types:
        - input_types
        - input_types
        release_date: release_date
        name: name
        model_id: model_id
        providers:
        - api_provider_id: api_provider_id
          params:
          - params
          - params
        - api_provider_id: api_provider_id
          params:
          - params
          - params
        status: status
      properties:
        model_id:
          type: string
        name:
          type: string
        release_date:
          type: string
        status:
          type: string
        organisation_id:
          type: string
        aliases:
          items:
            type: string
          type: array
        endpoints:
          items:
            type: string
          type: array
        input_types:
          items:
            type: string
          type: array
        output_types:
          items:
            type: string
          type: array
        providers:
          items:
            $ref: "#/components/schemas/Model_providers_inner"
          type: array
      type: object
    ChatCompletionsRequest:
      example:
        top_logprobs: 7
        logit_bias:
          key: 6.027456183070403
        seed: 2147483647
        max_tool_calls: 1
        presence_penalty: 0.38485356667327286
        reasoning:
          summary: auto
          effort: medium
        usage: true
        tools:
        - type: function
        - type: function
        logprobs: false
        top_p: 0.20271230230023218
        frequency_penalty: -1.6796687238155954
        response_format: ChatCompletionsRequest_response_format
        stream: false
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        top_k: 1
        temperature: 0.46042717738695305
        tool_choice: ChatCompletionsRequest_tool_choice
        model: model
        service_tier: standard
        system: system
        parallel_tool_calls: true
        user_id: user_id
        meta: false
        messages:
        - role: system
          tool_call_id: tool_call_id
          name: name
          tool_calls:
          - function:
              name: name
              description: description
              arguments: arguments
              parameters: "{}"
            id: id
            type: function
          - function:
              name: name
              description: description
              arguments: arguments
              parameters: "{}"
            id: id
            type: function
          content: ChatMessage_content
        - role: system
          tool_call_id: tool_call_id
          name: name
          tool_calls:
          - function:
              name: name
              description: description
              arguments: arguments
              parameters: "{}"
            id: id
            type: function
          - function:
              name: name
              description: description
              arguments: arguments
              parameters: "{}"
            id: id
            type: function
          content: ChatMessage_content
        max_output_tokens: 1
      properties:
        model:
          type: string
        system:
          type: string
        messages:
          items:
            $ref: "#/components/schemas/ChatMessage"
          minItems: 1
          type: array
        reasoning:
          $ref: "#/components/schemas/ReasoningConfig"
        frequency_penalty:
          maximum: 2
          minimum: -2
          type: number
        logit_bias:
          additionalProperties:
            type: number
          type: object
        max_output_tokens:
          minimum: 1
          type: integer
        meta:
          default: false
          type: boolean
        presence_penalty:
          maximum: 2
          minimum: -2
          type: number
        seed:
          maximum: 9223372036854776000
          minimum: -9223372036854776000
          type: integer
        stream:
          default: false
          type: boolean
        temperature:
          default: 1
          maximum: 2
          minimum: 0
          type: number
        tools:
          items:
            $ref: "#/components/schemas/ChatCompletionsRequest_tools_inner"
          type: array
        max_tool_calls:
          minimum: 1
          type: integer
        parallel_tool_calls:
          default: true
          type: boolean
        tool_choice:
          $ref: "#/components/schemas/ChatCompletionsRequest_tool_choice"
        top_k:
          minimum: 1
          type: integer
        logprobs:
          default: false
          type: boolean
        top_logprobs:
          maximum: 20
          minimum: 0
          type: integer
        top_p:
          maximum: 1
          minimum: 0
          type: number
        response_format:
          $ref: "#/components/schemas/ChatCompletionsRequest_response_format"
        usage:
          type: boolean
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
        user_id:
          type: string
        service_tier:
          default: standard
          enum:
          - flex
          - standard
          - priority
          type: string
      required:
      - messages
      - model
      type: object
    ChatMessage:
      discriminator:
        propertyName: role
      example:
        role: system
        tool_call_id: tool_call_id
        name: name
        tool_calls:
        - function:
            name: name
            description: description
            arguments: arguments
            parameters: "{}"
          id: id
          type: function
        - function:
            name: name
            description: description
            arguments: arguments
            parameters: "{}"
          id: id
          type: function
        content: ChatMessage_content
      properties:
        role:
          enum:
          - system
          - user
          - assistant
          - tool
          type: string
        content:
          $ref: "#/components/schemas/ChatMessage_content"
        name:
          type: string
        tool_calls:
          items:
            $ref: "#/components/schemas/ToolCall"
          type: array
        tool_call_id:
          type: string
      required:
      - role
      type: object
    MessageContentPart:
      oneOf:
      - $ref: "#/components/schemas/TextContentPart"
      - $ref: "#/components/schemas/ImageContentPart"
      - $ref: "#/components/schemas/AudioContentPart"
      - $ref: "#/components/schemas/VideoContentPart"
      - $ref: "#/components/schemas/ToolCallContentPart"
    TextContentPart:
      properties:
        type:
          enum:
          - text
          type: string
        text:
          type: string
      required:
      - text
      - type
      type: object
    ImageContentPart:
      properties:
        type:
          enum:
          - image_url
          type: string
        image_url:
          $ref: "#/components/schemas/ImageContentPart_image_url"
      required:
      - image_url
      - type
      type: object
    AudioContentPart:
      properties:
        type:
          enum:
          - input_audio
          type: string
        input_audio:
          $ref: "#/components/schemas/AudioContentPart_input_audio"
      required:
      - input_audio
      - type
      type: object
    VideoContentPart:
      properties:
        type:
          enum:
          - input_video
          type: string
        video_url:
          format: uri
          type: string
      required:
      - type
      - video_url
      type: object
    ToolCallContentPart:
      properties:
        type:
          enum:
          - tool_call
          type: string
        id:
          type: string
        function:
          $ref: "#/components/schemas/ToolCallContentPart_function"
      required:
      - function
      - id
      - type
      type: object
    ToolCall:
      example:
        function:
          name: name
          description: description
          arguments: arguments
          parameters: "{}"
        id: id
        type: function
      properties:
        id:
          type: string
        type:
          enum:
          - function
          type: string
        function:
          $ref: "#/components/schemas/ToolCall_function"
      required:
      - function
      - id
      - type
      type: object
    ReasoningConfig:
      example:
        summary: auto
        effort: medium
      properties:
        effort:
          default: medium
          enum:
          - none
          - minimal
          - low
          - medium
          - high
          - xhigh
          type: string
        summary:
          default: auto
          enum:
          - auto
          - concise
          - detailed
          type: string
      type: object
    ChatCompletionsResponse:
      example:
        created: 0
        usage:
          completion_tokens: 5
          prompt_tokens: 1
          total_tokens: 5
        model: model
        id: id
        choices:
        - finish_reason: stop
          index: 6
          message:
            role: system
            tool_call_id: tool_call_id
            name: name
            tool_calls:
            - function:
                name: name
                description: description
                arguments: arguments
                parameters: "{}"
              id: id
              type: function
            - function:
                name: name
                description: description
                arguments: arguments
                parameters: "{}"
              id: id
              type: function
            content: ChatMessage_content
        - finish_reason: stop
          index: 6
          message:
            role: system
            tool_call_id: tool_call_id
            name: name
            tool_calls:
            - function:
                name: name
                description: description
                arguments: arguments
                parameters: "{}"
              id: id
              type: function
            - function:
                name: name
                description: description
                arguments: arguments
                parameters: "{}"
              id: id
              type: function
            content: ChatMessage_content
        object: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        choices:
          items:
            $ref: "#/components/schemas/ChatChoice"
          type: array
        usage:
          $ref: "#/components/schemas/Usage"
      type: object
    ChatChoice:
      example:
        finish_reason: stop
        index: 6
        message:
          role: system
          tool_call_id: tool_call_id
          name: name
          tool_calls:
          - function:
              name: name
              description: description
              arguments: arguments
              parameters: "{}"
            id: id
            type: function
          - function:
              name: name
              description: description
              arguments: arguments
              parameters: "{}"
            id: id
            type: function
          content: ChatMessage_content
      properties:
        index:
          type: integer
        message:
          $ref: "#/components/schemas/ChatMessage"
        finish_reason:
          enum:
          - stop
          - length
          - tool_calls
          - content_filter
          type: string
      type: object
    Usage:
      example:
        completion_tokens: 5
        prompt_tokens: 1
        total_tokens: 5
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
      type: object
    AnthropicMessagesRequest:
      example:
        top_p: 0.14658129805029452
        metadata:
          key: metadata
        system: AnthropicMessagesRequest_system
        max_tokens: 1
        stream: true
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        top_k: 1
        temperature: 1.2054912366140806
        messages:
        - role: user
          content: AnthropicMessage_content
        - role: user
          content: AnthropicMessage_content
        tool_choice: ChatCompletionsRequest_tool_choice
        model: model
        tools:
        - input_schema: "{}"
          name: name
          description: description
        - input_schema: "{}"
          name: name
          description: description
      properties:
        model:
          type: string
        system:
          $ref: "#/components/schemas/AnthropicMessagesRequest_system"
        messages:
          items:
            $ref: "#/components/schemas/AnthropicMessage"
          minItems: 1
          type: array
        max_tokens:
          minimum: 1
          type: integer
        temperature:
          maximum: 2
          minimum: 0
          type: number
        top_p:
          maximum: 1
          minimum: 0
          type: number
        top_k:
          minimum: 1
          type: integer
        tools:
          items:
            $ref: "#/components/schemas/AnthropicTool"
          type: array
        tool_choice:
          $ref: "#/components/schemas/ChatCompletionsRequest_tool_choice"
        stream:
          type: boolean
        metadata:
          additionalProperties:
            type: string
          type: object
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - messages
      - model
      type: object
    AnthropicMessagesResponse:
      example:
        role: assistant
        stop_sequence: stop_sequence
        usage:
          output_tokens: 6
          input_tokens: 0
        stop_reason: stop_reason
        model: model
        id: id
        type: type
        content:
        - input: "{}"
          tool_use_id: tool_use_id
          name: name
          text: text
          source:
            data: data
            media_type: media_type
            type: type
            url: url
          id: id
          type: text
          content: content
        - input: "{}"
          tool_use_id: tool_use_id
          name: name
          text: text
          source:
            data: data
            media_type: media_type
            type: type
            url: url
          id: id
          type: text
          content: content
      properties:
        id:
          type: string
        type:
          type: string
        role:
          enum:
          - assistant
          type: string
        model:
          type: string
        content:
          items:
            $ref: "#/components/schemas/AnthropicContentBlock"
          type: array
        stop_reason:
          type: string
        stop_sequence:
          type: string
        usage:
          $ref: "#/components/schemas/AnthropicUsage"
      type: object
    AnthropicMessage:
      example:
        role: user
        content: AnthropicMessage_content
      properties:
        role:
          enum:
          - user
          - assistant
          type: string
        content:
          $ref: "#/components/schemas/AnthropicMessage_content"
      required:
      - content
      - role
      type: object
    AnthropicContentBlock:
      example:
        input: "{}"
        tool_use_id: tool_use_id
        name: name
        text: text
        source:
          data: data
          media_type: media_type
          type: type
          url: url
        id: id
        type: text
        content: content
      properties:
        type:
          enum:
          - text
          - image
          - tool_use
          - tool_result
          type: string
        text:
          type: string
        source:
          $ref: "#/components/schemas/AnthropicContentBlock_source"
        id:
          type: string
        name:
          type: string
        input:
          type: object
        tool_use_id:
          type: string
        content:
          type: string
      type: object
    AnthropicTool:
      example:
        input_schema: "{}"
        name: name
        description: description
      properties:
        name:
          type: string
        description:
          type: string
        input_schema:
          type: object
      required:
      - name
      type: object
    AnthropicUsage:
      example:
        output_tokens: 6
        input_tokens: 0
      properties:
        input_tokens:
          type: integer
        output_tokens:
          type: integer
      type: object
    ResponsesRequest:
      example:
        top_logprobs: 11
        instructions: instructions
        metadata:
          key: metadata
        max_tool_calls: 0
        reasoning:
          summary: summary
          effort: none
        usage: true
        safety_identifier: safety_identifier
        tools:
        - "{}"
        - "{}"
        top_p: 0.5637376656633328
        previous_response_id: previous_response_id
        stream: true
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        temperature: 0.29316259610058903
        tool_choice: null
        model: model
        service_tier: service_tier
        text: "{}"
        prompt_cache_key: prompt_cache_key
        truncation: truncation
        conversation: ChatCompletionsRequest_tool_choice
        include:
        - include
        - include
        input_items:
        - "{}"
        - "{}"
        store: true
        input: "{}"
        parallel_tool_calls: true
        background: true
        meta: true
        stream_options: "{}"
        prompt:
          variables: "{}"
          id: id
          version: version
        user: user
        max_output_tokens: 1
        prompt_cache_retention: prompt_cache_retention
      properties:
        model:
          type: string
        input:
          type: object
        input_items:
          items:
            type: object
          type: array
        conversation:
          $ref: "#/components/schemas/ChatCompletionsRequest_tool_choice"
        include:
          items:
            type: string
          type: array
        instructions:
          type: string
        max_output_tokens:
          minimum: 1
          type: integer
        max_tool_calls:
          minimum: 0
          type: integer
        metadata:
          additionalProperties:
            type: string
          type: object
        parallel_tool_calls:
          type: boolean
        previous_response_id:
          type: string
        prompt:
          $ref: "#/components/schemas/ResponsesRequest_prompt"
        prompt_cache_key:
          type: string
        prompt_cache_retention:
          type: string
        reasoning:
          $ref: "#/components/schemas/ResponsesRequest_reasoning"
        safety_identifier:
          type: string
        service_tier:
          type: string
        store:
          type: boolean
        stream:
          type: boolean
        stream_options:
          type: object
        temperature:
          maximum: 2
          minimum: 0
          type: number
        text:
          type: object
        tool_choice:
          $ref: "#/components/schemas/ChatCompletionsRequest_tool_choice"
        tools:
          items:
            type: object
          type: array
        top_logprobs:
          maximum: 20
          minimum: 0
          type: integer
        top_p:
          maximum: 1
          minimum: 0
          type: number
        truncation:
          type: string
        background:
          type: boolean
        user:
          type: string
        usage:
          type: boolean
        meta:
          type: boolean
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - model
      type: object
    ResponsesResponse:
      example:
        role: role
        created: 0
        usage:
          completion_tokens: 5
          prompt_tokens: 1
          total_tokens: 5
        stop_reason: stop_reason
        model: model
        id: id
        type: type
        content:
        - "{}"
        - "{}"
        object: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        content:
          items:
            type: object
          type: array
        role:
          type: string
        stop_reason:
          type: string
        type:
          type: string
        usage:
          $ref: "#/components/schemas/Usage"
      type: object
    EmbeddingsRequest:
      anyOf: []
      example:
        input: ""
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        inputs: ""
        encoding_format: encoding_format
        model: model
        embedding_options: "{}"
        user: user
        dimensions: 1
      nullable: true
      properties:
        model:
          type: string
        input:
          oneOf:
          - type: string
          - items:
              type: string
            type: array
        inputs:
          description: Alias for input.
          oneOf:
          - type: string
          - items:
              type: string
            type: array
        encoding_format:
          type: string
        dimensions:
          minimum: 1
          type: integer
        embedding_options:
          properties:
            google:
              properties:
                output_dimensionality:
                  minimum: 1
                  type: integer
                task_type:
                  enum:
                  - TASK_TYPE_UNSPECIFIED
                  - RETRIEVAL_QUERY
                  - RETRIEVAL_DOCUMENT
                  - SEMANTIC_SIMILARITY
                  - CLASSIFICATION
                  type: string
                title:
                  type: string
              type: object
            mistral:
              properties:
                output_dimension:
                  minimum: 1
                  nullable: true
                  type: integer
                output_dtype:
                  enum:
                  - float
                  - int8
                  - uint8
                  - binary
                  - ubinary
                  type: string
              type: object
          type: object
        user:
          type: string
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      type: object
    EmbeddingsResponse:
      example:
        data:
        - index: 6
          embedding:
          - 0.8008281904610115
          - 0.8008281904610115
          object: object
        - index: 6
          embedding:
          - 0.8008281904610115
          - 0.8008281904610115
          object: object
        usage:
          completion_tokens: 5
          prompt_tokens: 1
          total_tokens: 5
        model: model
        object: object
      properties:
        object:
          type: string
        data:
          items:
            $ref: "#/components/schemas/Embedding"
          type: array
        model:
          type: string
        usage:
          $ref: "#/components/schemas/Usage"
      type: object
    Embedding:
      example:
        index: 6
        embedding:
        - 0.8008281904610115
        - 0.8008281904610115
        object: object
      properties:
        object:
          type: string
        embedding:
          items:
            type: number
          type: array
        index:
          type: integer
      type: object
    ModerationsRequest:
      example:
        input: ModerationsRequest_input
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        meta: false
        model: model
      properties:
        model:
          type: string
        meta:
          default: false
          type: boolean
        input:
          $ref: "#/components/schemas/ModerationsRequest_input"
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - input
      - model
      type: object
    TextModerationInput:
      properties:
        type:
          enum:
          - text
          type: string
        text:
          type: string
      required:
      - text
      - type
      type: object
    ImageModerationInput:
      properties:
        type:
          enum:
          - image_url
          type: string
        image_url:
          $ref: "#/components/schemas/ImageContentPart_image_url"
      required:
      - image_url
      - type
      type: object
    ModerationsResponse:
      example:
        model: model
        id: id
        results:
        - category_scores:
            self-harm/intent: 2.3021358869347655
            hate/threatening: 6.027456183070403
            self-harm/instructions: 7.061401241503109
            sexual/minors: 3.616076749251911
            harassment/threatening: 5.962133916683182
            hate: 0.8008281904610115
            self-harm: 5.637376656633329
            harassment: 1.4658129805029452
            sexual: 9.301444243932576
            violence/graphic: 4.145608029883936
            violence: 2.027123023002322
          flagged: true
          categories:
            self-harm/intent: true
            hate/threatening: true
            self-harm/instructions: true
            sexual/minors: true
            harassment/threatening: true
            hate: true
            self-harm: true
            harassment: true
            sexual: true
            violence/graphic: true
            violence: true
        - category_scores:
            self-harm/intent: 2.3021358869347655
            hate/threatening: 6.027456183070403
            self-harm/instructions: 7.061401241503109
            sexual/minors: 3.616076749251911
            harassment/threatening: 5.962133916683182
            hate: 0.8008281904610115
            self-harm: 5.637376656633329
            harassment: 1.4658129805029452
            sexual: 9.301444243932576
            violence/graphic: 4.145608029883936
            violence: 2.027123023002322
          flagged: true
          categories:
            self-harm/intent: true
            hate/threatening: true
            self-harm/instructions: true
            sexual/minors: true
            harassment/threatening: true
            hate: true
            self-harm: true
            harassment: true
            sexual: true
            violence/graphic: true
            violence: true
      properties:
        id:
          type: string
        model:
          type: string
        results:
          items:
            $ref: "#/components/schemas/ModerationResult"
          type: array
      type: object
    ModerationResult:
      example:
        category_scores:
          self-harm/intent: 2.3021358869347655
          hate/threatening: 6.027456183070403
          self-harm/instructions: 7.061401241503109
          sexual/minors: 3.616076749251911
          harassment/threatening: 5.962133916683182
          hate: 0.8008281904610115
          self-harm: 5.637376656633329
          harassment: 1.4658129805029452
          sexual: 9.301444243932576
          violence/graphic: 4.145608029883936
          violence: 2.027123023002322
        flagged: true
        categories:
          self-harm/intent: true
          hate/threatening: true
          self-harm/instructions: true
          sexual/minors: true
          harassment/threatening: true
          hate: true
          self-harm: true
          harassment: true
          sexual: true
          violence/graphic: true
          violence: true
      properties:
        flagged:
          type: boolean
        categories:
          $ref: "#/components/schemas/ModerationCategories"
        category_scores:
          $ref: "#/components/schemas/ModerationCategoryScores"
      type: object
    ModerationCategories:
      example:
        self-harm/intent: true
        hate/threatening: true
        self-harm/instructions: true
        sexual/minors: true
        harassment/threatening: true
        hate: true
        self-harm: true
        harassment: true
        sexual: true
        violence/graphic: true
        violence: true
      properties:
        hate:
          type: boolean
        hate/threatening:
          type: boolean
        harassment:
          type: boolean
        harassment/threatening:
          type: boolean
        self-harm:
          type: boolean
        self-harm/intent:
          type: boolean
        self-harm/instructions:
          type: boolean
        sexual:
          type: boolean
        sexual/minors:
          type: boolean
        violence:
          type: boolean
        violence/graphic:
          type: boolean
      type: object
    ModerationCategoryScores:
      example:
        self-harm/intent: 2.3021358869347655
        hate/threatening: 6.027456183070403
        self-harm/instructions: 7.061401241503109
        sexual/minors: 3.616076749251911
        harassment/threatening: 5.962133916683182
        hate: 0.8008281904610115
        self-harm: 5.637376656633329
        harassment: 1.4658129805029452
        sexual: 9.301444243932576
        violence/graphic: 4.145608029883936
        violence: 2.027123023002322
      properties:
        hate:
          type: number
        hate/threatening:
          type: number
        harassment:
          type: number
        harassment/threatening:
          type: number
        self-harm:
          type: number
        self-harm/intent:
          type: number
        self-harm/instructions:
          type: number
        sexual:
          type: number
        sexual/minors:
          type: number
        violence:
          type: number
        violence/graphic:
          type: number
      type: object
    AudioSpeechRequest:
      example:
        voice: voice
        input: input
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        format: mp3
        model: model
      properties:
        model:
          type: string
        input:
          type: string
        voice:
          type: string
        format:
          enum:
          - mp3
          - wav
          - ogg
          - aac
          type: string
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - input
      - model
      type: object
    AudioTranscriptionRequest:
      properties:
        model:
          type: string
        audio_url:
          format: uri
          type: string
        audio_b64:
          type: string
        language:
          type: string
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - model
      type: object
    AudioTranscriptionResponse:
      example:
        text: text
      properties:
        text:
          type: string
      type: object
    AudioTranslationRequest:
      properties:
        model:
          type: string
        audio_url:
          format: uri
          type: string
        audio_b64:
          type: string
        language:
          type: string
        prompt:
          type: string
        temperature:
          maximum: 2
          minimum: 0
          type: number
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - model
      type: object
    AudioTranslationResponse:
      example:
        text: text
      properties:
        text:
          type: string
      type: object
    ImagesGenerationRequest:
      example:
        response_format: response_format
        size: size
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        model: model
        style: style
        prompt: prompt
        user: user
        "n": 1
        quality: quality
      properties:
        model:
          type: string
        prompt:
          type: string
        size:
          type: string
        "n":
          maximum: 10
          minimum: 1
          type: integer
        quality:
          type: string
        response_format:
          type: string
        style:
          type: string
        user:
          type: string
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - model
      - prompt
      type: object
    ImagesGenerationResponse:
      example:
        data:
        - revised_prompt: revised_prompt
          b64_json: b64_json
          url: url
        - revised_prompt: revised_prompt
          b64_json: b64_json
          url: url
        created: 0
      properties:
        created:
          type: integer
        data:
          items:
            $ref: "#/components/schemas/Image"
          type: array
      type: object
    Image:
      example:
        revised_prompt: revised_prompt
        b64_json: b64_json
        url: url
      properties:
        url:
          type: string
        b64_json:
          type: string
        revised_prompt:
          type: string
      type: object
    ImagesEditRequest:
      properties:
        model:
          type: string
        image:
          type: string
        mask:
          type: string
        prompt:
          type: string
        size:
          type: string
        "n":
          maximum: 10
          minimum: 1
          type: integer
        user:
          type: string
        meta:
          type: boolean
        usage:
          type: boolean
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - image
      - model
      - prompt
      type: object
    ImagesEditResponse:
      example:
        data:
        - revised_prompt: revised_prompt
          b64_json: b64_json
          url: url
        - revised_prompt: revised_prompt
          b64_json: b64_json
          url: url
        created: 0
      properties:
        created:
          type: integer
        data:
          items:
            $ref: "#/components/schemas/Image"
          type: array
      type: object
    VideoGenerationRequest:
      example:
        duration: 10
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        model: model
        prompt: prompt
        ratio: ratio
      properties:
        model:
          type: string
        prompt:
          type: string
        duration:
          maximum: 120
          minimum: 1
          type: integer
        ratio:
          type: string
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - model
      - prompt
      type: object
    VideoGenerationResponse:
      example:
        output:
        - id: id
          type: type
          url: url
        - id: id
          type: type
          url: url
        created: 0
        model: model
        id: id
        status: status
        object: object
      properties:
        id:
          type: string
        model:
          type: string
        status:
          type: string
        created:
          type: integer
        object:
          type: string
        output:
          items:
            $ref: "#/components/schemas/VideoGenerationResponse_output_inner"
          type: array
      type: object
    VideoDeleteResponse:
      example:
        deleted: true
        id: id
        object: object
      properties:
        id:
          type: string
        object:
          type: string
        deleted:
          type: boolean
      type: object
    OcrRequest:
      example:
        image: image
        echo_upstream_request: true
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        model: model
        language: language
      properties:
        model:
          type: string
        image:
          type: string
        language:
          type: string
        echo_upstream_request:
          type: boolean
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - image
      - model
      type: object
    OcrResponse:
      additionalProperties: true
      type: object
    MusicGenerateRequest:
      example:
        duration: 0
        echo_upstream_request: true
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        suno:
          vocalGender: m
          customMode: true
          callBackUrl: https://openapi-generator.tech
          title: title
          styleWeight: 0.6027456183070403
          instrumental: true
          audioWeight: 0.5962133916683182
          weirdnessConstraint: 0.14658129805029452
          style: style
          model: model
          prompt: prompt
          personaId: personaId
          negativeTags: negativeTags
        format: mp3
        model: model
        prompt: prompt
        elevenlabs:
          output_format: output_format
          music_length_ms: 5
          store_for_inpainting: true
          composition_plan: "{}"
          model_id: model_id
          sign_with_c2pa: true
          force_instrumental: true
          with_timestamps: true
          prompt: prompt
      properties:
        model:
          type: string
        prompt:
          type: string
        duration:
          type: integer
        format:
          enum:
          - mp3
          - wav
          - ogg
          - aac
          type: string
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
        suno:
          $ref: "#/components/schemas/MusicGenerateRequest_suno"
        elevenlabs:
          $ref: "#/components/schemas/MusicGenerateRequest_elevenlabs"
        echo_upstream_request:
          type: boolean
      required:
      - model
      type: object
    MusicGenerateResponse:
      additionalProperties: true
      type: object
    BatchRequest:
      example:
        endpoint: endpoint
        metadata: "{}"
        input_file_id: input_file_id
        provider:
          only:
          - only
          - only
          ignore:
          - ignore
          - ignore
          order:
          - order
          - order
        completion_window: completion_window
      properties:
        input_file_id:
          type: string
        endpoint:
          type: string
        completion_window:
          type: string
        metadata:
          type: object
        provider:
          $ref: "#/components/schemas/ProviderRoutingOptions"
      required:
      - endpoint
      - input_file_id
      type: object
    BatchResponse:
      example:
        cancelled_at: 3
        metadata: "{}"
        request_counts:
          total: 2
          completed: 4
          failed: 7
        input_file_id: input_file_id
        output_file_id: output_file_id
        error_file_id: error_file_id
        created_at: 0
        in_progress_at: 6
        expired_at: 7
        finalizing_at: 5
        completed_at: 5
        endpoint: endpoint
        expires_at: 1
        cancelling_at: 9
        completion_window: completion_window
        id: id
        failed_at: 2
        errors: "{}"
        object: object
        status: status
      properties:
        id:
          type: string
        object:
          type: string
        endpoint:
          type: string
        errors:
          type: object
        input_file_id:
          type: string
        completion_window:
          type: string
        status:
          type: string
        output_file_id:
          type: string
        error_file_id:
          type: string
        created_at:
          type: integer
        in_progress_at:
          type: integer
        expires_at:
          type: integer
        finalizing_at:
          type: integer
        completed_at:
          type: integer
        failed_at:
          type: integer
        expired_at:
          type: integer
        cancelling_at:
          type: integer
        cancelled_at:
          type: integer
        request_counts:
          $ref: "#/components/schemas/BatchRequestCounts"
        metadata:
          type: object
      type: object
    BatchRequestCounts:
      example:
        total: 2
        completed: 4
        failed: 7
      properties:
        total:
          type: integer
        completed:
          type: integer
        failed:
          type: integer
      type: object
    FileUploadRequest:
      properties:
        file:
          format: binary
          type: string
        purpose:
          type: string
      required:
      - file
      - purpose
      type: object
    FileResponse:
      example:
        filename: filename
        purpose: purpose
        bytes: 0
        created_at: 6
        id: id
        status_details: "{}"
        object: object
        status: status
      properties:
        id:
          type: string
        object:
          type: string
        bytes:
          type: integer
        created_at:
          type: integer
        filename:
          type: string
        purpose:
          type: string
        status:
          type: string
        status_details:
          type: object
      type: object
    ListFilesResponse:
      example:
        data:
        - filename: filename
          purpose: purpose
          bytes: 0
          created_at: 6
          id: id
          status_details: "{}"
          object: object
          status: status
        - filename: filename
          purpose: purpose
          bytes: 0
          created_at: 6
          id: id
          status_details: "{}"
          object: object
          status: status
        object: object
      properties:
        object:
          type: string
        data:
          items:
            $ref: "#/components/schemas/FileResponse"
          type: array
      type: object
    ModelId:
      description: Model identifier.
      enum:
      - ai21/jamba-large-1-5-2024-08-22
      - ai21/jamba-large-1-6-2025-03-06
      - ai21/jamba-large-1-7-2025-07-03
      - ai21/jamba-mini-1-5-2024-08-22
      - ai21/jamba-mini-1-6-2025-03-06
      - ai21/jamba-mini-1-7-2025-07-03
      - ai21/jamba-reasoning-3b-2025-10-08
      - amazon/nova-2-lite-2025-12-02
      - amazon/nova-2-omni-2025-12-02
      - amazon/nova-2-pro-2025-12-02
      - amazon/nova-2-sonic-2025-12-02
      - amazon/nova-canvas
      - amazon/nova-lite-1-0-2024-12-04
      - amazon/nova-micro-1-0-2024-12-04
      - amazon/nova-multimodal-embeddings-2025-12-02
      - amazon/nova-premier-2025-04-30
      - amazon/nova-pro-1-0-2024-12-04
      - amazon/nova-reel
      - amazon/nova-sonic
      - anthropic/claude-1-0-2023-03-14
      - anthropic/claude-1-1
      - anthropic/claude-1-2
      - anthropic/claude-1-3
      - anthropic/claude-2-0-2023-07-12
      - anthropic/claude-2-1-2023-11-22
      - anthropic/claude-3-5-haiku-2024-11-04
      - anthropic/claude-3-5-sonnet-2024-06-21
      - anthropic/claude-3-5-sonnet-2024-10-22
      - anthropic/claude-3-7-sonnet-2025-02-24
      - anthropic/claude-3-haiku-2024-03-13
      - anthropic/claude-3-opus-2024-03-04
      - anthropic/claude-3-sonnet-2024-03-04
      - anthropic/claude-haiku-4-5-2025-10-15
      - anthropic/claude-instant-1-0-2023-03-14
      - anthropic/claude-instant-1-1
      - anthropic/claude-instant-1-2-2023-08-09
      - anthropic/claude-opus-4-1-2025-08-05
      - anthropic/claude-opus-4-2025-05-21
      - anthropic/claude-opus-4-5-2025-11-24
      - anthropic/claude-sonnet-4-2025-05-21
      - anthropic/claude-sonnet-4-5-2025-09-29
      - baidu/ernie-4-5-21b-a3b
      - baidu/ernie-4-5-21b-a3b-thinking
      - baidu/ernie-4-5-300b-a47b
      - baidu/ernie-4-5-vl-28b-a3b
      - baidu/ernie-4-5-vl-424b-a47b
      - baidu/qianfan-vl-3b
      - baidu/qianfan-vl-70b
      - baidu/qianfan-vl-8b
      - bytedance/seed-coder-8b-instruct
      - bytedance/seed-coder-8b-reasoning
      - bytedance/seed-oss-36b-instruct
      - cohere/c4ai-aya-expanse-32b
      - cohere/c4ai-aya-expanse-8b
      - cohere/c4ai-aya-vision-32b
      - cohere/c4ai-aya-vision-8b
      - cohere/command
      - cohere/command-a-2025-03-13
      - cohere/command-a-reasoning-2025-08-21
      - cohere/command-a-translate-2025-08-28
      - cohere/command-a-vision-2025-07-31
      - cohere/command-light
      - cohere/command-r-2024-03-11
      - cohere/command-r-2024-08-30
      - cohere/command-r-7b-2024-12-13
      - cohere/command-r+-2024-04-04
      - cohere/command-r+-2024-08-30
      - cohere/embed-english-light-v2-0
      - cohere/embed-english-light-v3
      - cohere/embed-english-v2-0
      - cohere/embed-english-v3
      - cohere/embed-multilingual-light-v3
      - cohere/embed-multilingual-v2-0
      - cohere/embed-multilingual-v3
      - cohere/embed-v4
      - cohere/rerank-multilingual-v3
      - cohere/rerank-v3-5
      - cohere/rerenk-english-v3
      - deepseek/deepseek-coder-v2-2024-06-14
      - deepseek/deepseek-coder-v2-2024-07-24
      - deepseek/deepseek-ocr-2025-10-20
      - deepseek/deepseek-r1-2025-01-20
      - deepseek/deepseek-r1-2025-05-28
      - deepseek/deepseek-r1-lite-preview
      - deepseek/deepseek-v2-2024-05-17
      - deepseek/deepseek-v2-2024-06-28
      - deepseek/deepseek-v2-5
      - deepseek/deepseek-v2-5-2024-05-08
      - deepseek/deepseek-v3-1
      - deepseek/deepseek-v3-1-terminus-2025-09-22
      - deepseek/deepseek-v3-2-2025-12-01
      - deepseek/deepseek-v3-2-exp-2025-09-29
      - deepseek/deepseek-v3-2-speciale-2025-12-01
      - deepseek/deepseek-v3-2024-12-25
      - deepseek/deepseek-v3-2025-03-25
      - deepseek/deepseek-vl2-2024-12-13
      - deepseek/deepseek-vl2-small-2024-12-13
      - deepseek/deepseek-vl2-tiny-2024-12-13
      - essential-ai/rnj-1-2025-12-06
      - google/chat-bison
      - google/code-gecko
      - google/embedding-001-2023-12-13
      - google/gemini-1-0-nano-2023-12-06
      - google/gemini-1-0-pro-2023-12-06
      - google/gemini-1-0-pro-vision-001
      - google/gemini-1-0-ultra-2023-12-06
      - google/gemini-1-5-flash-001-2024-05-23
      - google/gemini-1-5-flash-002-2024-09-24
      - google/gemini-1-5-flash-8b-2024-03-15
      - google/gemini-1-5-flash-8b-exp-2024-08-27
      - google/gemini-1-5-flash-8b-exp-2024-09-24
      - google/gemini-1-5-pro-001-2024-05-23
      - google/gemini-1-5-pro-002-2024-09-24
      - google/gemini-1-5-pro-exp-2024-08-01
      - google/gemini-1-5-pro-exp-2024-08-27
      - google/gemini-2-0-flash-2025-02-05
      - google/gemini-2-0-flash-exp
      - google/gemini-2-0-flash-exp-image-generation
      - google/gemini-2-0-flash-lite-2025-02-05
      - google/gemini-2-0-flash-live-001-2025-04-09
      - google/gemini-2-0-flash-preview-image-generation-2025-05-07
      - google/gemini-2-0-flash-thinking-exp-2024-12-19
      - google/gemini-2-0-flash-thinking-exp-2025-01-21
      - google/gemini-2-0-pro-exp-2025-02-05
      - google/gemini-2-5-computer-use-preview-2025-10-07
      - google/gemini-2-5-flash-exp-native-audio-thinking-dialog
      - google/gemini-2-5-flash-image-preview
      - google/gemini-2-5-flash-lite-preview-2025-06-17
      - google/gemini-2-5-flash-lite-preview-2025-09-25
      - google/gemini-2-5-flash-native-audio-preview
      - google/gemini-2-5-flash-preview-2025-04-17
      - google/gemini-2-5-flash-preview-2025-05-20
      - google/gemini-2-5-flash-preview-2025-09-25
      - google/gemini-2-5-flash-preview-native-audio-dialog
      - google/gemini-2-5-flash-preview-tts
      - google/gemini-2-5-flash-preview-tts-2025-12-10
      - google/gemini-2-5-pro-experimental
      - google/gemini-2-5-pro-preview-2025-05-06
      - google/gemini-2-5-pro-preview-2025-06-05
      - google/gemini-2-5-pro-preview-tts
      - google/gemini-2-5-pro-preview-tts-2025-12-10
      - google/gemini-3-0-flash
      - google/gemini-3-0-flash-lite
      - google/gemini-3-0-pro-preview-2025-11-18
      - google/gemini-3-flash-image
      - google/gemini-3-pro-image-preview-2025-11-20
      - google/gemini-diffusion
      - google/gemini-embedding-001-2025-05-20
      - google/gemini-embedding-exp-0307-2025-03-07
      - google/gemini-exp-1114-2024-11-14
      - google/gemini-exp-1121-2024-11-21
      - google/gemini-exp-1206
      - google/gemini-live-2-5-flash-preview-2025-04-09
      - google/gemini-robotics-er-1-5-preview
      - google/gemma-1-2b-2024-02-21
      - google/gemma-1-7b-2024-02-21
      - google/gemma-2-27b-2024-06-27
      - google/gemma-2-2b-2024-07-31
      - google/gemma-2-9b-2024-06-27
      - google/gemma-3-12b-2025-03-12
      - google/gemma-3-1b-2025-03-12
      - google/gemma-3-27b-2025-03-12
      - google/gemma-3-4b-2025-03-12
      - google/gemma-3n-e2b
      - google/gemma-3n-e4b-2025-05-20
      - google/image-generation-002
      - google/image-generation-005
      - google/image-generation-006
      - google/image-text
      - google/imagen-3-0-generate-001
      - google/imagen-3-0-generate-002-2025-02-06
      - google/imagen-4-0-fast-generate-001
      - google/imagen-4-0-generate-001-2025-08-14
      - google/imagen-4-0-ultra-generate-001-2025-08-14
      - google/imagen-4-preview
      - google/imagen-4-ultra-preview-2025-08-14
      - google/learnlm-1-5-pro-experimental
      - google/learnlm-2-0-flash-experimental
      - google/multimodal-embedding-001
      - google/text-bison
      - google/text-embedding-004
      - google/text-embedding-005
      - google/text-embedding-gecko-001-2023-12-13
      - google/text-embedding-gecko-002
      - google/text-embedding-gecko-003
      - google/text-embedding-gecko-multilingual-001
      - google/text-multilingual-embedding-002
      - google/veo-2-2025-04-09
      - google/veo-3-0-fast-generate-preview-2025-07-17
      - google/veo-3-0-generate-preview-2025-07-17
      - google/veo-3-1-fast-preview-2025-10-15
      - google/veo-3-1-preview-2025-10-15
      - google/veo-3-2025-09-09
      - google/veo-3-fast-2025-09-09
      - google/veo-4
      - ibm/granite-20b-code-instruct-8k
      - ibm/granite-3-0-1b-a400m-instruct
      - ibm/granite-3-0-2b-instruct
      - ibm/granite-3-0-3b-a800m-instruct
      - ibm/granite-3-0-8b-instruct
      - ibm/granite-3-1-1b-a400m-instruct
      - ibm/granite-3-1-2b-instruct
      - ibm/granite-3-1-3b-a800m-instruct
      - ibm/granite-3-1-8b-instruct
      - ibm/granite-3-2-2b-instruct
      - ibm/granite-3-2-8b-instruct
      - ibm/granite-3-2-8b-instruct-preview
      - ibm/granite-3-3-2b-instruct-2025-04-16
      - ibm/granite-3-3-8b-instruct-2025-04-16
      - ibm/granite-34b-code-instruct-8b
      - ibm/granite-3b-code-instruct-128k
      - ibm/granite-3b-code-instruct-2k
      - ibm/granite-4-0-micro-2025-10-02
      - ibm/granite-4-0-small-2025-10-02
      - ibm/granite-4-0-tiny-2025-10-02
      - ibm/granite-4-0-tiny-preview-2025-05-02
      - ibm/granite-8b-code-instruct-128k
      - ibm/granite-8b-code-instruct-4k
      - ibm/granite-embedding-107m-multilingual
      - ibm/granite-embedding-125m-english
      - ibm/granite-embedding-278m-multilingual
      - ibm/granite-embedding-30m-english
      - ibm/granite-embedding-english-r2
      - ibm/granite-embedding-reranker-english-r2
      - ibm/granite-embedding-small-english-r2
      - ibm/granite-guardian-3-0-2b
      - ibm/granite-guardian-3-0-8b
      - ibm/granite-guardian-3-1-2b
      - ibm/granite-guardian-3-1-8b
      - ibm/granite-guardian-3-2-5b
      - ibm/granite-guardian-3-3-8b
      - ibm/granite-speech-3-2-8b
      - ibm/granite-speech-3-3-2b
      - ibm/granite-speech-3-3-8b
      - ibm/granite-vision-3-1-2b-preview
      - ibm/granite-vision-3-2-2b
      - ibm/granite-vision-3-3-2b
      - ibm/granite-vision-3-3-2b-embedding
      - lg/exaone-3-0-2024-08-07
      - lg/exaone-3-5-2-4b-2024-12-09
      - lg/exaone-3-5-32b-2024-12-09
      - lg/exaone-3-5-7-8b-2024-12-09
      - lg/exaone-4-0-1-2b-2025-07-15
      - lg/exaone-4-0-32b-2025-07-15
      - lg/exaone-deep-2-4b-2025-03-18
      - lg/exaone-deep-32b-2025-03-18
      - lg/exaone-deep-7-8b-2025-03-18
      - meta/llama-2-13b-chat-2023-06-20
      - meta/llama-2-70b-chat-2023-06-20
      - meta/llama-2-7b-chat
      - meta/llama-3-1-405b-instruct-2024-07-23
      - meta/llama-3-1-70b-instruct-2024-07-23
      - meta/llama-3-1-8b-instruct-2024-07-23
      - meta/llama-3-2-11b-vision-instruct
      - meta/llama-3-2-1b-instruct-2024-09-25
      - meta/llama-3-2-3b-instruct-2024-09-25
      - meta/llama-3-2-90b-vision-instruct
      - meta/llama-3-3-70b-instruct-2024-12-06
      - meta/llama-3-70b-instruct-2024-04-18
      - meta/llama-3-8b-instruct-2024-04-18
      - meta/llama-4-maverick-2025-04-05
      - meta/llama-4-scout-2025-04-05
      - microsoft/phi-1
      - microsoft/phi-1-5
      - microsoft/phi-2
      - microsoft/phi-3-5-mini-instruct-2024-08-23
      - microsoft/phi-3-5-moe-instruct-2024-08-23
      - microsoft/phi-3-5-vision-instruct-2024-08-23
      - microsoft/phi-3-medium-128k-instruct
      - microsoft/phi-3-medium-4k-instruct
      - microsoft/phi-3-mini-128k-instruct
      - microsoft/phi-3-small-128k-instruct
      - microsoft/phi-3-small-8k-instruct
      - microsoft/phi-3-vision-128k-instruct
      - microsoft/phi-4-2024-12-12
      - microsoft/phi-4-mini-2025-02-01
      - microsoft/phi-4-mini-flash-reasoning
      - microsoft/phi-4-mini-reasoning-2025-04-30
      - microsoft/phi-4-multimodal-instruct-2025-02-01
      - microsoft/phi-4-reasoning-2025-04-30
      - microsoft/phi-4-reasoning-plus-2025-04-30
      - minimax/hailuo-02
      - minimax/i2v-01-director
      - minimax/i2v-01-live
      - minimax/image-01
      - minimax/minimax-m1-2025-06-16
      - minimax/minimax-m1-40k
      - minimax/minimax-m2-1
      - minimax/minimax-m2-2025-10-27
      - minimax/minimax-text-01
      - minimax/minimax-vl-01
      - minimax/music-1-5
      - minimax/s2v-01
      - minimax/speech-01-hd
      - minimax/speech-01-turbo
      - minimax/speech-02-hd
      - minimax/speech-02-turbo
      - minimax/speech-2-5-hd-preview
      - minimax/speech-2-5-turbo-preview
      - minimax/t2v-01-director
      - mistral/codestral-22b-2024-05-29
      - mistral/codestral-2405
      - mistral/codestral-2501
      - mistral/codestral-2508
      - mistral/codestral-embed
      - mistral/devstral-2-2025-12-09
      - mistral/devstral-medium-1-1-2025-07-10
      - mistral/devstral-small
      - mistral/devstral-small-1-1-2025-07-10
      - mistral/devstral-small-2-2025-12-09
      - mistral/magistral-medium-2025-06-10
      - mistral/magistral-medium-2507
      - mistral/magistral-medium-2509
      - mistral/magistral-small-2025-06-10
      - mistral/magistral-small-2507
      - mistral/magistral-small-2509
      - mistral/mamba-codestral-7b
      - mistral/mathstral-7b
      - mistral/ministral-3-14b-2025-12-02
      - mistral/ministral-3-3b-2025-12-02
      - mistral/ministral-3-8b-2025-12-02
      - mistral/ministral-3b-2410
      - mistral/ministral-8b-2410
      - mistral/ministral-8b-instruct-2024-10-16
      - mistral/mistral-7b
      - mistral/mistral-embed
      - mistral/mistral-large-2-2024-07-24
      - mistral/mistral-large-2402
      - mistral/mistral-large-2407
      - mistral/mistral-large-2411
      - mistral/mistral-large-3-675b-2025-12-02
      - mistral/mistral-medium-2312
      - mistral/mistral-medium-2505
      - mistral/mistral-medium-2508
      - mistral/mistral-moderation-2411
      - mistral/mistral-nemo-instruct-2024-07-18
      - mistral/mistral-ocr-2503
      - mistral/mistral-ocr-2505
      - mistral/mistral-saba-2502
      - mistral/mistral-small-2024-09-17
      - mistral/mistral-small-2402
      - mistral/mistral-small-2407
      - mistral/mistral-small-2501
      - mistral/mistral-small-2503
      - mistral/mistral-small-2506
      - mistral/mistral-small-3-1-24b-base-2025-03-17
      - mistral/mistral-small-3-1-24b-instruct-2025-03-17
      - mistral/mistral-small-3-2-2025-06-20
      - mistral/mistral-small-3-24b-base-2025-01-30
      - mistral/mistral-small-3-24b-instruct-2025-01-30
      - mistral/mixtral-8x22b
      - mistral/mixtral-8x7b
      - mistral/open-codestral-mamba
      - mistral/open-mistral-7b
      - mistral/open-mistral-nemo
      - mistral/open-mixtral-8x22b
      - mistral/open-mixtral-8x7b
      - mistral/pixtral-12b-base-2024-09-17
      - mistral/pixtral-large-2024-11-18
      - mistral/pixtral-large-2411
      - mistral/voxtral-mini-2507
      - mistral/voxtral-small-2507
      - moonshotai/kimi-k1-5-2025-01-20
      - moonshotai/kimi-k2-base-2025-07-11
      - moonshotai/kimi-k2-instruct-0905
      - moonshotai/kimi-k2-instruct-2025-07-11
      - moonshotai/kimi-k2-thinking-2025-11-06
      - moonshotai/kimi-vl-a3b-instruct
      - moonshotai/kimi-vl-a3b-thinking
      - moonshotai/kimi-vl-a3b-thinking-2506
      - nous/hermes-2-pro-llama-3-70b
      - nous/hermes-2-pro-llama-3-8b
      - nous/hermes-2-pro-mistral-7b
      - nous/hermes-2-theta-llama-3-70b
      - nous/hermes-2-theta-llama-3-8b
      - nous/hermes-3-llama-3-1-405b
      - nous/hermes-3-llama-3-1-70b
      - nous/hermes-3-llama-3-1-8b
      - nous/hermes-3-llama-3-2-3b
      - nous/hermes-4-14b
      - nous/hermes-4-3-36b-2025-12-03
      - nous/hermes-4-405b
      - nous/hermes-4-70b
      - nous/nomos-1-2025-12-09
      - nvidia/llama-3-1-nemotron-70b-instruct-2024-10-01
      - nvidia/llama-3-1-nemotron-nano-4b-v1-1
      - nvidia/llama-3-1-nemotron-nano-8b-v1-2025-03-18
      - nvidia/llama-3-1-nemotron-ultra-253b-v1-2025-04-07
      - nvidia/llama-3-3-nemotron-super-49b-v1-2025-03-18
      - nvidia/llama-3-3-nemotron-super-49b-v1-5
      - nvidia/nemotron-nano-3-30b-a3b
      - nvidia/nvidia-nemotron-nano-12b-v2
      - nvidia/nvidia-nemotron-nano-9b-v2
      - nvidia/openreasoning-nemotron-1-5b
      - nvidia/openreasoning-nemotron-14b
      - nvidia/openreasoning-nemotron-32b
      - nvidia/openreasoning-nemotron-7b
      - openai/ada-2020-06-11
      - openai/babbage-002
      - openai/babbage-2020-06-11
      - openai/chatgpt-4o
      - openai/code-cushman-001
      - openai/code-cushman-002
      - openai/code-davinci-001
      - openai/code-davinci-002
      - openai/code-davinci-edit-001
      - openai/code-search-ada-code-001
      - openai/code-search-babbage-code-001
      - openai/code-search-babbage-text-001
      - openai/codes-search-ada-text-001
      - openai/codex-mini-2025-05-16
      - openai/computer-use-preview
      - openai/curie-2020-06-11
      - openai/dall-e-2-2022-09-28
      - openai/dall-e-3-2023-10-19
      - openai/davinci-002
      - openai/davinci-2020-06-11
      - openai/gpt-1-2018-06-11
      - openai/gpt-2-2019-11-05
      - openai/gpt-3-2020-06-11
      - openai/gpt-3-5-turbo-0613
      - openai/gpt-3-5-turbo-16k-0613-2023-06-13
      - openai/gpt-3-5-turbo-2023-03-21
      - openai/gpt-3-5-turbo-2023-09-28
      - openai/gpt-3-5-turbo-2023-11-06
      - openai/gpt-4-1-2025-04-14
      - openai/gpt-4-1-mini-2025-04-14
      - openai/gpt-4-1-nano-2025-04-14
      - openai/gpt-4-2023-03-14
      - openai/gpt-4-2023-06-13
      - openai/gpt-4-32k
      - openai/gpt-4-32k-0314
      - openai/gpt-4-32k-0613
      - openai/gpt-4-5-2025-02-27
      - openai/gpt-4-turbo-2023-03-14
      - openai/gpt-4-turbo-2023-11-06
      - openai/gpt-4-turbo-2024-01-25
      - openai/gpt-4o-2024-05-13
      - openai/gpt-4o-2024-08-06
      - openai/gpt-4o-2024-11-20
      - openai/gpt-4o-audio-2024-10-01
      - openai/gpt-4o-audio-2024-12-17
      - openai/gpt-4o-audio-2025-06-03
      - openai/gpt-4o-mini-2024-07-18
      - openai/gpt-4o-mini-audio-preview
      - openai/gpt-4o-mini-realtime-preview
      - openai/gpt-4o-mini-search-preview
      - openai/gpt-4o-mini-transcribe
      - openai/gpt-4o-mini-tts
      - openai/gpt-4o-realtime-preview-2024-10-01
      - openai/gpt-4o-realtime-preview-2024-12-17
      - openai/gpt-4o-realtime-preview-2025-06-03
      - openai/gpt-4o-search-preview
      - openai/gpt-4o-transcribe
      - openai/gpt-4o-transcribe-diarize-2025-10-15
      - openai/gpt-5-1-2025-11-12
      - openai/gpt-5-1-chat-2025-11-13
      - openai/gpt-5-1-codex-2025-11-13
      - openai/gpt-5-1-codex-max-2025-11-19
      - openai/gpt-5-1-codex-mini-2025-11-13
      - openai/gpt-5-1-pro
      - openai/gpt-5-2-2025-12-11
      - openai/gpt-5-2-chat-2025-12-11
      - openai/gpt-5-2-pro-2025-12-11
      - openai/gpt-5-2025-08-07
      - openai/gpt-5-chat-2025-08-07
      - openai/gpt-5-codex-2025-09-15
      - openai/gpt-5-codex-mini-2025-11-07
      - openai/gpt-5-mini-2025-08-07
      - openai/gpt-5-nano-2025-08-07
      - openai/gpt-5-pro-2025-08-07
      - openai/gpt-5-search-api-2025-10-14
      - openai/gpt-6
      - openai/gpt-6-mini
      - openai/gpt-6-nano
      - openai/gpt-6-pro
      - openai/gpt-audio
      - openai/gpt-audio-mini-2025-10-06
      - openai/gpt-image-1
      - openai/gpt-image-1-mini-2025-10-06
      - openai/gpt-oss-120b-2025-08-05
      - openai/gpt-oss-20b-2025-08-05
      - openai/gpt-oss-safeguard-120b-2025-10-29
      - openai/gpt-oss-safeguard-20b-2025-10-29
      - openai/gpt-realtime
      - openai/gpt-realtime-mini-2025-10-06
      - openai/o1-2024-12-17
      - openai/o1-mini-2024-09-12
      - openai/o1-preview-2024-09-12
      - openai/o1-pro-2025-03-19
      - openai/o3-2025-04-16
      - openai/o3-deep-research-2025-06-26
      - openai/o3-mini-2025-01-30
      - openai/o3-preview
      - openai/o3-pro-2025-06-10
      - openai/o4-mini-2025-04-16
      - openai/o4-mini-deep-research-2025-06-26
      - openai/omni-moderation-2024-09-26
      - openai/sora-1-2024-12-09
      - openai/sora-2-2025-09-30
      - openai/sora-2-pro-2025-10-03
      - openai/text-ada-001
      - openai/text-babbage-001
      - openai/text-curie-001
      - openai/text-davinci-001
      - openai/text-davinci-002
      - openai/text-davinci-003
      - openai/text-davinci-edit-001
      - openai/text-embedding-3-large
      - openai/text-embedding-3-small
      - openai/text-embedding-ada-002
      - openai/text-moderation-007
      - openai/text-search-ada-doc-001
      - openai/text-search-ada-query-001
      - openai/text-search-babbage-doc-001
      - openai/text-search-babbage-query-001
      - openai/text-search-curie-doc-001
      - openai/text-search-curie-query-001
      - openai/text-search-davinci-doc-001
      - openai/text-search-davinci-query-001
      - openai/text-similarity-ada-001
      - openai/text-similarity-babbage-001
      - openai/text-similarity-curie-001
      - openai/text-similarity-davinci-001
      - openai/tts-1
      - openai/tts-1-hd
      - openai/whisper-1
      - qwen/qvq-72b-preview-2024-12-25
      - qwen/qwen-3-omni-flash-2025-12-08
      - qwen/qwen-3-tts-2025-12-05
      - qwen/qwen2-5-14b-instruct-2024-09-19
      - qwen/qwen2-5-32b-instruct-2024-09-19
      - qwen/qwen2-5-72b-instruct-2024-09-19
      - qwen/qwen2-5-7b-instruct-2024-09-19
      - qwen/qwen2-5-coder-32b-instruct-2024-09-19
      - qwen/qwen2-5-coder-7b-instruct-2024-09-19
      - qwen/qwen2-5-omni-7b-2025-03-27
      - qwen/qwen2-5-vl-32b-instruct-2025-02-28
      - qwen/qwen2-5-vl-72b-instruct-2025-01-26
      - qwen/qwen2-5-vl-7b-instruct-2025-01-26
      - qwen/qwen2-72b-instruct-2024-07-23
      - qwen/qwen2-7b-instruct-2024-07-23
      - qwen/qwen2-vl-72b-instruct-2024-08-29
      - qwen/qwen3-235b-a22b-2025-04-29
      - qwen/qwen3-235b-a22b-thinking-2507-2025-07-25
      - qwen/qwen3-30b-a3b-2025-04-29
      - qwen/qwen3-32b-2025-04-29
      - qwen/qwen3-a235-a22b-instruct-2507-2025-07-21
      - qwen/qwen3-coder-480b-a35b-instruct-2025-07-22
      - qwen/qwq-32b-2025-03-05
      - qwen/qwq-32b-preview-2024-11-28
      - suno/suno-v3-5
      - suno/suno-v4
      - suno/suno-v4-5
      - suno/suno-v4-5+
      - suno/suno-v5
      - x-ai/grok-0
      - x-ai/grok-1
      - x-ai/grok-1-5-2024-03-28
      - x-ai/grok-1-5v-2024-04-12
      - x-ai/grok-2-2024-08-13
      - x-ai/grok-2-image-1212
      - x-ai/grok-2-mini-2024-08-13
      - x-ai/grok-2-vision-1212
      - x-ai/grok-3-2025-04-18
      - x-ai/grok-3-beta-2025-02-19
      - x-ai/grok-3-mini-2025-04-18
      - x-ai/grok-3-mini-beta-2025-02-19
      - x-ai/grok-4-1-non-thinking-2025-11-17
      - x-ai/grok-4-1-thinking-2025-11-17
      - x-ai/grok-4-2
      - x-ai/grok-4-2025-07-10
      - x-ai/grok-4-fast-non-reasoning-2025-09-20
      - x-ai/grok-4-fast-reasoning-2025-09-20
      - x-ai/grok-4-heavy-2025-07-10
      - x-ai/grok-code-fast-1-2025-08-28
      - z-ai/glm-4-1v-9b
      - z-ai/glm-4-1v-thinking-9b
      - z-ai/glm-4-32b-0414
      - z-ai/glm-4-5
      - z-ai/glm-4-5-air
      - z-ai/glm-4-5v
      - z-ai/glm-4-6-2025-09-30
      - z-ai/glm-4-6v-2025-12-08
      - z-ai/glm-4-6v-flash-2025-12-08
      - z-ai/glm-4-9b
      - z-ai/glm-4-9b-0414
      - z-ai/glm-4-9b-chat
      - z-ai/glm-4-9b-chat-1m
      - z-ai/glm-4v-9b
      type: string
    OrganisationId:
      description: Organisation identifier.
      enum:
      - ai21
      - amazon
      - anthropic
      - baidu
      - black-forest-labs
      - bytedance
      - cohere
      - deepseek
      - eleven-labs
      - essential-ai
      - google
      - ibm
      - inclusionai
      - lg
      - meta
      - microsoft
      - minimax
      - mistral
      - moonshotai
      - nous
      - nvidia
      - openai
      - perplexity
      - qwen
      - suno
      - x-ai
      - z-ai
      type: string
    OrganisationIdList:
      items:
        $ref: "#/components/schemas/OrganisationId"
      type: array
    GenerationResponse:
      example:
        error_message: error_message
        status_code: 0.8008281904610115
        key_id: key_id
        usage:
          completion_tokens: 5.637376656633329
          prompt_tokens: 5.962133916683182
          total_tokens: 2.3021358869347655
        cost_nanos: 7.061401241503109
        native_response_id: native_response_id
        generation_ms: 1.4658129805029452
        team_id: team_id
        model_id: model_id
        latency_ms: 6.027456183070403
        pricing_lines:
        - "{}"
        - "{}"
        endpoint: endpoint
        provider: provider
        stream: true
        success: true
        error_code: error_code
        currency: currency
        throughput: 9.301444243932576
        request_id: request_id
        app_id: app_id
        byok: true
      properties:
        request_id:
          type: string
        team_id:
          type: string
        app_id:
          nullable: true
          type: string
        endpoint:
          type: string
        model_id:
          type: string
        provider:
          type: string
        native_response_id:
          nullable: true
          type: string
        stream:
          type: boolean
        byok:
          type: boolean
        status_code:
          type: number
        success:
          type: boolean
        error_code:
          nullable: true
          type: string
        error_message:
          nullable: true
          type: string
        latency_ms:
          type: number
        generation_ms:
          type: number
        usage:
          $ref: "#/components/schemas/GenerationResponse_usage"
        cost_nanos:
          type: number
        currency:
          type: string
        pricing_lines:
          items:
            type: object
          type: array
        key_id:
          type: string
        throughput:
          nullable: true
          type: number
      type: object
    BenchmarkId:
      description: Benchmark identifier.
      enum:
      - ace-bench
      - ai2-sciarena
      - ai2d
      - aidanbench
      - aider-polyglot
      - aime-2024
      - aime-2025
      - amc
      - arc-agi-1
      - arc-agi-2
      - arena-hard
      - autologi
      - balrog-ai
      - bfcl-overall-fc-v4
      - bigcodebench
      - browsecomp
      - browsecomp-long-context-128k
      - browsecomp-long-context-256k
      - c-eval
      - chartqa
      - charxiv-reasoning
      - cnmo-2024
      - codeforces
      - collie
      - confabulations
      - creative-story-writing
      - csimpleqa
      - docvqa
      - dubesor-llm
      - elimination-game
      - eqbench
      - erqa
      - evalplus
      - facts
      - facts-benchmark-suite
      - factscore-halluciation-rate
      - fiction-live-bench
      - frontier-math
      - galileo-agent
      - global-pica
      - gpqa
      - gpqa-diamond
      - graphwalks-bfs-lt-128k
      - graphwalks-parents-lt-128k
      - gsm8k
      - healthbench
      - healthbench-concensus
      - healthbench-hard
      - hmmt-2025
      - humaneval
      - humanitys-last-exam
      - if-bench
      - if-eval
      - imoanswerbench
      - iq-bench
      - lisanbench
      - livebench
      - livecodebench
      - livecodebench-coding
      - livecodebench-pro
      - livecodebench-v5
      - livecodebench-v6
      - lmarena-text
      - lmarena-webdev
      - longcodebench-1m
      - longfact-concepts-hallucination-rate
      - longfact-objects-hallucination-rate
      - math
      - math-500
      - matharena
      - matharena-apex
      - mathvista
      - mc-bench
      - metr
      - misguided-attention
      - mle-bench
      - mm-mt-bench
      - mmlu
      - mmlu-multilingual
      - mmlu-pro
      - mmlu-redux
      - mmlu-redux-2.0
      - mmmlu
      - mmmu
      - mmmu-pro
      - multi-challenge
      - multiPL-E
      - nyt-connections
      - ocrbench-v2
      - ojbench
      - omnidocbench-1.5
      - openai-mrcr-2-needle-128k
      - openai-mrcr-2-needle-256k
      - openai-mrcr-8-needle-128k
      - openai-mrcr-8-needle-1m
      - os-world
      - paperbench
      - phybench
      - polymath-en
      - qvhighlights
      - realkie
      - scale-mcp-atlas
      - screenspot
      - screenspot-pro
      - seal-multichallenege
      - simplebench
      - simpleqa
      - smolagents-llm
      - snake-bench
      - solo-bench
      - supergpqa
      - swe-bench
      - swe-bench-live
      - swe-bench-multilingual
      - swe-bench-pro
      - swe-lancer
      - symflower-coding
      - tau-2-airline
      - tau-2-bench
      - tau-2-retail
      - tau-2-telecom
      - tau-bench
      - tau-bench-airline
      - tau-bench-retail
      - terminal-bench
      - terminal-bench-2.0
      - thematic-generalisation
      - triviaqa
      - usamo-2025
      - vending-bench-2
      - video-mmmu
      - videomme
      - weirdml
      - wildbench
      - xlang-agent
      - zebralogic
      type: string
    ErrorResponse:
      example:
        ok: false
        error: error_type
        message: Human-readable error message
      properties:
        ok:
          example: false
          type: boolean
        error:
          example: error_type
          type: string
        message:
          example: Human-readable error message
          type: string
      type: object
    ActivityEntry:
      example:
        endpoint: chat.completions
        cost_cents: 0.015
        provider: openai
        usage:
          total_tokens: 1
          output_tokens: 6
          input_tokens: 0
        model: gpt-4o
        request_id: req_abc123
        latency_ms: 450
        timestamp: 2026-01-20T10:30:00Z
      properties:
        request_id:
          example: req_abc123
          type: string
        provider:
          example: openai
          type: string
        model:
          example: gpt-4o
          type: string
        endpoint:
          example: chat.completions
          type: string
        usage:
[...]
