openapi: 3.0.3
info:
  title: Phaseo Gateway API
  description: واجهة API للبوابة تتيح الوصول إلى نماذج ذكاء اصطناعي متنوعة عبر نقاط نهاية متوافقة مع OpenAI.
  version: 1.0.0
  contact:
    name: Phaseo
    url: https://phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
    description: التوجيه العالمي
security:
  - BearerAuth: []
paths:
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: التوجيه العالمي
        - url: https://eu.api.phaseo.app/v1
          description: توجيه إقليمي إلى مزودي الاتحاد الأوروبي (نص فقط)
        - url: https://us.api.phaseo.app/v1
          description: توجيه إقليمي إلى مزودي الولايات المتحدة (نص فقط)
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: عرض نماذج البوابة
      description: يعرض نماذج البوابة المشتركة وغير المخفية. يعرض افتراضيًا النماذج القابلة للتوجيه علنًا حاليًا؛ استخدم `availability=all` لتضمين سجلات التوفر غير القابلة للتوجيه.
      parameters:
        - name: search
          in: query
          description: بحث غير حساس لحالة الأحرف في معرّفات النماذج وأسمائها وأوصافها والمؤسسات.
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: بحث غير حساس لحالة الأحرف عن المزود أو مؤسسة النموذج.
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: اشتراط نمط إدخال مدعوم.
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: اشتراط هذا العدد على الأقل من رموز سياق الإدخال.
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: أقصى سعر بالدولار لكل مليون رمز إدخال.
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: عرض النماذج التي لديها عرض بوابة واحد على الأقل قابل للتوجيه فقط.
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: الحقل المستخدم لترتيب نتائج اكتشاف النماذج.
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: اتجاه ترتيب اختياري. تُرتّب الأسعار تصاعديًا افتراضيًا، والقيم الرقمية الأخرى تنازليًا.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: التصفية حسب نقاط النهاية
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: التصفية حسب المؤسسة
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: التصفية حسب معرّف المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: التصفية حسب حالة طرح المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: التصفية حسب حالة توجيه المزوّد
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: التصفية حسب حالة توجيه النموذج
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: التصفية حسب حالة قدرات المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: التصفية حسب حالة توفر المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: التصفية حسب سبب توفر المزوّد
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: التصفية حسب حالة النموذج
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: التصفية حسب أنواع الإدخال
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: اسم مستعار عام لـ `input_types`.
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: التصفية حسب أنواع الإخراج
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: اسم مستعار عام لـ `output_types`.
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: التصفية حسب المعلمات
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: اسم مستعار عام لـ `params`.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: مرشح التوفر. يعرض `active` النماذج القابلة للتوجيه علنًا فقط؛ ويشمل `all` سجلات التوفر غير القابلة للتوجيه.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: تحديد عدد النتائج
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: الإزاحة لأغراض ترقيم الصفحات
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: تنسيق الاستجابة. القيمة الافتراضية هي `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: اسم مستعار لـ `format`. يقبل `json` أو `rss` أو `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: قائمة النماذج
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: موجز RSS 2.0 بصيغة XML
            application/atom+xml:
              schema:
                type: string
                description: موجز Atom بصيغة XML
        '400':
          description: معلمات الطلب غير صالحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: عرض إمكانات نقاط نهاية النموذج
      description: يعرض صفوف نقاط النهاية الخاصة بالمزوّد لنموذج واحد، بما يشمل المسارات العامة والوسائط والمعلمات المدعومة والتوفر وحالة التوجيه وslugs نماذج المزوّد وملخصات تسعير نقاط النهاية.
      parameters:
        - name: author
          in: path
          required: true
          description: جزء المؤلف أو المؤسسة للنموذج.
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: جزء slug النموذج.
          schema:
            type: string
        - name: provider
          in: query
          description: التصفية حسب معرّف المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: التصفية حسب حالة طرح المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: التصفية حسب حالة توجيه المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: التصفية حسب حالة توجيه النموذج.
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: التصفية حسب حالة قدرات المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: التصفية حسب حالة توفر المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: التصفية حسب سبب توفر المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: التصفية حسب حالة دورة حياة النموذج المعتمدة.
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: تصفية صفوف نقاط النهاية حسب أسماء المعلمات المدعومة أو الأسماء المستعارة.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: يعرض `active` صفوف نقاط النهاية القابلة للتوجيه علنًا؛ ويشمل `all` أيضًا الصفوف القادمة وغير النشطة.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: صفوف إمكانات نقاط نهاية النموذج
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: معلمات الطلب غير صالحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: لم يتم العثور على نموذج يطابق مرشحات التوفر والمزوّد المطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: عرض نماذج البوابة الخاصة بالفريق
      description: يعرض قائمة نماذج البوابة الخاصة بالفريق. يعرض افتراضيًا النماذج القابلة للتوجيه علنًا؛ استخدم `availability=all` لتضمين سجلات التوفر غير القابلة للتوجيه.
      parameters:
        - name: endpoints
          in: query
          description: التصفية حسب نقاط النهاية
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: التصفية حسب المؤسسة
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: التصفية حسب معرّف المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: التصفية حسب حالة طرح المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: التصفية حسب حالة توجيه المزوّد
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: التصفية حسب حالة توجيه النموذج
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: التصفية حسب حالة قدرات المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: التصفية حسب حالة توفر المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: التصفية حسب سبب توفر المزوّد
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: التصفية حسب حالة النموذج
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: التصفية حسب أنواع الإدخال
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: التصفية حسب أنواع الإخراج
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: التصفية حسب المعلمات
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: مرشح التوفر. يعرض `active` النماذج القابلة للتوجيه علنًا فقط؛ ويشمل `all` سجلات التوفر غير القابلة للتوجيه.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: تحديد عدد النتائج
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: الإزاحة لأغراض ترقيم الصفحات
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: تنسيق الاستجابة. القيمة الافتراضية هي `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: اسم مستعار لـ `format`. يقبل `json` أو `rss` أو `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: قائمة النماذج
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: موجز RSS 2.0 بصيغة XML
            application/atom+xml:
              schema:
                type: string
                description: موجز Atom بصيغة XML
        '400':
          description: معلمات الطلب غير صالحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: عرض قائمة المزوّدين
      description: يعرض قائمة بمزوّدي واجهات API المتاحين.
      parameters:
        - name: limit
          in: query
          description: تحديد عدد النتائج
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: الإزاحة لأغراض ترقيم الصفحات
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: قائمة المزوّدين
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: خطأ
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: استرجاع عملية إنشاء
      description: يسترجع عملية إنشاء محددة باستخدام معرّفها.
      parameters:
        - name: id
          in: query
          required: true
          description: معرّف عملية الإنشاء
          schema:
            type: string
      responses:
        '200':
          description: بيانات عملية الإنشاء
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: غير موجود
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: التوجيه العالمي
        - url: https://eu.api.phaseo.app/v1
          description: توجيه إقليمي إلى مزودي الاتحاد الأوروبي (نص فقط)
        - url: https://us.api.phaseo.app/v1
          description: توجيه إقليمي إلى مزودي الولايات المتحدة (نص فقط)
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: إنشاء إكمال للمحادثة
      description: ينشئ إكمالًا لرسالة المحادثة.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: استجابة إكمال المحادثة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: التوجيه العالمي
        - url: https://eu.api.phaseo.app/v1
          description: توجيه إقليمي إلى مزودي الاتحاد الأوروبي (نص فقط)
        - url: https://us.api.phaseo.app/v1
          description: توجيه إقليمي إلى مزودي الولايات المتحدة (نص فقط)
      tags:
        - Gateway
      operationId: createResponse
      summary: إنشاء استجابة
      description: ينشئ استجابة باستخدام Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: استجابة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /async/{kind}/{id}/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openAsyncJobWebSocket
      summary: Open async job websocket
      description: |
        Opens a persistent websocket session for owned async batch or video job updates.
        WebSocket handshake uses HTTP GET upgrade semantics and returns `101 Switching Protocols` on success (not `200`). The socket emits a `job.snapshot` immediately after upgrade and subsequent `job.updated` envelopes when the normalized async job payload changes.
        If `close_on_terminal` is enabled, the gateway closes the socket after a terminal `completed`, `failed`, `cancelled`, or `expired` update.
      parameters:
        - name: kind
          in: path
          required: true
          description: Async job kind.
          schema:
            type: string
            enum:
              - batch
              - video
        - name: id
          in: path
          required: true
          description: Gateway-owned async job id.
          schema:
            type: string
        - name: interval_ms
          in: query
          required: false
          description: Polling interval used by the websocket recovery loop.
          schema:
            type: integer
            minimum: 1000
            maximum: 10000
            default: 2500
        - name: close_on_terminal
          in: query
          required: false
          description: Close the socket after a terminal lifecycle update.
          schema:
            type: boolean
            default: true
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketClientEvent'
            serverEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketServerEvent'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Async job not found or not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobWebSocketUpgradeRequiredResponse'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: التوجيه العالمي
        - url: https://eu.api.phaseo.app/v1
          description: توجيه إقليمي إلى مزودي الاتحاد الأوروبي (نص فقط)
        - url: https://us.api.phaseo.app/v1
          description: توجيه إقليمي إلى مزودي الولايات المتحدة (نص فقط)
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: إنشاء رسالة
      description: ينشئ رسالة باستخدام Anthropic Messages API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: استجابة الرسالة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: إنشاء تمثيلات متجهية
      description: ينشئ متجهًا تمثيليًا للنص المُدخل.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: استجابة التمثيلات المتجهية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: إجراء مراجعة
      description: يصنّف ما إذا كان النص ينتهك سياسات استخدام OpenAI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: استجابة المراجعة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: إعادة ترتيب المستندات
      description: يعيد ترتيب قائمة من المستندات وفقًا لمدى صلتها بالاستعلام.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: استجابة إعادة الترتيب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: اتخاذ قرارات منظّمة
      description: يقيّم أسئلة Noul وChoice وScore ذات الأنواع المحددة بناءً على حالة منظّمة باستخدام نموذج قرار مثل TypeSafe Jev.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionsRequest'
      responses:
        '200':
          description: استجابة القرارات المنظّمة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionsResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: إنشاء كلام صوتي
      description: ينشئ صوتًا من النص المُدخل.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: ملف صوتي
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: إنشاء تفريغ صوتي
      description: يفرّغ الصوت كتابةً باللغة المُدخلة.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: استجابة التفريغ الصوتي
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: إنشاء ترجمة
      description: يترجم الصوت إلى الإنجليزية.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: استجابة الترجمة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: إنشاء جلسة صوتية في الوقت الفعلي
      description: ينشئ جلسة صوتية في الوقت الفعلي مع احتساب الاستخدام، ويعرض تفاصيل اتصال الترحيل.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: تم إنشاء الجلسة في الوقت الفعلي
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: الاتصال بترحيل الوقت الفعلي
      description: يرقي الاتصال إلى ترحيل WebSocket باستخدام سر ترحيل الجلسة كبروتوكول فرعي.
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: تم إنشاء اتصال WebSocket
  /audio/realtime/sessions/{session_id}/connected:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: markRealtimeSessionConnected
      x-excluded: true
      summary: Mark realtime session connected
      description: Records that the upstream realtime relay connection has been established.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/extend:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: extendRealtimeSession
      x-excluded: true
      summary: Extend realtime session credit hold
      description: Extends the reserved credit for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_reserved_nanos:
                  type: integer
                  minimum: 1
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/usage:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: updateRealtimeSessionUsage
      x-excluded: true
      summary: Update realtime session usage
      description: Records the latest metered usage for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usage:
                  type: object
                  additionalProperties: true
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: إنهاء جلسة الصوت في الوقت الفعلي
      description: ينهي قياس الاستخدام ويحرر أي رصيد محجوز متبقٍ لجلسة الوقت الفعلي.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: اكتملت جلسة الوقت الفعلي والتسوية
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: إنشاء صورة
      description: ينشئ صورة استنادًا إلى موجّه.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: استجابة الصورة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: إنشاء تعديل صورة
      description: ينشئ صورة معدّلة أو موسّعة استنادًا إلى صورة أصلية وموجّه.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: استجابة تعديل الصورة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /videos:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideos
      summary: عرض قائمة الفيديوهات
      description: يسرد مهام إنشاء الفيديو غير المتزامنة للفريق المصادق عليه.
      parameters:
        - name: limit
          in: query
          description: الحد الأقصى لمهام الفيديو المُرجعة. القيمة الافتراضية 50 والحد الأعلى 200.
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          description: مرشح حالة دورة حياة الفيديو. كرر المعلمة أو قدم قيماً مفصولة بفواصل.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          description: عدد مهام الفيديو التي تُتجاوز قبل إرجاع الصفحة.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - name: after
          in: query
          description: يرجع مهام الفيديو بعد معرّف الفيديو هذا بالترتيب المحدد.
          schema:
            type: string
        - name: order
          in: query
          description: يرتب مهام الفيديو حسب وقت الإنشاء.
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: استجابة قائمة الفيديوهات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: إنشاء فيديو
      description: ينشئ مهمة إنشاء فيديو غير متزامنة. استعلم عن `polling_url` المُرجع كل 20 ثانية حتى تصل المهمة إلى حالة نهائية.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: استجابة الفيديو
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModels
      summary: عرض قدرات نماذج الفيديو
      description: يرجع بيانات وصفية مدعومة بقاعدة البيانات عن قدرات نماذج/مزوّدي الفيديو لبيئة تجربة الفيديو والتحقق في SDK.
      parameters:
        - name: params
          in: query
          required: false
          description: مرشح اختياري للمعلمات المدعومة. كرر المعلمة أو مرر قائمة مفصولة بفواصل. تُقبل الأسماء الأساسية والأسماء البديلة، مثل `resolution` أو`size` أو`duration` أو`duration_seconds`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: قائمة قدرات نماذج الفيديو
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoModelsResponse'
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: الحصول على حالة الفيديو
      description: يسترد حالة طلب إنشاء الفيديو. استعلم كل 20 ثانية ما لم تستخدم webhooks.
      parameters:
        - name: video_id
          in: path
          required: true
          description: معرّف طلب إنشاء الفيديو.
          schema:
            type: string
      responses:
        '200':
          description: استجابة حالة الفيديو
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: حذف فيديو
      description: يضع علامة حذف على سجل إنشاء فيديو وصل إلى حالة نهائية. لا يمكن حذف المهام الجارية.
      parameters:
        - name: video_id
          in: path
          required: true
          description: معرّف طلب إنشاء الفيديو.
          schema:
            type: string
      responses:
        '200':
          description: استجابة حذف الفيديو
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideo
      summary: إلغاء فيديو
      description: إلغاء الفيديو معطّل حالياً لدى جميع المزوّدين.
      parameters:
        - name: video_id
          in: path
          required: true
          description: معرّف مهمة الفيديو الداخلي في Phaseo (`G-...`).
          schema:
            type: string
      responses:
        '501':
          description: إلغاء الفيديو معطّل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: الحصول على محتوى الفيديو
      description: ينزّل محتوى الفيديو المُصيّر.
      parameters:
        - name: video_id
          in: path
          required: true
          description: معرّف طلب إنشاء الفيديو.
          schema:
            type: string
      responses:
        '200':
          description: محتوى الفيديو
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /videos/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrl
      summary: إنشاء عنوان URL موقّع لتنزيل الفيديو
      description: يرجع عنوان URL موقّعاً من الطرف الأول لتنزيل فيديو مُصيّر.
      parameters:
        - name: video_id
          in: path
          required: true
          description: معرّف طلب إنشاء الفيديو.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: عنوان URL موقّع للتنزيل
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: إجراء OCR
      description: يستخرج النص من صورة باستخدام النموذج المطلوب.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: استجابة OCR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: تحليل صورة مستند
      description: يحلّل صورة المستند إلى Markdown أو كتل محتوى مرتبة. تقبل Cohere Parse API الحالية روابط الصور البعيدة وURI لبيانات الصور بترميز base64؛ ولا تدعم بعد إدخالات PDF أو روابط الملفات.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: مستند تم تحليله
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: إنشاء موسيقى
      description: ينشئ الموسيقى عبر endpoint واحد مستقل عن المزوّد. تنتظر Phaseo المزوّدين المتزامنين وتتولى داخليًا الاستعلام المتكرر عن قوائم انتظارهم.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: استجابة إنشاء الموسيقى
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: الحصول على حالة إنشاء الموسيقى
      description: يجلب نتيجة موسيقية موحدة باستخدام معرّف طلب Phaseo الذي يعيده POST /music/generate. تتم معالجة واجهات حالة المزوّد الخاصة داخليًا.
      parameters:
        - name: music_id
          in: path
          required: true
          description: معرّف طلب Phaseo الثابت الذي يعيده POST /music/generate.
          schema:
            type: string
      responses:
        '200':
          description: استجابة حالة إنشاء الموسيقى
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: رفع ملف
      description: اسم بديل للتوافق مع `/batches/files`. يرفع ملفاً للمعالجة الدفعية ويرجع بيانات الملف الوصفية لدى المزوّد الأعلى. مرر `model` كي يتمكن AI Stats من استنتاج المزوّد. يُستخدم OpenAI افتراضياً للعملاء القدامى الذين يغفلون كلاً من `model` و`provider`.
      parameters:
        - name: model
          in: query
          required: false
          description: معرّف النموذج المستخدم لاستنتاج مزوّد ملف الدفعة الأعلى.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: تجاوز متقدم للمزوّد عند رفع الملف إلى المزوّد الأعلى.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-ai-stats-provider
          in: header
          required: false
          description: بديل في الترويسة لمعلمة الاستعلام `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: البيانات الوصفية للملف المرفوع
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: خطأ المزوّد الأعلى
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: عرض الملفات
      description: تعيد هذه الواجهة حاليًا `not_supported` عند استخدام مفتاح البوابة المشترك. احفظ معرّفات الملفات التي رفعتها واسترجع الملفات مباشرةً بدلًا من ذلك.
      responses:
        '400':
          description: قائمة الملفات غير مدعومة في وضع البوابة الحالي
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: استرجاع ملف
      description: يسترجع البيانات الوصفية لملف تابع لمساحة العمل التي تمت المصادقة عليها.
      parameters:
        - name: file_id
          in: path
          required: true
          description: معرّف الملف المطلوب استرجاعه.
          schema:
            type: string
      responses:
        '200':
          description: البيانات الوصفية للملف
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الملف غير موجود أو لا يتبع مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: تنزيل محتوى الملف
      description: يسترجع المحتوى الثنائي لملف تم تحميله مسبقاً ويتبع مساحة العمل التي تمت المصادقة عليها.
      parameters:
        - name: file_id
          in: path
          required: true
          description: معرّف الملف المطلوب استرجاعه.
          schema:
            type: string
      responses:
        '200':
          description: محتوى الملف
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الملف غير موجود
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatches
      summary: عرض قائمة الدفعات
      description: يسرد مهام الدفعات غير المتزامنة المملوكة لمساحة العمل المصادق عليها من مخزن المهام غير المتزامنة الدائم للبوابة.
      parameters:
        - name: limit
          in: query
          description: الحد الأقصى لمهام الدفعات المُرجعة. القيمة الافتراضية 20 والحد الأعلى 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: مرشح حالة دورة حياة الدفعة. كرر المعلمة أو استخدم قيماً للحالة مفصولة بفواصل أو استخدم statuses للمرشحات المفصولة بفواصل.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: statuses
          in: query
          description: مرشحات حالة دورة الحياة المفصولة بفواصل.
          schema:
            type: string
        - name: offset
          in: query
          description: عدد مهام الدفعات التي تُتجاوز قبل إرجاع الصفحة.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: استجابة قائمة الدفعات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: إنشاء دفعة
      description: ينشئ مهمة دفعة غير متزامنة ويرجع كائن الدفعة لدى المزوّد الأعلى. يدعم الإنشاء OpenAI وAnthropic وGoogle Gemini وMistral وxAI وGroq وTogether AI عبر `model` المطلوب. تستنتج البوابة المزوّد من النموذج وتقبل أيضاً `session_id` و`webhook` لقابلية الرصد والإشعارات غير المتزامنة. استخدم `provider` فقط كقيد توجيه متقدم.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: استجابة حالة الدفعة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchModels
      summary: عرض قدرات نماذج الدفعات
      description: يرجع بيانات وصفية مدعومة بقاعدة البيانات عن قدرات نماذج/مزوّدي الدفعات، بما في ذلك معلمات الدفعات المدعومة مثل نقاط نهاية الإدخال المسموحة ونوافذ الإكمال.
      parameters:
        - name: params
          in: query
          required: false
          description: مرشح اختياري للمعلمات المدعومة. كرر المعلمة أو مرر قائمة مفصولة بفواصل. تُقبل الأسماء الأساسية والأسماء البديلة، مثل `endpoint` أو`request_endpoint` أو`completion_window` أو`window`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: قائمة قدرات نماذج الدفعات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchModelsResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/capabilities:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchCapabilities
      summary: عرض قدرات مزوّدي الدفعات
      description: يرجع دعم أوضاع إدخال الدفعات على مستوى المزوّد لرفع الملفات وإنشاء الدفعات من قائمة طلبات.
      responses:
        '200':
          description: قائمة قدرات مزوّدي الدفعات
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchProviderCapability'
  /batches/files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchFiles
      summary: عرض ملفات الدفعات
      description: يرجع خطأ لأن عرض ملفات مفاتيح البوابة المشتركة غير مدعوم. استرد بدلاً من ذلك الملفات المملوكة لمساحة العمل مباشرةً بالمعرّف.
      responses:
        '400':
          description: عرض قائمة الملفات غير مدعوم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadBatchFile
      summary: رفع ملف دفعة
      description: يرفع ملفاً لدى المزوّد للمعالجة الدفعية ويحفظ ملكيته في مساحة العمل المصادق عليها. مرر `model` كي يتمكن Phaseo من استنتاج المزوّد الأعلى. يُستخدم OpenAI افتراضياً عند إغفال كل من `model` و`provider`.
      parameters:
        - name: model
          in: query
          required: false
          description: معرّف النموذج المستخدم لاستنتاج مزوّد ملف الدفعة الأعلى.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: تجاوز متقدم للمزوّد عند رفع الملف إلى المزوّد الأعلى.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-phaseo-provider
          in: header
          required: false
          description: بديل في الترويسة لمعلمة الاستعلام `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: البيانات الوصفية للملف المرفوع
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: خطأ المزوّد الأعلى
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFile
      summary: استرداد ملف دفعة
      description: يسترد البيانات الوصفية لملف دفعة مملوك لمساحة العمل المصادق عليها.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: البيانات الوصفية للملف
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الملف غير موجود أو لا يتبع مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFileContent
      summary: استرداد محتوى ملف دفعة
      description: يسترد محتوى ملف دفعة مملوك لمساحة العمل المصادق عليها.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: محتوى الملف
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الملف غير موجود
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: استرداد دفعة
      description: يسترد مهمة دفعة أُنشئت سابقاً.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: معرّف الدفعة المراد استردادها.
          schema:
            type: string
      responses:
        '200':
          description: استجابة حالة الدفعة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الدفعة غير موجودة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: تحديث حالة الدفعة غير مدعوم لدى هذا المزوّد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/results:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchResults
      summary: تنزيل نتائج الدفعة
      description: يبث صفوف النتائج الأصلية الكاملة لدى المزوّد بصيغة JSONL لدفعة نهائية مملوكة لمساحة العمل المصادق عليها. يدمج ملفات النجاح والأخطاء ويحوّل النواتج المضمنة ويتبع تقسيم نتائج المزوّد إلى صفحات. استخدم مفتاح API من Phaseo. لا ترسل التنزيلات استدلالاً ولا تضيف رسوم استخدام. تبقى نقاط نهاية الملفات الحالية متاحة. تُحد الصفوف المضمنة بـ8 MiB؛ يجب التخلص من التنزيلات المنقطعة وإعادة تنزيلها. الحد 10 محاولات تنزيل لكل مساحة عمل لكل دفعة ضمن نافذة متحركة من 30 دقيقة، مشتركة بين مفاتيح API والأسماء البديلة. تُحسب المحاولات الفاشلة أو الملغاة لدى المزوّد الأعلى. تتضمن استجابة 429 الترويسة Retry-After بالثواني.
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: نتائج JSONL الأصلية للمزوّد
          content:
            application/x-ndjson:
              schema:
                type: string
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: تم رفض الوصول إلى معاينة الدفعات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الدفعة غير موجودة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: نتائج الدفعة غير جاهزة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: تم تجاوز حد تنزيل الدفعة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              description: الثواني حتى السماح بتنزيل آخر
              schema:
                type: integer
        '501':
          description: تنزيل النتائج مباشرةً غير مدعوم لدى هذا المزوّد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: تعذر استرداد نتائج المزوّد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: قبول التنزيلات غير متاح مؤقتاً؛ أعد المحاولة بعد 30 ثانية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              schema:
                type: integer
  /batches/{batch_id}/requests:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchRequests
      summary: عرض صفوف طلبات الدفعة
      description: يسرد الصفوف المتتبعة لكل طلب في مهمة دفعة مملوكة.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: معرّف الدفعة.
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: قائمة صفوف طلبات الدفعة
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  batch_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchRequestRow'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الدفعة غير موجودة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatch
      summary: إلغاء دفعة
      description: يلغي طلب دفعة.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: معرّف الدفعة المراد إلغاؤها.
          schema:
            type: string
      responses:
        '200':
          description: استجابة حالة الدفعة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الدفعة غير موجودة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: إلغاء الدفعات غير مدعوم لدى هذا المزوّد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivityAlias
      summary: الحصول على تحليلات مساحة العمل
      description: يرجع مجاميع التكلفة والطلبات والرموز مجمعة حسب التاريخ والنموذج والمزوّد ونقطة النهاية لآخر 30 يوماً مكتملاً بتوقيت UTC.
      parameters:
        - name: date
          in: query
          description: التصفية حسب تاريخ UTC واحد ضمن آخر 30 يوماً مكتملاً (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          description: مفتاح تسمية الطلب المراد تضمينه في شريحة الإنفاق. يجب توفيره مع label_value.
          schema:
            type: string
            maxLength: 64
            pattern: ^[A-Za-z0-9_.:-]{1,64}$
        - name: label_value
          in: query
          description: قيمة تسمية الطلب المراد تضمينها في شريحة الإنفاق. يجب توفيرها مع label_key.
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          description: التصفية حسب معرّف مفتاح API.
          schema:
            type: string
        - name: end_user_id
          in: query
          description: التصفية حسب معرّف المستخدم النهائي المحدد من التطبيق.
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          description: التصفية حسب المعرّف النصي الأساسي للنموذج المطلوب أو الموجّه.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          description: التصفية حسب المعرّف النصي للمزوّد.
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          description: التصفية حسب معرّف نقطة نهاية البوابة.
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          description: تصفية حركة المرور المُدارة أوBYOK.
          schema:
            type: boolean
        - name: success
          in: query
          description: تصفية الطلبات الناجحة أو الفاشلة.
          schema:
            type: boolean
        - $ref: '#/components/parameters/Offset'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
      responses:
        '200':
          description: تم الاسترجاع
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: خطأ في الطلب غير الصحيح
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: خطأ الوصول المحظور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ داخلي في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: تصدير تحليلات مساحة العمل
      description: يصدّر مجموعة التحليلات المفلترة كاملةً بصيغة CSV آمنة للاستخدام في جداول البيانات.
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: تصدير التحليلات بصيغة CSV
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: مرشح التحليلات غير صالح
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: عرض الأرصدة
      description: يعرض الأرصدة المتبقية وإحصاءات الاستخدام لمساحة العمل التي تمت المصادقة عليها. يلزم مفتاح API للإدارة.
      parameters:
        - name: workspace_id
          in: query
          description: تجاوز اختياري لمساحة العمل. يجب أن يطابق مساحة العمل التي تمت المصادقة عليها، إلا عند استخدام مستدعٍ داخلي للتحكم.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: معلومات الرصيد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: محظور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCurrentApiKey
      summary: الحصول على مفتاح API الحالي
      description: يرجع البيانات الوصفية لمفتاح Gateway API القياسي المصادق عليه حالياً.
      responses:
        '200':
          description: البيانات الوصفية لمفتاح API الحالي
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: لم يتم العثور على مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: عرض مفاتيح API
      description: يعرض مفاتيح API لمساحة العمل المصادق عليها. يلزم مفتاح API للإدارة.
      parameters:
        - name: include_disabled
          in: query
          description: يحدد ما إذا كان ينبغي تضمين المفاتيح الموقوفة أو المحظورة مؤقتًا في الاستجابة.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: عدد مفاتيح API التي يتم تخطيها عند تقسيم النتائج إلى صفحات.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: الحد الأقصى لعدد مفاتيح API التي سيتم إرجاعها.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: تجاوز اختياري لمساحة العمل. يجب أن يطابق مساحة العمل التي تمت المصادقة عليها، إلا عند استخدام مستدعٍ داخلي للتحكم.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: قائمة مفاتيح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: محظور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: إنشاء مفتاح API جديد
      description: ينشئ مفتاح API جديدًا في مساحة العمل المصادق عليها. يلزم مفتاح API للإدارة.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: تم إنشاء مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: طلب غير صالح
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: محظور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: الحصول على مفتاح API واحد
      description: يعرض بيانات مفتاح API واحد في مساحة العمل المصادق عليها. يلزم مفتاح API للإدارة.
      parameters:
        - name: id
          in: path
          required: true
          description: معرّف مفتاح API أو تجزئته.
          schema:
            type: string
      responses:
        '200':
          description: بيانات مفتاح API الوصفية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: لم يتم العثور على مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: تحديث مفتاح API
      description: يحدّث بيانات مفتاح API الوصفية أو حالته. يلزم مفتاح API للإدارة.
      parameters:
        - name: id
          in: path
          required: true
          description: معرّف مفتاح API أو تجزئته.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: تم تحديث بيانات مفتاح API الوصفية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: طلب غير صالح
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: لم يتم العثور على مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: حذف مفتاح API
      description: يحذف مفتاح API في مساحة العمل المصادق عليها. يلزم مفتاح API للإدارة.
      parameters:
        - name: id
          in: path
          required: true
          description: معرّف مفتاح API أو تجزئته.
          schema:
            type: string
      responses:
        '200':
          description: تم حذف مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: لم يتم العثور على مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: تدوير مفتاح API
      description: ينشئ مفتاحًا بديلًا بالحدود نفسها، مع إمكانية تحديد انتهاء صلاحية المفتاح السابق. يُعرض سر المفتاح البديل مرة واحدة فقط. يلزم `keys:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: تم تدوير مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: فشل التدوير
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: إبطال ذاكرة التخزين المؤقت لمفاتيح API
      description: يحدّث حالة السياسة المخزنة مؤقتًا على مستوى العالم لمفتاح API لمساحة العمل. يتطلب جهة مستدعية موثقة لإدارة مساحة العمل.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم إبطال ذاكرة التخزين المؤقت
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: فشل الإبطال
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: الحصول على إعدادات SSO لمساحة العمل
      description: يعيد إعدادات SAML أو OIDC المخصصة لمساحة العمل. يتطلب `settings:read` وهوية مالك أو مسؤول.
      responses:
        '200':
          description: إعدادات SSO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: تحديث إعدادات SSO لمساحة العمل
      description: يحدّث إعدادات SAML أو OIDC المخصصة. يتطلب تفعيل SSO إضافة الهوية وصلاحية `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: تم تحديث إعدادات SSO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: فشل الطلب أو أن الإضافة مطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: الحصول على إعدادات SCIM لمساحة العمل
      description: يعرض حالة نقطة النهاية وبيانات الرمز الوصفية وعدد الكائنات المهيأة وأحدث حدث SCIM.
      responses:
        '200':
          description: إعدادات SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: تفعيل SCIM أو تعطيله
      description: يحدّث نقطة نهاية SCIM لمساحة العمل. يتطلب تفعيل SCIM إضافة الهوية وصلاحية `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: تم تحديث نقطة نهاية SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: فشل الطلب أو أن الإضافة مطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: إنشاء رمز SCIM
      description: ينشئ رمز تهيئة. يُعرض الرمز الخام مرة واحدة فقط. يتطلب إضافة الهوية وصلاحية `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: تم إنشاء رمز SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: فشل الطلب أو أن الإضافة مطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: إبطال رمز SCIM
      description: يلغي رمز التوفير. يتطلب `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم إبطال الرمز
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: عرض أحداث تدقيق SCIM
      description: يعرض أنشطة توفير SCIM الأخيرة لمساحة العمل.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: أحداث تدقيق SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: الحصول على دليل مساحة العمل
      description: يعرض أقسام المؤسسة وصلاحيات الأعضاء الفعلية. يتطلب إضافة الهوية وصلاحية `settings:read` وهوية `owner` أو `admin`.
      responses:
        '200':
          description: دليل مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: فشل الطلب أو أن الإضافة مطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: تحديث تجاوز عضو الدليل
      description: يضبط أو يمسح تجاوزات الدور والقسم الفعلية لعضو مساحة العمل. يلزم `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: تم تحديث تجاوز العضو
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: عرض أقسام مساحة العمل
      description: يعرض الأقسام التي تتم إدارتها يدويًا وتلك المتزامنة مع الدليل.
      responses:
        '200':
          description: أقسام مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: إنشاء قسم في مساحة العمل
      description: ينشئ قسمًا تتم إدارته يدويًا. يلزم `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: تم إنشاء القسم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: تحديث قسم مساحة العمل
      description: يحدّث اسم القسم أو وصفه أو أيقونته أو لونه دون إزالة تعيينه في الدليل.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: تم تحديث القسم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: حذف قسم من مساحة العمل
      description: يحذف قسمًا تتم إدارته يدويًا. لا يمكن حذف الأقسام المتزامنة مع الدليل من هنا.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم حذف القسم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: تعيين عضوية يدوية في قسم
      description: يضيف أو يحدّث عضوية يدوية لمستخدم مساحة العمل في قسم.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: تم تحديث العضوية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: حذف عضوية يدوية في قسم
      description: يزيل عضوية يدوية في قسم دون تغيير العضوية المتزامنة مع الدليل.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم حذف العضوية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: عرض تعيينات مجموعات الدليل
      description: يعرض تعيينات المجموعات التي تم توفيرها إلى أدوار وأقسام مساحة العمل.
      responses:
        '200':
          description: تعيينات مجموعات الدليل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: إنشاء تعيين لمجموعة الدليل
      description: يربط مجموعة مهيأة بقسم في مساحة العمل ودور وصول.
      requestBody:
        required: true
        content:
          application/json:
            schema:
[...]
