openapi: 3.0.3
info:
  title: Phaseo Gateway API
  version: 1.0.0
servers:
  - url: https://api.phaseo.app/v1
security:
  - BearerAuth: []
paths:
  /apps:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceApps
      summary: عرض قائمة تطبيقات مساحة العمل
      description: يعرض تطبيقات مساحة العمل المنسوبة تلقائيًا وبياناتها الوصفية القابلة للتحرير. يتطلب الإذن `settings:read`.
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: تطبيقات مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppListResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /presets/publisher:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetPublisher
      summary: الحصول على معرّف ناشر الإعدادات المسبقة
      description: يعيد المعرّف الأساسي لناشر الإعدادات المسبقة العامة لمساحة العمل.
      responses:
        '200':
          description: معرّف الناشر
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetPublisher
      summary: تحديث معرّف ناشر الإعدادات المسبقة
      description: يعيد تسمية معرّف ناشر مساحة العمل مع الاحتفاظ بالمعرّف السابق كاسم مستعار.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetPublisherUpdateRequest'
      responses:
        '200':
          description: تم تحديث معرّف الناشر
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
        '400':
          description: معرّف الناشر غير صالح
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: معرّف الناشر غير متاح
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: إنشاء كلام صوتي
      description: ينشئ صوتًا من النص المُدخل.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: ملف صوتي
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: إنشاء تفريغ صوتي
      description: يفرّغ الصوت كتابةً باللغة المُدخلة.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: استجابة التفريغ الصوتي
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: إنشاء ترجمة
      description: يترجم الصوت إلى الإنجليزية.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: استجابة الترجمة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: إنشاء صورة
      description: ينشئ صورة استنادًا إلى موجّه.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: استجابة الصورة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: إنشاء تعديل صورة
      description: ينشئ صورة معدّلة أو موسّعة استنادًا إلى صورة أصلية وموجّه.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: استجابة تعديل الصورة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: إجراء OCR
      description: يستخرج النص من صورة باستخدام النموذج المطلوب.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: استجابة OCR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: إنشاء موسيقى
      description: ينشئ الموسيقى عبر endpoint واحد مستقل عن المزوّد. تنتظر Phaseo المزوّدين المتزامنين وتتولى داخليًا الاستعلام المتكرر عن قوائم انتظارهم.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: استجابة إنشاء الموسيقى
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listEndpoints
      summary: عرض نقاط النهاية
      description: يعرض معرّفات نقاط نهاية البوابة المستندة إلى الإمكانات، مع المسارات العامة ومجموعات الوسائط المتعددة وأعداد النماذج والمزوّدين ونماذج أمثلة.
      responses:
        '200':
          description: بيانات وصفية لنقاط النهاية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointCatalogueResponse'
  /files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: عرض الملفات
      description: تعيد هذه الواجهة حاليًا `not_supported` عند استخدام مفتاح البوابة المشترك. احفظ معرّفات الملفات التي رفعتها واسترجع الملفات مباشرةً بدلًا من ذلك.
      responses:
        '400':
          description: قائمة الملفات غير مدعومة في وضع البوابة الحالي
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPricingModels
      summary: عرض أسعار النماذج
      description: يعيد إدخالات أسعار المزوّدين والنماذج النشطة.
      responses:
        '200':
          description: قائمة أسعار النماذج
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  models:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '500':
          description: خطأ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: إجراء مراجعة
      description: يصنّف ما إذا كان النص ينتهك سياسات استخدام OpenAI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: استجابة المراجعة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: إنشاء تمثيلات متجهية
      description: ينشئ متجهًا تمثيليًا للنص المُدخل.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: استجابة التمثيلات المتجهية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: إعادة ترتيب المستندات
      description: يعيد ترتيب قائمة من المستندات وفقًا لمدى صلتها بالاستعلام.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: استجابة إعادة الترتيب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: تحليل صورة مستند
      description: يحلّل صورة المستند إلى Markdown أو كتل محتوى مرتبة. تقبل Cohere Parse API الحالية روابط الصور البعيدة وURI لبيانات الصور بترميز base64؛ ولا تدعم بعد إدخالات PDF أو روابط الملفات.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: مستند تم تحليله
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /budgets/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceBudget
      summary: حذف ميزانية مساحة العمل
      description: يزيل حد الإنفاق لمساحة العمل ويتوقف عن تطبيقه خلال تلك الفترة.
      responses:
        '200':
          description: تم حذف ميزانية مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetDeleteResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceBudget
      summary: الحصول على ميزانية مساحة العمل
      description: يعرض حداً أقصى واحداً للإنفاق في مساحة العمل مع الاستخدام الحالي والمبلغ المتبقي.
      responses:
        '200':
          description: ميزانية مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceBudget
      summary: تحديث ميزانية مساحة العمل
      description: يغيّر الفترة أو الحد بالدولار الأمريكي لميزانية مساحة عمل موجودة.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBudgetUpdateInput'
      responses:
        '200':
          description: تم تحديث ميزانية مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteProviderCredential
      summary: حذف بيانات اعتماد المزوّد
      description: يحذف بيانات اعتماد المزوّد نهائيًا. تكرار الحذف آمن.
      responses:
        '200':
          description: تم حذف بيانات اعتماد المزوّد أو لم تكن موجودة أصلًا
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialDeleteResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProviderCredential
      summary: الحصول على بيانات اعتماد للمزوّد
      description: يعرض بيانات وصفية آمنة دون كشف الحقول المشفرة أو السر الخام.
      responses:
        '200':
          description: بيانات اعتماد المزوّد الوصفية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateProviderCredential
      summary: تحديث بيانات اعتماد المزوّد
      description: يحدّث البيانات الوصفية لبيانات الاعتماد أو مرشحاتها أو مجموعة التوجيه، أو يستبدل السر المخصص للكتابة فقط.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialUpdateRequest'
      responses:
        '200':
          description: تم تحديث بيانات اعتماد المزوّد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: حذف قسم من مساحة العمل
      description: يحذف قسمًا تتم إدارته يدويًا. لا يمكن حذف الأقسام المتزامنة مع الدليل من هنا.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم حذف القسم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: تحديث قسم مساحة العمل
      description: يحدّث اسم القسم أو وصفه أو أيقونته أو لونه دون إزالة تعيينه في الدليل.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: تم تحديث القسم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceGroupMapping
      summary: حذف تعيين مجموعة الدليل
      description: يزيل تعيين مجموعة تم توفيره مسبقًا من مساحة العمل.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم حذف تعيين المجموعة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceGroupMapping
      summary: تحديث تعيين مجموعة الدليل
      description: يحدّث دور الوصول أو موضع القسم الذي يعيّنه التعيين.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingUpdateRequest'
      responses:
        '200':
          description: تم تحديث تعيين المجموعة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /data-contribution/classifiers/{id}:
    parameters:
      - $ref: '#/components/parameters/DataContributionClassifierId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteDataContributionClassifier
      summary: حذف مصنّف مساهمة البيانات
      description: يحذف مصنّفًا مخصصًا. لا يمكن حذف مصنّف البدء المضمّن.
      responses:
        '200':
          description: تم حذف المصنّف
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierDeleteResponse'
        default:
          description: فشل الطلب أو أن الميزة غير متاحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateDataContributionClassifier
      summary: تحديث مصنّف مساهمات البيانات
      description: يحدّث مصنّفاً مخصصاً لمساحة العمل. يتطلب `settings:write` وإمكانية الوصول إلى الميزة.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataContributionClassifierUpdateRequest'
      responses:
        '200':
          description: تم تحديث المصنّف
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierResponse'
        default:
          description: فشل الطلب أو الميزة غير متاحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/OAuthClientId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteOAuthClient
      summary: حذف عميل OAuth
      description: يحذف العميل بعد إلغاء أذوناته النشطة.
      responses:
        '200':
          description: تم حذف عميل OAuth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientDeleteResponse'
        default:
          description: فشل الطلب أو أن الميزة غير متاحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getOAuthClient
      summary: الحصول على عميل OAuth
      description: يعيد تطبيق OAuth نشطًا. يتطلب `oauth_clients:read` وميزة OAuth التجريبية.
      responses:
        '200':
          description: عميل OAuth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: فشل الطلب أو أن الميزة غير متاحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateOAuthClient
      summary: تحديث عميل OAuth
      description: يحدّث بيانات تطبيق OAuth الوصفية أو نطاقاته أو عناوين URI لإعادة التوجيه. يلزم `oauth_clients:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientUpdateRequest'
      responses:
        '200':
          description: تم تحديث عميل OAuth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: فشل الطلب أو الميزة غير متاحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhook-endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/WebhookEndpointId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWebhookEndpoint
      summary: حذف endpoint لخُطاف الويب
      description: يحذف endpoint لخُطاف الويب حذفًا منطقيًا ويوقف عمليات التسليم المستقبلية. يتطلب `settings:write`.
      responses:
        '200':
          description: تم حذف endpoint خطاف الويب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointDeleteResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWebhookEndpoint
      summary: الحصول على endpoint لخطاف الويب
      description: يعيد endpoint غير متزامن لخطاف الويب دون سر التوقيع. يتطلب `settings:read`.
      responses:
        '200':
          description: endpoint لخطاف الويب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWebhookEndpoint
      summary: تحديث نقطة نهاية webhook
      description: يحدّث إعدادات تسليم نقطة النهاية. يلزم `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
      responses:
        '200':
          description: تم تحديث نقطة نهاية webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: إبطال رمز SCIM
      description: يلغي رمز التوفير. يتطلب `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم إبطال الرمز
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceNotificationDestination
      summary: حذف وجهة الإشعارات
      description: يحذف وجهة إشعارات مساحة العمل حذفًا منطقيًا ويزيلها من التوجيهات المستقبلية.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم حذف الوجهة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}/test:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: testWorkspaceNotificationDestination
      summary: اختبار وجهة إشعارات محفوظة
      description: يرسل اختبارًا عبر وجهة مشفّرة موجودة في مساحة العمل.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم إرسال الاختبار
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationTestResponse'
        default:
          description: فشل الاختبار
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guardrails/{id}:
    parameters:
      - $ref: '#/components/parameters/GuardrailId'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGuardrail
      summary: الحصول على حاجز حماية
      description: يعيد حاجز الحماية ومعرّفات المفاتيح المعيّنة له. يتطلب `guardrails:read`.
      responses:
        '200':
          description: تفاصيل حاجز الحماية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDetailResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteGuardrail
      summary: حذف حاجز حماية
      description: يحذف حاجز الحماية وتعييناته. يتطلب `guardrails:delete`.
      responses:
        '200':
          description: تم حذف حاجز الحماية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDeleteResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateGuardrail
      summary: تحديث حاجز الحماية
      description: يحدّث حقول سياسة حاجز الحماية. يتطلب `guardrails:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuardrailUpdateRequest'
      responses:
        '200':
          description: تم تحديث حاجز الحماية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: الحصول على إعدادات SSO لمساحة العمل
      description: يعيد إعدادات SAML أو OIDC المخصصة لمساحة العمل. يتطلب `settings:read` وهوية مالك أو مسؤول.
      responses:
        '200':
          description: إعدادات SSO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: تحديث إعدادات SSO لمساحة العمل
      description: يحدّث إعدادات SAML أو OIDC المخصصة. يتطلب تفعيل SSO إضافة الهوية وصلاحية `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: تم تحديث إعدادات SSO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: فشل الطلب أو أن الإضافة مطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: عرض أحداث تدقيق SCIM
      description: يعرض أنشطة توفير SCIM الأخيرة لمساحة العمل.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: أحداث تدقيق SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: عرض أقسام مساحة العمل
      description: يعرض الأقسام التي تتم إدارتها يدويًا وتلك المتزامنة مع الدليل.
      responses:
        '200':
          description: أقسام مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: إنشاء قسم في مساحة العمل
      description: ينشئ قسمًا تتم إدارته يدويًا. يلزم `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: تم إنشاء القسم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: عرض تعيينات مجموعات الدليل
      description: يعرض تعيينات المجموعات التي تم توفيرها إلى أدوار وأقسام مساحة العمل.
      responses:
        '200':
          description: تعيينات مجموعات الدليل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: إنشاء تعيين لمجموعة الدليل
      description: يربط مجموعة مهيأة بقسم في مساحة العمل ودور وصول.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingCreateRequest'
      responses:
        '201':
          description: تم إنشاء تعيين المجموعة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOAuthClients
      summary: عرض عملاء OAuth
      description: يعرض تطبيقات OAuth النشطة لمساحة العمل. يتطلب `oauth_clients:read` وميزة OAuth التجريبية.
      responses:
        '200':
          description: قائمة عملاء OAuth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientListResponse'
        default:
          description: فشل الطلب أو أن الميزة غير متاحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOAuthClient
      summary: إنشاء عميل OAuth
      description: ينشئ تطبيق OAuth عامًا أو سريًا. تُعرض الأسرار الخاصة مرة واحدة فقط. يلزم `oauth_clients:write` وميزة OAuth التجريبية.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientCreateRequest'
      responses:
        '201':
          description: تم إنشاء عميل OAuth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientCreateResponse'
        default:
          description: فشل الطلب أو الميزة غير متاحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayFeedback
      summary: عرض ملاحظات البوابة
      description: يعرض ملاحظات مساحة العمل مع عوامل تصفية للهدف والتاريخ والتقييم وبُعد البيانات الوصفية. يتطلب `feedback:read`.
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: rating
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: سجلات الملاحظات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackListResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayFeedback
      summary: إنشاء ملاحظات Gateway
      description: يسجّل ملاحظات لطلب أو جلسة أو إعداد مسبق أو تشغيل اختبار لإعداد مسبق. يتطلب `feedback:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayFeedbackCreateRequest'
      responses:
        '201':
          description: تم تسجيل الملاحظات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback/summary:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: summarizeGatewayFeedback
      summary: تلخيص ملاحظات البوابة
      description: يجمع ملاحظات مساحة العمل حسب الإعداد المسبق أو تشغيل الاختبار أو بُعد البيانات الوصفية.
      parameters:
        - name: group_by
          in: query
          schema:
            type: string
            enum:
              - preset
              - preset_id
              - test_run
              - test_run_id
              - metadata
            default: preset
        - name: metadata_key
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: ملخص الملاحظات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackSummaryResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /events:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayObservabilityEvents
      summary: عرض أحداث قابلية المراقبة للبوابة
      description: يعرض أحداث النتائج والسلوك المخصصة لمساحة العمل. يتطلب `feedback:read`.
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: أحداث قابلية المراقبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventListResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayObservabilityEvent
      summary: إنشاء حدث قابل للمراقبة
      description: يسجّل نتيجة مخصصة أو حدث سلوك مرتبطاً بطلب أو جلسة أو إعداد مسبق أو تشغيل اختبار. يتطلب `feedback:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayObservabilityEventCreateRequest'
      responses:
        '201':
          description: تم تسجيل الحدث
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getHealth
      summary: فحص الحالة
      description: يعرض ملخصًا موجزًا لحالة البوابة.
      responses:
        '200':
          description: حالة صحة البوابة
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: عرض قائمة المزوّدين
      description: يعرض قائمة بمزوّدي واجهات API المتاحين.
      parameters:
        - name: limit
          in: query
          description: تحديد عدد النتائج
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: الإزاحة لأغراض ترقيم الصفحات
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: قائمة المزوّدين
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: خطأ
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: استرجاع عملية إنشاء
      description: يسترجع عملية إنشاء محددة باستخدام معرّفها.
      parameters:
        - name: id
          in: query
          required: true
          description: معرّف عملية الإنشاء
          schema:
            type: string
      responses:
        '200':
          description: بيانات عملية الإنشاء
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: غير موجود
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: إنشاء إكمال للمحادثة
      description: ينشئ إكمالًا لرسالة المحادثة.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: أداة الخادم المدمجة للتاريخ والوقت
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: استجابة إكمال المحادثة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      tags:
        - Gateway
      operationId: createResponse
      summary: إنشاء استجابة
      description: ينشئ استجابة باستخدام Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: أداة الخادم المدمجة للتاريخ والوقت
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: استجابة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /messages:
    post:
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: إنشاء رسالة
      description: ينشئ رسالة باستخدام Anthropic Messages API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: أداة الخادم المدمجة للتاريخ والوقت
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: استجابة الرسالة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: إنشاء جلسة صوتية في الوقت الفعلي
      description: ينشئ جلسة صوتية في الوقت الفعلي مع احتساب الاستخدام، ويعرض تفاصيل اتصال الترحيل.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: تم إنشاء الجلسة في الوقت الفعلي
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: عرض نماذج البوابة
      description: يعرض نماذج البوابة المشتركة وغير المخفية. يعرض افتراضيًا النماذج القابلة للتوجيه علنًا حاليًا؛ استخدم `availability=all` لتضمين سجلات التوفر غير القابلة للتوجيه.
      parameters:
        - name: endpoints
          in: query
          description: التصفية حسب نقاط النهاية
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: التصفية حسب المؤسسة
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: التصفية حسب معرّف المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: التصفية حسب حالة طرح المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: التصفية حسب حالة توجيه المزوّد
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: التصفية حسب حالة توجيه النموذج
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: التصفية حسب حالة قدرات المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: التصفية حسب حالة توفر المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: التصفية حسب سبب توفر المزوّد
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: التصفية حسب حالة النموذج
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: التصفية حسب أنواع الإدخال
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: اسم مستعار عام لـ `input_types`.
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: التصفية حسب أنواع الإخراج
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: اسم مستعار عام لـ `output_types`.
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: التصفية حسب المعلمات
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: اسم مستعار عام لـ `params`.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: مرشح التوفر. يعرض `active` النماذج القابلة للتوجيه علنًا فقط؛ ويشمل `all` سجلات التوفر غير القابلة للتوجيه.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: تحديد عدد النتائج
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: الإزاحة لأغراض ترقيم الصفحات
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: تنسيق الاستجابة. القيمة الافتراضية هي `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: اسم مستعار لـ `format`. يقبل `json` أو `rss` أو `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: قائمة النماذج
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: موجز RSS 2.0 بصيغة XML
            application/atom+xml:
              schema:
                type: string
                description: موجز Atom بصيغة XML
        '400':
          description: معلمات الطلب غير صالحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: عرض إمكانات نقاط نهاية النموذج
      description: يعرض صفوف نقاط النهاية الخاصة بالمزوّد لنموذج واحد، بما يشمل المسارات العامة والوسائط والمعلمات المدعومة والتوفر وحالة التوجيه وslugs نماذج المزوّد وملخصات تسعير نقاط النهاية.
      parameters:
        - name: author
          in: path
          required: true
          description: جزء المؤلف أو المؤسسة للنموذج.
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: جزء slug النموذج.
          schema:
            type: string
        - name: provider
          in: query
          description: التصفية حسب معرّف المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: التصفية حسب حالة طرح المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: التصفية حسب حالة توجيه المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: التصفية حسب حالة توجيه النموذج.
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: التصفية حسب حالة قدرات المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: التصفية حسب حالة توفر المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: التصفية حسب سبب توفر المزوّد.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: التصفية حسب حالة دورة حياة النموذج المعتمدة.
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: تصفية صفوف نقاط النهاية حسب أسماء المعلمات المدعومة أو الأسماء المستعارة.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: يعرض `active` صفوف نقاط النهاية القابلة للتوجيه علنًا؛ ويشمل `all` أيضًا الصفوف القادمة وغير النشطة.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: صفوف إمكانات نقاط نهاية النموذج
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: معلمات الطلب غير صالحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: لم يتم العثور على نموذج يطابق مرشحات التوفر والمزوّد المطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: عرض نماذج البوابة الخاصة بالفريق
      description: يعرض قائمة نماذج البوابة الخاصة بالفريق. يعرض افتراضيًا النماذج القابلة للتوجيه علنًا؛ استخدم `availability=all` لتضمين سجلات التوفر غير القابلة للتوجيه.
      parameters:
        - name: endpoints
          in: query
          description: التصفية حسب نقاط النهاية
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: التصفية حسب المؤسسة
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: التصفية حسب معرّف المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: التصفية حسب حالة طرح المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: التصفية حسب حالة توجيه المزوّد
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: التصفية حسب حالة توجيه النموذج
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: التصفية حسب حالة قدرات المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: التصفية حسب حالة توفر المزوّد
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: التصفية حسب سبب توفر المزوّد
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: التصفية حسب حالة النموذج
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: التصفية حسب أنواع الإدخال
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: التصفية حسب أنواع الإخراج
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: التصفية حسب المعلمات
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: مرشح التوفر. يعرض `active` النماذج القابلة للتوجيه علنًا فقط؛ ويشمل `all` سجلات التوفر غير القابلة للتوجيه.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: تحديد عدد النتائج
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: الإزاحة لأغراض ترقيم الصفحات
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: تنسيق الاستجابة. القيمة الافتراضية هي `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: اسم مستعار لـ `format`. يقبل `json` أو `rss` أو `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: قائمة النماذج
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: موجز RSS 2.0 بصيغة XML
            application/atom+xml:
              schema:
                type: string
                description: موجز Atom بصيغة XML
        '400':
          description: معلمات الطلب غير صالحة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: الاتصال بترحيل الوقت الفعلي
      description: يرقي الاتصال إلى ترحيل WebSocket باستخدام سر ترحيل الجلسة كبروتوكول فرعي.
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: تم إنشاء اتصال WebSocket
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: إنهاء جلسة الصوت في الوقت الفعلي
      description: ينهي قياس الاستخدام ويحرر أي رصيد محجوز متبقٍ لجلسة الوقت الفعلي.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: اكتملت جلسة الوقت الفعلي والتسوية
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: الحصول على حالة إنشاء الموسيقى
      description: يجلب نتيجة موسيقية موحدة باستخدام معرّف طلب Phaseo الذي يعيده POST /music/generate. تتم معالجة واجهات حالة المزوّد الخاصة داخليًا.
      parameters:
        - name: music_id
          in: path
          required: true
          description: معرّف طلب Phaseo الثابت الذي يعيده POST /music/generate.
          schema:
            type: string
      responses:
        '200':
          description: استجابة حالة إنشاء الموسيقى
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: استرجاع ملف
      description: يسترجع البيانات الوصفية لملف تابع لمساحة العمل التي تمت المصادقة عليها.
      parameters:
        - name: file_id
          in: path
          required: true
          description: معرّف الملف المطلوب استرجاعه.
          schema:
            type: string
      responses:
        '200':
          description: البيانات الوصفية للملف
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الملف غير موجود أو لا يتبع مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: تنزيل محتوى الملف
      description: يسترجع المحتوى الثنائي لملف تم تحميله مسبقاً ويتبع مساحة العمل التي تمت المصادقة عليها.
      parameters:
        - name: file_id
          in: path
          required: true
          description: معرّف الملف المطلوب استرجاعه.
          schema:
            type: string
      responses:
        '200':
          description: محتوى الملف
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: الملف غير موجود
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: تصدير تحليلات مساحة العمل
      description: يصدّر مجموعة التحليلات المفلترة كاملةً بصيغة CSV آمنة للاستخدام في جداول البيانات.
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: تصدير التحليلات بصيغة CSV
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: مرشح التحليلات غير صالح
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: عرض الأرصدة
      description: يعرض الأرصدة المتبقية وإحصاءات الاستخدام لمساحة العمل التي تمت المصادقة عليها. يلزم مفتاح API للإدارة.
      parameters:
        - name: workspace_id
          in: query
          description: تجاوز اختياري لمساحة العمل. يجب أن يطابق مساحة العمل التي تمت المصادقة عليها، إلا عند استخدام مستدعٍ داخلي للتحكم.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: معلومات الرصيد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: محظور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: عرض مفاتيح API
      description: يعرض مفاتيح API لمساحة العمل المصادق عليها. يلزم مفتاح API للإدارة.
      parameters:
        - name: include_disabled
          in: query
          description: يحدد ما إذا كان ينبغي تضمين المفاتيح الموقوفة أو المحظورة مؤقتًا في الاستجابة.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: عدد مفاتيح API التي يتم تخطيها عند تقسيم النتائج إلى صفحات.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: الحد الأقصى لعدد مفاتيح API التي سيتم إرجاعها.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: تجاوز اختياري لمساحة العمل. يجب أن يطابق مساحة العمل التي تمت المصادقة عليها، إلا عند استخدام مستدعٍ داخلي للتحكم.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: قائمة مفاتيح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: محظور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: إنشاء مفتاح API جديد
      description: ينشئ مفتاح API جديدًا في مساحة العمل المصادق عليها. يلزم مفتاح API للإدارة.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: تم إنشاء مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: طلب غير صالح
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: محظور
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: الحصول على مفتاح API واحد
      description: يعرض بيانات مفتاح API واحد في مساحة العمل المصادق عليها. يلزم مفتاح API للإدارة.
      parameters:
        - name: id
          in: path
          required: true
          description: معرّف مفتاح API أو تجزئته.
          schema:
            type: string
      responses:
        '200':
          description: بيانات مفتاح API الوصفية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: لم يتم العثور على مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: تحديث مفتاح API
      description: يحدّث بيانات مفتاح API الوصفية أو حالته. يلزم مفتاح API للإدارة.
      parameters:
        - name: id
          in: path
          required: true
          description: معرّف مفتاح API أو تجزئته.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: تم تحديث بيانات مفتاح API الوصفية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: طلب غير صالح
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: لم يتم العثور على مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: حذف مفتاح API
      description: يحذف مفتاح API في مساحة العمل المصادق عليها. يلزم مفتاح API للإدارة.
      parameters:
        - name: id
          in: path
          required: true
          description: معرّف مفتاح API أو تجزئته.
          schema:
            type: string
      responses:
        '200':
          description: تم حذف مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: غير مصرّح به
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: لم يتم العثور على مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: خطأ في الخادم
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: تدوير مفتاح API
      description: ينشئ مفتاحًا بديلًا بالحدود نفسها، مع إمكانية تحديد انتهاء صلاحية المفتاح السابق. يُعرض سر المفتاح البديل مرة واحدة فقط. يلزم `keys:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: تم تدوير مفتاح API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: فشل التدوير
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: إبطال ذاكرة التخزين المؤقت لمفاتيح API
      description: يحدّث حالة السياسة المخزنة مؤقتًا على مستوى العالم لمفتاح API لمساحة العمل. يتطلب جهة مستدعية موثقة لإدارة مساحة العمل.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم إبطال ذاكرة التخزين المؤقت
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: فشل الإبطال
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: الحصول على إعدادات SCIM لمساحة العمل
      description: يعرض حالة نقطة النهاية وبيانات الرمز الوصفية وعدد الكائنات المهيأة وأحدث حدث SCIM.
      responses:
        '200':
          description: إعدادات SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: تفعيل SCIM أو تعطيله
      description: يحدّث نقطة نهاية SCIM لمساحة العمل. يتطلب تفعيل SCIM إضافة الهوية وصلاحية `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: تم تحديث نقطة نهاية SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: فشل الطلب أو أن الإضافة مطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: إنشاء رمز SCIM
      description: ينشئ رمز تهيئة. يُعرض الرمز الخام مرة واحدة فقط. يتطلب إضافة الهوية وصلاحية `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: تم إنشاء رمز SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: فشل الطلب أو أن الإضافة مطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: الحصول على دليل مساحة العمل
      description: يعرض أقسام المؤسسة وصلاحيات الأعضاء الفعلية. يتطلب إضافة الهوية وصلاحية `settings:read` وهوية `owner` أو `admin`.
      responses:
        '200':
          description: دليل مساحة العمل
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: فشل الطلب أو أن الإضافة مطلوبة
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: تحديث تجاوز عضو الدليل
      description: يضبط أو يمسح تجاوزات الدور والقسم الفعلية لعضو مساحة العمل. يلزم `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: تم تحديث تجاوز العضو
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: تعيين عضوية يدوية في قسم
      description: يضيف أو يحدّث عضوية يدوية لمستخدم مساحة العمل في قسم.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: تم تحديث العضوية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: حذف عضوية يدوية في قسم
      description: يزيل عضوية يدوية في قسم دون تغيير العضوية المتزامنة مع الدليل.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: تم حذف العضوية
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/settings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceNotificationSettings
      summary: الحصول على إعدادات إشعارات مساحة العمل
      description: يعرض سياسة الشحن التلقائي وإعداد البريد الإلكتروني لانخفاض الرصيد وتفضيلات البريد لمساحة العمل. يتطلب `settings:read` وهوية `owner` أو `admin`.
      responses:
        '200':
          description: إعدادات الإشعارات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      security: []
      tags:
        - Gateway
      operationId: updateWorkspaceNotificationSettings
      summary: تحديث إعدادات إشعارات مساحة العمل
      description: يحدّث قسمًا واحدًا أو أكثر من سياسة الإشعارات الدائمة. يتطلب تفعيل الشحن التلقائي معرّف وسيلة دفع محفوظة مسبقًا؛ ويظل تحصيل الدفع ضمن مسار تفاعلي للحساب.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceNotificationSettingsUpdateRequest'
      responses:
        '200':
          description: تم تحديث إعدادات الإشعارات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceApp
      summary: تحديث تطبيق مساحة العمل
      description: يحدّث بيانات العرض الوصفية أو الظهور في الكتالوج أو الحالة النشطة لتطبيق منسوب. لا يمكن تعديل التطبيقات التي تديرها المنصة.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppUpdateRequest'
      responses:
        '200':
          description: تم تحديث التطبيق
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}/merge:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: mergeWorkspaceApp
      summary: دمج تطبيقات مساحة العمل
      description: ينقل سجل الطلبات والتحليلات من التطبيق المصدر ذرياً إلى تطبيق آخر في مساحة العمل نفسها، ثم يزيل التطبيق المصدر.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppMergeRequest'
      responses:
        '200':
          description: تم دمج التطبيقات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppMergeResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayRequestLogs
      summary: عرض سجلات طلبات البوابة
      description: يعرض بيانات الطلبات المنقحة لمساحة العمل المصادق عليها مع مرشحات محدودة للنطاق الزمني والحقول. يلزم `activity:read`.
      parameters:
        - name: since
          in: query
          schema:
            type: string
            default: 24h
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: provider
          in: query
          schema:
            type: string
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: endpoint
          in: query
          schema:
            type: string
        - name: request_id
          in: query
          schema:
            type: string
        - name: key_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: error_code
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: سجلات الطلبات
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogListResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{requestId}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGatewayRequestLog
      summary: الحصول على سجل طلب للبوابة
      description: يعرض سجل طلب منقحًا واحدًا باستخدام معرّف الطلب.
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: سجل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /preset-test-runs:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPresetTestRuns
      summary: عرض عمليات اختبار الإعداد المسبق
      description: يعرض عمليات الاختبار المتاحة، مع إمكانية التصفية حسب الإعداد المسبق. يلزم `feedback:read`.
      parameters:
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 100
      responses:
        '200':
          description: عمليات اختبار الإعداد المسبق
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunListResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createPresetTestRun
      summary: إنشاء عملية اختبار لإعداد مسبق
      description: ينشئ عملية اختبار لمساحة العمل لإعداد مسبق أو مقارنة مرجعية. يتطلب `feedback:write` وهوية `owner` أو `admin`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetTestRunCreateRequest'
      responses:
        '201':
          description: تم إنشاء عملية الاختبار
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /preset-test-runs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetTestRun
      summary: الحصول على عملية اختبار لإعداد مسبق
      description: يعرض عملية الاختبار وملخص الملاحظات الخاص بها.
      responses:
        '200':
          description: عملية اختبار إعداد مسبق
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunDetailResponse'
        default:
          description: فشل الطلب
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetTestRun
      summary: تحديث عملية اختبار لإعداد مسبق
[...]
