openapi: 3.0.3
info:
  title: Phaseo Gateway API
  description: Una API de pasarela para acceder a diversos modelos de IA mediante endpoints compatibles con OpenAI.
  version: 1.0.0
  contact:
    name: Phaseo
    url: https://phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
    description: Enrutamiento global
security:
  - BearerAuth: []
paths:
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Enrutamiento global
        - url: https://eu.api.phaseo.app/v1
          description: Enrutamiento regional a proveedores de la UE (solo texto)
        - url: https://us.api.phaseo.app/v1
          description: Enrutamiento regional a proveedores de EE. UU. (solo texto)
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: Listar modelos de la pasarela
      description: Devuelve los modelos compartidos y visibles de la pasarela. De forma predeterminada, muestra los modelos que se pueden enrutar públicamente; usa `availability=all` para incluir registros de disponibilidad que no se pueden enrutar.
      parameters:
        - name: search
          in: query
          description: Búsqueda sin distinguir mayúsculas en identificadores, nombres y descripciones de modelos y organizaciones.
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: Búsqueda de proveedores u organizaciones de modelos sin distinguir mayúsculas.
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: Exigir una modalidad de entrada compatible.
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: Exigir al menos este número de tokens de contexto de entrada.
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: Precio máximo en USD de entrada por millón de tokens.
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: Devolver solo modelos con al menos una oferta enrutable del gateway.
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: Campo usado para ordenar los resultados del descubrimiento de modelos.
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: Dirección de orden opcional. Los precios se ordenan de forma ascendente por defecto; los demás valores numéricos, de forma descendente.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: Filtrar por endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrar por organización
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrar por ID del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar por estado de despliegue del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del proveedor
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del modelo
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar por estado de capacidades del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar por estado de disponibilidad del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar por motivo de disponibilidad del proveedor
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar por estado del modelo
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrar por tipos de entrada
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: Alias público de `input_types`.
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrar por tipos de salida
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: Alias público de `output_types`.
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrar por parámetros
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Alias público de `params`.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtro de disponibilidad. `active` devuelve solo los modelos enrutables públicamente; `all` incluye registros de disponibilidad no enrutables.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limitar el número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Desplazamiento para la paginación
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Formato de respuesta. De forma predeterminada, es `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Acepta `json`, `rss` o `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Lista de modelos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Feed XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Feed XML Atom
        '400':
          description: Parámetros de solicitud no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: Listar las capacidades de los endpoints del modelo
      description: Devuelve filas de endpoints específicas del proveedor para un modelo, incluidos los paths públicos, las modalidades, los parámetros compatibles, la disponibilidad, el estado de enrutamiento, los slugs del modelo del proveedor y los resúmenes de precios de los endpoints.
      parameters:
        - name: author
          in: path
          required: true
          description: Segmento del autor o la organización del modelo.
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: Segmento del slug del modelo.
          schema:
            type: string
        - name: provider
          in: query
          description: Filtrar por ID del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar por estado de despliegue del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del modelo.
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar por estado de capacidades del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar por estado de disponibilidad del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar por motivo de disponibilidad del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar por estado del ciclo de vida canónico del modelo.
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Filtrar las filas de endpoints por nombres de parámetros compatibles o sus alias.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` devuelve las filas de endpoints enrutables públicamente; `all` también incluye las que están próximas y las inactivas.'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: Filas de capacidades de endpoints del modelo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: Parámetros de solicitud no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No se encontró el modelo con los filtros de disponibilidad y proveedor solicitados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: Listar modelos de la pasarela del equipo
      description: Devuelve los modelos de la pasarela del equipo. De forma predeterminada, muestra los modelos enrutables públicamente; usa `availability=all` para incluir registros de disponibilidad que no se pueden enrutar.
      parameters:
        - name: endpoints
          in: query
          description: Filtrar por endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrar por organización
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrar por ID del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar por estado de despliegue del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del proveedor
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del modelo
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar por estado de capacidades del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar por estado de disponibilidad del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar por motivo de disponibilidad del proveedor
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar por estado del modelo
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrar por tipos de entrada
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrar por tipos de salida
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrar por parámetros
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtro de disponibilidad. `active` devuelve solo los modelos enrutables públicamente; `all` incluye registros de disponibilidad no enrutables.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limitar el número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Desplazamiento para la paginación
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Formato de respuesta. De forma predeterminada, es `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Acepta `json`, `rss` o `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Lista de modelos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Feed XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Feed XML Atom
        '400':
          description: Parámetros de solicitud no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: Listar proveedores
      description: Devuelve una lista de proveedores de API disponibles.
      parameters:
        - name: limit
          in: query
          description: Limitar el número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Desplazamiento para la paginación
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista de proveedores
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: Obtener una generación
      description: Recupera una generación específica por su ID.
      parameters:
        - name: id
          in: query
          required: true
          description: ID de la generación
          schema:
            type: string
      responses:
        '200':
          description: Datos de la generación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: No encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Enrutamiento global
        - url: https://eu.api.phaseo.app/v1
          description: Enrutamiento regional a proveedores de la UE (solo texto)
        - url: https://us.api.phaseo.app/v1
          description: Enrutamiento regional a proveedores de EE. UU. (solo texto)
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: Crear una finalización de chat
      description: Crea una finalización para el mensaje de chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: Respuesta de finalización de chat
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Enrutamiento global
        - url: https://eu.api.phaseo.app/v1
          description: Enrutamiento regional a proveedores de la UE (solo texto)
        - url: https://us.api.phaseo.app/v1
          description: Enrutamiento regional a proveedores de EE. UU. (solo texto)
      tags:
        - Gateway
      operationId: createResponse
      summary: Crear una respuesta
      description: Crea una respuesta mediante Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: Respuesta
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /async/{kind}/{id}/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openAsyncJobWebSocket
      summary: Open async job websocket
      description: |
        Opens a persistent websocket session for owned async batch or video job updates.
        WebSocket handshake uses HTTP GET upgrade semantics and returns `101 Switching Protocols` on success (not `200`). The socket emits a `job.snapshot` immediately after upgrade and subsequent `job.updated` envelopes when the normalized async job payload changes.
        If `close_on_terminal` is enabled, the gateway closes the socket after a terminal `completed`, `failed`, `cancelled`, or `expired` update.
      parameters:
        - name: kind
          in: path
          required: true
          description: Async job kind.
          schema:
            type: string
            enum:
              - batch
              - video
        - name: id
          in: path
          required: true
          description: Gateway-owned async job id.
          schema:
            type: string
        - name: interval_ms
          in: query
          required: false
          description: Polling interval used by the websocket recovery loop.
          schema:
            type: integer
            minimum: 1000
            maximum: 10000
            default: 2500
        - name: close_on_terminal
          in: query
          required: false
          description: Close the socket after a terminal lifecycle update.
          schema:
            type: boolean
            default: true
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketClientEvent'
            serverEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketServerEvent'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Async job not found or not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobWebSocketUpgradeRequiredResponse'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Enrutamiento global
        - url: https://eu.api.phaseo.app/v1
          description: Enrutamiento regional a proveedores de la UE (solo texto)
        - url: https://us.api.phaseo.app/v1
          description: Enrutamiento regional a proveedores de EE. UU. (solo texto)
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: Crear un mensaje
      description: Crea un mensaje mediante la API Anthropic Messages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: Respuesta del mensaje
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: Crear embeddings
      description: Crea un vector de embedding que representa el texto de entrada.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Respuesta de embeddings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: Crear una moderación
      description: Clasifica si el texto infringe las políticas de uso de OpenAI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: Respuesta de moderación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: Reordenar documentos por relevancia
      description: Reordena una lista de documentos según su relevancia para una consulta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: Respuesta de reordenación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: Tomar decisiones estructuradas
      description: 'Para llamadas nuevas, usa el formato compatible con OpenAI: input contiene texto o mensajes de usuario con partes input_image integradas, y questions es una lista ordenada de preguntas predicate, choice o score. Las respuestas mantienen el orden y los nombres opcionales. Los valores booleanos siguen siendo booleanos. No se admiten URL de imágenes alojadas; Luna admite hasta 128 imágenes integradas, con límites propios para otros proveedores. El detalle explícito de imagen y safety_identifier requieren una ruta OpenAI. El formato anterior con state, mapas de preguntas, noul y criteria sigue funcionando y devuelve un mapa de respuestas. Together Tev requiere ese formato porque devuelve etiquetas sin probabilidades. Los ejemplos anteriores siguen siendo válidos.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionCreateRequest'
      responses:
        '200':
          description: Respuesta de decisiones estructuradas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionCreateResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: Generar voz
      description: Genera audio a partir del texto de entrada.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: Archivo de audio
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: Crear una transcripción
      description: Transcribe el audio en el idioma de entrada.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: Respuesta de transcripción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: Crear una traducción
      description: Traduce el audio al inglés.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: Respuesta de traducción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: Crear una sesión de audio en tiempo real
      description: Crea una sesión de audio en tiempo real con medición de uso y devuelve los datos de conexión del relé.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Sesión en tiempo real creada
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: Conectar el relé en tiempo real
      description: Actualiza a un relé WebSocket usando el secreto del relé de sesión como subprotocolo.
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: Conexión WebSocket establecida
  /audio/realtime/sessions/{session_id}/connected:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: markRealtimeSessionConnected
      x-excluded: true
      summary: Mark realtime session connected
      description: Records that the upstream realtime relay connection has been established.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/extend:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: extendRealtimeSession
      x-excluded: true
      summary: Extend realtime session credit hold
      description: Extends the reserved credit for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_reserved_nanos:
                  type: integer
                  minimum: 1
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/usage:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: updateRealtimeSessionUsage
      x-excluded: true
      summary: Update realtime session usage
      description: Records the latest metered usage for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usage:
                  type: object
                  additionalProperties: true
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: Finalizar la sesión de audio en tiempo real
      description: Finaliza la medición y libera cualquier reserva de crédito restante de una sesión en tiempo real.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Sesión en tiempo real y liquidación finalizadas
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: Crear imagen
      description: Genera una imagen a partir de una instrucción.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: Respuesta de imagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: Crear una edición de imagen
      description: Crea una imagen editada o ampliada a partir de una imagen original y una instrucción.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: Respuesta de edición de imagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /videos:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideos
      summary: Listar vídeos
      description: Enumera los trabajos de generación de vídeo asíncrona del equipo autenticado.
      parameters:
        - name: limit
          in: query
          description: Número máximo de trabajos de vídeo que se devuelven. El valor predeterminado es 50 y el máximo es 200.
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          description: Filtro de estado del ciclo de vida del vídeo. Repita el parámetro o proporcione valores separados por comas.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          description: Número de trabajos de vídeo que se omiten antes de devolver la página.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - name: after
          in: query
          description: Devuelve los trabajos de vídeo posteriores a este ID de vídeo en el orden seleccionado.
          schema:
            type: string
        - name: order
          in: query
          description: Ordena los trabajos de vídeo por fecha de creación.
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Respuesta de la lista de vídeos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: Crear vídeo
      description: Crea un trabajo de generación de vídeo asíncrona. Consulte la `polling_url` devuelta cada 20 segundos hasta que el trabajo alcance un estado final.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: Respuesta de vídeo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModels
      summary: Listar capacidades de modelos de vídeo
      description: Devuelve metadatos respaldados por la base de datos sobre capacidades de modelos/proveedores de vídeo para el entorno de vídeo y la validación del SDK.
      parameters:
        - name: params
          in: query
          required: false
          description: Filtro opcional de parámetros admitidos. Repita el parámetro o pase una lista separada por comas. Se aceptan nombres canónicos y alias, por ejemplo `resolution`, `size`, `duration` o `duration_seconds`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Lista de capacidades de modelos de vídeo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoModelsResponse'
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: Obtener estado del vídeo
      description: Obtiene el estado de una solicitud de generación de vídeo. Consulte cada 20 segundos salvo que use webhooks.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID de la solicitud de generación de vídeo.
          schema:
            type: string
      responses:
        '200':
          description: Respuesta de estado del vídeo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: Eliminar vídeo
      description: Marca como eliminado un registro de generación de vídeo en estado final. No se pueden eliminar trabajos en curso.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID de la solicitud de generación de vídeo.
          schema:
            type: string
      responses:
        '200':
          description: Respuesta de eliminación de vídeo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideo
      summary: Cancelar vídeo
      description: La cancelación de vídeos está deshabilitada actualmente en todos los proveedores.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID interno del trabajo de vídeo de Phaseo (`G-...`).
          schema:
            type: string
      responses:
        '501':
          description: La cancelación de vídeos está deshabilitada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: Obtener contenido del vídeo
      description: Descarga el contenido del vídeo generado.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID de la solicitud de generación de vídeo.
          schema:
            type: string
      responses:
        '200':
          description: Contenido del vídeo
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /videos/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrl
      summary: Crear una URL firmada de descarga del vídeo
      description: Devuelve una URL firmada de primera parte para descargar un vídeo generado.
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID de la solicitud de generación de vídeo.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: URL firmada de descarga
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: Ejecutar OCR
      description: Extrae texto de una imagen mediante el modelo solicitado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: Respuesta de OCR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: Analizar una imagen de documento
      description: Analiza una imagen de documento y la convierte en Markdown o en bloques de contenido ordenados. La API Cohere Parse actual acepta URL de imágenes remotas y URI de datos de imagen codificados en base64; aún no admite entradas de PDF ni URL de archivos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: Documento analizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: Generar música
      description: Genera música mediante un único endpoint independiente del proveedor. Phaseo espera a que los proveedores síncronos respondan y gestiona internamente la consulta periódica de sus colas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Respuesta de generación de música
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: Obtener el estado de la generación de música
      description: Obtiene un resultado musical normalizado mediante el ID de solicitud de Phaseo devuelto por POST /music/generate. Las API de estado específicas del proveedor se gestionan internamente.
      parameters:
        - name: music_id
          in: path
          required: true
          description: ID de solicitud estable de Phaseo devuelto por POST /music/generate.
          schema:
            type: string
      responses:
        '200':
          description: Respuesta del estado de generación de música
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: Subir archivo
      description: Alias de compatibilidad de `/batches/files`. Sube un archivo para procesamiento por lotes y devuelve los metadatos del archivo del proveedor. Pase `model` para que AI Stats pueda inferir el proveedor. El valor predeterminado es OpenAI para clientes antiguos que omitan tanto `model` como `provider`.
      parameters:
        - name: model
          in: query
          required: false
          description: ID del modelo usado para inferir el proveedor del archivo por lotes.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: Selección avanzada del proveedor para la carga del archivo.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-ai-stats-provider
          in: header
          required: false
          description: Alternativa en la cabecera al parámetro de consulta `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Metadatos del archivo subido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Error del proveedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: Listar archivos
      description: Actualmente devuelve `not_supported` con la clave compartida de la pasarela. Guarda los ID de los archivos subidos y recupéralos directamente en su lugar.
      responses:
        '400':
          description: La lista de archivos no está disponible en el modo actual de la pasarela
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: Recuperar un archivo
      description: Recupera los metadatos de un archivo que pertenece al espacio de trabajo autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID del archivo que se va a recuperar.
          schema:
            type: string
      responses:
        '200':
          description: Metadatos del archivo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: El archivo no se encuentra o no pertenece al espacio de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: Descargar el contenido del archivo
      description: Recupera el contenido binario de un archivo cargado anteriormente que pertenece al espacio de trabajo autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID del archivo que se va a recuperar.
          schema:
            type: string
      responses:
        '200':
          description: Contenido del archivo
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Archivo no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatches
      summary: Listar lotes
      description: Enumera los trabajos por lotes asíncronos del espacio de trabajo autenticado desde el almacenamiento persistente de trabajos asíncronos de la pasarela.
      parameters:
        - name: limit
          in: query
          description: Número máximo de trabajos por lotes que se devuelven. El valor predeterminado es 20 y el máximo es 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filtro de estado del ciclo de vida del lote. Repita el parámetro, use un valor de estado separado por comas o use statuses para filtros separados por comas.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: statuses
          in: query
          description: Filtros de estado del ciclo de vida separados por comas.
          schema:
            type: string
        - name: offset
          in: query
          description: Número de trabajos por lotes que se omiten antes de devolver la página.
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: Respuesta de la lista de lotes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: Crear lote
      description: Crea un trabajo por lotes asíncrono y devuelve el objeto de lote del proveedor. La creación admite OpenAI, Anthropic, Google Gemini, Mistral, xAI, Groq y Together AI mediante el `model` solicitado. La pasarela infiere el proveedor a partir del modelo y también acepta `session_id` y `webhook` para observabilidad y notificaciones asíncronas. Use `provider` solo como restricción avanzada de enrutamiento.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: Respuesta de estado del lote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchModels
      summary: Listar capacidades de modelos por lotes
      description: Devuelve metadatos respaldados por la base de datos sobre capacidades de modelos/proveedores por lotes, incluidos los parámetros admitidos, como endpoints de entrada permitidos y plazos de finalización.
      parameters:
        - name: params
          in: query
          required: false
          description: Filtro opcional de parámetros admitidos. Repita el parámetro o pase una lista separada por comas. Se aceptan nombres canónicos y alias, por ejemplo `endpoint`, `request_endpoint`, `completion_window` o `window`.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: Lista de capacidades de modelos por lotes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchModelsResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/capabilities:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchCapabilities
      summary: Listar capacidades de proveedores por lotes
      description: Devuelve los modos de entrada por lotes admitidos por el proveedor para la carga de archivos y la creación de lotes mediante listas de solicitudes.
      responses:
        '200':
          description: Lista de capacidades de proveedores por lotes
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchProviderCapability'
  /batches/files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchFiles
      summary: Listar archivos por lotes
      description: Devuelve un error porque no se admite listar archivos de claves compartidas de la pasarela. Obtenga directamente por ID los archivos del espacio de trabajo.
      responses:
        '400':
          description: No se admite listar archivos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadBatchFile
      summary: Subir archivo por lotes
      description: Sube un archivo del proveedor para procesamiento por lotes y registra su propiedad en el espacio de trabajo autenticado. Pase `model` para que Phaseo pueda inferir el proveedor. Por defecto se usa OpenAI si se omiten tanto `model` como `provider`.
      parameters:
        - name: model
          in: query
          required: false
          description: ID del modelo usado para inferir el proveedor del archivo por lotes.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: Selección avanzada del proveedor para la carga del archivo.
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-phaseo-provider
          in: header
          required: false
          description: Alternativa en la cabecera al parámetro de consulta `provider`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Metadatos del archivo subido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Error del proveedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFile
      summary: Obtener archivo por lotes
      description: Obtiene los metadatos de un archivo por lotes del espacio de trabajo autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Metadatos del archivo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: El archivo no se encuentra o no pertenece al espacio de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFileContent
      summary: Obtener contenido del archivo por lotes
      description: Obtiene el contenido de un archivo por lotes del espacio de trabajo autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contenido del archivo
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Archivo no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: Obtener lote
      description: Obtiene un trabajo por lotes creado anteriormente.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID del lote que se obtiene.
          schema:
            type: string
      responses:
        '200':
          description: Respuesta de estado del lote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lote no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: Este proveedor no admite actualizar el estado del lote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/results:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchResults
      summary: Descargar resultados del lote
      description: Transmite filas completas de resultados nativos del proveedor como JSONL para un lote en estado final del espacio de trabajo autenticado. Combina archivos de resultados correctos y de errores, convierte salidas en línea y sigue la paginación de resultados del proveedor. Use una clave API de Phaseo. Las descargas no envían solicitudes de inferencia ni añaden cargos de uso. Los endpoints de archivos existentes siguen disponibles. Las filas en línea están limitadas a 8 MiB; las descargas interrumpidas deben descartarse y repetirse. Máximo de 10 intentos de descarga por espacio de trabajo y lote en una ventana móvil de 30 minutos, compartido entre claves API y alias. Cuentan los intentos fallidos o cancelados del proveedor. Una respuesta 429 incluye Retry-After en segundos.
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resultados JSONL originales del proveedor
          content:
            application/x-ndjson:
              schema:
                type: string
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Acceso a la vista previa de lotes denegado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lote no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Los resultados del lote no están listos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Límite de descargas del lote superado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              description: Segundos hasta que se permita otra descarga
              schema:
                type: integer
        '501':
          description: Este proveedor no admite descargas directas de resultados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: No se pudieron obtener los resultados del proveedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: La admisión de descargas no está disponible temporalmente; reintente tras 30 segundos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              schema:
                type: integer
  /batches/{batch_id}/requests:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchRequests
      summary: Listar filas de solicitudes del lote
      description: Enumera las filas de cada solicitud registradas para un trabajo por lotes propio.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID del lote.
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de filas de solicitudes del lote
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  batch_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchRequestRow'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lote no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatch
      summary: Cancelar lote
      description: Cancela una solicitud por lotes.
      parameters:
        - name: batch_id
          in: path
          required: true
          description: ID del lote que se cancela.
          schema:
            type: string
      responses:
        '200':
          description: Respuesta de estado del lote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Lote no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: Este proveedor no admite cancelar lotes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivityAlias
      summary: Obtener análisis del espacio de trabajo
      description: Devuelve agregados de coste, solicitudes y tokens agrupados por fecha, modelo, proveedor y endpoint para los últimos 30 días UTC completos.
      parameters:
        - name: date
          in: query
          description: Filtra por una única fecha UTC de los últimos 30 días completos (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          description: Clave de etiqueta de solicitud que se incluye en el segmento de gasto. Debe proporcionarse junto con label_value.
          schema:
            type: string
            maxLength: 64
            pattern: ^[A-Za-z0-9_.:-]{1,64}$
        - name: label_value
          in: query
          description: Valor de etiqueta de solicitud que se incluye en el segmento de gasto. Debe proporcionarse junto con label_key.
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          description: Filtra por identificador de clave API.
          schema:
            type: string
        - name: end_user_id
          in: query
          description: Filtra por identificador de usuario final definido por la aplicación.
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          description: Filtra por slug canónico del modelo solicitado o utilizado en el enrutamiento.
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          description: Filtra por slug del proveedor.
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          description: Filtra por identificador del endpoint de la pasarela.
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          description: Filtra tráfico gestionado o BYOK.
          schema:
            type: boolean
        - name: success
          in: query
          description: Filtra solicitudes correctas o fallidas.
          schema:
            type: boolean
        - $ref: '#/components/parameters/Offset'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
      responses:
        '200':
          description: Obtenido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: Error de solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Error de acceso denegado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: Exportar analíticas del espacio de trabajo
      description: Exporta el conjunto completo de analíticas filtradas como CSV compatible con hojas de cálculo.
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Exportación de analíticas en CSV
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Filtro de analíticas no válido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: Consultar créditos
      description: Devuelve los créditos restantes y las estadísticas de uso del espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      parameters:
        - name: workspace_id
          in: query
          description: Sobrescritura opcional del espacio de trabajo. Debe coincidir con el espacio autenticado, salvo que se use un llamante interno de control.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Información de créditos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Prohibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCurrentApiKey
      summary: Obtener clave API actual
      description: Devuelve los metadatos de la clave API estándar de Gateway autenticada actualmente.
      responses:
        '200':
          description: Metadatos de la clave API actual
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No se encontró la clave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: Listar claves de API
      description: Muestra las claves de API del espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      parameters:
        - name: include_disabled
          in: query
          description: Indica si se deben incluir en la respuesta las claves pausadas o bloqueadas temporalmente.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: Número de claves de API que se omiten para la paginación.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Número máximo de claves de API que se devolverán.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: Sobrescritura opcional del espacio de trabajo. Debe coincidir con el espacio autenticado, salvo que se use un llamante interno de control.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de claves de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Prohibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: Crear una nueva clave de API
      description: Crea una nueva clave de API en el espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: Clave de API creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Prohibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: Obtener una clave de API
      description: Devuelve los metadatos de una clave de API del espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador o hash de la clave de API.
          schema:
            type: string
      responses:
        '200':
          description: Metadatos de la clave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No se encontró la clave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: Actualizar una clave de API
      description: Actualiza los metadatos o el estado de una clave de API. Se requiere una clave de API de gestión.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador o hash de la clave de API.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: Metadatos de la clave de API actualizados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No se encontró la clave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: Eliminar una clave de API
      description: Elimina una clave de API del espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador o hash de la clave de API.
          schema:
            type: string
      responses:
        '200':
          description: Clave de API eliminada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No se encontró la clave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: Rotar una clave de API
      description: Crea un reemplazo con los mismos límites y permite establecer opcionalmente la caducidad de la clave anterior. El secreto de reemplazo se devuelve una sola vez. Se requiere `keys:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: Clave de API rotada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: La rotación falló
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: Invalidar la caché de claves de API
      description: Actualiza el estado global de las políticas en caché de una clave de API del espacio de trabajo. Requiere una llamada autenticada de gestión del espacio de trabajo.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Caché invalidada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: La invalidación falló
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: Obtener la configuración de SSO del espacio de trabajo
      description: Devuelve la configuración SAML o OIDC personalizada del espacio de trabajo. Requiere `settings:read` y una identidad de propietario o administrador.
      responses:
        '200':
          description: Configuración de SSO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: Actualizar la configuración de SSO del espacio de trabajo
      description: Actualiza la configuración de SAML o de OIDC personalizado. Para habilitar SSO se requiere el complemento de identidad y `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: Configuración de SSO actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: La solicitud falló o se requiere el complemento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: Obtener la configuración de SCIM del espacio de trabajo
      description: Devuelve el estado del endpoint, los metadatos del token, el recuento de objetos aprovisionados y el evento SCIM más reciente.
      responses:
        '200':
          description: Configuración de SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: Habilitar o deshabilitar SCIM
      description: Actualiza el endpoint SCIM del espacio de trabajo. Para habilitar SCIM se requiere el complemento de identidad y `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: Endpoint SCIM actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: La solicitud falló o se requiere el complemento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: Crear un token SCIM
      description: Crea un token de aprovisionamiento. El token sin procesar se devuelve una sola vez. Se requieren el complemento de identidad y `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: Token SCIM creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: La solicitud falló o se requiere el complemento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: Revocar un token SCIM
      description: Revoca un token de aprovisionamiento. Requiere `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Token revocado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: Listar eventos de auditoría de SCIM
      description: Lista la actividad reciente de aprovisionamiento SCIM del espacio de trabajo.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Eventos de auditoría de SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: Obtener el directorio del espacio de trabajo
      description: Devuelve los departamentos empresariales y los permisos efectivos de los miembros. Se requieren el complemento de identidad, `settings:read` y una identidad con rol `owner` o `admin`.
      responses:
        '200':
          description: Directorio del espacio de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: La solicitud falló o se requiere el complemento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: Actualizar una excepción de miembro del directorio
      description: Establece o elimina las excepciones de rol y departamento efectivas de un miembro del espacio de trabajo. Se requiere `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: Excepción de miembro actualizada
          content:
            application/json:
              schema:
[...]
