openapi: 3.0.3
info:
  title: Phaseo Gateway API
  version: 1.0.0
servers:
  - url: https://api.phaseo.app/v1
    description: Global routing
security:
  - BearerAuth: []
paths:
  /apps:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceApps
      summary: Listar aplicaciones del espacio de trabajo
      description: Muestra las aplicaciones del espacio de trabajo atribuidas automáticamente y sus metadatos editables. Requiere el permiso `settings:read`.
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: Aplicaciones del espacio de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppListResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /presets/publisher:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetPublisher
      summary: Obtener el alias del editor de presets
      description: Devuelve el alias canónico del editor de presets públicos del espacio de trabajo.
      responses:
        '200':
          description: Alias del editor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetPublisher
      summary: Actualizar el identificador de publicación de los ajustes preestablecidos
      description: Cambia el nombre del identificador de publicación del espacio de trabajo y conserva el anterior como alias.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetPublisherUpdateRequest'
      responses:
        '200':
          description: Identificador de publicación actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
        '400':
          description: Identificador de publicación no válido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: El identificador de publicación no está disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: Generar voz
      description: Genera audio a partir del texto de entrada.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: Archivo de audio
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: Crear una transcripción
      description: Transcribe el audio en el idioma de entrada.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: Respuesta de transcripción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: Crear una traducción
      description: Traduce el audio al inglés.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: Respuesta de traducción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: Crear imagen
      description: Genera una imagen a partir de una instrucción.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: Respuesta de imagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: Crear una edición de imagen
      description: Crea una imagen editada o ampliada a partir de una imagen original y una instrucción.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: Respuesta de edición de imagen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: Ejecutar OCR
      description: Extrae texto de una imagen mediante el modelo solicitado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: Respuesta de OCR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: Generar música
      description: Genera música mediante un único endpoint independiente del proveedor. Phaseo espera a que los proveedores síncronos respondan y gestiona internamente la consulta periódica de sus colas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: Respuesta de generación de música
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listEndpoints
      summary: Listar endpoints
      description: Lista los identificadores de endpoints de la pasarela basados en capacidades, con sus rutas públicas, colecciones de modalidades, recuentos de modelos y proveedores, y modelos de ejemplo.
      responses:
        '200':
          description: Metadatos de endpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointCatalogueResponse'
  /files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: Listar archivos
      description: Actualmente devuelve `not_supported` con la clave compartida de la pasarela. Guarda los ID de los archivos subidos y recupéralos directamente en su lugar.
      responses:
        '400':
          description: La lista de archivos no está disponible en el modo actual de la pasarela
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPricingModels
      summary: Listar modelos de precios
      description: Devuelve las tarifas activas de proveedores y modelos.
      responses:
        '200':
          description: Lista de precios de modelos
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  models:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: Crear una moderación
      description: Clasifica si el texto infringe las políticas de uso de OpenAI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: Respuesta de moderación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: Crear embeddings
      description: Crea un vector de embedding que representa el texto de entrada.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: Respuesta de embeddings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: Reordenar documentos por relevancia
      description: Reordena una lista de documentos según su relevancia para una consulta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: Respuesta de reordenación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: Analizar una imagen de documento
      description: Analiza una imagen de documento y la convierte en Markdown o en bloques de contenido ordenados. La API Cohere Parse actual acepta URL de imágenes remotas y URI de datos de imagen codificados en base64; aún no admite entradas de PDF ni URL de archivos.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: Documento analizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /budgets/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceBudget
      summary: Eliminar un límite de gasto del espacio de trabajo
      description: Elimina un tope de gasto del espacio de trabajo y deja de aplicarlo durante ese intervalo.
      responses:
        '200':
          description: Presupuesto del espacio de trabajo eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetDeleteResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceBudget
      summary: Obtener un presupuesto del espacio de trabajo
      description: Devuelve un límite de gasto del espacio de trabajo con el uso actual y el gasto restante.
      responses:
        '200':
          description: Presupuesto del espacio de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceBudget
      summary: Actualizar un presupuesto del espacio de trabajo
      description: Cambia el intervalo o el límite en USD de un presupuesto existente del espacio de trabajo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBudgetUpdateInput'
      responses:
        '200':
          description: Presupuesto del espacio de trabajo actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteProviderCredential
      summary: Eliminar una credencial de proveedor
      description: Elimina de forma permanente una credencial de proveedor. Repetir la eliminación es seguro.
      responses:
        '200':
          description: Credencial del proveedor eliminada o ya ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialDeleteResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProviderCredential
      summary: Obtener una credencial de proveedor
      description: Devuelve metadatos seguros sin exponer campos cifrados ni el secreto sin procesar.
      responses:
        '200':
          description: Metadatos de la credencial del proveedor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateProviderCredential
      summary: Actualizar una credencial de proveedor
      description: Actualiza los metadatos, los filtros o el grupo de enrutamiento de la credencial, o reemplaza el secreto de solo escritura.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialUpdateRequest'
      responses:
        '200':
          description: Credencial de proveedor actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: Eliminar un departamento del espacio de trabajo
      description: Elimina un departamento administrado manualmente. Los departamentos sincronizados desde el directorio no se pueden eliminar aquí.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Departamento eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: Actualizar un departamento del espacio de trabajo
      description: Actualiza el nombre, la descripción, el icono o el color del departamento sin eliminar su asignación al directorio.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: Departamento actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceGroupMapping
      summary: Eliminar una asignación de grupo del directorio
      description: Elimina del espacio de trabajo una asignación de grupo aprovisionada.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Asignación de grupo eliminada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceGroupMapping
      summary: Actualizar una asignación de grupo del directorio
      description: Actualiza el rol de acceso o la posición en el departamento asignados por una asignación.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingUpdateRequest'
      responses:
        '200':
          description: Asignación de grupo actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /data-contribution/classifiers/{id}:
    parameters:
      - $ref: '#/components/parameters/DataContributionClassifierId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteDataContributionClassifier
      summary: Eliminar un clasificador de contribución de datos
      description: Elimina un clasificador personalizado. El clasificador inicial integrado no se puede eliminar.
      responses:
        '200':
          description: Clasificador eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierDeleteResponse'
        default:
          description: La solicitud ha fallado o la función no está disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateDataContributionClassifier
      summary: Actualizar clasificador de contribuciones de datos
      description: Actualiza un clasificador personalizado del espacio de trabajo. Requiere `settings:write` y acceso a la función.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataContributionClassifierUpdateRequest'
      responses:
        '200':
          description: Clasificador actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierResponse'
        default:
          description: La solicitud ha fallado o la función no está disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/OAuthClientId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteOAuthClient
      summary: Eliminar un cliente OAuth
      description: Elimina el cliente después de revocar sus autorizaciones activas.
      responses:
        '200':
          description: Cliente OAuth eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientDeleteResponse'
        default:
          description: La solicitud ha fallado o la función no está disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getOAuthClient
      summary: Obtener un cliente OAuth
      description: Devuelve una aplicación OAuth activa. Requiere `oauth_clients:read` y la función beta de OAuth.
      responses:
        '200':
          description: Cliente OAuth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: La solicitud ha fallado o la función no está disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateOAuthClient
      summary: Actualizar un cliente de OAuth
      description: Actualiza los metadatos, permisos o URI de redirección de la aplicación OAuth. Se requiere `oauth_clients:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientUpdateRequest'
      responses:
        '200':
          description: Cliente de OAuth actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: La solicitud ha fallado o la función no está disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhook-endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/WebhookEndpointId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWebhookEndpoint
      summary: Eliminar un endpoint de webhook
      description: Desactiva de forma lógica un endpoint de webhook y detiene las entregas futuras. Requiere `settings:write`.
      responses:
        '200':
          description: Endpoint de webhook eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointDeleteResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWebhookEndpoint
      summary: Obtener un endpoint de webhook
      description: Devuelve un endpoint asíncrono de webhook sin su secreto de firma. Requiere `settings:read`.
      responses:
        '200':
          description: Endpoint de webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWebhookEndpoint
      summary: Actualizar un endpoint de webhook
      description: Actualiza la configuración de entrega del endpoint. Se requiere `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
      responses:
        '200':
          description: Endpoint de webhook actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: Revocar un token SCIM
      description: Revoca un token de aprovisionamiento. Requiere `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Token revocado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceNotificationDestination
      summary: Eliminar un destino de notificación
      description: Elimina de forma lógica un destino de notificaciones del espacio de trabajo y lo excluye de los enrutamientos futuros.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Destino eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}/test:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: testWorkspaceNotificationDestination
      summary: Probar un destino de notificación guardado
      description: Envía una prueba a través de un destino cifrado existente del espacio de trabajo.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Prueba enviada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationTestResponse'
        default:
          description: La prueba ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guardrails/{id}:
    parameters:
      - $ref: '#/components/parameters/GuardrailId'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGuardrail
      summary: Obtener un guardrail
      description: Devuelve un guardrail y los ID de las claves que tiene asignadas. Requiere `guardrails:read`.
      responses:
        '200':
          description: Detalles del guardrail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDetailResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteGuardrail
      summary: Eliminar un guardrail
      description: Elimina un guardrail y sus asignaciones. Requiere `guardrails:delete`.
      responses:
        '200':
          description: Guardrail eliminado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDeleteResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateGuardrail
      summary: Actualizar barrera de seguridad
      description: Actualiza los campos de políticas de la barrera de seguridad. Requiere `guardrails:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuardrailUpdateRequest'
      responses:
        '200':
          description: Barrera de seguridad actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: Obtener la configuración de SSO del espacio de trabajo
      description: Devuelve la configuración SAML o OIDC personalizada del espacio de trabajo. Requiere `settings:read` y una identidad de propietario o administrador.
      responses:
        '200':
          description: Configuración de SSO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: Actualizar la configuración de SSO del espacio de trabajo
      description: Actualiza la configuración de SAML o de OIDC personalizado. Para habilitar SSO se requiere el complemento de identidad y `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: Configuración de SSO actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: La solicitud falló o se requiere el complemento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: Listar eventos de auditoría de SCIM
      description: Lista la actividad reciente de aprovisionamiento SCIM del espacio de trabajo.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Eventos de auditoría de SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: Listar departamentos del espacio de trabajo
      description: Lista los departamentos administrados manualmente y los sincronizados con el directorio.
      responses:
        '200':
          description: Departamentos del espacio de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: Crear un departamento del espacio de trabajo
      description: Crea un departamento administrado manualmente. Se requiere `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: Departamento creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: Listar asignaciones de grupos del directorio
      description: Lista las asignaciones de grupos aprovisionados a roles y departamentos del espacio de trabajo.
      responses:
        '200':
          description: Asignaciones de grupos del directorio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: Crear una asignación de grupo del directorio
      description: Asigna un grupo aprovisionado a un departamento del espacio de trabajo y a un rol de acceso.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingCreateRequest'
      responses:
        '201':
          description: Asignación de grupo creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOAuthClients
      summary: Listar clientes OAuth
      description: Lista las aplicaciones OAuth activas del espacio de trabajo. Requiere `oauth_clients:read` y la función beta de OAuth.
      responses:
        '200':
          description: Lista de clientes OAuth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientListResponse'
        default:
          description: La solicitud ha fallado o la función no está disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOAuthClient
      summary: Crear un cliente de OAuth
      description: Crea una aplicación OAuth pública o confidencial. Los secretos confidenciales se devuelven una sola vez. Se requieren `oauth_clients:write` y la función beta de OAuth.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientCreateRequest'
      responses:
        '201':
          description: Cliente de OAuth creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientCreateResponse'
        default:
          description: La solicitud ha fallado o la función no está disponible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayFeedback
      summary: Listar comentarios de la pasarela
      description: Lista los comentarios del espacio de trabajo con filtros por objetivo, fecha, calificación y dimensión de metadatos. Requiere `feedback:read`.
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: rating
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: Registros de comentarios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackListResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayFeedback
      summary: Crear comentarios del Gateway
      description: Registra comentarios sobre una solicitud, sesión, preajuste o ejecución de prueba de un preajuste. Requiere `feedback:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayFeedbackCreateRequest'
      responses:
        '201':
          description: Comentarios registrados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback/summary:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: summarizeGatewayFeedback
      summary: Resumir los comentarios de la pasarela
      description: Agrupa los comentarios del espacio de trabajo por preset, ejecución de prueba o dimensión de metadatos.
      parameters:
        - name: group_by
          in: query
          schema:
            type: string
            enum:
              - preset
              - preset_id
              - test_run
              - test_run_id
              - metadata
            default: preset
        - name: metadata_key
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Resumen de comentarios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackSummaryResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /events:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayObservabilityEvents
      summary: Listar eventos de observabilidad de la pasarela
      description: Lista eventos personalizados de resultados y comportamiento del espacio de trabajo. Requiere `feedback:read`.
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: Eventos de observabilidad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventListResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayObservabilityEvent
      summary: Crear evento de observabilidad
      description: Registra un resultado o evento de comportamiento personalizado vinculado a una solicitud, sesión, preajuste o ejecución de prueba. Requiere `feedback:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayObservabilityEventCreateRequest'
      responses:
        '201':
          description: Evento registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      x-beta: true
      tags:
        - Gateway
      operationId: getHealth
      summary: Comprobación de estado
      description: Devuelve un resumen mínimo del estado de la pasarela.
      responses:
        '200':
          description: Estado de salud de la pasarela
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: Listar proveedores
      description: Devuelve una lista de proveedores de API disponibles.
      parameters:
        - name: limit
          in: query
          description: Limitar el número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Desplazamiento para la paginación
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista de proveedores
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: Obtener una generación
      description: Recupera una generación específica por su ID.
      parameters:
        - name: id
          in: query
          required: true
          description: ID de la generación
          schema:
            type: string
      responses:
        '200':
          description: Datos de la generación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: No encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: Crear una finalización de chat
      description: Crea una finalización para el mensaje de chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Herramienta de servidor de fecha y hora integrada
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: Respuesta de finalización de chat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      tags:
        - Gateway
      operationId: createResponse
      summary: Crear una respuesta
      description: Crea una respuesta mediante Responses API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Herramienta de servidor de fecha y hora integrada
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: Respuesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: Crear un mensaje
      description: Crea un mensaje mediante la API Anthropic Messages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Herramienta de servidor de fecha y hora integrada
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: Respuesta del mensaje
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: Crear una sesión de audio en tiempo real
      description: Crea una sesión de audio en tiempo real con medición de uso y devuelve los datos de conexión del relé.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Sesión en tiempo real creada
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: Global routing
        - url: https://eu.api.phaseo.app/v1
          description: EU regional provider routing (text only)
        - url: https://us.api.phaseo.app/v1
          description: US regional provider routing (text only)
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: Listar modelos de la pasarela
      description: Devuelve los modelos compartidos y visibles de la pasarela. De forma predeterminada, muestra los modelos que se pueden enrutar públicamente; usa `availability=all` para incluir registros de disponibilidad que no se pueden enrutar.
      parameters:
        - name: search
          in: query
          description: Case-insensitive search across model ids, names, descriptions, and organisations.
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: Case-insensitive provider or model-organisation search.
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: Require a supported input modality.
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: Require at least this many input context tokens.
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: Maximum USD input-token price per million tokens.
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: Return only models with at least one routable gateway offer.
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: Field used to order model discovery results.
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: Optional sort direction. Price sorts default to ascending; other numeric sorts default to descending.
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: Filtrar por endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrar por organización
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrar por ID del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar por estado de despliegue del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del proveedor
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del modelo
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar por estado de capacidades del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar por estado de disponibilidad del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar por motivo de disponibilidad del proveedor
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar por estado del modelo
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrar por tipos de entrada
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: Alias público de `input_types`.
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrar por tipos de salida
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: Alias público de `output_types`.
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrar por parámetros
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Alias público de `params`.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtro de disponibilidad. `active` devuelve solo los modelos enrutables públicamente; `all` incluye registros de disponibilidad no enrutables.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limitar el número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Desplazamiento para la paginación
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Formato de respuesta. De forma predeterminada, es `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Acepta `json`, `rss` o `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Lista de modelos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Feed XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Feed XML Atom
        '400':
          description: Parámetros de solicitud no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: Listar las capacidades de los endpoints del modelo
      description: Devuelve filas de endpoints específicas del proveedor para un modelo, incluidos los paths públicos, las modalidades, los parámetros compatibles, la disponibilidad, el estado de enrutamiento, los slugs del modelo del proveedor y los resúmenes de precios de los endpoints.
      parameters:
        - name: author
          in: path
          required: true
          description: Segmento del autor o la organización del modelo.
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: Segmento del slug del modelo.
          schema:
            type: string
        - name: provider
          in: query
          description: Filtrar por ID del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar por estado de despliegue del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del modelo.
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar por estado de capacidades del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar por estado de disponibilidad del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar por motivo de disponibilidad del proveedor.
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar por estado del ciclo de vida canónico del modelo.
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: Filtrar las filas de endpoints por nombres de parámetros compatibles o sus alias.
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` devuelve las filas de endpoints enrutables públicamente; `all` también incluye las que están próximas y las inactivas.'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: Filas de capacidades de endpoints del modelo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: Parámetros de solicitud no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No se encontró el modelo con los filtros de disponibilidad y proveedor solicitados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: Listar modelos de la pasarela del equipo
      description: Devuelve los modelos de la pasarela del equipo. De forma predeterminada, muestra los modelos enrutables públicamente; usa `availability=all` para incluir registros de disponibilidad que no se pueden enrutar.
      parameters:
        - name: endpoints
          in: query
          description: Filtrar por endpoints
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: Filtrar por organización
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: Filtrar por ID del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: Filtrar por estado de despliegue del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del proveedor
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: Filtrar por estado de enrutamiento del modelo
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: Filtrar por estado de capacidades del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: Filtrar por estado de disponibilidad del proveedor
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: Filtrar por motivo de disponibilidad del proveedor
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: Filtrar por estado del modelo
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: Filtrar por tipos de entrada
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: Filtrar por tipos de salida
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: Filtrar por parámetros
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: Filtro de disponibilidad. `active` devuelve solo los modelos enrutables públicamente; `all` incluye registros de disponibilidad no enrutables.
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: Limitar el número de resultados
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: Desplazamiento para la paginación
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: Formato de respuesta. De forma predeterminada, es `json`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: Alias de `format`. Acepta `json`, `rss` o `atom`.
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: Lista de modelos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: Feed XML RSS 2.0
            application/atom+xml:
              schema:
                type: string
                description: Feed XML Atom
        '400':
          description: Parámetros de solicitud no válidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: Conectar el relé en tiempo real
      description: Actualiza a un relé WebSocket usando el secreto del relé de sesión como subprotocolo.
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: Conexión WebSocket establecida
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: Finalizar la sesión de audio en tiempo real
      description: Finaliza la medición y libera cualquier reserva de crédito restante de una sesión en tiempo real.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Sesión en tiempo real y liquidación finalizadas
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: Obtener el estado de la generación de música
      description: Obtiene un resultado musical normalizado mediante el ID de solicitud de Phaseo devuelto por POST /music/generate. Las API de estado específicas del proveedor se gestionan internamente.
      parameters:
        - name: music_id
          in: path
          required: true
          description: ID de solicitud estable de Phaseo devuelto por POST /music/generate.
          schema:
            type: string
      responses:
        '200':
          description: Respuesta del estado de generación de música
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: Recuperar un archivo
      description: Recupera los metadatos de un archivo que pertenece al espacio de trabajo autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID del archivo que se va a recuperar.
          schema:
            type: string
      responses:
        '200':
          description: Metadatos del archivo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: El archivo no se encuentra o no pertenece al espacio de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: Descargar el contenido del archivo
      description: Recupera el contenido binario de un archivo cargado anteriormente que pertenece al espacio de trabajo autenticado.
      parameters:
        - name: file_id
          in: path
          required: true
          description: ID del archivo que se va a recuperar.
          schema:
            type: string
      responses:
        '200':
          description: Contenido del archivo
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Archivo no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: Exportar analíticas del espacio de trabajo
      description: Exporta el conjunto completo de analíticas filtradas como CSV compatible con hojas de cálculo.
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Exportación de analíticas en CSV
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: Filtro de analíticas no válido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: Consultar créditos
      description: Devuelve los créditos restantes y las estadísticas de uso del espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      parameters:
        - name: workspace_id
          in: query
          description: Sobrescritura opcional del espacio de trabajo. Debe coincidir con el espacio autenticado, salvo que se use un llamante interno de control.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Información de créditos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Prohibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: Listar claves de API
      description: Muestra las claves de API del espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      parameters:
        - name: include_disabled
          in: query
          description: Indica si se deben incluir en la respuesta las claves pausadas o bloqueadas temporalmente.
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: Número de claves de API que se omiten para la paginación.
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Número máximo de claves de API que se devolverán.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: Sobrescritura opcional del espacio de trabajo. Debe coincidir con el espacio autenticado, salvo que se use un llamante interno de control.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de claves de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Prohibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: Crear una nueva clave de API
      description: Crea una nueva clave de API en el espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: Clave de API creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Prohibido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: Obtener una clave de API
      description: Devuelve los metadatos de una clave de API del espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador o hash de la clave de API.
          schema:
            type: string
      responses:
        '200':
          description: Metadatos de la clave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No se encontró la clave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: Actualizar una clave de API
      description: Actualiza los metadatos o el estado de una clave de API. Se requiere una clave de API de gestión.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador o hash de la clave de API.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: Metadatos de la clave de API actualizados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No se encontró la clave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: Eliminar una clave de API
      description: Elimina una clave de API del espacio de trabajo autenticado. Se requiere una clave de API de gestión.
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador o hash de la clave de API.
          schema:
            type: string
      responses:
        '200':
          description: Clave de API eliminada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No se encontró la clave de API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: Rotar una clave de API
      description: Crea un reemplazo con los mismos límites y permite establecer opcionalmente la caducidad de la clave anterior. El secreto de reemplazo se devuelve una sola vez. Se requiere `keys:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: Clave de API rotada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: La rotación falló
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: Invalidar la caché de claves de API
      description: Actualiza el estado global de las políticas en caché de una clave de API del espacio de trabajo. Requiere una llamada autenticada de gestión del espacio de trabajo.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Caché invalidada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: La invalidación falló
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: Obtener la configuración de SCIM del espacio de trabajo
      description: Devuelve el estado del endpoint, los metadatos del token, el recuento de objetos aprovisionados y el evento SCIM más reciente.
      responses:
        '200':
          description: Configuración de SCIM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: Habilitar o deshabilitar SCIM
      description: Actualiza el endpoint SCIM del espacio de trabajo. Para habilitar SCIM se requiere el complemento de identidad y `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: Endpoint SCIM actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: La solicitud falló o se requiere el complemento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: Crear un token SCIM
      description: Crea un token de aprovisionamiento. El token sin procesar se devuelve una sola vez. Se requieren el complemento de identidad y `settings:write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: Token SCIM creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: La solicitud falló o se requiere el complemento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: Obtener el directorio del espacio de trabajo
      description: Devuelve los departamentos empresariales y los permisos efectivos de los miembros. Se requieren el complemento de identidad, `settings:read` y una identidad con rol `owner` o `admin`.
      responses:
        '200':
          description: Directorio del espacio de trabajo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: La solicitud falló o se requiere el complemento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: Actualizar una excepción de miembro del directorio
      description: Establece o elimina las excepciones de rol y departamento efectivas de un miembro del espacio de trabajo. Se requiere `settings:write`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: Excepción de miembro actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: Establecer una pertenencia manual a un departamento
      description: Añade o actualiza la pertenencia manual de un usuario del espacio de trabajo a un departamento.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: Pertenencia actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: La solicitud ha fallado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: Eliminar una pertenencia manual a un departamento
      description: Elimina la pertenencia manual a un departamento sin cambiar la pertenencia sincronizada con el directorio.
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Pertenencia eliminada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: La solicitud ha fallado
[...]
