openapi: 3.0.3
info:
  title: Phaseo Gateway API
  description: 通过兼容 OpenAI 的端点访问各种 AI 模型的网关 API。
  version: 1.0.0
  contact:
    name: Phaseo
    url: https://phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
    description: 全球路由
security:
  - BearerAuth: []
paths:
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: 全球路由
        - url: https://eu.api.phaseo.app/v1
          description: 欧盟区域提供商路由（仅文本）
        - url: https://us.api.phaseo.app/v1
          description: 美国区域提供商路由（仅文本）
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: 列出网关模型
      description: 返回共享且未隐藏的网关模型。默认返回当前可公开路由的模型；使用 `availability=all` 可包含不可路由的可用性记录。
      parameters:
        - name: search
          in: query
          description: 在模型 ID、名称、描述和组织中搜索，不区分大小写。
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: 搜索提供商或模型组织，不区分大小写。
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: 要求支持指定的输入模态。
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: 要求输入上下文至少支持此数量的 token。
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: 每百万输入 token 的最高价格（美元）。
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: 仅返回至少有一个可路由网关服务的模型。
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: 用于对模型发现结果排序的字段。
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: 可选的排序方向。价格默认升序，其他数值默认降序。
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: 按端点筛选
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: 按组织筛选
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: 按提供商 ID 筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: 按提供商推出状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: 按提供商路由状态筛选
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: 按模型路由状态筛选
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: 按提供商能力状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: 按提供商可用状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: 按提供商可用原因筛选
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: 按模型状态筛选
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: 按输入类型筛选
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: '`input_types` 的公共别名。'
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: 按输出类型筛选
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: '`output_types` 的公共别名。'
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: 按参数筛选
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: '`params` 的公共别名。'
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: 可用性筛选器。`active` 仅返回可公开路由的模型；`all` 还包含不可路由的可用性记录。
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: 限制结果数量
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: 分页偏移量
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: 响应格式。默认为 `json`。
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` 的别名。接受 `json`、`rss` 或 `atom`。'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: 模型列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML 源
            application/atom+xml:
              schema:
                type: string
                description: Atom XML 源
        '400':
          description: 请求参数无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: 列出模型端点能力
      description: 返回单个模型的提供商特定端点行，包括公共路径、模态、支持的参数、可用性、路由状态、提供商模型 slug 和端点定价摘要。
      parameters:
        - name: author
          in: path
          required: true
          description: 模型作者或组织段。
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: 模型 slug 段。
          schema:
            type: string
        - name: provider
          in: query
          description: 按提供商 ID 筛选。
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: 按提供商推出状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: 按提供商路由状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: 按模型路由状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: 按提供商能力状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: 按提供商可用状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: 按提供商可用原因筛选。
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: 按模型规范生命周期状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: 按支持的参数名称或别名筛选端点行。
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` 返回可公开路由的端点行；`all` 还包括即将推出和停用的行。'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: 模型端点能力行
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: 请求参数无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到符合所请求可用性和提供商筛选条件的模型
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: 列出团队范围的网关模型
      description: 返回团队范围的网关模型列表。默认返回当前可公开路由的模型；使用 `availability=all` 可包含不可路由的可用性记录。
      parameters:
        - name: endpoints
          in: query
          description: 按端点筛选
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: 按组织筛选
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: 按提供商 ID 筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: 按提供商推出状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: 按提供商路由状态筛选
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: 按模型路由状态筛选
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: 按提供商能力状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: 按提供商可用状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: 按提供商可用原因筛选
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: 按模型状态筛选
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: 按输入类型筛选
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: 按输出类型筛选
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: 按参数筛选
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: 可用性筛选器。`active` 仅返回可公开路由的模型；`all` 还包含不可路由的可用性记录。
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: 限制结果数量
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: 分页偏移量
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: 响应格式。默认为 `json`。
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` 的别名。接受 `json`、`rss` 或 `atom`。'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: 模型列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML 源
            application/atom+xml:
              schema:
                type: string
                description: Atom XML 源
        '400':
          description: 请求参数无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: 列出提供商
      description: 返回可用 API 提供商列表。
      parameters:
        - name: limit
          in: query
          description: 限制结果数量
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: 分页偏移量
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 提供商列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: 错误
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: 获取生成记录
      description: 根据 ID 获取指定的生成记录。
      parameters:
        - name: id
          in: query
          required: true
          description: 生成记录 ID
          schema:
            type: string
      responses:
        '200':
          description: 生成记录数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: 未找到
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: 全球路由
        - url: https://eu.api.phaseo.app/v1
          description: 欧盟区域提供商路由（仅文本）
        - url: https://us.api.phaseo.app/v1
          description: 美国区域提供商路由（仅文本）
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: 创建聊天补全
      description: 为聊天消息创建补全结果。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: 聊天补全响应
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: 全球路由
        - url: https://eu.api.phaseo.app/v1
          description: 欧盟区域提供商路由（仅文本）
        - url: https://us.api.phaseo.app/v1
          description: 美国区域提供商路由（仅文本）
      tags:
        - Gateway
      operationId: createResponse
      summary: 创建响应
      description: 使用 Responses API 创建响应。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: 响应
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /async/{kind}/{id}/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openAsyncJobWebSocket
      summary: Open async job websocket
      description: |
        Opens a persistent websocket session for owned async batch or video job updates.
        WebSocket handshake uses HTTP GET upgrade semantics and returns `101 Switching Protocols` on success (not `200`). The socket emits a `job.snapshot` immediately after upgrade and subsequent `job.updated` envelopes when the normalized async job payload changes.
        If `close_on_terminal` is enabled, the gateway closes the socket after a terminal `completed`, `failed`, `cancelled`, or `expired` update.
      parameters:
        - name: kind
          in: path
          required: true
          description: Async job kind.
          schema:
            type: string
            enum:
              - batch
              - video
        - name: id
          in: path
          required: true
          description: Gateway-owned async job id.
          schema:
            type: string
        - name: interval_ms
          in: query
          required: false
          description: Polling interval used by the websocket recovery loop.
          schema:
            type: integer
            minimum: 1000
            maximum: 10000
            default: 2500
        - name: close_on_terminal
          in: query
          required: false
          description: Close the socket after a terminal lifecycle update.
          schema:
            type: boolean
            default: true
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketClientEvent'
            serverEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketServerEvent'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Async job not found or not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobWebSocketUpgradeRequiredResponse'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: 全球路由
        - url: https://eu.api.phaseo.app/v1
          description: 欧盟区域提供商路由（仅文本）
        - url: https://us.api.phaseo.app/v1
          description: 美国区域提供商路由（仅文本）
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: 创建消息
      description: 使用 Anthropic Messages API 创建消息。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: 消息响应
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: 创建嵌入向量
      description: 创建表示输入文本的嵌入向量。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: 嵌入向量响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: 执行审核
      description: 判断文本是否违反 OpenAI 的使用政策。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: 审核响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: 对文档重新排序
      description: 根据文档与查询的相关性重新排序文档列表。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: 重新排序响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: 作出结构化决策
      description: 新调用请使用兼容 OpenAI 的格式：input 包含文本或带有内联 input_image 的用户消息，questions 是按顺序排列的 predicate、choice 或 score 问题数组。回答保持相同顺序及可选名称。布尔选项仍为布尔值。不支持托管图片 URL；Luna 支持最多128张内联图片，其他提供商有各自的限制。显式图片细节和 safety_identifier 需要 OpenAI 路由。原有的 state、命名问题映射、noul 和 criteria 格式仍受支持，并返回回答映射。Together Tev 返回不含概率的标签，因此需要原有格式。原有示例仍然有效。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionCreateRequest'
      responses:
        '200':
          description: 结构化决策响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionCreateResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: 生成语音
      description: 根据输入文本生成音频。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: 音频文件
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: 创建转录
      description: 将音频转写为输入语言。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: 转录响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: 创建翻译
      description: 将音频翻译成英语。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: 翻译响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: 创建实时音频会话
      description: 创建计量实时音频会话，并返回中继连接信息。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: 实时会话已创建
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: 连接实时中继
      description: 使用会话中继密钥作为子协议升级到 WebSocket 中继。
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket 连接已建立
  /audio/realtime/sessions/{session_id}/connected:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: markRealtimeSessionConnected
      x-excluded: true
      summary: Mark realtime session connected
      description: Records that the upstream realtime relay connection has been established.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/extend:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: extendRealtimeSession
      x-excluded: true
      summary: Extend realtime session credit hold
      description: Extends the reserved credit for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_reserved_nanos:
                  type: integer
                  minimum: 1
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/usage:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: updateRealtimeSessionUsage
      x-excluded: true
      summary: Update realtime session usage
      description: Records the latest metered usage for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usage:
                  type: object
                  additionalProperties: true
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: 完成实时音频会话
      description: 完成实时会话的计量，并释放任何剩余的额度预留。
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: 实时会话和结算已完成
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: 创建图像
      description: 根据提示生成图像。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: 图像响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: 创建图像编辑
      description: 根据原始图像和提示创建编辑或扩展后的图像。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: 图像编辑响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /videos:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideos
      summary: 列出视频
      description: 列出已认证团队的异步视频生成任务。
      parameters:
        - name: limit
          in: query
          description: 返回的视频任务最大数量。默认值为50，上限为200。
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          description: 视频生命周期状态筛选器。可重复该参数或提供逗号分隔的值。
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          description: 返回该页前要跳过的视频任务数量。
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - name: after
          in: query
          description: 按所选顺序返回此视频ID之后的视频任务。
          schema:
            type: string
        - name: order
          in: query
          description: 按创建时间排序视频任务。
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: 视频列表响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: 创建视频
      description: 创建异步视频生成任务。每20秒轮询返回的`polling_url`，直到任务达到终态。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: 视频响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModels
      summary: 列出视频模型能力
      description: 返回数据库支持的视频模型／提供商能力元数据，用于视频试验区和SDK验证。
      parameters:
        - name: params
          in: query
          required: false
          description: 可选的支持参数筛选器。重复参数或传入逗号分隔的列表。接受规范名称和别名，如`resolution`、`size`、`duration`或`duration_seconds`。
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: 视频模型能力列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoModelsResponse'
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: 获取视频状态
      description: 获取视频生成请求的状态。除非使用Webhook，否则每20秒轮询一次。
      parameters:
        - name: video_id
          in: path
          required: true
          description: 视频生成请求的ID。
          schema:
            type: string
      responses:
        '200':
          description: 视频状态响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: 删除视频
      description: 将终态视频生成记录标记为已删除。进行中的任务无法删除。
      parameters:
        - name: video_id
          in: path
          required: true
          description: 视频生成请求的ID。
          schema:
            type: string
      responses:
        '200':
          description: 视频删除响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideo
      summary: 取消视频
      description: 目前所有提供商均禁用视频取消功能。
      parameters:
        - name: video_id
          in: path
          required: true
          description: Phaseo内部视频任务ID（`G-...`）。
          schema:
            type: string
      responses:
        '501':
          description: 视频取消功能已禁用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: 获取视频内容
      description: 下载已渲染的视频内容。
      parameters:
        - name: video_id
          in: path
          required: true
          description: 视频生成请求的ID。
          schema:
            type: string
      responses:
        '200':
          description: 视频内容
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /videos/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrl
      summary: 创建签名视频下载URL
      description: 返回已渲染视频的第一方签名下载URL。
      parameters:
        - name: video_id
          in: path
          required: true
          description: 视频生成请求的ID。
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: 签名下载URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: 执行 OCR
      description: 使用所请求的模型从图像中提取文本。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCR 响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: 解析文档图像
      description: 将文档图像解析为 Markdown 或有序内容块。当前的 Cohere Parse API 接受远程图像 URL 和 base64 图像数据 URI；暂不支持 PDF 和文件 URL 输入。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: 已解析的文档
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: 生成音乐
      description: 通过一个与提供商无关的端点生成音乐。Phaseo 会等待同步提供商完成，并在内部处理提供商队列的轮询。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: 音乐生成响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: 获取音乐生成状态
      description: 使用 POST /music/generate 返回的 Phaseo 请求 ID 获取标准化音乐结果。提供商特定的状态 API 由内部处理。
      parameters:
        - name: music_id
          in: path
          required: true
          description: POST /music/generate 返回的稳定 Phaseo 请求 ID。
          schema:
            type: string
      responses:
        '200':
          description: 音乐生成状态响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: 上传文件
      description: '`/batches/files`的兼容别名。上传文件以进行批处理，并返回上游文件元数据。传入`model`以便AI Stats推断上游提供商。对于同时省略`model`和`provider`的旧客户端，默认使用OpenAI。'
      parameters:
        - name: model
          in: query
          required: false
          description: 用于推断上游批处理文件提供商的模型ID。
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: 用于上游文件上传的高级提供商覆盖设置。
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-ai-stats-provider
          in: header
          required: false
          description: 查询参数`provider`的请求头替代方式。
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: 已上传文件元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: 上游提供商错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: 列出文件
      description: 使用共享网关密钥时，此接口目前会返回 `not_supported`。请改为保存已上传文件的 ID，并直接获取文件。
      responses:
        '400':
          description: 当前网关模式不支持列出文件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: 检索文件
      description: 获取属于已认证工作区的文件元数据。
      parameters:
        - name: file_id
          in: path
          required: true
          description: 要获取的文件 ID。
          schema:
            type: string
      responses:
        '200':
          description: 文件元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到文件，或文件不属于该工作区
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: 下载文件内容
      description: 获取属于已认证工作区的已上传文件的二进制内容。
      parameters:
        - name: file_id
          in: path
          required: true
          description: 要获取的文件 ID。
          schema:
            type: string
      responses:
        '200':
          description: 文件内容
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到文件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatches
      summary: 列出批处理任务
      description: 从网关持久化异步任务存储中列出已认证工作区拥有的异步批处理任务。
      parameters:
        - name: limit
          in: query
          description: 返回的批处理任务最大数量。默认值为20，上限为100。
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: 批处理生命周期状态筛选器。可重复参数、使用逗号分隔的状态值，或使用statuses指定逗号分隔的筛选值。
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: statuses
          in: query
          description: 逗号分隔的生命周期状态筛选器。
          schema:
            type: string
        - name: offset
          in: query
          description: 返回该页前要跳过的批处理任务数量。
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: 批处理列表响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: 创建批处理
      description: 创建异步批处理任务并返回上游批处理对象。通过请求的`model`支持OpenAI、Anthropic、Google Gemini、Mistral、xAI、Groq和Together AI。网关从模型推断上游提供商，并接受用于可观测性和异步通知的`session_id`和`webhook`。`provider`仅应作为高级路由约束使用。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: 批处理状态响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchModels
      summary: 列出批处理模型能力
      description: 返回数据库支持的批处理模型／提供商能力元数据，包括允许的输入端点和完成时间窗口等受支持批处理参数。
      parameters:
        - name: params
          in: query
          required: false
          description: 可选的支持参数筛选器。重复参数或传入逗号分隔的列表。接受规范名称和别名，如`endpoint`、`request_endpoint`、`completion_window`或`window`。
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: 批处理模型能力列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchModelsResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/capabilities:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchCapabilities
      summary: 列出批处理提供商能力
      description: 返回各提供商对文件上传和请求列表批处理创建的输入模式支持情况。
      responses:
        '200':
          description: 批处理提供商能力列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchProviderCapability'
  /batches/files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchFiles
      summary: 列出批处理文件
      description: 由于不支持列出共享网关密钥文件，因此返回错误。请改用ID直接获取工作区拥有的文件。
      responses:
        '400':
          description: 不支持列出文件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadBatchFile
      summary: 上传批处理文件
      description: 上传提供商文件以进行批处理，并在已认证工作区中记录所有权。传入`model`以便Phaseo推断上游提供商。同时省略`model`和`provider`时默认使用OpenAI。
      parameters:
        - name: model
          in: query
          required: false
          description: 用于推断上游批处理文件提供商的模型ID。
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: 用于上游文件上传的高级提供商覆盖设置。
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-phaseo-provider
          in: header
          required: false
          description: 查询参数`provider`的请求头替代方式。
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: 已上传文件元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: 上游提供商错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFile
      summary: 获取批处理文件
      description: 获取已认证工作区拥有的批处理文件的元数据。
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 文件元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到文件，或文件不属于该工作区
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFileContent
      summary: 获取批处理文件内容
      description: 获取已认证工作区拥有的批处理文件的内容。
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 文件内容
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到文件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: 获取批处理
      description: 获取先前创建的批处理任务。
      parameters:
        - name: batch_id
          in: path
          required: true
          description: 要获取的批处理ID。
          schema:
            type: string
      responses:
        '200':
          description: 批处理状态响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到批处理
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: 此提供商不支持刷新批处理状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/results:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchResults
      summary: 下载批处理结果
      description: 为已认证工作区拥有的终态批处理，以JSONL流式返回完整的提供商原生结果行。合并成功和错误文件，转换内联输出，并遵循提供商结果分页。请使用Phaseo API密钥。下载不会提交推理或增加使用费用。现有文件端点仍可使用。内联行限制为8 MiB；中断的下载必须丢弃并重新下载。每个工作区每个批处理在滚动30分钟窗口内最多允许10次下载尝试，API密钥和别名共享此限制。失败或取消的上游尝试也计入次数。429响应包含以秒为单位的Retry-After。
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 提供商原始JSONL结果
          content:
            application/x-ndjson:
              schema:
                type: string
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 批处理预览访问被拒绝
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到批处理
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 批处理结果尚未就绪
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 已超出批处理下载限制
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              description: 允许再次下载前的秒数
              schema:
                type: integer
        '501':
          description: 此提供商不支持直接下载结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: 无法获取提供商结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: 下载准入暂时不可用；请在30秒后重试
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              schema:
                type: integer
  /batches/{batch_id}/requests:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchRequests
      summary: 列出批处理请求行
      description: 列出自有批处理任务中跟踪的各请求行。
      parameters:
        - name: batch_id
          in: path
          required: true
          description: 批处理ID。
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 批处理请求行列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  batch_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchRequestRow'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到批处理
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatch
      summary: 取消批处理
      description: 取消批处理请求。
      parameters:
        - name: batch_id
          in: path
          required: true
          description: 要取消的批处理ID。
          schema:
            type: string
      responses:
        '200':
          description: 批处理状态响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到批处理
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: 此提供商不支持取消批处理
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivityAlias
      summary: 获取工作区分析
      description: 返回最近30个完整UTC日按日期、模型、提供商和端点分组的成本、请求和令牌汇总。
      parameters:
        - name: date
          in: query
          description: 按最近30个完整日中的单个UTC日期筛选（YYYY-MM-DD）。
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          description: 支出切片中包含的请求标签键。必须与label_value一起提供。
          schema:
            type: string
            maxLength: 64
            pattern: ^[A-Za-z0-9_.:-]{1,64}$
        - name: label_value
          in: query
          description: 支出切片中包含的请求标签值。必须与label_key一起提供。
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          description: 按API密钥标识符筛选。
          schema:
            type: string
        - name: end_user_id
          in: query
          description: 按应用定义的最终用户标识符筛选。
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          description: 按请求或路由的规范模型标识筛选。
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          description: 按提供商标识筛选。
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          description: 按网关端点标识符筛选。
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          description: 筛选托管或BYOK流量。
          schema:
            type: boolean
        - name: success
          in: query
          description: 筛选成功或失败的请求。
          schema:
            type: boolean
        - $ref: '#/components/parameters/Offset'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
      responses:
        '200':
          description: 已获取
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 禁止访问错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 内部服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: 导出工作区分析数据
      description: 将筛选后的完整分析汇总导出为可安全用于电子表格的 CSV 文件。
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: CSV 分析数据导出
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: 分析筛选条件无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: 查询额度
      description: 返回已认证工作区的剩余额度和用量统计。需要管理 API 密钥。
      parameters:
        - name: workspace_id
          in: query
          description: 可选的工作区覆盖值。除非由内部控制调用方使用，否则必须与已认证的工作区一致。
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 额度信息
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 禁止访问
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCurrentApiKey
      summary: 获取当前API密钥
      description: 返回当前已认证的标准Gateway API密钥元数据。
      responses:
        '200':
          description: 当前API密钥元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到 API 密钥
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: 列出 API 密钥
      description: 列出经身份验证的工作区的 API 密钥。需要管理 API 密钥。
      parameters:
        - name: include_disabled
          in: query
          description: 指定响应中是否包含已暂停或软封禁的密钥。
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: 分页时要跳过的 API 密钥数量。
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: 要返回的 API 密钥最大数量。
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: 可选的工作区覆盖值。除非由内部控制调用方使用，否则必须与已认证的工作区一致。
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API 密钥列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 禁止访问
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: 创建新的 API 密钥
      description: 在经身份验证的工作区中创建新的 API 密钥。需要管理 API 密钥。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API 密钥已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 禁止访问
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: 获取单个 API 密钥
      description: 返回经身份验证的工作区中单个 API 密钥的元数据。需要管理 API 密钥。
      parameters:
        - name: id
          in: path
          required: true
          description: API 密钥标识符或哈希值。
          schema:
            type: string
      responses:
        '200':
          description: API 密钥元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到 API 密钥
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: 更新 API 密钥
      description: 更新 API 密钥的元数据或状态。需要管理 API 密钥。
      parameters:
        - name: id
          in: path
          required: true
          description: API 密钥标识符或哈希值。
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: API 密钥元数据已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到 API 密钥
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: 删除 API 密钥
      description: 删除经身份验证的工作区中的 API 密钥。需要管理 API 密钥。
      parameters:
        - name: id
          in: path
          required: true
          description: API 密钥标识符或哈希值。
          schema:
            type: string
      responses:
        '200':
          description: API 密钥已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到 API 密钥
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: 轮换 API 密钥
      description: 创建具有相同限制的替代密钥，并可选择设置旧密钥的到期时间。替代密钥的机密值仅返回一次。需要 `keys:write`。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: API 密钥已轮换
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: 轮换失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: 使 API 密钥缓存失效
      description: 刷新工作区 API 密钥的全局缓存策略状态。需要经过身份验证的工作区管理调用方。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 缓存已失效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: 失效操作失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: 获取工作区 SSO 设置
      description: 返回工作区的 SAML 或自定义 OIDC 设置。需要 `settings:read` 和所有者或管理员身份。
      responses:
        '200':
          description: SSO 设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: 更新工作区 SSO 设置
      description: 更新 SAML 或自定义 OIDC 设置。启用 SSO 需要 identity 附加组件和 `settings:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: SSO 设置已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: 请求失败或需要附加组件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: 获取工作区 SCIM 设置
      description: 返回端点状态、令牌元数据、已配置对象数量以及最新的 SCIM 事件。
      responses:
        '200':
          description: SCIM 设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: 启用或停用 SCIM
      description: 更新工作区 SCIM 端点。启用 SCIM 需要 identity 附加组件和 `settings:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: SCIM 端点已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: 请求失败或需要附加组件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: 创建 SCIM 令牌
      description: 创建配置令牌。原始令牌仅返回一次。需要 identity 附加组件和 `settings:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: SCIM 令牌已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: 请求失败或需要附加组件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: 撤销 SCIM 令牌
      description: 撤销配置令牌。需要 `settings:write`。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 令牌已撤销
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: 列出 SCIM 审计事件
      description: 列出工作区最近的 SCIM 配置活动。
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: SCIM 审计事件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: 获取工作区目录
      description: 返回企业部门和成员的有效权限。需要 identity 附加组件、`settings:read` 以及 `owner` 或 `admin` 身份。
      responses:
        '200':
          description: 工作区目录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: 请求失败或需要附加组件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: 更新目录成员覆盖项
      description: 设置或清除工作区成员的有效角色和部门覆盖项。需要 `settings:write`。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: 成员覆盖项已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: 列出工作区部门
      description: 列出手动管理和与目录同步的部门。
      responses:
        '200':
          description: 工作区部门
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: 创建工作区部门
      description: 创建手动管理的部门。需要 `settings:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: 部门已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: 更新工作区部门
      description: 更新部门名称、描述、图标或颜色，同时保留其目录映射。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: 部门已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: 删除工作区部门
      description: 删除手动管理的部门。此处无法删除与目录同步的部门。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 部门已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: 设置手动部门成员关系
      description: 添加或更新工作区用户的手动部门成员关系。
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: 成员关系已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: 删除手动部门成员关系
      description: 移除手动部门成员关系，但不更改与目录同步的成员关系。
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 成员关系已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: 列出目录组映射
      description: 列出已配置组到工作区角色和部门的映射。
      responses:
        '200':
          description: 目录组映射
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: 创建目录组映射
      description: 将已配置的组映射到工作区部门和访问角色。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingCreateRequest'
      responses:
        '201':
          description: 组映射已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceGroupMapping
      summary: 更新目录组映射
      description: 更新映射所分配的访问角色或部门位置。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingUpdateRequest'
      responses:
        '200':
          description: 组映射已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceGroupMapping
      summary: 删除目录组映射
      description: 从工作区中移除已配置的组映射。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 组映射已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/settings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceNotificationSettings
      summary: 获取工作区通知设置
      description: 返回自动充值策略、余额不足邮件配置和工作区邮件偏好设置。需要 `settings:read` 以及 `owner` 或 `admin` 身份。
      responses:
        '200':
          description: 通知设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      security: []
      tags:
        - Gateway
      operationId: updateWorkspaceNotificationSettings
      summary: 更新工作区通知设置
      description: 更新一个或多个持久化通知策略区段。启用自动充值需要现有已保存付款方式标识符和已验证的双因素认证。更新现有自动充值配置无需重复MFA确认。要在没有MFA的情况下启用自动充值，客户端必须显式将`mfa_bypass_acknowledged`设为true，并为`mfa_bypass_phrase`提供精确值`I ACCEPT THE RISK`；付款信息收集仍是交互式账户流程。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceNotificationSettingsUpdateRequest'
      responses:
        '200':
          description: 通知设置已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceApps
      summary: 列出工作区应用
      description: 列出自动归属的工作区应用及其可编辑元数据。需要 `settings:read` 权限。
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: 工作区应用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceApp
      summary: 更新工作区应用
      description: 更新已归属应用的显示元数据、目录可见性或启用状态。平台托管的应用无法编辑。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppUpdateRequest'
      responses:
        '200':
          description: 应用已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}/merge:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: mergeWorkspaceApp
      summary: 合并工作区应用
      description: 将源应用的请求历史记录和分析数据原子性地移至同一工作区中的另一个应用，然后删除源应用。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppMergeRequest'
      responses:
        '200':
          description: 应用已合并
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppMergeResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayRequestLogs
      summary: 列出网关请求日志
      description: 列出经身份验证工作区的脱敏请求信息，并支持受限的时间范围和字段筛选。需要 `activity:read`。
      parameters:
        - name: since
          in: query
          schema:
            type: string
            default: 24h
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: provider
          in: query
          schema:
            type: string
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: endpoint
          in: query
          schema:
            type: string
        - name: request_id
          in: query
          schema:
            type: string
        - name: key_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: error_code
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: 请求日志
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{requestId}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGatewayRequestLog
      summary: 获取网关请求日志
      description: 根据请求标识符返回一条脱敏请求记录。
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 请求日志
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayFeedback
      summary: 列出网关反馈
      description: 按目标、日期、评分和元数据维度筛选工作区反馈。需要 `feedback:read`。
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: rating
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
[...]
