openapi: 3.0.3
info:
  title: Phaseo Gateway API
  version: 1.0.0
servers:
  - url: https://api.phaseo.app/v1
    description: Enrutamiento global
security:
  - BearerAuth: []
paths:
  /apps:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceApps
      summary: 列出工作区应用
      description: 列出自动归属的工作区应用及其可编辑元数据。需要 `settings:read` 权限。
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: 工作区应用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /presets/publisher:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetPublisher
      summary: 获取预设发布者标识
      description: 返回工作区公共预设发布者的规范标识。
      responses:
        '200':
          description: 发布者标识
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetPublisher
      summary: 更新预设发布者句柄
      description: 重命名工作区发布者句柄，并将旧句柄保留为别名。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetPublisherUpdateRequest'
      responses:
        '200':
          description: 发布者句柄已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
        '400':
          description: 发布者句柄无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 发布者句柄不可用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: 生成语音
      description: 根据输入文本生成音频。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: 音频文件
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: 创建转录
      description: 将音频转写为输入语言。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: 转录响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: 创建翻译
      description: 将音频翻译成英语。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: 翻译响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: 创建图像
      description: 根据提示生成图像。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: 图像响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: 创建图像编辑
      description: 根据原始图像和提示创建编辑或扩展后的图像。
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: 图像编辑响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: 执行 OCR
      description: 使用所请求的模型从图像中提取文本。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCR 响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: 生成音乐
      description: 通过一个与提供商无关的端点生成音乐。Phaseo 会等待同步提供商完成，并在内部处理提供商队列的轮询。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: 音乐生成响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listEndpoints
      summary: 列出端点
      description: 列出基于能力的网关端点 ID，并提供其公开路径、模态集合、模型数量、提供商数量和示例模型。
      responses:
        '200':
          description: 端点元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointCatalogueResponse'
  /files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: 列出文件
      description: 使用共享网关密钥时，此接口目前会返回 `not_supported`。请改为保存已上传文件的 ID，并直接获取文件。
      responses:
        '400':
          description: 当前网关模式不支持列出文件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPricingModels
      summary: 列出模型定价
      description: 返回有效的提供商和模型定价条目。
      responses:
        '200':
          description: 模型定价列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  models:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '500':
          description: 错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: 执行审核
      description: 判断文本是否违反 OpenAI 的使用政策。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: 审核响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: 创建嵌入向量
      description: 创建表示输入文本的嵌入向量。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: 嵌入向量响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: 对文档重新排序
      description: 根据文档与查询的相关性重新排序文档列表。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: 重新排序响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: 解析文档图像
      description: 将文档图像解析为 Markdown 或有序内容块。当前的 Cohere Parse API 接受远程图像 URL 和 base64 图像数据 URI；暂不支持 PDF 和文件 URL 输入。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: 已解析的文档
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /budgets/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceBudget
      summary: 删除工作区预算
      description: 移除工作区支出上限，并停止在该周期内执行此上限。
      responses:
        '200':
          description: 工作区预算已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetDeleteResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceBudget
      summary: 获取工作区预算
      description: 返回一个工作区支出上限及其当前用量和剩余额度。
      responses:
        '200':
          description: 工作区预算
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceBudget
      summary: 更新工作区预算
      description: 更改现有工作区预算的周期或美元上限。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBudgetUpdateInput'
      responses:
        '200':
          description: 工作区预算已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteProviderCredential
      summary: 删除提供商凭据
      description: 永久删除提供商凭据。重复删除不会造成问题。
      responses:
        '200':
          description: 提供商凭据已删除或原本就不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialDeleteResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProviderCredential
      summary: 获取提供商凭据
      description: 返回安全元数据，不会公开加密字段或原始密钥内容。
      responses:
        '200':
          description: 提供商凭据元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateProviderCredential
      summary: 更新提供商凭据
      description: 更新凭据元数据、筛选器或路由组，或替换只写密钥内容。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialUpdateRequest'
      responses:
        '200':
          description: 提供商凭据已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: 删除工作区部门
      description: 删除手动管理的部门。此处无法删除与目录同步的部门。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 部门已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: 更新工作区部门
      description: 更新部门名称、描述、图标或颜色，同时保留其目录映射。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: 部门已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceGroupMapping
      summary: 删除目录组映射
      description: 从工作区中移除已配置的组映射。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 组映射已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceGroupMapping
      summary: 更新目录组映射
      description: 更新映射所分配的访问角色或部门位置。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingUpdateRequest'
      responses:
        '200':
          description: 组映射已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /data-contribution/classifiers/{id}:
    parameters:
      - $ref: '#/components/parameters/DataContributionClassifierId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteDataContributionClassifier
      summary: 删除数据贡献分类器
      description: 删除自定义分类器。内置的初始分类器无法删除。
      responses:
        '200':
          description: 分类器已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierDeleteResponse'
        default:
          description: 请求失败或功能不可用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateDataContributionClassifier
      summary: 更新数据贡献分类器
      description: 更新自定义工作区分类器。需要 `settings:write` 和功能访问权限。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataContributionClassifierUpdateRequest'
      responses:
        '200':
          description: 分类器已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierResponse'
        default:
          description: 请求失败或功能不可用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/OAuthClientId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteOAuthClient
      summary: 删除 OAuth 客户端
      description: 撤销客户端的有效授权后将其删除。
      responses:
        '200':
          description: OAuth 客户端已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientDeleteResponse'
        default:
          description: 请求失败或功能不可用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getOAuthClient
      summary: 获取 OAuth 客户端
      description: 返回一个有效的 OAuth 应用。需要 `oauth_clients:read` 和 OAuth 测试版功能。
      responses:
        '200':
          description: OAuth 客户端
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: 请求失败或功能不可用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateOAuthClient
      summary: 更新 OAuth 客户端
      description: 更新 OAuth 应用程序元数据、范围或重定向 URI。需要 `oauth_clients:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientUpdateRequest'
      responses:
        '200':
          description: OAuth 客户端已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: 请求失败或功能不可用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhook-endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/WebhookEndpointId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWebhookEndpoint
      summary: 删除 webhook 端点
      description: 软删除 webhook 端点并停止后续投递。需要 `settings:write`。
      responses:
        '200':
          description: webhook 端点已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointDeleteResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWebhookEndpoint
      summary: 获取 webhook 端点
      description: 返回一个不含签名密钥的异步 webhook 端点。需要 `settings:read`。
      responses:
        '200':
          description: webhook 端点
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWebhookEndpoint
      summary: 更新 webhook 端点
      description: 更新端点投递设置。需要 `settings:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
      responses:
        '200':
          description: webhook 端点已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: 撤销 SCIM 令牌
      description: 撤销配置令牌。需要 `settings:write`。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 令牌已撤销
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceNotificationDestination
      summary: 删除通知目标
      description: 软删除工作区通知目标，并将其从后续路由中移除。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 通知目标已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}/test:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: testWorkspaceNotificationDestination
      summary: 测试已保存的通知目标
      description: 通过工作区中现有的加密通知目标发送测试消息。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 测试已发送
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationTestResponse'
        default:
          description: 测试失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guardrails/{id}:
    parameters:
      - $ref: '#/components/parameters/GuardrailId'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGuardrail
      summary: 获取护栏
      description: 返回护栏及分配给它的密钥 ID。需要 `guardrails:read`。
      responses:
        '200':
          description: 护栏详情
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDetailResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteGuardrail
      summary: 删除护栏
      description: 删除护栏及其分配项。需要 `guardrails:delete`。
      responses:
        '200':
          description: 护栏已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDeleteResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateGuardrail
      summary: 更新防护规则
      description: 更新防护规则策略字段。需要 `guardrails:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuardrailUpdateRequest'
      responses:
        '200':
          description: 防护规则已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: 获取工作区 SSO 设置
      description: 返回工作区的 SAML 或自定义 OIDC 设置。需要 `settings:read` 和所有者或管理员身份。
      responses:
        '200':
          description: SSO 设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: 更新工作区 SSO 设置
      description: 更新 SAML 或自定义 OIDC 设置。启用 SSO 需要 identity 附加组件和 `settings:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: SSO 设置已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: 请求失败或需要附加组件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: 列出 SCIM 审计事件
      description: 列出工作区最近的 SCIM 配置活动。
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: SCIM 审计事件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: 列出工作区部门
      description: 列出手动管理和与目录同步的部门。
      responses:
        '200':
          description: 工作区部门
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: 创建工作区部门
      description: 创建手动管理的部门。需要 `settings:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: 部门已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: 列出目录组映射
      description: 列出已配置组到工作区角色和部门的映射。
      responses:
        '200':
          description: 目录组映射
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: 创建目录组映射
      description: 将已配置的组映射到工作区部门和访问角色。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingCreateRequest'
      responses:
        '201':
          description: 组映射已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOAuthClients
      summary: 列出 OAuth 客户端
      description: 列出工作区中的有效 OAuth 应用。需要 `oauth_clients:read` 和 OAuth 测试版功能。
      responses:
        '200':
          description: OAuth 客户端列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientListResponse'
        default:
          description: 请求失败或功能不可用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOAuthClient
      summary: 创建 OAuth 客户端
      description: 创建公共或机密 OAuth 应用程序。机密密钥仅返回一次。需要 `oauth_clients:write` 和 OAuth beta 功能。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientCreateRequest'
      responses:
        '201':
          description: OAuth 客户端已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientCreateResponse'
        default:
          description: 请求失败或功能不可用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayFeedback
      summary: 列出网关反馈
      description: 按目标、日期、评分和元数据维度筛选工作区反馈。需要 `feedback:read`。
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: rating
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: 反馈记录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayFeedback
      summary: 创建 Gateway 反馈
      description: 记录与请求、会话、预设或预设测试运行相关的反馈。需要 `feedback:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayFeedbackCreateRequest'
      responses:
        '201':
          description: 反馈已记录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback/summary:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: summarizeGatewayFeedback
      summary: 汇总网关反馈
      description: 按预设、测试运行或元数据维度汇总工作区反馈。
      parameters:
        - name: group_by
          in: query
          schema:
            type: string
            enum:
              - preset
              - preset_id
              - test_run
              - test_run_id
              - metadata
            default: preset
        - name: metadata_key
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: 反馈摘要
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackSummaryResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /events:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayObservabilityEvents
      summary: 列出网关可观测性事件
      description: 列出工作区自定义的结果和行为事件。需要 `feedback:read`。
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: 可观测性事件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayObservabilityEvent
      summary: 创建可观测性事件
      description: 记录与请求、会话、预设或测试运行关联的自定义结果或行为事件。需要 `feedback:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayObservabilityEventCreateRequest'
      responses:
        '201':
          description: 事件已记录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: 全球路由
        - url: https://eu.api.phaseo.app/v1
          description: 欧盟区域提供商路由（仅文本）
        - url: https://us.api.phaseo.app/v1
          description: 美国区域提供商路由（仅文本）
      x-beta: true
      tags:
        - Gateway
      operationId: getHealth
      summary: 健康检查
      description: 返回网关的最简状态快照。
      responses:
        '200':
          description: 网关健康状态
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: 列出提供商
      description: 返回可用 API 提供商列表。
      parameters:
        - name: limit
          in: query
          description: 限制结果数量
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: 分页偏移量
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 提供商列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: 错误
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: 获取生成记录
      description: 根据 ID 获取指定的生成记录。
      parameters:
        - name: id
          in: query
          required: true
          description: 生成记录 ID
          schema:
            type: string
      responses:
        '200':
          description: 生成记录数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: 未找到
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: 全球路由
        - url: https://eu.api.phaseo.app/v1
          description: 欧盟区域提供商路由（仅文本）
        - url: https://us.api.phaseo.app/v1
          description: 美国区域提供商路由（仅文本）
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: 创建聊天补全
      description: 为聊天消息创建补全结果。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: 内置日期时间服务器工具
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: 聊天补全响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: 全球路由
        - url: https://eu.api.phaseo.app/v1
          description: 欧盟区域提供商路由（仅文本）
        - url: https://us.api.phaseo.app/v1
          description: 美国区域提供商路由（仅文本）
      tags:
        - Gateway
      operationId: createResponse
      summary: 创建响应
      description: 使用 Responses API 创建响应。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: 内置日期时间服务器工具
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: 响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: 全球路由
        - url: https://eu.api.phaseo.app/v1
          description: 欧盟区域提供商路由（仅文本）
        - url: https://us.api.phaseo.app/v1
          description: 美国区域提供商路由（仅文本）
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: 创建消息
      description: 使用 Anthropic Messages API 创建消息。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: 内置日期时间服务器工具
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: 消息响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: 创建实时音频会话
      description: 创建计量实时音频会话，并返回中继连接信息。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: 实时会话已创建
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: 作出结构化决策
      description: 使用 TypeSafe Jev 等决策模型，针对结构化状态评估 Noul、Choice 和 Score 类型的问题。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionsRequest'
      responses:
        '200':
          description: 结构化决策响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionsResponse'
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: 全球路由
        - url: https://eu.api.phaseo.app/v1
          description: 欧盟区域提供商路由（仅文本）
        - url: https://us.api.phaseo.app/v1
          description: 美国区域提供商路由（仅文本）
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: 列出网关模型
      description: 返回共享且未隐藏的网关模型。默认返回当前可公开路由的模型；使用 `availability=all` 可包含不可路由的可用性记录。
      parameters:
        - name: search
          in: query
          description: 在模型 ID、名称、描述和组织中搜索，不区分大小写。
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: 搜索提供商或模型组织，不区分大小写。
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: 要求支持指定的输入模态。
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: 要求输入上下文至少支持此数量的 token。
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: 每百万输入 token 的最高价格（美元）。
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: 仅返回至少有一个可路由网关服务的模型。
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: 用于对模型发现结果排序的字段。
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: 可选的排序方向。价格默认升序，其他数值默认降序。
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: 按端点筛选
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: 按组织筛选
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: 按提供商 ID 筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: 按提供商推出状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: 按提供商路由状态筛选
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: 按模型路由状态筛选
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: 按提供商能力状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: 按提供商可用状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: 按提供商可用原因筛选
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: 按模型状态筛选
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: 按输入类型筛选
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: '`input_types` 的公共别名。'
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: 按输出类型筛选
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: '`output_types` 的公共别名。'
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: 按参数筛选
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: '`params` 的公共别名。'
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: 可用性筛选器。`active` 仅返回可公开路由的模型；`all` 还包含不可路由的可用性记录。
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: 限制结果数量
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: 分页偏移量
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: 响应格式。默认为 `json`。
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` 的别名。接受 `json`、`rss` 或 `atom`。'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: 模型列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML 源
            application/atom+xml:
              schema:
                type: string
                description: Atom XML 源
        '400':
          description: 请求参数无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: 列出模型端点能力
      description: 返回单个模型的提供商特定端点行，包括公共路径、模态、支持的参数、可用性、路由状态、提供商模型 slug 和端点定价摘要。
      parameters:
        - name: author
          in: path
          required: true
          description: 模型作者或组织段。
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: 模型 slug 段。
          schema:
            type: string
        - name: provider
          in: query
          description: 按提供商 ID 筛选。
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: 按提供商推出状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: 按提供商路由状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: 按模型路由状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: 按提供商能力状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: 按提供商可用状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: 按提供商可用原因筛选。
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: 按模型规范生命周期状态筛选。
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: 按支持的参数名称或别名筛选端点行。
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` 返回可公开路由的端点行；`all` 还包括即将推出和停用的行。'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: 模型端点能力行
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: 请求参数无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到符合所请求可用性和提供商筛选条件的模型
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: 列出团队范围的网关模型
      description: 返回团队范围的网关模型列表。默认返回当前可公开路由的模型；使用 `availability=all` 可包含不可路由的可用性记录。
      parameters:
        - name: endpoints
          in: query
          description: 按端点筛选
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: 按组织筛选
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: 按提供商 ID 筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: 按提供商推出状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: 按提供商路由状态筛选
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: 按模型路由状态筛选
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: 按提供商能力状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: 按提供商可用状态筛选
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: 按提供商可用原因筛选
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: 按模型状态筛选
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: 按输入类型筛选
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: 按输出类型筛选
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: 按参数筛选
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: 可用性筛选器。`active` 仅返回可公开路由的模型；`all` 还包含不可路由的可用性记录。
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: 限制结果数量
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: 分页偏移量
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: 响应格式。默认为 `json`。
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` 的别名。接受 `json`、`rss` 或 `atom`。'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: 模型列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML 源
            application/atom+xml:
              schema:
                type: string
                description: Atom XML 源
        '400':
          description: 请求参数无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: 连接实时中继
      description: 使用会话中继密钥作为子协议升级到 WebSocket 中继。
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket 连接已建立
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: 完成实时音频会话
      description: 完成实时会话的计量，并释放任何剩余的额度预留。
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: 实时会话和结算已完成
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: 获取音乐生成状态
      description: 使用 POST /music/generate 返回的 Phaseo 请求 ID 获取标准化音乐结果。提供商特定的状态 API 由内部处理。
      parameters:
        - name: music_id
          in: path
          required: true
          description: POST /music/generate 返回的稳定 Phaseo 请求 ID。
          schema:
            type: string
      responses:
        '200':
          description: 音乐生成状态响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: 检索文件
      description: 获取属于已认证工作区的文件元数据。
      parameters:
        - name: file_id
          in: path
          required: true
          description: 要获取的文件 ID。
          schema:
            type: string
      responses:
        '200':
          description: 文件元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到文件，或文件不属于该工作区
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: 下载文件内容
      description: 获取属于已认证工作区的已上传文件的二进制内容。
      parameters:
        - name: file_id
          in: path
          required: true
          description: 要获取的文件 ID。
          schema:
            type: string
      responses:
        '200':
          description: 文件内容
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到文件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: 导出工作区分析数据
      description: 将筛选后的完整分析汇总导出为可安全用于电子表格的 CSV 文件。
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: CSV 分析数据导出
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: 分析筛选条件无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: 查询额度
      description: 返回已认证工作区的剩余额度和用量统计。需要管理 API 密钥。
      parameters:
        - name: workspace_id
          in: query
          description: 可选的工作区覆盖值。除非由内部控制调用方使用，否则必须与已认证的工作区一致。
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 额度信息
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 禁止访问
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: 列出 API 密钥
      description: 列出经身份验证的工作区的 API 密钥。需要管理 API 密钥。
      parameters:
        - name: include_disabled
          in: query
          description: 指定响应中是否包含已暂停或软封禁的密钥。
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: 分页时要跳过的 API 密钥数量。
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: 要返回的 API 密钥最大数量。
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: 可选的工作区覆盖值。除非由内部控制调用方使用，否则必须与已认证的工作区一致。
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API 密钥列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 禁止访问
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: 创建新的 API 密钥
      description: 在经身份验证的工作区中创建新的 API 密钥。需要管理 API 密钥。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API 密钥已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 禁止访问
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: 获取单个 API 密钥
      description: 返回经身份验证的工作区中单个 API 密钥的元数据。需要管理 API 密钥。
      parameters:
        - name: id
          in: path
          required: true
          description: API 密钥标识符或哈希值。
          schema:
            type: string
      responses:
        '200':
          description: API 密钥元数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到 API 密钥
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: 更新 API 密钥
      description: 更新 API 密钥的元数据或状态。需要管理 API 密钥。
      parameters:
        - name: id
          in: path
          required: true
          description: API 密钥标识符或哈希值。
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: API 密钥元数据已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到 API 密钥
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: 删除 API 密钥
      description: 删除经身份验证的工作区中的 API 密钥。需要管理 API 密钥。
      parameters:
        - name: id
          in: path
          required: true
          description: API 密钥标识符或哈希值。
          schema:
            type: string
      responses:
        '200':
          description: API 密钥已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 未找到 API 密钥
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: 轮换 API 密钥
      description: 创建具有相同限制的替代密钥，并可选择设置旧密钥的到期时间。替代密钥的机密值仅返回一次。需要 `keys:write`。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: API 密钥已轮换
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: 轮换失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: 使 API 密钥缓存失效
      description: 刷新工作区 API 密钥的全局缓存策略状态。需要经过身份验证的工作区管理调用方。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 缓存已失效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: 失效操作失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: 获取工作区 SCIM 设置
      description: 返回端点状态、令牌元数据、已配置对象数量以及最新的 SCIM 事件。
      responses:
        '200':
          description: SCIM 设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: 启用或停用 SCIM
      description: 更新工作区 SCIM 端点。启用 SCIM 需要 identity 附加组件和 `settings:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: SCIM 端点已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: 请求失败或需要附加组件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: 创建 SCIM 令牌
      description: 创建配置令牌。原始令牌仅返回一次。需要 identity 附加组件和 `settings:write`。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: SCIM 令牌已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: 请求失败或需要附加组件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: 获取工作区目录
      description: 返回企业部门和成员的有效权限。需要 identity 附加组件、`settings:read` 以及 `owner` 或 `admin` 身份。
      responses:
        '200':
          description: 工作区目录
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: 请求失败或需要附加组件
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: 更新目录成员覆盖项
      description: 设置或清除工作区成员的有效角色和部门覆盖项。需要 `settings:write`。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: 成员覆盖项已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: 设置手动部门成员关系
      description: 添加或更新工作区用户的手动部门成员关系。
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: 成员关系已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: 删除手动部门成员关系
      description: 移除手动部门成员关系，但不更改与目录同步的成员关系。
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 成员关系已删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/settings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceNotificationSettings
      summary: 获取工作区通知设置
      description: 返回自动充值策略、余额不足邮件配置和工作区邮件偏好设置。需要 `settings:read` 以及 `owner` 或 `admin` 身份。
      responses:
        '200':
          description: 通知设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceApp
      summary: 更新工作区应用
      description: 更新已归属应用的显示元数据、目录可见性或启用状态。平台托管的应用无法编辑。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppUpdateRequest'
      responses:
        '200':
          description: 应用已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}/merge:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: mergeWorkspaceApp
      summary: 合并工作区应用
      description: 将源应用的请求历史记录和分析数据原子性地移至同一工作区中的另一个应用，然后删除源应用。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppMergeRequest'
      responses:
        '200':
          description: 应用已合并
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppMergeResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayRequestLogs
      summary: 列出网关请求日志
      description: 列出经身份验证工作区的脱敏请求信息，并支持受限的时间范围和字段筛选。需要 `activity:read`。
      parameters:
        - name: since
          in: query
          schema:
            type: string
            default: 24h
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: provider
          in: query
          schema:
            type: string
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: endpoint
          in: query
          schema:
            type: string
        - name: request_id
          in: query
          schema:
            type: string
        - name: key_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: error_code
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: 请求日志
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{requestId}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGatewayRequestLog
      summary: 获取网关请求日志
      description: 根据请求标识符返回一条脱敏请求记录。
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 请求日志
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /preset-test-runs:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPresetTestRuns
      summary: 列出预设测试运行
      description: 列出可见的测试运行，并可按预设筛选。需要 `feedback:read`。
      parameters:
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 100
      responses:
        '200':
          description: 预设测试运行
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createPresetTestRun
      summary: 创建预设测试运行
      description: 为预设或基线比较创建工作区测试运行。需要 `feedback:write` 以及 `owner` 或 `admin` 身份。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetTestRunCreateRequest'
      responses:
        '201':
          description: 测试运行已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /preset-test-runs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetTestRun
      summary: 获取预设测试运行
      description: 返回测试运行及其反馈摘要。
      responses:
        '200':
          description: 预设测试运行
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunDetailResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetTestRun
      summary: 更新预设测试运行
      description: 更新测试运行的生命周期状态、摘要、时间戳、名称或描述。需要 `feedback:write` 以及 `owner` 或 `admin` 身份。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetTestRunUpdateRequest'
      responses:
        '200':
          description: 测试运行已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetTestRunResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviderCredentials
      summary: 列出提供商凭据
      description: 返回经身份验证的工作区的只写提供商凭据元数据。
      parameters:
        - name: provider
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: 提供商凭据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createProviderCredential
      summary: 创建提供商凭据
      description: 为经身份验证的工作区加密并存储只写提供商凭据。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialCreateRequest'
      responses:
        '201':
          description: 提供商凭据已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok/reorder:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: reorderProviderCredentials
      summary: 重新排列提供商凭据
      description: 替换单个提供商和路由组的优先顺序。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialReorderRequest'
      responses:
        '200':
          description: 提供商凭据顺序已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialReorderResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /budgets:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceBudgets
      summary: 列出工作区预算
      description: 列出支出上限及其当前用量、剩余额度和重置时间。
      responses:
        '200':
          description: 工作区预算
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceBudget
      summary: 创建工作区预算
      description: 为一个工作区周期创建强制执行的支出上限。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBudgetInput'
      responses:
        '201':
          description: 工作区预算已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceNotificationDestinations
      summary: 列出通知目标
      description: 列出工作区中启用和停用的目标，但不返回加密的目标值。
      responses:
        '200':
          description: 通知目标
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationDestinationListResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceNotificationDestination
      summary: 创建通知目标
      description: 验证并加密电子邮件、聊天或 HTTPS webhook 目标。绝不返回原始目标值。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceNotificationDestinationCreateRequest'
      responses:
        '201':
          description: 目标已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationDestinationResponse'
        default:
          description: 请求失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/test:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: testWorkspaceNotificationDestinationConfig
      summary: 测试通知目标配置
      description: 验证未保存的目标配置并向其发送测试通知。该目标不会被持久化。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceNotificationDestinationTestRequest'
      responses:
        '200':
          description: 测试已发送
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationTestResponse'
        default:
          description: 测试失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/routes:
    get:
      x-beta: true
      tags:
[...]
