openapi: 3.0.3
info:
  title: Phaseo Gateway API
  version: 1.0.0
servers:
  - url: https://api.phaseo.app/v1
security:
  - BearerAuth: []
paths:
  /apps:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceApps
      summary: वर्कस्पेस ऐप सूचीबद्ध करें
      description: स्वचालित रूप से असाइन किए गए वर्कस्पेस ऐप्लिकेशन और उनके संपादन योग्य मेटाडेटा की सूची देता है। इसके लिए `settings:read` अनुमति आवश्यक है।
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        '200':
          description: वर्कस्पेस ऐप्लिकेशन
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppListResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /presets/publisher:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getPresetPublisher
      summary: प्रीसेट प्रकाशक का सार्वजनिक हैंडल प्राप्त करें
      description: वर्कस्पेस के सार्वजनिक प्रीसेट प्रकाशक का मानक हैंडल लौटाता है।
      responses:
        '200':
          description: प्रकाशक का हैंडल
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updatePresetPublisher
      summary: प्रीसेट प्रकाशक हैंडल अपडेट करें
      description: पिछले हैंडल को alias के रूप में रखते हुए कार्यस्थान के प्रकाशक हैंडल का नाम बदलता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresetPublisherUpdateRequest'
      responses:
        '200':
          description: प्रकाशक हैंडल अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetPublisherResponse'
        '400':
          description: अमान्य प्रकाशक हैंडल
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: प्रकाशक हैंडल उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: वाणी उत्पन्न करें
      description: दिए गए पाठ से ऑडियो बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: ऑडियो फ़ाइल
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: ट्रांसक्रिप्शन बनाएँ
      description: ऑडियो को इनपुट भाषा में लिखित रूप देता है।
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: ट्रांसक्रिप्शन प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: अनुवाद बनाएँ
      description: ऑडियो का अंग्रेज़ी में अनुवाद करता है।
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: अनुवाद प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: छवि बनाएँ
      description: दिए गए प्रॉम्प्ट के आधार पर छवि बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: छवि प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: छवि संपादन बनाएँ
      description: मूल छवि और प्रॉम्प्ट के आधार पर संपादित या विस्तारित छवि बनाता है।
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: छवि संपादन प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: OCR चलाएँ
      description: अनुरोधित मॉडल का उपयोग करके छवि से पाठ निकालता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCR प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: संगीत बनाएँ
      description: एक प्रदाता-स्वतंत्र endpoint के माध्यम से संगीत बनाता है। Phaseo सिंक्रोनस प्रदाताओं के पूरा होने तक प्रतीक्षा करता है और उनकी कतारों की जाँच को आंतरिक रूप से संभालता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: संगीत निर्माण प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listEndpoints
      summary: एंडपॉइंट की सूची बनाएँ
      description: क्षमताओं पर आधारित गेटवे endpoint ID की सूची उनके सार्वजनिक पथ, modality संग्रह, मॉडल और प्रदाता की संख्या तथा नमूना मॉडल सहित देता है।
      responses:
        '200':
          description: एंडपॉइंट मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointCatalogueResponse'
  /files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: फ़ाइलों की सूची बनाएँ
      description: साझा गेटवे कुंजी के साथ यह फ़िलहाल `not_supported` लौटाता है। इसके बजाय अपलोड की गई फ़ाइलों के ID सहेजें और उन्हें सीधे प्राप्त करें।
      responses:
        '400':
          description: वर्तमान गेटवे मोड में फ़ाइलों की सूची उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /pricing/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPricingModels
      summary: मॉडल की कीमतों की सूची बनाएँ
      description: सक्रिय प्रदाता और मॉडल मूल्य प्रविष्टियाँ लौटाता है।
      responses:
        '200':
          description: मॉडल मूल्य सूची
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  models:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '500':
          description: त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: मॉडरेशन जाँच करें
      description: जाँचता है कि पाठ OpenAI की उपयोग नीतियों का उल्लंघन करता है या नहीं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: मॉडरेशन प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: एम्बेडिंग बनाएँ
      description: इनपुट पाठ का प्रतिनिधित्व करने वाला embedding वेक्टर बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: एम्बेडिंग प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: दस्तावेज़ों को पुनः क्रमित करें
      description: क्वेरी के संदर्भ में प्रासंगिकता के आधार पर दस्तावेज़ों की सूची को पुनः क्रमित करता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: पुनः क्रमित करने की प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: दस्तावेज़ की छवि का विश्लेषण करें
      description: दस्तावेज़ की छवि को Markdown या क्रमबद्ध सामग्री ब्लॉकों में बदलता है। वर्तमान Cohere Parse API दूरस्थ छवि URL और base64 छवि डेटा URI स्वीकार करती है; PDF और फ़ाइल URL इनपुट अभी समर्थित नहीं हैं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: विश्लेषित दस्तावेज़
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /budgets/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceBudget
      summary: वर्कस्पेस बजट हटाएँ
      description: वर्कस्पेस की खर्च सीमा हटाता है और उस अवधि के लिए उसे लागू करना बंद कर देता है।
      responses:
        '200':
          description: वर्कस्पेस बजट हटा दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetDeleteResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceBudget
      summary: वर्कस्पेस बजट प्राप्त करें
      description: वर्कस्पेस की एक खर्च सीमा के साथ मौजूदा उपयोग और शेष खर्च लौटाता है।
      responses:
        '200':
          description: वर्कस्पेस बजट
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceBudget
      summary: वर्कस्पेस बजट अपडेट करें
      description: मौजूदा वर्कस्पेस बजट का अंतराल या USD सीमा बदलता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceBudgetUpdateInput'
      responses:
        '200':
          description: वर्कस्पेस बजट अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceBudgetResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /byok/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteProviderCredential
      summary: प्रदाता क्रेडेंशियल हटाएँ
      description: प्रदाता क्रेडेंशियल को स्थायी रूप से हटाता है। इसे दोबारा हटाना सुरक्षित है।
      responses:
        '200':
          description: प्रदाता क्रेडेंशियल हटा दिया गया या पहले से मौजूद नहीं था
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialDeleteResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getProviderCredential
      summary: प्रदाता क्रेडेंशियल प्राप्त करें
      description: एन्क्रिप्ट किए गए फ़ील्ड या कच्चे सीक्रेट को उजागर किए बिना सुरक्षित मेटाडेटा लौटाता है।
      responses:
        '200':
          description: प्रदाता क्रेडेंशियल मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateProviderCredential
      summary: प्रदाता क्रेडेंशियल अपडेट करें
      description: क्रेडेंशियल मेटाडेटा, फ़िल्टर या रूटिंग समूह अपडेट करता है, या केवल-लिखने योग्य सीक्रेट बदलता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderCredentialUpdateRequest'
      responses:
        '200':
          description: प्रदाता क्रेडेंशियल अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: वर्कस्पेस विभाग हटाएँ
      description: मैन्युअल रूप से प्रबंधित विभाग हटाता है। डायरेक्टरी से सिंक किए गए विभाग यहाँ नहीं हटाए जा सकते।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: विभाग हटा दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: कार्यस्थान का विभाग अपडेट करें
      description: डायरेक्टरी मैपिंग हटाए बिना विभाग का नाम, विवरण, आइकन या रंग अपडेट करता है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: विभाग अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceGroupMapping
      summary: डायरेक्टरी समूह मैपिंग हटाएँ
      description: वर्कस्पेस से प्रावधान की गई समूह मैपिंग हटाता है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: समूह मैपिंग हटा दी गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceGroupMapping
      summary: डायरेक्टरी समूह मैपिंग अपडेट करें
      description: मैपिंग द्वारा निर्धारित एक्सेस भूमिका या विभाग की स्थिति अपडेट करता है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingUpdateRequest'
      responses:
        '200':
          description: समूह मैपिंग अपडेट की गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /data-contribution/classifiers/{id}:
    parameters:
      - $ref: '#/components/parameters/DataContributionClassifierId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteDataContributionClassifier
      summary: डेटा योगदान वर्गीकारक हटाएँ
      description: कस्टम वर्गीकारक हटाता है। अंतर्निहित शुरुआती वर्गीकारक को हटाया नहीं जा सकता।
      responses:
        '200':
          description: वर्गीकारक हटा दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierDeleteResponse'
        default:
          description: अनुरोध विफल हुआ या सुविधा उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateDataContributionClassifier
      summary: डेटा योगदान classifier अपडेट करें
      description: कस्टम वर्कस्पेस classifier अपडेट करता है। इसके लिए `settings:write` और फ़ीचर एक्सेस आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataContributionClassifierUpdateRequest'
      responses:
        '200':
          description: Classifier अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataContributionClassifierResponse'
        default:
          description: अनुरोध विफल हुआ या फ़ीचर उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/OAuthClientId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteOAuthClient
      summary: OAuth क्लाइंट हटाएँ
      description: क्लाइंट के सक्रिय प्राधिकरण रद्द करने के बाद उसे हटाता है।
      responses:
        '200':
          description: OAuth क्लाइंट हटा दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientDeleteResponse'
        default:
          description: अनुरोध विफल हुआ या सुविधा उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getOAuthClient
      summary: OAuth क्लाइंट प्राप्त करें
      description: एक सक्रिय OAuth एप्लिकेशन लौटाता है। इसके लिए `oauth_clients:read` और OAuth बीटा सुविधा आवश्यक है।
      responses:
        '200':
          description: OAuth क्लाइंट
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: अनुरोध विफल हुआ या सुविधा उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateOAuthClient
      summary: OAuth क्लाइंट अपडेट करें
      description: OAuth ऐप्लिकेशन का मेटाडेटा, स्कोप या रीडायरेक्ट URI अपडेट करता है। `oauth_clients:write` आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientUpdateRequest'
      responses:
        '200':
          description: OAuth क्लाइंट अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          description: अनुरोध विफल हुआ या फ़ीचर उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhook-endpoints/{id}:
    parameters:
      - $ref: '#/components/parameters/WebhookEndpointId'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWebhookEndpoint
      summary: वेबहुक endpoint हटाएँ
      description: वेबहुक endpoint को सॉफ्ट-डिलीट करता है और आगे की डिलीवरी रोकता है। इसके लिए `settings:write` आवश्यक है।
      responses:
        '200':
          description: वेबहुक endpoint हटा दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointDeleteResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWebhookEndpoint
      summary: वेबहुक endpoint प्राप्त करें
      description: हस्ताक्षर रहस्य के बिना एक async वेबहुक endpoint लौटाता है। इसके लिए `settings:read` आवश्यक है।
      responses:
        '200':
          description: वेबहुक endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWebhookEndpoint
      summary: Webhook एंडपॉइंट अपडेट करें
      description: एंडपॉइंट की डिलीवरी सेटिंग अपडेट करता है। `settings:write` आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
      responses:
        '200':
          description: Webhook एंडपॉइंट अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: SCIM टोकन रद्द करें
      description: प्रावधान टोकन रद्द करता है। इसके लिए `settings:write` आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: टोकन रद्द कर दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceNotificationDestination
      summary: सूचना गंतव्य हटाएँ
      description: वर्कस्पेस के सूचना गंतव्य को सॉफ्ट-डिलीट करता है और आगे की रूटिंग से हटाता है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: गंतव्य हटा दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/destinations/{id}/test:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: testWorkspaceNotificationDestination
      summary: सहेजे गए सूचना गंतव्य की जाँच करें
      description: वर्कस्पेस के मौजूदा एन्क्रिप्टेड गंतव्य के माध्यम से परीक्षण भेजता है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: परीक्षण भेज दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationTestResponse'
        default:
          description: परीक्षण विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /guardrails/{id}:
    parameters:
      - $ref: '#/components/parameters/GuardrailId'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGuardrail
      summary: गार्डरेल प्राप्त करें
      description: गार्डरेल और उसे असाइन की गई कुंजी ID लौटाता है। इसके लिए `guardrails:read` आवश्यक है।
      responses:
        '200':
          description: गार्डरेल विवरण
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDetailResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteGuardrail
      summary: गार्डरेल हटाएँ
      description: गार्डरेल और उसके असाइनमेंट हटाता है। इसके लिए `guardrails:delete` आवश्यक है।
      responses:
        '200':
          description: गार्डरेल हटा दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDeleteResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateGuardrail
      summary: गार्डरेल अपडेट करें
      description: गार्डरेल के नीति फ़ील्ड अपडेट करता है। इसके लिए `guardrails:write` आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuardrailUpdateRequest'
      responses:
        '200':
          description: गार्डरेल अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: वर्कस्पेस की SSO सेटिंग प्राप्त करें
      description: वर्कस्पेस की SAML या कस्टम OIDC सेटिंग लौटाता है। इसके लिए `settings:read` और मालिक या व्यवस्थापक की पहचान आवश्यक है।
      responses:
        '200':
          description: SSO सेटिंग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: कार्यस्थान की SSO सेटिंग अपडेट करें
      description: SAML या कस्टम OIDC सेटिंग अपडेट करता है। SSO सक्षम करने के लिए identity ऐड-ऑन और `settings:write` आवश्यक हैं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: SSO सेटिंग अपडेट की गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: अनुरोध विफल हुआ या ऐड-ऑन आवश्यक है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: SCIM ऑडिट इवेंट की सूची बनाएँ
      description: वर्कस्पेस की हाल की SCIM प्रावधान गतिविधि सूचीबद्ध करता है।
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: SCIM ऑडिट इवेंट
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: वर्कस्पेस विभागों की सूची बनाएँ
      description: मैन्युअल रूप से प्रबंधित और डायरेक्टरी से सिंक किए गए विभागों की सूची देता है।
      responses:
        '200':
          description: वर्कस्पेस विभाग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: कार्यस्थान का विभाग बनाएँ
      description: मैन्युअल रूप से प्रबंधित विभाग बनाता है। `settings:write` आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: विभाग बनाया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/group-mappings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceGroupMappings
      summary: डायरेक्टरी समूह मैपिंग की सूची बनाएँ
      description: प्रावधान किए गए समूहों से वर्कस्पेस भूमिकाओं और विभागों की मैपिंग सूचीबद्ध करता है।
      responses:
        '200':
          description: डायरेक्टरी समूह मैपिंग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingListResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceGroupMapping
      summary: डायरेक्टरी समूह मैपिंग बनाएँ
      description: प्रोविज़न किए गए समूह को कार्यस्थान के विभाग और एक्सेस भूमिका से मैप करता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceGroupMappingCreateRequest'
      responses:
        '201':
          description: समूह मैपिंग बनाई गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceGroupMappingResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /oauth-clients:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listOAuthClients
      summary: OAuth क्लाइंट की सूची बनाएँ
      description: वर्कस्पेस के सक्रिय OAuth एप्लिकेशन सूचीबद्ध करता है। इसके लिए `oauth_clients:read` और OAuth बीटा सुविधा आवश्यक है।
      responses:
        '200':
          description: OAuth क्लाइंट सूची
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientListResponse'
        default:
          description: अनुरोध विफल हुआ या सुविधा उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOAuthClient
      summary: OAuth क्लाइंट बनाएँ
      description: सार्वजनिक या गोपनीय OAuth ऐप्लिकेशन बनाता है। गोपनीय सीक्रेट केवल एक बार लौटाए जाते हैं। `oauth_clients:write` और OAuth बीटा सुविधा आवश्यक हैं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientCreateRequest'
      responses:
        '201':
          description: OAuth क्लाइंट बनाया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientCreateResponse'
        default:
          description: अनुरोध विफल हुआ या फ़ीचर उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayFeedback
      summary: गेटवे फ़ीडबैक की सूची बनाएँ
      description: लक्ष्य, तारीख, रेटिंग और मेटाडेटा आयाम के फ़िल्टर के साथ वर्कस्पेस फ़ीडबैक सूचीबद्ध करता है। इसके लिए `feedback:read` आवश्यक है।
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: rating
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: फ़ीडबैक रिकॉर्ड
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackListResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayFeedback
      summary: Gateway feedback बनाएँ
      description: अनुरोध, सत्र, प्रीसेट या प्रीसेट परीक्षण रन के लिए फ़ीडबैक रिकॉर्ड करता है। इसके लिए `feedback:write` आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayFeedbackCreateRequest'
      responses:
        '201':
          description: फ़ीडबैक रिकॉर्ड किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /feedback/summary:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: summarizeGatewayFeedback
      summary: गेटवे फ़ीडबैक का सारांश बनाएँ
      description: वर्कस्पेस फ़ीडबैक को preset, टेस्ट रन या मेटाडेटा आयाम के अनुसार एकत्र करता है।
      parameters:
        - name: group_by
          in: query
          schema:
            type: string
            enum:
              - preset
              - preset_id
              - test_run
              - test_run_id
              - metadata
            default: preset
        - name: metadata_key
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: फ़ीडबैक सारांश
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayFeedbackSummaryResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /events:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayObservabilityEvents
      summary: गेटवे ऑब्ज़र्वेबिलिटी इवेंट की सूची बनाएँ
      description: वर्कस्पेस के कस्टम परिणाम और व्यवहार इवेंट सूचीबद्ध करता है। इसके लिए `feedback:read` आवश्यक है।
      parameters:
        - name: request_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: preset_id
          in: query
          schema:
            type: string
            format: uuid
        - name: test_run_id
          in: query
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
        - name: event
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: ऑब्ज़र्वेबिलिटी इवेंट
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventListResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createGatewayObservabilityEvent
      summary: observability event बनाएँ
      description: अनुरोध, सत्र, प्रीसेट या परीक्षण रन से जुड़ा कस्टम परिणाम या व्यवहार इवेंट रिकॉर्ड करता है। इसके लिए `feedback:write` आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayObservabilityEventCreateRequest'
      responses:
        '201':
          description: इवेंट रिकॉर्ड किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayObservabilityEventResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getHealth
      summary: स्वास्थ्य जाँच
      description: गेटवे की न्यूनतम स्थिति जानकारी लौटाता है।
      responses:
        '200':
          description: गेटवे की स्वास्थ्य स्थिति
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: प्रदाताओं की सूची बनाएँ
      description: उपलब्ध API प्रदाताओं की सूची लौटाता है।
      parameters:
        - name: limit
          in: query
          description: परिणामों की संख्या सीमित करें
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: पेजिनेशन के लिए ऑफ़सेट
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: प्रदाताओं की सूची
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: त्रुटि
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: जनरेशन प्राप्त करें
      description: ID के आधार पर किसी विशिष्ट जनरेशन को प्राप्त करता है।
      parameters:
        - name: id
          in: query
          required: true
          description: जनरेशन का ID
          schema:
            type: string
      responses:
        '200':
          description: जनरेशन डेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: नहीं मिला
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: चैट completion बनाएँ
      description: चैट संदेश के लिए completion बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: अंतर्निहित दिनांक-समय सर्वर टूल
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: चैट completion का प्रतिसाद
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      tags:
        - Gateway
      operationId: createResponse
      summary: जवाब बनाएँ
      description: Responses API का उपयोग करके जवाब बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: अंतर्निहित दिनांक-समय सर्वर टूल
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: जवाब
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /messages:
    post:
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: संदेश बनाएँ
      description: Anthropic Messages API का उपयोग करके संदेश बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: अंतर्निहित दिनांक-समय सर्वर टूल
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: संदेश का प्रतिसाद
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: रीयल-टाइम ऑडियो सत्र बनाएँ
      description: उपयोग मापन के साथ रीयल-टाइम ऑडियो सत्र बनाता है और रिले कनेक्शन विवरण लौटाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: रीयल-टाइम सत्र बनाया गया
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: गेटवे मॉडल की सूची बनाएँ
      description: साझा किए गए, न छिपाए गए गेटवे मॉडल लौटाता है। डिफ़ॉल्ट रूप से वर्तमान में सार्वजनिक रूप से रूट किए जा सकने वाले मॉडल मिलते हैं; रूट न किए जा सकने वाले उपलब्धता रिकॉर्ड शामिल करने के लिए `availability=all` उपयोग करें।
      parameters:
        - name: endpoints
          in: query
          description: एंडपॉइंट के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: संगठन के अनुसार फ़िल्टर करें
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: प्रदाता ID के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: प्रदाता रोलआउट स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: प्रदाता रूटिंग स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: मॉडल रूटिंग स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: प्रदाता क्षमता स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: प्रदाता उपलब्धता स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: प्रदाता उपलब्धता कारण के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: मॉडल स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: इनपुट प्रकारों के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: '`input_types` के लिए सार्वजनिक alias।'
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: आउटपुट प्रकारों के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: '`output_types` के लिए सार्वजनिक alias।'
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: पैरामीटर के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: '`params` के लिए सार्वजनिक alias।'
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: उपलब्धता फ़िल्टर। `active` केवल सार्वजनिक रूप से रूट किए जा सकने वाले मॉडल लौटाता है; `all` में रूट न किए जा सकने वाले उपलब्धता रिकॉर्ड भी शामिल हैं।
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: परिणामों की संख्या सीमित करें
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: पेजिनेशन के लिए ऑफ़सेट
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: प्रतिक्रिया प्रारूप। डिफ़ॉल्ट `json` है।
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` का alias। `json`, `rss` या `atom` स्वीकार करता है।'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: मॉडल की सूची
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML फ़ीड
            application/atom+xml:
              schema:
                type: string
                description: Atom XML फ़ीड
        '400':
          description: अमान्य अनुरोध पैरामीटर
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: मॉडल एंडपॉइंट क्षमताओं की सूची बनाएँ
      description: एक मॉडल के लिए प्रदाता-विशिष्ट एंडपॉइंट पंक्तियाँ लौटाता है, जिनमें सार्वजनिक पथ, मोडैलिटी, समर्थित पैरामीटर, उपलब्धता, रूटिंग स्थिति, प्रदाता मॉडल slug और एंडपॉइंट मूल्य सारांश शामिल हैं।
      parameters:
        - name: author
          in: path
          required: true
          description: मॉडल लेखक या संगठन का सेगमेंट।
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: मॉडल slug सेगमेंट।
          schema:
            type: string
        - name: provider
          in: query
          description: प्रदाता ID के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: प्रदाता रोलआउट स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: प्रदाता रूटिंग स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: मॉडल रूटिंग स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: प्रदाता क्षमता स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: प्रदाता उपलब्धता स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: प्रदाता उपलब्धता कारण के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: मॉडल की canonical लाइफ़साइकिल स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: समर्थित पैरामीटर नामों या alias के अनुसार एंडपॉइंट पंक्तियाँ फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` सार्वजनिक रूप से रूट किए जा सकने वाले एंडपॉइंट पंक्तियाँ लौटाता है; `all` में जल्द आने वाली और निष्क्रिय पंक्तियाँ भी शामिल हैं।'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: मॉडल एंडपॉइंट क्षमता पंक्तियाँ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: अमान्य अनुरोध पैरामीटर
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: अनुरोधित उपलब्धता और प्रदाता फ़िल्टर के लिए मॉडल नहीं मिला
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: टीम-स्कोप वाले गेटवे मॉडल की सूची बनाएँ
      description: टीम-स्कोप वाले गेटवे मॉडल लौटाता है। डिफ़ॉल्ट रूप से सार्वजनिक रूप से रूट किए जा सकने वाले मॉडल मिलते हैं; रूट न किए जा सकने वाले उपलब्धता रिकॉर्ड शामिल करने के लिए `availability=all` उपयोग करें।
      parameters:
        - name: endpoints
          in: query
          description: एंडपॉइंट के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: संगठन के अनुसार फ़िल्टर करें
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: प्रदाता ID के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: प्रदाता रोलआउट स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: प्रदाता रूटिंग स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: मॉडल रूटिंग स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: प्रदाता क्षमता स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: प्रदाता उपलब्धता स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: प्रदाता उपलब्धता कारण के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: मॉडल स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: इनपुट प्रकारों के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: आउटपुट प्रकारों के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: पैरामीटर के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: उपलब्धता फ़िल्टर। `active` केवल सार्वजनिक रूप से रूट किए जा सकने वाले मॉडल लौटाता है; `all` में रूट न किए जा सकने वाले उपलब्धता रिकॉर्ड भी शामिल हैं।
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: परिणामों की संख्या सीमित करें
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: पेजिनेशन के लिए ऑफ़सेट
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: प्रतिक्रिया प्रारूप। डिफ़ॉल्ट `json` है।
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` का alias। `json`, `rss` या `atom` स्वीकार करता है।'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: मॉडल की सूची
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML फ़ीड
            application/atom+xml:
              schema:
                type: string
                description: Atom XML फ़ीड
        '400':
          description: अमान्य अनुरोध पैरामीटर
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: रीयल-टाइम रिले कनेक्ट करें
      description: सेशन रिले सीक्रेट को सबप्रोटोकॉल के रूप में उपयोग करके WebSocket रिले पर अपग्रेड करता है।
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket कनेक्शन स्थापित
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: रीयल-टाइम ऑडियो सत्र पूरा करें
      description: रीयल-टाइम सत्र के लिए मीटरिंग पूरी करता है और बचा हुआ कोई भी क्रेडिट रिज़र्वेशन रिलीज़ करता है।
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: रीयल-टाइम सत्र और निपटान पूरा हुआ
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: संगीत जनरेशन स्थिति प्राप्त करें
      description: POST /music/generate से मिले Phaseo अनुरोध ID का उपयोग करके सामान्यीकृत संगीत परिणाम प्राप्त करता है। प्रदाता-विशिष्ट स्थिति API आंतरिक रूप से संभाली जाती हैं।
      parameters:
        - name: music_id
          in: path
          required: true
          description: POST /music/generate से लौटाया गया स्थिर Phaseo अनुरोध ID।
          schema:
            type: string
      responses:
        '200':
          description: संगीत जनरेशन स्थिति प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: फ़ाइल प्राप्त करें
      description: प्रमाणित वर्कस्पेस से संबंधित फ़ाइल का मेटाडेटा प्राप्त करता है।
      parameters:
        - name: file_id
          in: path
          required: true
          description: प्राप्त की जाने वाली फ़ाइल का ID।
          schema:
            type: string
      responses:
        '200':
          description: फ़ाइल मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: फ़ाइल नहीं मिली या वह वर्कस्पेस के स्वामित्व में नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: फ़ाइल की सामग्री डाउनलोड करें
      description: प्रमाणित वर्कस्पेस से संबंधित पहले अपलोड की गई फ़ाइल का बाइनरी कंटेंट प्राप्त करता है।
      parameters:
        - name: file_id
          in: path
          required: true
          description: प्राप्त की जाने वाली फ़ाइल का ID।
          schema:
            type: string
      responses:
        '200':
          description: फ़ाइल का कंटेंट
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: फ़ाइल नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: वर्कस्पेस एनालिटिक्स एक्सपोर्ट करें
      description: फ़िल्टर किए गए पूरे एनालिटिक्स एग्रीगेट को spreadsheet-safe CSV के रूप में एक्सपोर्ट करता है।
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: CSV एनालिटिक्स एक्सपोर्ट
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: अमान्य एनालिटिक्स फ़िल्टर
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: क्रेडिट देखें
      description: प्रमाणित वर्कस्पेस के शेष क्रेडिट और उपयोग आँकड़े लौटाता है। Management API key आवश्यक है।
      parameters:
        - name: workspace_id
          in: query
          description: वैकल्पिक वर्कस्पेस ओवरराइड। आंतरिक कंट्रोल कॉलर का उपयोग न होने पर यह प्रमाणित वर्कस्पेस से मेल खाना चाहिए।
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: क्रेडिट की जानकारी
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: निषिद्ध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: API कुंजियों की सूची बनाएँ
      description: प्रमाणित कार्यस्थान की API कुंजियों की सूची देता है। प्रबंधन API कुंजी आवश्यक है।
      parameters:
        - name: include_disabled
          in: query
          description: बताता है कि रुकी हुई या अस्थायी रूप से अवरुद्ध कुंजियाँ प्रतिक्रिया में शामिल करनी हैं या नहीं।
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: पृष्ठांकन के लिए छोड़ी जाने वाली API कुंजियों की संख्या।
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: लौटाई जाने वाली API कुंजियों की अधिकतम संख्या।
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: वैकल्पिक वर्कस्पेस ओवरराइड। आंतरिक कंट्रोल कॉलर का उपयोग न होने पर यह प्रमाणित वर्कस्पेस से मेल खाना चाहिए।
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API कुंजी सूची
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: निषिद्ध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: नई API कुंजी बनाएँ
      description: प्रमाणित कार्यस्थान में नई API कुंजी बनाता है। प्रबंधन API कुंजी आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API कुंजी बनाई गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: गलत अनुरोध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: निषिद्ध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: एक API कुंजी प्राप्त करें
      description: प्रमाणित कार्यस्थान की एक API कुंजी का मेटाडेटा लौटाता है। प्रबंधन API कुंजी आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          description: API कुंजी पहचानकर्ता या हैश।
          schema:
            type: string
      responses:
        '200':
          description: API कुंजी मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API कुंजी नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: API कुंजी अपडेट करें
      description: API कुंजी का मेटाडेटा या स्थिति अपडेट करता है। प्रबंधन API कुंजी आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          description: API कुंजी पहचानकर्ता या हैश।
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: API कुंजी मेटाडेटा अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: गलत अनुरोध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API कुंजी नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: API कुंजी हटाएँ
      description: प्रमाणित कार्यस्थान की API कुंजी हटाता है। प्रबंधन API कुंजी आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          description: API कुंजी पहचानकर्ता या हैश।
          schema:
            type: string
      responses:
        '200':
          description: API कुंजी हटाई गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API कुंजी नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: API कुंजी रोटेट करें
      description: समान सीमाओं वाली प्रतिस्थापन कुंजी बनाता है और वैकल्पिक रूप से पिछली कुंजी की समाप्ति सेट करता है। प्रतिस्थापन सीक्रेट केवल एक बार लौटाया जाता है। `keys:write` आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: API कुंजी रोटेट की गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: रोटेशन विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: API कुंजी कैश अमान्य करें
      description: कार्यस्थान API कुंजी की वैश्विक कैश की गई नीति स्थिति रीफ़्रेश करता है। प्रमाणित कार्यस्थान प्रबंधन कॉल आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: कैश अमान्य किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: अमान्य करना विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: कार्यस्थान की SCIM सेटिंग प्राप्त करें
      description: एंडपॉइंट की स्थिति, टोकन मेटाडेटा, प्रोविज़न किए गए ऑब्जेक्ट की संख्या और नवीनतम SCIM इवेंट लौटाता है।
      responses:
        '200':
          description: SCIM सेटिंग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: SCIM सक्षम या अक्षम करें
      description: कार्यस्थान के SCIM एंडपॉइंट को अपडेट करता है। SCIM सक्षम करने के लिए identity ऐड-ऑन और `settings:write` आवश्यक हैं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: SCIM एंडपॉइंट अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: अनुरोध विफल हुआ या ऐड-ऑन आवश्यक है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: SCIM टोकन बनाएँ
      description: प्रोविज़निंग टोकन बनाता है। कच्चा टोकन केवल एक बार लौटाया जाता है। identity ऐड-ऑन और `settings:write` आवश्यक हैं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: SCIM टोकन बनाया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: अनुरोध विफल हुआ या ऐड-ऑन आवश्यक है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: कार्यस्थान डायरेक्टरी प्राप्त करें
      description: एंटरप्राइज़ विभाग और सदस्यों के प्रभावी अधिकार लौटाता है। identity ऐड-ऑन, `settings:read` और `owner` या `admin` पहचान आवश्यक है।
      responses:
        '200':
          description: कार्यस्थान डायरेक्टरी
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: अनुरोध विफल हुआ या ऐड-ऑन आवश्यक है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: डायरेक्टरी सदस्य का ओवरराइड अपडेट करें
      description: कार्यस्थान सदस्य के प्रभावी भूमिका और विभाग ओवरराइड सेट या साफ़ करता है। `settings:write` आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: सदस्य ओवरराइड अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
      summary: मैन्युअल विभाग सदस्यता सेट करें
      description: कार्यस्थान उपयोगकर्ता की मैन्युअल विभाग सदस्यता जोड़ता या अपडेट करता है।
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentMemberRequest'
      responses:
        '200':
          description: सदस्यता अपडेट की गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentMemberResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartmentMember
      summary: मैन्युअल विभाग सदस्यता हटाएँ
      description: डायरेक्टरी से सिंक की गई सदस्यता बदले बिना मैन्युअल विभाग सदस्यता हटाता है।
      parameters:
        - name: departmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: सदस्यता हटाई गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/settings:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceNotificationSettings
      summary: कार्यस्थान की सूचना सेटिंग प्राप्त करें
      description: ऑटो टॉप-अप नीति, कम बैलेंस ईमेल कॉन्फ़िगरेशन और कार्यस्थान की ईमेल प्राथमिकताएँ लौटाता है। `settings:read` तथा `owner` या `admin` पहचान आवश्यक है।
      responses:
        '200':
          description: सूचना सेटिंग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      security: []
      tags:
        - Gateway
      operationId: updateWorkspaceNotificationSettings
      summary: कार्यस्थान की सूचना सेटिंग अपडेट करें
      description: एक या अधिक स्थायी सूचना-नीति अनुभाग अपडेट करता है। ऑटो टॉप-अप सक्षम करने के लिए पहले से सहेजी गई भुगतान विधि का पहचानकर्ता आवश्यक है; भुगतान संग्रह खाता-आधारित इंटरैक्टिव प्रक्रिया ही रहता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceNotificationSettingsUpdateRequest'
      responses:
        '200':
          description: सूचना सेटिंग अपडेट की गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotificationSettingsResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceApp
      summary: वर्कस्पेस ऐप अपडेट करें
      description: असाइन किए गए ऐप्लिकेशन का डिस्प्ले मेटाडेटा, कैटलॉग दृश्यता या सक्रिय स्थिति अपडेट करता है। प्लेटफ़ॉर्म द्वारा प्रबंधित ऐप्लिकेशन संपादित नहीं किए जा सकते।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppUpdateRequest'
      responses:
        '200':
          description: ऐप्लिकेशन अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /apps/{id}/merge:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: mergeWorkspaceApp
      summary: वर्कस्पेस ऐप मर्ज करें
      description: स्रोत ऐप्लिकेशन का अनुरोध इतिहास और एनालिटिक्स परमाणु रूप से उसी वर्कस्पेस के दूसरे ऐप्लिकेशन में ले जाता है, फिर स्रोत ऐप्लिकेशन को हटा देता है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceAppMergeRequest'
      responses:
        '200':
          description: ऐप्लिकेशन मर्ज किए गए
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceAppMergeResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listGatewayRequestLogs
      summary: गेटवे अनुरोध लॉग की सूची बनाएँ
      description: सीमित समय-सीमा और फ़ील्ड फ़िल्टर के साथ प्रमाणित कार्यस्थान के संपादित अनुरोध तथ्य सूचीबद्ध करता है। `activity:read` आवश्यक है।
      parameters:
        - name: since
          in: query
          schema:
            type: string
            default: 24h
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: provider
          in: query
          schema:
            type: string
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: endpoint
          in: query
          schema:
            type: string
        - name: request_id
          in: query
          schema:
            type: string
        - name: key_id
          in: query
          schema:
            type: string
        - name: session_id
          in: query
          schema:
            type: string
        - name: error_code
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: अनुरोध लॉग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogListResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /logs/{requestId}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGatewayRequestLog
      summary: गेटवे अनुरोध लॉग प्राप्त करें
      description: अनुरोध पहचानकर्ता के आधार पर एक संपादित अनुरोध रिकॉर्ड लौटाता है।
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: अनुरोध लॉग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRequestLogResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /preset-test-runs:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listPresetTestRuns
      summary: प्रीसेट टेस्ट रन की सूची बनाएँ
      description: दिखाई देने वाले टेस्ट रन की सूची देता है; चाहें तो प्रीसेट के अनुसार फ़िल्टर करें। `feedback:read` आवश्यक है।
      parameters:
        - name: preset_id
          in: query
          schema:
[...]
