openapi: 3.0.3
info:
  title: Phaseo Gateway API
  description: OpenAI-संगत एंडपॉइंट के माध्यम से विभिन्न AI मॉडल तक पहुँचने के लिए एक गेटवे API।
  version: 1.0.0
  contact:
    name: Phaseo
    url: https://phaseo.app
    email: danielbutler500@gmail.com
servers:
  - url: https://api.phaseo.app/v1
    description: वैश्विक रूटिंग
security:
  - BearerAuth: []
paths:
  /models:
    get:
      servers:
        - url: https://api.phaseo.app/v1
          description: वैश्विक रूटिंग
        - url: https://eu.api.phaseo.app/v1
          description: यूरोपीय संघ क्षेत्रीय प्रदाता रूटिंग (केवल टेक्स्ट)
        - url: https://us.api.phaseo.app/v1
          description: अमेरिकी क्षेत्रीय प्रदाता रूटिंग (केवल टेक्स्ट)
      x-beta: true
      tags:
        - Gateway
      operationId: listModels
      summary: गेटवे मॉडल की सूची बनाएँ
      description: साझा किए गए, न छिपाए गए गेटवे मॉडल लौटाता है। डिफ़ॉल्ट रूप से वर्तमान में सार्वजनिक रूप से रूट किए जा सकने वाले मॉडल मिलते हैं; रूट न किए जा सकने वाले उपलब्धता रिकॉर्ड शामिल करने के लिए `availability=all` उपयोग करें।
      parameters:
        - name: search
          in: query
          description: मॉडल आईडी, नाम, विवरण और संगठनों में बड़े-छोटे अक्षरों का भेद किए बिना खोजें।
          schema:
            type: string
            maxLength: 200
        - name: provider_search
          in: query
          description: प्रदाता या मॉडल संगठन में बड़े-छोटे अक्षरों का भेद किए बिना खोजें।
          schema:
            type: string
            maxLength: 100
        - name: input_modality
          in: query
          description: समर्थित इनपुट मोडैलिटी आवश्यक करें।
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: minimum_context_tokens
          in: query
          description: कम से कम इतने इनपुट संदर्भ टोकन आवश्यक करें।
          schema:
            type: number
            minimum: 0
        - name: maximum_input_price_per_million
          in: query
          description: प्रति दस लाख इनपुट टोकन अधिकतम मूल्य (USD)।
          schema:
            type: number
            minimum: 0
        - name: gateway_available_only
          in: query
          description: केवल वे मॉडल लौटाएँ जिनका कम से कम एक रूट करने योग्य गेटवे ऑफ़र हो।
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: मॉडल खोज परिणामों को क्रमबद्ध करने वाला फ़ील्ड।
          schema:
            type: string
            enum:
              - relevance
              - input_price
              - output_price
              - context_length
              - provider_count
            default: relevance
        - name: sort_order
          in: query
          description: वैकल्पिक क्रम दिशा। मूल्य डिफ़ॉल्ट रूप से बढ़ते क्रम में और अन्य संख्याएँ घटते क्रम में होती हैं।
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: endpoints
          in: query
          description: एंडपॉइंट के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: संगठन के अनुसार फ़िल्टर करें
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: प्रदाता ID के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: प्रदाता रोलआउट स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: प्रदाता रूटिंग स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: मॉडल रूटिंग स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: प्रदाता क्षमता स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: प्रदाता उपलब्धता स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: प्रदाता उपलब्धता कारण के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: मॉडल स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: इनपुट प्रकारों के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: input_modalities
          in: query
          description: '`input_types` के लिए सार्वजनिक alias।'
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: आउटपुट प्रकारों के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: output_modalities
          in: query
          description: '`output_types` के लिए सार्वजनिक alias।'
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: पैरामीटर के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: '`params` के लिए सार्वजनिक alias।'
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: उपलब्धता फ़िल्टर। `active` केवल सार्वजनिक रूप से रूट किए जा सकने वाले मॉडल लौटाता है; `all` में रूट न किए जा सकने वाले उपलब्धता रिकॉर्ड भी शामिल हैं।
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: परिणामों की संख्या सीमित करें
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: पेजिनेशन के लिए ऑफ़सेट
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: प्रतिक्रिया प्रारूप। डिफ़ॉल्ट `json` है।
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` का alias। `json`, `rss` या `atom` स्वीकार करता है।'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: मॉडल की सूची
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML फ़ीड
            application/atom+xml:
              schema:
                type: string
                description: Atom XML फ़ीड
        '400':
          description: अमान्य अनुरोध पैरामीटर
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/{author}/{slug}/endpoints:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listModelEndpoints
      summary: मॉडल एंडपॉइंट क्षमताओं की सूची बनाएँ
      description: एक मॉडल के लिए प्रदाता-विशिष्ट एंडपॉइंट पंक्तियाँ लौटाता है, जिनमें सार्वजनिक पथ, मोडैलिटी, समर्थित पैरामीटर, उपलब्धता, रूटिंग स्थिति, प्रदाता मॉडल slug और एंडपॉइंट मूल्य सारांश शामिल हैं।
      parameters:
        - name: author
          in: path
          required: true
          description: मॉडल लेखक या संगठन का सेगमेंट।
          schema:
            type: string
        - name: slug
          in: path
          required: true
          description: मॉडल slug सेगमेंट।
          schema:
            type: string
        - name: provider
          in: query
          description: प्रदाता ID के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: प्रदाता रोलआउट स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: प्रदाता रूटिंग स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: मॉडल रूटिंग स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: प्रदाता क्षमता स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: प्रदाता उपलब्धता स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: प्रदाता उपलब्धता कारण के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: मॉडल की canonical लाइफ़साइकिल स्थिति के अनुसार फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: supported_parameters
          in: query
          description: समर्थित पैरामीटर नामों या alias के अनुसार एंडपॉइंट पंक्तियाँ फ़िल्टर करें।
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: '`active` सार्वजनिक रूप से रूट किए जा सकने वाले एंडपॉइंट पंक्तियाँ लौटाता है; `all` में जल्द आने वाली और निष्क्रिय पंक्तियाँ भी शामिल हैं।'
          schema:
            type: string
            enum:
              - active
              - all
            default: active
      responses:
        '200':
          description: मॉडल एंडपॉइंट क्षमता पंक्तियाँ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpointsResponse'
        '400':
          description: अमान्य अनुरोध पैरामीटर
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: अनुरोधित उपलब्धता और प्रदाता फ़िल्टर के लिए मॉडल नहीं मिला
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /models/me:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listTeamModels
      summary: टीम-स्कोप वाले गेटवे मॉडल की सूची बनाएँ
      description: टीम-स्कोप वाले गेटवे मॉडल लौटाता है। डिफ़ॉल्ट रूप से सार्वजनिक रूप से रूट किए जा सकने वाले मॉडल मिलते हैं; रूट न किए जा सकने वाले उपलब्धता रिकॉर्ड शामिल करने के लिए `availability=all` उपयोग करें।
      parameters:
        - name: endpoints
          in: query
          description: एंडपॉइंट के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: organisation
          in: query
          description: संगठन के अनुसार फ़िल्टर करें
          schema:
            oneOf:
              - $ref: '#/components/schemas/OrganisationId'
              - type: array
                items:
                  $ref: '#/components/schemas/OrganisationId'
        - name: provider
          in: query
          description: प्रदाता ID के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_status
          in: query
          description: प्रदाता रोलआउट स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_routing_status
          in: query
          description: प्रदाता रूटिंग स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: model_routing_status
          in: query
          description: मॉडल रूटिंग स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: capability_status
          in: query
          description: प्रदाता क्षमता स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_status
          in: query
          description: प्रदाता उपलब्धता स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: provider_availability_reason
          in: query
          description: प्रदाता उपलब्धता कारण के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: मॉडल स्थिति के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: input_types
          in: query
          description: इनपुट प्रकारों के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: output_types
          in: query
          description: आउटपुट प्रकारों के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: params
          in: query
          description: पैरामीटर के अनुसार फ़िल्टर करें
          schema:
            type: array
            items:
              type: string
        - name: availability
          in: query
          description: उपलब्धता फ़िल्टर। `active` केवल सार्वजनिक रूप से रूट किए जा सकने वाले मॉडल लौटाता है; `all` में रूट न किए जा सकने वाले उपलब्धता रिकॉर्ड भी शामिल हैं।
          schema:
            type: string
            enum:
              - active
              - all
            default: active
        - name: limit
          in: query
          description: परिणामों की संख्या सीमित करें
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: पेजिनेशन के लिए ऑफ़सेट
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 5000
        - name: format
          in: query
          description: प्रतिक्रिया प्रारूप। डिफ़ॉल्ट `json` है।
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
            default: json
        - name: feed
          in: query
          description: '`format` का alias। `json`, `rss` या `atom` स्वीकार करता है।'
          schema:
            type: string
            enum:
              - json
              - rss
              - atom
      responses:
        '200':
          description: मॉडल की सूची
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayModelsResponse'
            application/rss+xml:
              schema:
                type: string
                description: RSS 2.0 XML फ़ीड
            application/atom+xml:
              schema:
                type: string
                description: Atom XML फ़ीड
        '400':
          description: अमान्य अनुरोध पैरामीटर
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listProviders
      summary: प्रदाताओं की सूची बनाएँ
      description: उपलब्ध API प्रदाताओं की सूची लौटाता है।
      parameters:
        - name: limit
          in: query
          description: परिणामों की संख्या सीमित करें
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 250
        - name: offset
          in: query
          description: पेजिनेशन के लिए ऑफ़सेट
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: प्रदाताओं की सूची
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  limit:
                    type: integer
                    example: 50
                  offset:
                    type: integer
                    example: 0
                  total:
                    type: integer
                    example: 25
                  providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
        '500':
          description: त्रुटि
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  message:
                    type: string
  /generations:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getGeneration
      summary: जनरेशन प्राप्त करें
      description: ID के आधार पर किसी विशिष्ट जनरेशन को प्राप्त करता है।
      parameters:
        - name: id
          in: query
          required: true
          description: जनरेशन का ID
          schema:
            type: string
      responses:
        '200':
          description: जनरेशन डेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
                  reason:
                    type: string
        '404':
          description: नहीं मिला
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  error:
                    type: string
  /chat/completions:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: वैश्विक रूटिंग
        - url: https://eu.api.phaseo.app/v1
          description: यूरोपीय संघ क्षेत्रीय प्रदाता रूटिंग (केवल टेक्स्ट)
        - url: https://us.api.phaseo.app/v1
          description: अमेरिकी क्षेत्रीय प्रदाता रूटिंग (केवल टेक्स्ट)
      tags:
        - Gateway
      operationId: createChatCompletion
      summary: चैट completion बनाएँ
      description: चैट संदेश के लिए completion बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionsRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  messages:
                    - role: user
                      content: What is the current datetime in Europe/London?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Europe/London
                  tool_choice: auto
      responses:
        '200':
          description: चैट completion का प्रतिसाद
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionsResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /responses:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: वैश्विक रूटिंग
        - url: https://eu.api.phaseo.app/v1
          description: यूरोपीय संघ क्षेत्रीय प्रदाता रूटिंग (केवल टेक्स्ट)
        - url: https://us.api.phaseo.app/v1
          description: अमेरिकी क्षेत्रीय प्रदाता रूटिंग (केवल टेक्स्ट)
      tags:
        - Gateway
      operationId: createResponse
      summary: जवाब बनाएँ
      description: Responses API का उपयोग करके जवाब बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponsesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: openai/gpt-5-nano
                  stream: false
                  input:
                    - role: user
                      content: Give me the current datetime in Asia/Tokyo.
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: Asia/Tokyo
                  tool_choice: auto
      responses:
        '200':
          description: जवाब
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesResponse'
        '429':
          $ref: '#/components/responses/UpstreamRateLimited'
  /async/{kind}/{id}/ws:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: openAsyncJobWebSocket
      summary: Open async job websocket
      description: |
        Opens a persistent websocket session for owned async batch or video job updates.
        WebSocket handshake uses HTTP GET upgrade semantics and returns `101 Switching Protocols` on success (not `200`). The socket emits a `job.snapshot` immediately after upgrade and subsequent `job.updated` envelopes when the normalized async job payload changes.
        If `close_on_terminal` is enabled, the gateway closes the socket after a terminal `completed`, `failed`, `cancelled`, or `expired` update.
      parameters:
        - name: kind
          in: path
          required: true
          description: Async job kind.
          schema:
            type: string
            enum:
              - batch
              - video
        - name: id
          in: path
          required: true
          description: Gateway-owned async job id.
          schema:
            type: string
        - name: interval_ms
          in: query
          required: false
          description: Polling interval used by the websocket recovery loop.
          schema:
            type: integer
            minimum: 1000
            maximum: 10000
            default: 2500
        - name: close_on_terminal
          in: query
          required: false
          description: Close the socket after a terminal lifecycle update.
          schema:
            type: boolean
            default: true
      responses:
        '101':
          description: WebSocket upgrade accepted.
          x-websocket:
            clientEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketClientEvent'
            serverEvent:
              $ref: '#/components/schemas/AsyncJobWebSocketServerEvent'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Async job not found or not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '426':
          description: WebSocket upgrade required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobWebSocketUpgradeRequiredResponse'
  /messages:
    post:
      servers:
        - url: https://api.phaseo.app/v1
          description: वैश्विक रूटिंग
        - url: https://eu.api.phaseo.app/v1
          description: यूरोपीय संघ क्षेत्रीय प्रदाता रूटिंग (केवल टेक्स्ट)
        - url: https://us.api.phaseo.app/v1
          description: अमेरिकी क्षेत्रीय प्रदाता रूटिंग (केवल टेक्स्ट)
      tags:
        - Gateway
      operationId: createAnthropicMessage
      summary: संदेश बनाएँ
      description: Anthropic Messages API का उपयोग करके संदेश बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnthropicMessagesRequest'
            examples:
              datetimeServerTool:
                summary: Built-in datetime server tool
                value:
                  model: anthropic/claude-sonnet-4
                  max_tokens: 512
                  stream: false
                  messages:
                    - role: user
                      content: What time is it in America/New_York right now?
                  tools:
                    - type: gateway:datetime
                      parameters:
                        timezone: America/New_York
                  tool_choice:
                    type: auto
      responses:
        '200':
          description: संदेश का प्रतिसाद
          headers:
            x-request-id:
              $ref: '#/components/headers/PublicRequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnthropicMessagesResponse'
            text/event-stream:
              schema:
                type: string
  /embeddings:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createEmbedding
      summary: एम्बेडिंग बनाएँ
      description: इनपुट पाठ का प्रतिनिधित्व करने वाला embedding वेक्टर बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: एम्बेडिंग प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
  /moderations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createModeration
      summary: मॉडरेशन जाँच करें
      description: जाँचता है कि पाठ OpenAI की उपयोग नीतियों का उल्लंघन करता है या नहीं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationsRequest'
      responses:
        '200':
          description: मॉडरेशन प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationsResponse'
  /rerank:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRerank
      summary: दस्तावेज़ों को पुनः क्रमित करें
      description: क्वेरी के संदर्भ में प्रासंगिकता के आधार पर दस्तावेज़ों की सूची को पुनः क्रमित करता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: पुनः क्रमित करने की प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
  /decisions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: makeDecision
      summary: संरचित निर्णय लें
      description: 'नई कॉल के लिए OpenAI-संगत प्रारूप इस्तेमाल करें: input में टेक्स्ट या इनलाइन input_image वाले उपयोगकर्ता संदेश होते हैं और questions में predicate, choice या score प्रश्नों की क्रमबद्ध सूची होती है। उत्तर वही क्रम और वैकल्पिक नाम रखते हैं। बूलियन विकल्प बूलियन ही रहते हैं। होस्ट किए गए चित्र URL समर्थित नहीं हैं; Luna अधिकतम 128 इनलाइन चित्र स्वीकार करता है और अन्य प्रदाताओं की अपनी सीमाएँ हैं। स्पष्ट चित्र विवरण और safety_identifier के लिए OpenAI रूट आवश्यक है। पुराना state, नामित प्रश्न मैप, noul और criteria प्रारूप समर्थित है और उत्तर मैप लौटाता है। Together Tev को वही प्रारूप चाहिए क्योंकि वह संभावनाओं के बिना लेबल लौटाता है। पुराने उदाहरण मान्य हैं।'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionCreateRequest'
      responses:
        '200':
          description: संरचित निर्णय प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionCreateResponse'
  /audio/speech:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createSpeech
      summary: वाणी उत्पन्न करें
      description: दिए गए पाठ से ऑडियो बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: ऑडियो फ़ाइल
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  /audio/transcriptions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranscription
      summary: ट्रांसक्रिप्शन बनाएँ
      description: ऑडियो को इनपुट भाषा में लिखित रूप देता है।
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
      responses:
        '200':
          description: ट्रांसक्रिप्शन प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
  /audio/translations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createTranslation
      summary: अनुवाद बनाएँ
      description: ऑडियो का अंग्रेज़ी में अनुवाद करता है।
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
      responses:
        '200':
          description: अनुवाद प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
  /audio/realtime/sessions:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createRealtimeSession
      summary: रीयल-टाइम ऑडियो सत्र बनाएँ
      description: उपयोग मापन के साथ रीयल-टाइम ऑडियो सत्र बनाता है और रिले कनेक्शन विवरण लौटाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - model
              properties:
                type:
                  type: string
                  enum:
                    - realtime
                model:
                  type: string
                provider:
                  type: string
                voice:
                  type: string
                instructions:
                  type: string
                  maxLength: 4000
                source:
                  type: string
                  enum:
                    - api
                    - chat
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: रीयल-टाइम सत्र बनाया गया
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/relay:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: connectRealtimeSessionRelay
      summary: रीयल-टाइम रिले कनेक्ट करें
      description: सेशन रिले सीक्रेट को सबप्रोटोकॉल के रूप में उपयोग करके WebSocket रिले पर अपग्रेड करता है।
      security: []
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '101':
          description: WebSocket कनेक्शन स्थापित
  /audio/realtime/sessions/{session_id}/connected:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: markRealtimeSessionConnected
      x-excluded: true
      summary: Mark realtime session connected
      description: Records that the upstream realtime relay connection has been established.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/extend:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: extendRealtimeSession
      x-excluded: true
      summary: Extend realtime session credit hold
      description: Extends the reserved credit for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_reserved_nanos:
                  type: integer
                  minimum: 1
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/usage:
    post:
      x-beta: true
      x-internal: true
      tags:
        - Gateway
      operationId: updateRealtimeSessionUsage
      x-excluded: true
      summary: Update realtime session usage
      description: Records the latest metered usage for an active realtime audio session.
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usage:
                  type: object
                  additionalProperties: true
                estimated_cost_nanos:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Updated realtime session
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /audio/realtime/sessions/{session_id}/finalize:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: finalizeRealtimeSession
      summary: रीयल-टाइम ऑडियो सत्र पूरा करें
      description: रीयल-टाइम सत्र के लिए मीटरिंग पूरी करता है और बचा हुआ कोई भी क्रेडिट रिज़र्वेशन रिलीज़ करता है।
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - completed
                    - failed
                    - cancelled
                    - expired
                usage:
                  type: object
                  additionalProperties: true
                disconnect_reason:
                  type: string
                  maxLength: 240
                error_code:
                  type: string
                  maxLength: 120
                error_message:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: रीयल-टाइम सत्र और निपटान पूरा हुआ
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - id
                  - session_id
                  - provider
                  - model
                  - model_id
                  - status
                  - billing
                  - settlement
                  - usage
                properties:
                  id:
                    type: string
                  session_id:
                    type: string
                  provider:
                    type: string
                  model:
                    type: string
                  model_id:
                    type: string
                  voice:
                    type: string
                    nullable: true
                  status:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                    nullable: true
                  billing:
                    type: object
                    additionalProperties: true
                  settlement:
                    type: object
                    additionalProperties: true
                  usage:
                    type: object
                    additionalProperties: true
  /images/generations:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImage
      summary: छवि बनाएँ
      description: दिए गए प्रॉम्प्ट के आधार पर छवि बनाता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagesGenerationRequest'
      responses:
        '200':
          description: छवि प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
            text/event-stream:
              schema:
                type: string
  /images/edits:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createImageEdit
      summary: छवि संपादन बनाएँ
      description: मूल छवि और प्रॉम्प्ट के आधार पर संपादित या विस्तारित छवि बनाता है।
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImagesEditRequest'
      responses:
        '200':
          description: छवि संपादन प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesEditResponse'
            text/event-stream:
              schema:
                type: string
  /videos:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideos
      summary: वीडियो सूचीबद्ध करें
      description: प्रमाणित टीम के एसिंक्रोनस वीडियो जनरेशन जॉब सूचीबद्ध करता है।
      parameters:
        - name: limit
          in: query
          description: लौटाए जाने वाले वीडियो जॉब की अधिकतम संख्या। डिफ़ॉल्ट 50 है और सीमा 200 है।
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: status
          in: query
          description: वीडियो जीवनचक्र स्थिति का फ़िल्टर। पैरामीटर दोहराएँ या कॉमा से अलग किए गए मान दें।
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          description: पेज लौटाने से पहले छोड़े जाने वाले वीडियो जॉब की संख्या।
          schema:
            type: integer
            minimum: 0
            maximum: 10000
        - name: after
          in: query
          description: चुने गए क्रम में इस वीडियो ID के बाद के वीडियो जॉब लौटाएँ।
          schema:
            type: string
        - name: order
          in: query
          description: वीडियो जॉब को निर्माण समय के अनुसार क्रमबद्ध करें।
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: वीडियो सूची का जवाब
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideo
      summary: वीडियो बनाएँ
      description: एसिंक्रोनस वीडियो जनरेशन जॉब बनाता है। जॉब अंतिम स्थिति तक पहुँचने तक लौटाए गए `polling_url` को हर 20 सेकंड में पोल करें।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: वीडियो का जवाब
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /videos/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listVideoModels
      summary: वीडियो मॉडल की क्षमताएँ सूचीबद्ध करें
      description: वीडियो प्लेग्राउंड और SDK सत्यापन के लिए डेटाबेस-आधारित वीडियो मॉडल/प्रदाता क्षमता मेटाडेटा लौटाता है।
      parameters:
        - name: params
          in: query
          required: false
          description: समर्थित पैरामीटर का वैकल्पिक फ़िल्टर। पैरामीटर दोहराएँ या कॉमा से अलग सूची दें। कैनोनिकल नाम और aliases स्वीकार होते हैं, जैसे `resolution`, `size`, `duration` या `duration_seconds`।
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: वीडियो मॉडल क्षमताओं की सूची
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoModelsResponse'
  /videos/{video_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideo
      summary: वीडियो की स्थिति पाएँ
      description: वीडियो जनरेशन अनुरोध की स्थिति प्राप्त करता है। webhooks उपयोग न कर रहे हों तो हर 20 सेकंड में पोल करें।
      parameters:
        - name: video_id
          in: path
          required: true
          description: वीडियो जनरेशन अनुरोध का ID।
          schema:
            type: string
      responses:
        '200':
          description: वीडियो स्थिति का जवाब
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteVideo
      summary: वीडियो हटाएँ
      description: अंतिम स्थिति वाले वीडियो जनरेशन रिकॉर्ड को हटाया हुआ चिह्नित करता है। चल रहे जॉब हटाए नहीं जा सकते।
      parameters:
        - name: video_id
          in: path
          required: true
          description: वीडियो जनरेशन अनुरोध का ID।
          schema:
            type: string
      responses:
        '200':
          description: वीडियो हटाने का जवाब
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoDeleteResponse'
  /videos/{video_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelVideo
      summary: वीडियो रद्द करें
      description: वर्तमान में सभी प्रदाताओं के लिए वीडियो रद्द करना अक्षम है।
      parameters:
        - name: video_id
          in: path
          required: true
          description: आंतरिक Phaseo वीडियो जॉब ID (`G-...`)।
          schema:
            type: string
      responses:
        '501':
          description: वीडियो रद्द करना अक्षम है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /videos/{video_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getVideoContent
      summary: वीडियो सामग्री पाएँ
      description: रेंडर की गई वीडियो सामग्री डाउनलोड करता है।
      parameters:
        - name: video_id
          in: path
          required: true
          description: वीडियो जनरेशन अनुरोध का ID।
          schema:
            type: string
      responses:
        '200':
          description: वीडियो सामग्री
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /videos/{video_id}/download_url:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createVideoDownloadUrl
      summary: हस्ताक्षरित वीडियो डाउनलोड URL बनाएँ
      description: रेंडर किए गए वीडियो के लिए प्रथम-पक्ष हस्ताक्षरित डाउनलोड URL लौटाता है।
      parameters:
        - name: video_id
          in: path
          required: true
          description: वीडियो जनरेशन अनुरोध का ID।
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: integer
                  minimum: 0
                ttl_seconds:
                  type: integer
                  minimum: 1
                disposition:
                  type: string
                  enum:
                    - attachment
                    - inline
      responses:
        '200':
          description: हस्ताक्षरित डाउनलोड URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: integer
  /ocr:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createOcr
      summary: OCR चलाएँ
      description: अनुरोधित मॉडल का उपयोग करके छवि से पाठ निकालता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OcrRequest'
      responses:
        '200':
          description: OCR प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OcrResponse'
  /parse:
    post:
      tags:
        - Gateway
      operationId: createParse
      summary: दस्तावेज़ की छवि का विश्लेषण करें
      description: दस्तावेज़ की छवि को Markdown या क्रमबद्ध सामग्री ब्लॉकों में बदलता है। वर्तमान Cohere Parse API दूरस्थ छवि URL और base64 छवि डेटा URI स्वीकार करती है; PDF और फ़ाइल URL इनपुट अभी समर्थित नहीं हैं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseRequest'
      responses:
        '200':
          description: विश्लेषित दस्तावेज़
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
  /music/generate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: generateMusic
      summary: संगीत बनाएँ
      description: एक प्रदाता-स्वतंत्र endpoint के माध्यम से संगीत बनाता है। Phaseo सिंक्रोनस प्रदाताओं के पूरा होने तक प्रतीक्षा करता है और उनकी कतारों की जाँच को आंतरिक रूप से संभालता है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerateRequest'
      responses:
        '200':
          description: संगीत निर्माण प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /music/generate/{music_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getMusicGeneration
      summary: संगीत जनरेशन स्थिति प्राप्त करें
      description: POST /music/generate से मिले Phaseo अनुरोध ID का उपयोग करके सामान्यीकृत संगीत परिणाम प्राप्त करता है। प्रदाता-विशिष्ट स्थिति API आंतरिक रूप से संभाली जाती हैं।
      parameters:
        - name: music_id
          in: path
          required: true
          description: POST /music/generate से लौटाया गया स्थिर Phaseo अनुरोध ID।
          schema:
            type: string
      responses:
        '200':
          description: संगीत जनरेशन स्थिति प्रतिक्रिया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerateResponse'
  /files:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadFile
      summary: फ़ाइल अपलोड करें
      description: '`/batches/files` का संगतता alias। बैच प्रोसेसिंग के लिए फ़ाइल अपलोड करता है और अपस्ट्रीम फ़ाइल मेटाडेटा लौटाता है। `model` दें ताकि AI Stats अपस्ट्रीम प्रदाता का अनुमान लगा सके। `model` और `provider` दोनों छोड़ने वाले पुराने क्लाइंट के लिए डिफ़ॉल्ट OpenAI है।'
      parameters:
        - name: model
          in: query
          required: false
          description: अपस्ट्रीम बैच फ़ाइल प्रदाता का अनुमान लगाने के लिए मॉडल ID।
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: अपस्ट्रीम फ़ाइल अपलोड के लिए उन्नत प्रदाता चयन।
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-ai-stats-provider
          in: header
          required: false
          description: '`provider` क्वेरी पैरामीटर का हेडर विकल्प।'
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: अपलोड की गई फ़ाइल का मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: अपस्ट्रीम प्रदाता की त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listFiles
      summary: फ़ाइलों की सूची बनाएँ
      description: साझा गेटवे कुंजी के साथ यह फ़िलहाल `not_supported` लौटाता है। इसके बजाय अपलोड की गई फ़ाइलों के ID सहेजें और उन्हें सीधे प्राप्त करें।
      responses:
        '400':
          description: वर्तमान गेटवे मोड में फ़ाइलों की सूची उपलब्ध नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFile
      summary: फ़ाइल प्राप्त करें
      description: प्रमाणित वर्कस्पेस से संबंधित फ़ाइल का मेटाडेटा प्राप्त करता है।
      parameters:
        - name: file_id
          in: path
          required: true
          description: प्राप्त की जाने वाली फ़ाइल का ID।
          schema:
            type: string
      responses:
        '200':
          description: फ़ाइल मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: फ़ाइल नहीं मिली या वह वर्कस्पेस के स्वामित्व में नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveFileContent
      summary: फ़ाइल की सामग्री डाउनलोड करें
      description: प्रमाणित वर्कस्पेस से संबंधित पहले अपलोड की गई फ़ाइल का बाइनरी कंटेंट प्राप्त करता है।
      parameters:
        - name: file_id
          in: path
          required: true
          description: प्राप्त की जाने वाली फ़ाइल का ID।
          schema:
            type: string
      responses:
        '200':
          description: फ़ाइल का कंटेंट
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: फ़ाइल नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatches
      summary: बैच सूचीबद्ध करें
      description: गेटवे के स्थायी एसिंक्रोनस जॉब स्टोर से प्रमाणित वर्कस्पेस के स्वामित्व वाले एसिंक्रोनस बैच जॉब सूचीबद्ध करता है।
      parameters:
        - name: limit
          in: query
          description: लौटाए जाने वाले बैच जॉब की अधिकतम संख्या। डिफ़ॉल्ट 20 और सीमा 100 है।
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: बैच जीवनचक्र स्थिति फ़िल्टर। पैरामीटर दोहराएँ, कॉमा से अलग स्थिति मान दें, या कॉमा से अलग फ़िल्टर के लिए statuses उपयोग करें।
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: statuses
          in: query
          description: कॉमा से अलग जीवनचक्र स्थिति फ़िल्टर।
          schema:
            type: string
        - name: offset
          in: query
          description: पेज लौटाने से पहले छोड़े जाने वाले बैच जॉब की संख्या।
          schema:
            type: integer
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: बैच सूची का जवाब
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchListResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createBatch
      summary: बैच बनाएँ
      description: एसिंक्रोनस बैच जॉब बनाता है और अपस्ट्रीम बैच ऑब्जेक्ट लौटाता है। अनुरोधित `model` के माध्यम से OpenAI, Anthropic, Google Gemini, Mistral, xAI, Groq और Together AI समर्थित हैं। गेटवे मॉडल से प्रदाता का अनुमान लगाता है और निगरानी तथा एसिंक्रोनस सूचनाओं के लिए `session_id` और `webhook` भी स्वीकार करता है। `provider` केवल उन्नत रूटिंग प्रतिबंध के रूप में उपयोग करें।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: बैच स्थिति का जवाब
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/models:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchModels
      summary: बैच मॉडल की क्षमताएँ सूचीबद्ध करें
      description: डेटाबेस-आधारित बैच मॉडल/प्रदाता क्षमता मेटाडेटा लौटाता है, जिसमें अनुमत इनपुट एंडपॉइंट और पूर्णता समय-सीमा जैसे समर्थित बैच पैरामीटर शामिल हैं।
      parameters:
        - name: params
          in: query
          required: false
          description: समर्थित पैरामीटर का वैकल्पिक फ़िल्टर। पैरामीटर दोहराएँ या कॉमा से अलग सूची दें। कैनोनिकल नाम और aliases स्वीकार होते हैं, जैसे `endpoint`, `request_endpoint`, `completion_window` या `window`।
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
      responses:
        '200':
          description: बैच मॉडल क्षमताओं की सूची
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchModelsResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/capabilities:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchCapabilities
      summary: बैच प्रदाता की क्षमताएँ सूचीबद्ध करें
      description: फ़ाइल अपलोड और अनुरोध-सूची से बैच बनाने के लिए प्रदाता-स्तरीय बैच इनपुट मोड समर्थन लौटाता है।
      responses:
        '200':
          description: बैच प्रदाता क्षमताओं की सूची
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchProviderCapability'
  /batches/files:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchFiles
      summary: बैच फ़ाइलें सूचीबद्ध करें
      description: साझा गेटवे-कुंजी फ़ाइलें सूचीबद्ध करना समर्थित नहीं होने के कारण त्रुटि लौटाता है। इसके बजाय वर्कस्पेस के स्वामित्व वाली फ़ाइलें सीधे ID से पाएँ।
      responses:
        '400':
          description: फ़ाइलें सूचीबद्ध करना समर्थित नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: uploadBatchFile
      summary: बैच फ़ाइल अपलोड करें
      description: बैच प्रोसेसिंग के लिए प्रदाता की फ़ाइल अपलोड करता है और प्रमाणित वर्कस्पेस में स्वामित्व संग्रहीत करता है। `model` दें ताकि Phaseo अपस्ट्रीम प्रदाता का अनुमान लगा सके। `model` और `provider` दोनों छोड़ने पर डिफ़ॉल्ट OpenAI है।
      parameters:
        - name: model
          in: query
          required: false
          description: अपस्ट्रीम बैच फ़ाइल प्रदाता का अनुमान लगाने के लिए मॉडल ID।
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          required: false
          description: अपस्ट्रीम फ़ाइल अपलोड के लिए उन्नत प्रदाता चयन।
          schema:
            type: string
            enum:
              - openai
              - groq
              - together
              - mistral
        - name: x-phaseo-provider
          in: header
          required: false
          description: '`provider` क्वेरी पैरामीटर का हेडर विकल्प।'
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: अपलोड की गई फ़ाइल का मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: अपस्ट्रीम प्रदाता की त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFile
      summary: बैच फ़ाइल पाएँ
      description: प्रमाणित वर्कस्पेस के स्वामित्व वाली बैच फ़ाइल का मेटाडेटा प्राप्त करता है।
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: फ़ाइल मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: फ़ाइल नहीं मिली या वह वर्कस्पेस के स्वामित्व में नहीं है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/files/{file_id}/content:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchFileContent
      summary: बैच फ़ाइल की सामग्री पाएँ
      description: प्रमाणित वर्कस्पेस के स्वामित्व वाली बैच फ़ाइल की सामग्री प्राप्त करता है।
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: फ़ाइल का कंटेंट
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: फ़ाइल नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatch
      summary: बैच पाएँ
      description: पहले बनाया गया बैच जॉब प्राप्त करता है।
      parameters:
        - name: batch_id
          in: path
          required: true
          description: प्राप्त किए जाने वाले बैच का ID।
          schema:
            type: string
      responses:
        '200':
          description: बैच स्थिति का जवाब
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: बैच नहीं मिला
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: यह प्रदाता बैच स्थिति अपडेट समर्थित नहीं करता
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/results:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: retrieveBatchResults
      summary: बैच परिणाम डाउनलोड करें
      description: प्रमाणित वर्कस्पेस के स्वामित्व वाले अंतिम बैच के लिए प्रदाता की मूल पूर्ण परिणाम पंक्तियाँ JSONL के रूप में स्ट्रीम करता है। सफल और त्रुटि फ़ाइलें मिलाता है, inline आउटपुट बदलता है और प्रदाता के परिणाम पेजिनेशन का पालन करता है। Phaseo API कुंजी उपयोग करें। डाउनलोड अनुमान अनुरोध नहीं भेजते और उपयोग शुल्क नहीं जोड़ते। मौजूदा फ़ाइल एंडपॉइंट उपलब्ध रहते हैं। Inline पंक्तियों की सीमा 8 MiB है; बाधित डाउनलोड त्यागकर दोबारा डाउनलोड करें। प्रति वर्कस्पेस प्रति बैच चलती 30-मिनट अवधि में 10 डाउनलोड प्रयास की सीमा है, जो API कुंजियों और aliases में साझा है। विफल या रद्द अपस्ट्रीम प्रयास भी गिने जाते हैं। 429 जवाब में सेकंड में Retry-After होता है।
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: प्रदाता के मूल JSONL परिणाम
          content:
            application/x-ndjson:
              schema:
                type: string
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: बैच पूर्वावलोकन की पहुँच अस्वीकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: बैच नहीं मिला
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: बैच परिणाम तैयार नहीं हैं
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: बैच डाउनलोड सीमा पार हुई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              description: दूसरा डाउनलोड अनुमत होने तक सेकंड
              schema:
                type: integer
        '501':
          description: यह प्रदाता सीधे परिणाम डाउनलोड समर्थित नहीं करता
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: प्रदाता के परिणाम प्राप्त नहीं किए जा सके
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: डाउनलोड की अनुमति अस्थायी रूप से अनुपलब्ध; 30 सेकंड बाद पुनः प्रयास करें
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            Retry-After:
              schema:
                type: integer
  /batches/{batch_id}/requests:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listBatchRequests
      summary: बैच अनुरोध पंक्तियाँ सूचीबद्ध करें
      description: स्वामित्व वाले बैच जॉब की ट्रैक की गई प्रति-अनुरोध पंक्तियाँ सूचीबद्ध करता है।
      parameters:
        - name: batch_id
          in: path
          required: true
          description: बैच का ID।
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: बैच अनुरोध पंक्तियों की सूची
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  batch_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchRequestRow'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: बैच नहीं मिला
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /batches/{batch_id}/cancel:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: cancelBatch
      summary: बैच रद्द करें
      description: बैच अनुरोध रद्द करता है।
      parameters:
        - name: batch_id
          in: path
          required: true
          description: रद्द किए जाने वाले बैच का ID।
          schema:
            type: string
      responses:
        '200':
          description: बैच स्थिति का जवाब
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: बैच नहीं मिला
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '501':
          description: यह प्रदाता बैच रद्द करना समर्थित नहीं करता
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getActivityAlias
      summary: वर्कस्पेस विश्लेषण पाएँ
      description: पिछले 30 पूर्ण UTC दिनों के लिए तारीख, मॉडल, प्रदाता और एंडपॉइंट के अनुसार लागत, अनुरोध और टोकन के कुल आँकड़े लौटाता है।
      parameters:
        - name: date
          in: query
          description: पिछले 30 पूर्ण दिनों में एक UTC तारीख के अनुसार फ़िल्टर करें (YYYY-MM-DD)।
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          description: खर्च के खंड में शामिल अनुरोध-लेबल कुंजी। label_value के साथ देना आवश्यक है।
          schema:
            type: string
            maxLength: 64
            pattern: ^[A-Za-z0-9_.:-]{1,64}$
        - name: label_value
          in: query
          description: खर्च के खंड में शामिल अनुरोध-लेबल मान। label_key के साथ देना आवश्यक है।
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          description: API कुंजी पहचानकर्ता के अनुसार फ़िल्टर करें।
          schema:
            type: string
        - name: end_user_id
          in: query
          description: एप्लिकेशन द्वारा निर्धारित अंतिम-उपयोगकर्ता पहचानकर्ता के अनुसार फ़िल्टर करें।
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          description: अनुरोधित या रूट किए गए कैनोनिकल मॉडल slug के अनुसार फ़िल्टर करें।
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          description: प्रदाता slug के अनुसार फ़िल्टर करें।
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          description: गेटवे एंडपॉइंट पहचानकर्ता के अनुसार फ़िल्टर करें।
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          description: प्रबंधित या BYOK ट्रैफ़िक फ़िल्टर करें।
          schema:
            type: boolean
        - name: success
          in: query
          description: सफल या विफल अनुरोध फ़िल्टर करें।
          schema:
            type: boolean
        - $ref: '#/components/parameters/Offset'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
      responses:
        '200':
          description: प्राप्त किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: खराब अनुरोध त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: निषिद्ध त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: आंतरिक सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/export:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: exportAnalyticsCsv
      summary: वर्कस्पेस एनालिटिक्स एक्सपोर्ट करें
      description: फ़िल्टर किए गए पूरे एनालिटिक्स एग्रीगेट को spreadsheet-safe CSV के रूप में एक्सपोर्ट करता है।
      parameters:
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: label_key
          in: query
          schema:
            type: string
            maxLength: 64
        - name: label_value
          in: query
          schema:
            type: string
            maxLength: 256
        - name: key_id
          in: query
          schema:
            type: string
        - name: end_user_id
          in: query
          schema:
            type: string
            maxLength: 256
        - name: model
          in: query
          schema:
            $ref: '#/components/schemas/ModelId'
        - name: provider
          in: query
          schema:
            type: string
            maxLength: 128
        - name: endpoint
          in: query
          schema:
            type: string
            maxLength: 128
        - name: byok
          in: query
          schema:
            type: boolean
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: CSV एनालिटिक्स एक्सपोर्ट
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        '400':
          description: अमान्य एनालिटिक्स फ़िल्टर
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /credits:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCredits
      summary: क्रेडिट देखें
      description: प्रमाणित वर्कस्पेस के शेष क्रेडिट और उपयोग आँकड़े लौटाता है। Management API key आवश्यक है।
      parameters:
        - name: workspace_id
          in: query
          description: वैकल्पिक वर्कस्पेस ओवरराइड। आंतरिक कंट्रोल कॉलर का उपयोग न होने पर यह प्रमाणित वर्कस्पेस से मेल खाना चाहिए।
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: क्रेडिट की जानकारी
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: निषिद्ध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /key:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getCurrentApiKey
      summary: वर्तमान API कुंजी पाएँ
      description: वर्तमान में प्रमाणित मानक Gateway API कुंजी का मेटाडेटा लौटाता है।
      responses:
        '200':
          description: वर्तमान API कुंजी का मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API कुंजी नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listApiKeys
      summary: API कुंजियों की सूची बनाएँ
      description: प्रमाणित कार्यस्थान की API कुंजियों की सूची देता है। प्रबंधन API कुंजी आवश्यक है।
      parameters:
        - name: include_disabled
          in: query
          description: बताता है कि रुकी हुई या अस्थायी रूप से अवरुद्ध कुंजियाँ प्रतिक्रिया में शामिल करनी हैं या नहीं।
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: पृष्ठांकन के लिए छोड़ी जाने वाली API कुंजियों की संख्या।
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: लौटाई जाने वाली API कुंजियों की अधिकतम संख्या।
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 250
        - name: workspace_id
          in: query
          description: वैकल्पिक वर्कस्पेस ओवरराइड। आंतरिक कंट्रोल कॉलर का उपयोग न होने पर यह प्रमाणित वर्कस्पेस से मेल खाना चाहिए।
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API कुंजी सूची
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: निषिद्ध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createApiKey
      summary: नई API कुंजी बनाएँ
      description: प्रमाणित कार्यस्थान में नई API कुंजी बनाता है। प्रबंधन API कुंजी आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
      responses:
        '201':
          description: API कुंजी बनाई गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
        '400':
          description: गलत अनुरोध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: निषिद्ध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getApiKey
      summary: एक API कुंजी प्राप्त करें
      description: प्रमाणित कार्यस्थान की एक API कुंजी का मेटाडेटा लौटाता है। प्रबंधन API कुंजी आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          description: API कुंजी पहचानकर्ता या हैश।
          schema:
            type: string
      responses:
        '200':
          description: API कुंजी मेटाडेटा
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API कुंजी नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateApiKey
      summary: API कुंजी अपडेट करें
      description: API कुंजी का मेटाडेटा या स्थिति अपडेट करता है। प्रबंधन API कुंजी आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          description: API कुंजी पहचानकर्ता या हैश।
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
      responses:
        '200':
          description: API कुंजी मेटाडेटा अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          description: गलत अनुरोध
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API कुंजी नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteApiKey
      summary: API कुंजी हटाएँ
      description: प्रमाणित कार्यस्थान की API कुंजी हटाता है। प्रबंधन API कुंजी आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          description: API कुंजी पहचानकर्ता या हैश।
          schema:
            type: string
      responses:
        '200':
          description: API कुंजी हटाई गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          description: अनधिकृत
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API कुंजी नहीं मिली
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: सर्वर त्रुटि
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/rotate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: rotateApiKey
      summary: API कुंजी रोटेट करें
      description: समान सीमाओं वाली प्रतिस्थापन कुंजी बनाता है और वैकल्पिक रूप से पिछली कुंजी की समाप्ति सेट करता है। प्रतिस्थापन सीक्रेट केवल एक बार लौटाया जाता है। `keys:write` आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotateRequest'
      responses:
        '200':
          description: API कुंजी रोटेट की गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        default:
          description: रोटेशन विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /keys/{id}/invalidate:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: invalidateApiKeyCache
      summary: API कुंजी कैश अमान्य करें
      description: कार्यस्थान API कुंजी की वैश्विक कैश की गई नीति स्थिति रीफ़्रेश करता है। प्रमाणित कार्यस्थान प्रबंधन कॉल आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: कैश अमान्य किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyInvalidateResponse'
        default:
          description: अमान्य करना विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/sso:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceSso
      summary: वर्कस्पेस की SSO सेटिंग प्राप्त करें
      description: वर्कस्पेस की SAML या कस्टम OIDC सेटिंग लौटाता है। इसके लिए `settings:read` और मालिक या व्यवस्थापक की पहचान आवश्यक है।
      responses:
        '200':
          description: SSO सेटिंग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceSso
      summary: कार्यस्थान की SSO सेटिंग अपडेट करें
      description: SAML या कस्टम OIDC सेटिंग अपडेट करता है। SSO सक्षम करने के लिए identity ऐड-ऑन और `settings:write` आवश्यक हैं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSsoUpdateRequest'
      responses:
        '200':
          description: SSO सेटिंग अपडेट की गई
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSsoResponse'
        default:
          description: अनुरोध विफल हुआ या ऐड-ऑन आवश्यक है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceScim
      summary: कार्यस्थान की SCIM सेटिंग प्राप्त करें
      description: एंडपॉइंट की स्थिति, टोकन मेटाडेटा, प्रोविज़न किए गए ऑब्जेक्ट की संख्या और नवीनतम SCIM इवेंट लौटाता है।
      responses:
        '200':
          description: SCIM सेटिंग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceScim
      summary: SCIM सक्षम या अक्षम करें
      description: कार्यस्थान के SCIM एंडपॉइंट को अपडेट करता है। SCIM सक्षम करने के लिए identity ऐड-ऑन और `settings:write` आवश्यक हैं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimUpdateRequest'
      responses:
        '200':
          description: SCIM एंडपॉइंट अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimEndpointResponse'
        default:
          description: अनुरोध विफल हुआ या ऐड-ऑन आवश्यक है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens:
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceScimToken
      summary: SCIM टोकन बनाएँ
      description: प्रोविज़निंग टोकन बनाता है। कच्चा टोकन केवल एक बार लौटाया जाता है। identity ऐड-ऑन और `settings:write` आवश्यक हैं।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceScimTokenCreateRequest'
      responses:
        '201':
          description: SCIM टोकन बनाया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimTokenCreateResponse'
        default:
          description: अनुरोध विफल हुआ या ऐड-ऑन आवश्यक है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/tokens/{id}:
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: revokeWorkspaceScimToken
      summary: SCIM टोकन रद्द करें
      description: प्रावधान टोकन रद्द करता है। इसके लिए `settings:write` आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: टोकन रद्द कर दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/scim/audit:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceScimAuditEvents
      summary: SCIM ऑडिट इवेंट की सूची बनाएँ
      description: वर्कस्पेस की हाल की SCIM प्रावधान गतिविधि सूचीबद्ध करता है।
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: SCIM ऑडिट इवेंट
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceScimAuditResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: getWorkspaceDirectory
      summary: कार्यस्थान डायरेक्टरी प्राप्त करें
      description: एंटरप्राइज़ विभाग और सदस्यों के प्रभावी अधिकार लौटाता है। identity ऐड-ऑन, `settings:read` और `owner` या `admin` पहचान आवश्यक है।
      responses:
        '200':
          description: कार्यस्थान डायरेक्टरी
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDirectoryResponse'
        default:
          description: अनुरोध विफल हुआ या ऐड-ऑन आवश्यक है
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/directory/members/{id}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDirectoryMember
      summary: डायरेक्टरी सदस्य का ओवरराइड अपडेट करें
      description: कार्यस्थान सदस्य के प्रभावी भूमिका और विभाग ओवरराइड सेट या साफ़ करता है। `settings:write` आवश्यक है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDirectoryMemberUpdateRequest'
      responses:
        '200':
          description: सदस्य ओवरराइड अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments:
    get:
      x-beta: true
      tags:
        - Gateway
      operationId: listWorkspaceDepartments
      summary: वर्कस्पेस विभागों की सूची बनाएँ
      description: मैन्युअल रूप से प्रबंधित और डायरेक्टरी से सिंक किए गए विभागों की सूची देता है।
      responses:
        '200':
          description: वर्कस्पेस विभाग
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentListResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      x-beta: true
      tags:
        - Gateway
      operationId: createWorkspaceDepartment
      summary: कार्यस्थान का विभाग बनाएँ
      description: मैन्युअल रूप से प्रबंधित विभाग बनाता है। `settings:write` आवश्यक है।
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentCreateRequest'
      responses:
        '201':
          description: विभाग बनाया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{id}:
    patch:
      x-beta: true
      tags:
        - Gateway
      operationId: updateWorkspaceDepartment
      summary: कार्यस्थान का विभाग अपडेट करें
      description: डायरेक्टरी मैपिंग हटाए बिना विभाग का नाम, विवरण, आइकन या रंग अपडेट करता है।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceDepartmentUpdateRequest'
      responses:
        '200':
          description: विभाग अपडेट किया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDepartmentResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      x-beta: true
      tags:
        - Gateway
      operationId: deleteWorkspaceDepartment
      summary: वर्कस्पेस विभाग हटाएँ
      description: मैन्युअल रूप से प्रबंधित विभाग हटाता है। डायरेक्टरी से सिंक किए गए विभाग यहाँ नहीं हटाए जा सकते।
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: विभाग हटा दिया गया
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        default:
          description: अनुरोध विफल हुआ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /identity/departments/{departmentId}/members/{userId}:
    put:
      x-beta: true
      tags:
        - Gateway
      operationId: setWorkspaceDepartmentMember
[...]
